<div
  *ngIf="
    nodeId !== '' &&
    componentId !== '' &&
    (criteria === SCORE_VALUE || criteria === CHOICE_CHOSEN_VALUE)
  "
  [formGroup]="pathFormGroup"
>
  <div *ngFor="let formControl of formControls; index as index" class="branch-path">
    <span class="path-label" i18n>Path {{ index + 1 }}</span>
    <ng-container *ngIf="criteria === SCORE_VALUE">
      <mat-form-field>
        <mat-label i18n>Score</mat-label>
        <input matInput [formControlName]="'path-' + (index + 1)" type="number" min="0" />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="criteria === CHOICE_CHOSEN_VALUE">
      <mat-form-field>
        <mat-label i18n>Choice Chosen</mat-label>
        <mat-select [formControlName]="'path-' + (index + 1)">
          <mat-option *ngFor="let choice of choices" [value]="choice.id">
            {{ choice.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    @if (branchPaths.length > 1) {
      <display-branch-path-steps [nodes]="branchPaths[index].nodesInBranchPath" />
    }
  </div>
</div>
