<div
  *ngIf="nodeId !== '' && componentId !== '' && (criteria === SCORE || criteria === CHOICE_CHOSEN)"
  [formGroup]="pathFormGroup"
>
  <div *ngFor="let formControl of formControls; index as index">
    <div i18n>Path {{ index + 1 }}</div>
    <ng-container *ngIf="criteria === SCORE">
      <mat-form-field>
        <mat-label i18n>Score</mat-label>
        <input matInput [formControlName]="'path-' + (index + 1)" type="number" min="0" />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="criteria === CHOICE_CHOSEN">
      <mat-form-field>
        <mat-label i18n>Choice Chosen</mat-label>
        <input matInput [formControlName]="'path-' + (index + 1)" />
      </mat-form-field>
    </ng-container>
  </div>
</div>
