<ng-template #runInfo>
  <div class="hidden sm:block">
    <ng-container i18n>Teacher:</ng-container> {{ run.owner.displayName }} |
    <ng-container i18n>Period:</ng-container> {{ run.periodName }} |
    <ng-container i18n>Code:</ng-container> {{ run.runCode }}
  </div>
  <div class="block sm:hidden">
    <ng-container i18n>Teacher:</ng-container> {{ run.owner.displayName }}<br />
    <ng-container i18n>Period:</ng-container> {{ run.periodName }}<br />
    <ng-container i18n>Code:</ng-container> {{ run.runCode }}<br />
  </div>
  @if (run.workgroupMembers) {
    <div>
      <ng-container i18n>Team:</ng-container>
      @for (user of run.workgroupMembers; track user; let isLast = $last) {
        <span> {{ user.firstName }}{{ isLast ? '' : ', ' }} </span>
      }
    </div>
  }
</ng-template>

<mat-card
  class="can-highlight"
  [ngClass]="{ 'highlighted-bg': run.isHighlighted }"
  [@flash]="{ value: '*', params: { duration: animateDuration, delay: animateDelay } }"
>
  <mat-card-content class="!flex !flex-row gap-3">
    <div
      mat-card-avatar
      [style.background-image]="thumbStyle"
      [class.disabled]="isRunCompleted(run)"
      i18n-matTooltip
      matTooltip="Run ID: {{ run.id }}"
      matTooltipPosition="above"
    ></div>
    <div class="flex flex-row flex-1 flex-wrap">
      <div class="flex flex-col">
        <mat-card-title [class.secondary-text]="isRunCompleted(run)" class="mat-body-1">
          {{ run.project.name }}
        </mat-card-title>
        <mat-card-subtitle class="mat-caption !hidden sm:!block">
          <ng-container *ngTemplateOutlet="runInfo"></ng-container>
        </mat-card-subtitle>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content class="sm:!hidden">
    <div class="info-block" [class.secondary-text]="isRunCompleted(run)">
      <ng-container *ngTemplateOutlet="runInfo"></ng-container>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" class="flex flex-col sm:flex-row flex-wrap items-center gap-2">
    <a mat-button href="{{ problemLink }}" class="w-full sm:w-auto">
      <ng-container i18n>Report Problem</ng-container>
    </a>
    @if (!isRunActive(run) && !isRunCompleted(run)) {
      <button mat-flat-button disabled class="w-full sm:w-auto">
        <ng-container i18n>Starts {{ run.startTime | date }}</ng-container>
      </button>
    }
    @if (isRunActive(run)) {
      <button mat-flat-button (click)="launchRun()" color="primary" class="w-full sm:w-auto">
        <mat-icon>play_circle_filled</mat-icon>&nbsp;<ng-container i18n>Launch</ng-container>
      </button>
    }
    @if (isRunCompleted(run)) {
      <button mat-flat-button (click)="reviewRun()" color="primary" class="w-full sm:w-auto">
        <mat-icon>preview</mat-icon>&nbsp;<ng-container i18n>Review Work</ng-container>
      </button>
    }
  </mat-card-actions>
</mat-card>
