@if (nodeStatus.isVisible) {
  @switch (type) {
    @case ('card') {
      <mat-card class="nav-item" [ngClass]="{ expanded: expanded }">
        <mat-card-header
          (click)="itemClicked()"
          (keyup.enter)="itemClicked()"
          role="button"
          matRipple
          class="flex flex-row"
          tabindex="0"
          i18n-aria-label
          aria-label="Expand or collapse lesson content"
        >
          <node-icon
            mat-card-avatar
            class="group-icon"
            [nodeId]="nodeId"
            size="36"
            [icon]="nodeStatus.icon"
          />
          <mat-card-title class="title" style="color: {{ nodeStatus.icon.color }};">
            <span>{{ nodeTitle }}</span>
          </mat-card-title>
          <span class="flex-grow"></span>
          @if (isGroup && expanded) {
            <mat-icon class="collapse-icon"> remove </mat-icon>
          }
        </mat-card-header>
        @if (isGroup && expanded) {
          <mat-card-content class="app-bar">
            <mat-action-list class="list mat-elevation-z1">
              @for (childId of item.ids; track childId) {
                <nav-item
                  [class]="{ expanded: expanded, prev: isPrevStep }"
                  [showPosition]="showPosition"
                  [nodeId]="childId"
                  type="list"
                >
                </nav-item>
              }
            </mat-action-list>
          </mat-card-content>
        }
        <mat-card-actions class="flex flex-row items-center gap-2">
          @if (isGroup) {
            <mat-progress-bar
              class="progress"
              tabindex="0"
              mode="determinate"
              value="{{ nodeStatus.progress.completionPct }}"
              i18n-matTooltip
              matTooltip="{{ nodeStatus.progress.completionPct }}% completed"
              matTooltipPosition="above"
            ></mat-progress-bar>
          }
          @if (isGroup) {
            <span class="mat-caption secondary-text" i18n>
              {{ nodeStatus.progress.completedItems }}/{{ nodeStatus.progress.totalItems }} items
            </span>
          }
          <span class="flex-grow"></span>
          <div class="flex items-center gap-2">
            <!-- <node-score [nodeId]="nodeId"></node-score> -->
            <node-status-icon [nodeId]="nodeId" />
            @if (!nodeStatus.isVisitable) {
              <mat-icon
                class="secondary-text"
                i18n-matTooltip
                matTooltip="Lesson is locked"
                matTooltipPosition="above"
              >
                lock
              </mat-icon>
            }
          </div>
        </mat-card-actions>
      </mat-card>
    }
    @case ('list') {
      <button
        mat-list-item
        class="list-item nav-item"
        (click)="itemClicked()"
        tabindex="0"
        i18n-title
        title="Go to {{ nodeTitle }}"
        [ngClass]="{ group: isGroup }"
      >
        <span class="flex flex-row items-center gap-2">
          <node-icon matListAvatar [nodeId]="nodeId" [icon]="nodeStatus.icon" size="24" />
          <span class="mat-body-2">{{ nodeTitle }}</span>
          <span class="flex-grow"></span>
          <span class="flex items-center gap-2">
            <node-status-icon [nodeId]="nodeId" />
            @if (!nodeStatus.isVisitable) {
              <mat-icon
                class="secondary-text"
                i18n-matTooltip
                matTooltip="Item is locked"
                matTooltipPosition="above"
              >
                lock
              </mat-icon>
            }
          </span>
        </span>
      </button>
    }
  }
}
