.common-width {
  width: 400px;
}

.removal-conditional-select {
  width: 100px;
}

.criteria-div {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
}

.mat-icon {
  margin: 0px;
}
