<div class="flex justify-start items-center gap-4">
  <mat-form-field class="common-width">
    <mat-label i18n>Action</mat-label>
    <mat-select [(ngModel)]="constraint.action" (ngModelChange)="saveProject()">
      @for (action of constraintActions; track action; let actionIndex = $index) {
        <mat-option [value]="action.value">
          <span [ngStyle]="actionIndex === 0 && { color: 'red' }">{{ action.text }}</span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (constraint.action === '') {
    <required-error-label />
  }
  <div class="flex-grow"></div>
  <mat-form-field class="removal-conditional-select">
    <mat-label i18n>Removal Conditional</mat-label>
    <mat-select [(ngModel)]="constraint.removalConditional" (ngModelChange)="saveProject()">
      @for (availableRemovalConditional of removalConditionals; track availableRemovalConditional) {
        <mat-option [value]="availableRemovalConditional.value">
          <span>{{ availableRemovalConditional.text }}</span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
@for (criteria of constraint.removalCriteria; track criteria; let criteriaIndex = $index) {
  <div class="criteria-div gap-4">
    <edit-constraint-removal-criteria
      [constraint]="constraint"
      [criteria]="criteria"
      [node]="node"
    />
  </div>
}
<div class="flex gap-4">
  <mat-label i18n>Add Removal Criteria</mat-label>
  <button
    mat-raised-button
    color="primary"
    (click)="addRemovalCriteria(constraint)"
    matTooltip="Add Removal Criteria"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
