<edit-connected-components-add-button (connectedComponentsChanged)="addConnectedComponent()" />
@for (
  connectedComponent of connectedComponents;
  track connectedComponent;
  let connectedComponentIndex = $index
) {
  <div class="connected-components-div">
    <div class="flex flex-row flex-wrap justify-start items-center gap-5">
      <edit-connected-component-default-selects
        [connectedComponent]="connectedComponent"
        [componentId]="componentId"
        [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
        (connectedComponentNodeIdChange)="connectedComponentNodeIdChanged(connectedComponent)"
        (connectedComponentComponentIdChange)="
          connectedComponentComponentIdChanged(connectedComponent)
        "
        (connectedComponentTypeChange)="connectedComponentTypeChanged(connectedComponent)"
      />
      @if (connectedComponent.nodeId === nodeId) {
        <mat-form-field>
          <mat-label i18n>Update On</mat-label>
          <mat-select
            [(ngModel)]="connectedComponent.updateOn"
            (ngModelChange)="connectedComponentChanged()"
          >
            <mat-option value="submit" i18n>Submit</mat-option>
            <mat-option value="save" i18n>Save</mat-option>
          </mat-select>
        </mat-form-field>
      }
      @if (canConnectedComponentTypeImportWorkAsBackground(connectedComponent)) {
        <div>
          <mat-checkbox
            [(ngModel)]="connectedComponent.importWorkAsBackground"
            (ngModelChange)="connectedComponentChanged()"
            [disabled]="true"
            i18n
          >
            Import Work As Background
          </mat-checkbox>
        </div>
      }
      <span class="w-full"></span>
      <edit-connected-component-delete-button
        [connectedComponentIndex]="connectedComponentIndex"
        (connectedComponentChange)="deleteConnectedComponent(index)"
      />
    </div>
  </div>
}
