<div class="pt-4">
  <div class="mb-2">
    <mat-icon color="warn" class="align-bottom">warning</mat-icon>
    <span i18n class="warn">
      Editing the JSON directly is generally not recommended, as errors can break the unit. If you
      need assistance, please contact WISE staff.
    </span>
  </div>
  <mat-form-field class="w-full" appearance="outline" style="margin-top: 10px">
    <mat-label i18n>Test Change</mat-label>
    <textarea
      class="mat-body-2 test"
      matInput
      cdkTextareaAutosize
      [(ngModel)]="componentContentJSONString"
      (ngModelChange)="jsonChanged.next($event)"
    ></textarea>
  </mat-form-field>
</div>
