<div class="peer-grouping">
  <select-peer-grouping
      *ngIf="!isAuthoring"
      [peerGrouping]="peerGrouping"
      [selectedPeerGroupingTag]="selectedPeerGroupingTag"
      (selectPeerGroupingEvent)="selectPeerGrouping($event)"
      (editSettingsEvent)="showAuthoringView()"
      (deletePeerGroupingEvent)="deletePeerGrouping($event)">
  </select-peer-grouping>
  <edit-peer-grouping
      *ngIf="isAuthoring"
      [peerGrouping]="peerGrouping"
      (updateEvent)="hideAuthoringView()"
      (cancelEvent)="hideAuthoringView()">
  </edit-peer-grouping>
</div>