.node-authoring-header {
    margin: 16px 8px 0;
  }

.component {
  flex: 1;

  &.component-editing {
    border-inline-start: 4px solid;

    edit-component-advanced-button {
      display: block;
    }
  }
}

edit-component-advanced-button {
  display: none;
}

.component-header {
  padding: 0 8px;
}

component-authoring {
  display: block;
  margin: 16px;
}

.mat-divider-horizontal {
  margin: 0;
}

.drag-handle {
  cursor: move;
  margin-right: 4px;
  margin-left: 4px;
}

.cdk-drag-placeholder {
  opacity: .4;
  background: #ccc;
  border: dotted 3px #999;
  min-height: 40px;
  min-width: 360px;
}

.mat-icon {
  margin: 0;
}
