<div class="flex gap-2 items-center">
  <button
    class="gap-2"
    mat-stroked-button
    (click)="generateSummary()"
    [disabled]="generatingSummary"
    color="primary"
  >
    <span i18n>Generate Summary</span><mat-icon>auto_awesome</mat-icon>
  </button>
  <mat-icon
    tabindex="0"
    matTooltip="Summarize class responses using AI"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    info
  </mat-icon>
  @if (generatingSummary) {
    <mat-spinner diameter="20" />
  }
</div>
@if (newSummaryAvailable) {
  <p class="info" i18n>*New responses since last summary</p>
}
@if (summary) {
  <markdown [data]="summary" />
  <div class="mat-caption text-secondary mt-1">{{ summaryCaption }}</div>
}
