<ng-template #iconContent>
  <img
    *ngIf="isImage()"
    class="{{ isGroup ? 'avatar--square ' : '' }}{{ customClass }} {{ sizeClass }} avatar"
    [src]="icon.imgSrc"
    [alt]="icon.imgAlt"
  />
  <div
    *ngIf="isFont()"
    style="background-color: {{ icon.color }}"
    class="{{ isGroup ? 'avatar--square ' : '' }}{{ customClass }} avatar"
  >
    <mat-icon class="{{ sizeClass }} {{ icon.fontSet }}">{{ icon.fontName }}</mat-icon>
  </div>
</ng-template>

<button
  *ngIf="canEdit"
  mat-button
  matTooltip="Choose an Icon"
  matTooltipPosition="above"
  matBadge="edit"
  class="mdc-text-field--filled has-icon-badge"
  (click)="openNodeIconChooserDialog()"
>
  <div class="mat-form-field-flex" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4px">
    <ng-container *ngTemplateOutlet="iconContent"></ng-container>
  </div>
</button>
<ng-container *ngIf="!canEdit">
  <ng-container *ngTemplateOutlet="iconContent"></ng-container>
</ng-container>
