.main-div {
  margin-top: 6px;
  margin-left: 6px;
  margin-bottom: 20px;
}

.branch-icon {
  transform: rotate(180deg);
}

.mat-icon {
  margin: 0px;
}

.edit-node-advanced {
  --mat-tab-divider-color: var(--mat-divider-color);
  --mat-tab-divider-height: 1px;
  .mat-divider {
    margin: 0 -16px;
  }
  .mat-mdc-tab-body-content {
    padding: 16px 0;
  }
  .mat-mdc-tab-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin: 0 -16px;
  }
}
