<div class="edit-node-advanced">
  <h2 mat-dialog-title i18n>Advanced Step Settings</h2>
  <mat-divider />
  <div mat-dialog-content>
    <mat-tab-group animationDuration="0ms">
      @if (isStepNode) {
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>&nbsp;<span i18n>General Settings</span>
          </ng-template>
          <node-advanced-general-authoring [node]="node" />
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>block</mat-icon>&nbsp;<span i18n>Constraints</span>
          </ng-template>
          <node-advanced-constraint-authoring [node]="node" />
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>trending_up</mat-icon>&nbsp;<span i18n>Transitions</span>
          </ng-template>
          <node-advanced-path-authoring [node]="node" />
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>message</mat-icon>&nbsp;<span i18n>Rubric</span>
          </ng-template>
          <ng-template matTabContent>
            <!-- lazy load needed for tinymce to work -->
            <edit-node-rubric [node]="node" />
          </ng-template>
        </mat-tab>
      }
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>&nbsp;<span i18n>JSON</span>
        </ng-template>
        <node-advanced-json-authoring [node]="node" />
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-divider />
  <mat-dialog-actions align="end">
    <button class="enable-in-translation" mat-button mat-dialog-close cdkFocusRegionstart i18n>
      Close
    </button>
  </mat-dialog-actions>
</div>
