<section class="hero section" [style.background-image]="bgStyle">
  <picture style="display: none">
    @for (source of imgSources; track source) {
      <source
        media="{{ source.media }}"
        sizes="{{ source.sizes }}"
        src="{{ source.src }}"
        srcset="{{ source.srcset }}"
        type="{{ source.type }}"
      />
    }
    <img #bgRef src="{{ imgSrc }}" alt="{{ imgDescription }}" />
  </picture>
  <div class="hero-wrap flex justify-center">
    <div class="hero-content flex flex-col items-center justify-center sm:flex-row gap-2 sm:gap-6">
      <div
        class="hero-main-content with-sidecontent flex flex-col items-center sm:items-start justify-center flex-none xs:gap-2 sm:w-3/5"
        [ngClass]="{ 'with-sidecontent': sideRef }"
      >
        <ng-template #defaultHeadline>{{ headline }}</ng-template>
        @if (headline || headlineRef) {
          <h1 class="headline" [ngClass]="{ 'with-tagline': taglineRef }">
            <ng-container
              *ngTemplateOutlet="headlineRef ? headlineRef : defaultHeadline"
            ></ng-container>
          </h1>
        }
        <ng-template #defaultTagline>{{ tagline }}</ng-template>
        @if (tagline || taglineRef) {
          <h2 class="tagline mat-title" [ngClass]="{ 'mat-headline-4': !xsScreen }">
            <ng-container
              *ngTemplateOutlet="taglineRef ? taglineRef : defaultTagline"
            ></ng-container>
          </h2>
        }
      </div>
      @if (sideRef) {
        <div class="flex items-center justify-center sm:justify-end flex-none w-full sm:w-2/5">
          <ng-container *ngTemplateOutlet="sideRef"></ng-container>
        </div>
      }
    </div>
  </div>
</section>
