<div class="main-div">
  <component-header [component]="component" />
  <div class="main-concept-map-div">
    <div class="top-buttons flex flex-row">
      <button
        mat-raised-button
        color="primary"
        class="top-button"
        (click)="resetConceptMap()"
        [disabled]="isDisabled"
        i18n
      >
        Reset
      </button>
      @if (isShowAddToNotebookButton) {
        <add-to-notebook-button
          class="add-to-notebook-button top-button"
          [isDisabled]="isDisabled"
          (snipImage)="snipImage()"
        />
      }
      @if (isStudentAttachmentEnabled) {
        <div>
          @if (background == null) {
            <button
              mat-button
              class="mat-primary mat-raised-button upload-button"
              (click)="showStudentAssets()"
              matTooltip="Upload Background Image"
              matTooltipPosition="above"
              i18n-matTooltip
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          }
          @if (background != null) {
            <button
              mat-button
              class="mat-primary mat-raised-button upload-button"
              (click)="deleteBackgroundImage()"
              matTooltip="Delete Background Image"
              matTooltipPosition="above"
              i18n-matTooltip
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          }
        </div>
      }
    </div>
    <div id="{{ conceptMapContainerId }}" class="container flex flex-row">
      <div id="{{ selectNodeBarId }}" class="side-node-bar">
        @for (availableNode of availableNodes; track availableNode) {
          <div class="side-node-container">
            <img
              [src]="availableNode.fileName"
              style="cursor: pointer"
              (mousedown)="selectNode($event, availableNode)"
              width="{{ availableNode.width }}"
              height="{{ availableNode.height }}"
            />
            <br />
            <span>{{ availableNode.name }}</span>
          </div>
        }
      </div>
      <div class="concept-map-content">
        <svg
          id="{{ svgId }}"
          class="concept-map-svg"
          [style.background-image]="backgroundUrl"
          [style.background-size]="backgroundSize"
        ></svg>
      </div>
    </div>
    @if (displayLinkTypeChooser) {
      <div class="link-type-chooser">
        <div>
          <span>{{ linksTitle }}</span>
        </div>
        <mat-radio-group
          [ngModel]="selectedLinkType"
          (change)="studentDataChanged()"
          [disabled]="isDisabled"
        >
          @for (link of availableLinks; track link) {
            <div>
              <mat-radio-button
                class="link-radio-choice"
                color="primary"
                aria-label="link.label"
                [value]="link.id"
                (click)="linkTypeSelected(link)"
                [disabled]="isDisabled"
              >
                <div class="link-color" style="background-color: {{ link.color }};"></div>
                <span [innerHTML]="link.label"> </span>
              </mat-radio-button>
            </div>
          }
        </mat-radio-group>
        <div class="flex flex-row">
          <div>
            <button
              mat-button
              class="mat-primary mat-raised-button"
              (click)="cancelLinkTypeChooser()"
              i18n
            >
              Cancel
            </button>
          </div>
          <div class="flex-1"></div>
          <div>
            <button
              mat-button
              class="mat-primary mat-raised-button"
              (click)="linkDeleteButtonClicked($event, highlightedElement)"
              i18n
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    }
    <div id="{{ feedbackContainerId }}"></div>
  </div>
  @if (isSaveOrSubmitButtonVisible) {
    <component-save-submit-buttons
      [componentState]="latestComponentState"
      [isDirty]="isDirty"
      [isDisabled]="isDisabled"
      [isSaveButtonVisible]="isSaveButtonVisible"
      [isSubmitButtonDisabled]="isSubmitButtonDisabled"
      [isSubmitButtonVisible]="isSubmitButtonVisible"
      [isSubmitDirty]="isSubmitDirty"
      (saveButtonClicked)="saveButtonClicked($event)"
      (submitButtonClicked)="submitButtonClicked($event)"
    />
  }
  @if (mode === 'student') {
    <component-annotations
      [annotations]="latestAnnotations"
      [maxScore]="componentContent.maxScore"
      [nodeId]="nodeId"
      [componentId]="componentId"
    />
  }
</div>
