<button
  mat-icon-button
  color="primary"
  (click)="addLesson()"
  [matMenuTriggerFor]="lessonId == null ? null : lessonMenu"
  #menuTrigger
  matTooltip="Add lesson"
  matTooltipPosition="above"
  i18n-matTooltip
>
  <mat-icon>add_circle</mat-icon>
</button>
<mat-menu #lessonMenu="matMenu">
  <button mat-menu-item (click)="addLessonBefore()">
    <mat-icon>add_circle</mat-icon><span i18n>Add Lesson Before</span>
  </button>
  <button mat-menu-item (click)="addLessonAfter()">
    <mat-icon>add_circle</mat-icon><span i18n>Add Lesson After</span>
  </button>
</mat-menu>
