@if (lessonId == null) {
  <button
    mat-icon-button
    color="primary"
    (click)="addFirstLesson()"
    matTooltip="Add lesson"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add_circle</mat-icon>
  </button>
}
@if (lessonId != null) {
  @if (first) {
    <button
      mat-icon-button
      color="primary"
      [matMenuTriggerFor]="lessonMenu"
      #menuTrigger
      matTooltip="Add lesson"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-menu #lessonMenu="matMenu">
      <button mat-menu-item (click)="addFirstLesson()">
        <mat-icon class="flip-vertical">subdirectory_arrow_left</mat-icon
        ><span i18n>Add lesson before</span>
      </button>
      <button mat-menu-item (click)="goToAddLessonView(lessonId)">
        <mat-icon>subdirectory_arrow_left</mat-icon><span i18n>Add lesson after</span>
      </button>
    </mat-menu>
  }
  @if (!first) {
    <button
      mat-icon-button
      color="primary"
      (click)="goToAddLessonView(lessonId)"
      matTooltip="Add lesson after"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add_circle</mat-icon>
    </button>
  }
}
