<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained grading notebook-grading flex flex-col">
    <mat-list class="user-list">
      <mat-list-item class="list-item user-list-controls mat-elevation-z1">
        <div class="w-full flex flex-col md:flex-row justify-center items-center max-md:gap-2">
          <workgroup-select-autocomplete />
          <span class="flex-1 hidden sm:block"></span>
          <div class="max-md:w-full flex justify-center items-center">
            <button
              mat-button
              color="primary"
              aria-label="Expand All"
              i18n-aria-label
              class="button--small"
              (click)="expandAll()"
              i18n
            >
              + Expand All
            </button>
            <button
              mat-button
              color="primary"
              aria-label="Collapse All"
              i18n-aria-label
              class="button--small"
              (click)="collapseAll()"
              i18n
            >
              - Collapse All
            </button>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item class="table--list__thead table--list__thead__th !px-0">
        <div class="table--list__thead__tr dark-theme flex w-full">
          <button
            mat-button
            class="table--list__thead__link basis-[15%]"
            aria-label="Team ID"
            i18n-aria-label
            (click)="setSort('team')"
            title="Sort By Team"
            i18n-title
          >
            <span i18n>Team</span>
            @if (sort === 'team' || sort === '-team') {
              <mat-icon
                class="text-light table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-team' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
          <button
            mat-button
            class="table--list__thead__link"
            aria-label="Names"
            i18n-aria-label
            (click)="setSort('student')"
            title="Sort By Student"
            i18n-title
            class="flex !justify-start items-center flex-1"
          >
            <span i18n>Names</span>
            @if (sort === 'student' || sort === '-student') {
              <mat-icon
                class="text-light table--list__thead__sort"
                md-theme="default"
                [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-student' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
          @if (notesEnabled) {
            <button
              mat-button
              class="table--list__thead__link flex justify-center items-center basis-[15%]"
              aria-label="Notes"
              i18n-aria-label
              (click)="setSort('notes')"
              title="Sort by number of notes"
              i18n-title
            >
              <span i18n>Notes</span>
              @if (sort === 'notes' || sort === '-notes') {
                <mat-icon
                  class="text-light table--list__thead__sort"
                  md-theme="default"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-notes' }"
                >
                  arrow_drop_up
                </mat-icon>
              }
            </button>
          }
          @if (reportEnabled) {
            <button
              mat-button
              class="table--list__thead__link flex justify-center items-center basis-[25%]"
              [aria-label]="reportTitle"
              (click)="setSort('status')"
              title="Sort by report status"
            >
              <span>{{ reportTitle }}</span>
              @if (sort === 'status' || sort === '-status') {
                <mat-icon
                  class="text-light table--list__thead__sort"
                  md-theme="default"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-status' }"
                >
                  arrow_drop_up
                </mat-icon>
              }
            </button>
          }
        </div>
      </mat-list-item>
      <div waIntersectionObserver waIntersectionThreshold="0.5">
        @for (workgroup of sortedWorkgroups; track workgroup) {
          @if (isWorkgroupShown(workgroup)) {
            <notebook-workgroup-grading
              [workgroup]="workgroup"
              [expand]="workVisibilityById[workgroup.workgroupId]"
              [notebookConfig]="getNotebookConfigForWorkgroup(workgroup.workgroupId)"
              [notesEnabled]="notesEnabled"
              [reportEnabled]="reportEnabled"
              [reportTitle]="reportTitle"
              (onUpdateExpand)="onUpdateExpand($event)"
              (waIntersectionObservee)="onIntersection(workgroup.workgroupId, $event)"
            >
            </notebook-workgroup-grading>
          }
        }
      </div>
    </mat-list>
  </div>
</div>
