.notebook-grading {
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  .mat-mdc-list-item .mat-list-item-content {
    padding: 0;
  }

  .mat-mdc-list-base {
    .mat-mdc-list-item.user-list-controls {
      height: auto;
      padding: 8px;
    }
  }

  .table--list__thead__link {
    padding: 0 4px;
  }

  workgroup-select-autocomplete {
    width: 100%;
  }
}
