<div *ngIf="isNotebookEnabled()">
  <edit-component-add-to-notebook-button [componentContent]="componentContent">
  </edit-component-add-to-notebook-button>
</div>
<edit-component-save-button [componentContent]="componentContent"> </edit-component-save-button>
<br />
<edit-component-submit-button [componentContent]="componentContent"> </edit-component-submit-button>
<edit-component-max-submit
  *ngIf="componentContent.showSubmitButton"
  [componentContent]="componentContent"
>
</edit-component-max-submit>
<edit-component-default-feedback [componentContent]="componentContent">
</edit-component-default-feedback>
<div fxLayout="column" fxLayoutAlign="start start">
  <edit-component-max-score [componentContent]="componentContent"> </edit-component-max-score>
  <edit-component-exclude-from-total-score [componentContent]="componentContent">
  </edit-component-exclude-from-total-score>
  <edit-component-width [componentContent]="componentContent" />
  <edit-component-rubric [componentContent]="componentContent"> </edit-component-rubric>
  <edit-component-tags [componentContent]="componentContent"> </edit-component-tags>
</div>
<edit-draw-connected-components
  [nodeId]="nodeId"
  [componentId]="componentId"
  [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
  [componentContent]="componentContent"
  [connectedComponents]="componentContent.connectedComponents"
  (connectedComponentsChanged)="connectedComponentsChanged($event)"
>
</edit-draw-connected-components>
<edit-component-constraints [componentContent]="component.content"></edit-component-constraints>
<edit-component-json [component]="component"></edit-component-json>
