.dialog-content-scroll.notifications {
  padding: 0;
}

.no-notifications-message {
  padding: 16px;
  text-align: center;
}

.mat-mdc-list-item {
  padding-top: 8px;
  padding-bottom: 8px;
  height: auto;
}

.mat-mdc-list-base {
  padding: 0;
}

.notification-content {
  white-space: normal;
}

.mat-divider {
  margin: 0;
}