<mat-form-field *ngIf="!showTranslationInput()">
  <mat-label>{{ label }}</mat-label>
  <textarea
    matInput
    [(ngModel)]="content[key]"
    (ngModelChange)="defaultLanguageTextChanged.next($event)"
    placeholder="{{ placeholder }}"
    cdkTextareaAutosize
  >
  </textarea>
</mat-form-field>
<mat-form-field *ngIf="showTranslationInput()" class="translatable">
  <mat-label>{{ label }} ({{ currentLanguage().language }})</mat-label>
  <textarea
    matInput
    [ngModel]="translationText"
    (ngModelChange)="translationTextChanged.next($event)"
    placeholder="{{ placeholder }}"
    cdkTextareaAutosize
  ></textarea>
  <mat-hint class="source-language selected-bg-bg">
    <strong><mat-icon>translate</mat-icon> {{ defaultLanguage.language }}:</strong>
    {{ content[key] }}
  </mat-hint>
</mat-form-field>
