<div fxLayout="column">
  <edit-component-save-button [authoringComponentContent]="authoringComponentContent">
  </edit-component-save-button>
  <edit-component-submit-button [authoringComponentContent]="authoringComponentContent">
  </edit-component-submit-button>
  <edit-component-exclude-from-total-score [authoringComponentContent]="authoringComponentContent">
  </edit-component-exclude-from-total-score>
  <edit-component-width [authoringComponentContent]="authoringComponentContent">
  </edit-component-width>
  <edit-component-rubric [authoringComponentContent]="authoringComponentContent">
  </edit-component-rubric>
  <edit-component-tags [authoringComponentContent]="authoringComponentContent">
  </edit-component-tags>
  <edit-component-json [nodeId]="nodeId" [componentId]="componentId"></edit-component-json>
</div>