@import 'style/abstracts/variables';

.rubric {
  margin-bottom: 16px;
}

.component {
  padding-bottom: 16px;

  &:first-of-type {
    .component-header {
      border-top-left-radius: $button-border-radius;
      border-top-right-radius: $button-border-radius;
    }
  }
}

.component-header {
  padding: 8px 12px;
  margin: -16px -16px 0;
}

.component-rubric {
  padding: 8px;

  .mat-mdc-card-content {
    padding: 8px;
    border-radius: $button-border-radius;
    overflow: auto;
  }
}

.node-info {
  .item-divider {
    margin-left: -16px;
    margin-right: -16px;
    right: 0;
    width: auto;
  }
}
