@if (node.rubric) {
  <mat-card appearance="outlined" class="rubric">
    <mat-card-title fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon class="mat-24 info">info</mat-icon>
      <span class="mat-subtitle-2" i18n>Step Info</span>
    </mat-card-title>
    <mat-card-content [innerHTML]="node.rubric" />
  </mat-card>
}
<mat-card appearance="outlined" class="node-info">
  <mat-card-content>
    @for (component of node.components; track component.id; let isFirst = $first) {
      <div id="component_{{ component.id }}" class="component">
        @if (!isFirst) {
          <mat-divider class="item-divider divider--dashed" />
        }
        @if (component.isStudentWorkGenerated) {
          <h3 class="accent-1 mat-subtitle-2 gray-lightest-bg component-header">
            {{ component.assessmentItemIndex + '. ' + component.typeLabel }}&nbsp;
          </h3>
        }
        <preview-component [component]="component.component" [periodId]="periodId" />
        @if (component.rubric) {
          <mat-card
            appearance="outlined"
            class="rubric component-rubric mat-elevation-z0 notice-bg-bg"
          >
            <mat-card-title class="mat-subtitle-2" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon class="mat-24 info">info</mat-icon>
              <span i18n>Item Info</span>
            </mat-card-title>
            <mat-card-content class="app-bg-bg" [innerHTML]="component.rubric" />
          </mat-card>
        }
        @if (component.hasResponsesSummary && component.type === 'MultipleChoice') {
          <teacher-summary-display
            class="summary-display"
            [nodeId]="nodeId"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'responses'"
            [source]="source"
            [highlightCorrectAnswer]="component.hasCorrectAnswer"
            [chartType]="'column'"
            [doRender]="true"
          />
        }
        @if (component.hasScoresSummary && component.hasScoreAnnotation) {
          <teacher-summary-display
            class="summary-display"
            [nodeId]="nodeId"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'scores'"
            [source]="source"
            [chartType]="'column'"
            [doRender]="true"
          />
        }
        @if (
          component.hasResponsesSummary &&
          ['DialogGuidance', 'OpenResponse'].includes(component.type)
        ) {
          <ideas-summary
            [nodeId]="nodeId"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'responses'"
            [source]="source"
            [doRender]="true"
            [componentType]="component.type"
          />
        }
        @if (component.type === 'Match') {
          <match-summary-display-differentiator
            [nodeId]="nodeId"
            [componentId]="component.id"
            [periodId]="periodId"
          />
        }
      </div>
    }
  </mat-card-content>
</mat-card>
