$margin-spacing: 20px;

.input-wrapper {
  min-height: 80px;
  max-width: 800px;
}

.add-button {
  margin-right: $margin-spacing;
}

.label-text-input-div {
  width: 300px;
  margin-right: $margin-spacing;
}

.label-text-input {
  width: 100%;
}

.delete-button {
  margin-right: $margin-spacing;
}

.add-to-notebook-button {
  margin-right: $margin-spacing;
}

.upload-button {
  margin-right: $margin-spacing;
}

.reset-button {
  margin-right: $margin-spacing;
}

.label-canvas-container {
  margin-bottom: $margin-spacing;
}

.label-canvas {
  border: 1px solid black;
}

.mat-icon {
  margin: 0px;
}
