<component-header [component]="component" />
<div class="input-wrapper flex flex-row flex-wrap justify-start items-center">
  @if (addNewLabelButtonVisible) {
    <button
      mat-raised-button
      color="primary"
      class="add-button"
      (click)="addNewLabel()"
      [disabled]="isDisabled"
      matTooltip="Add new label"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add</mat-icon>
    </button>
  }
  <div class="label-text-input-div">
    @if (editLabelMode) {
      <mat-form-field class="label-text-input">
        <mat-label i18n>Label Text</mat-label>
        <input
          matInput
          id="editLabelTextInput-{{ componentId }}"
          #editLabelTextInput
          type="text"
          [(ngModel)]="selectedLabel.textString"
          (ngModelChange)="
            selectedLabelTextChanged(selectedLabel, selectedLabel.text, selectedLabel.textString)
          "
          [disabled]="isDisabled"
        />
      </mat-form-field>
    }
  </div>
  @if (!isDisabled && selectedLabel != null && selectedLabel.canDelete) {
    <button
      mat-raised-button
      color="primary"
      class="delete-button"
      (click)="deleteLabelButtonClicked()"
      [disabled]="isDisabled"
      matTooltip="Delete"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>delete</mat-icon>
    </button>
  }
  <span style="flex-grow: 1"></span>
  @if (isShowAddToNotebookButton) {
    <add-to-notebook-button
      class="add-to-notebook-button"
      [isDisabled]="isDisabled"
      (snipImage)="snipImage()"
    />
  }
  <br />
  @if (componentContent.enableStudentUploadBackground) {
    @if (backgroundImage == null) {
      <button
        mat-raised-button
        color="primary"
        class="upload-button"
        (click)="showStudentAssets()"
        matTooltip="Upload Background Image"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    } @else {
      <button
        mat-raised-button
        color="primary"
        class="upload-button"
        (click)="deleteBackgroundImage()"
        matTooltip="Delete Background Image"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
    }
  }
  @if (isResetButtonVisible) {
    <button
      mat-raised-button
      color="primary"
      class="reset-button"
      (click)="reset()"
      [disabled]="isDisabled"
      matTooltip="Reset"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>restore</mat-icon>
    </button>
  }
</div>
<div id="canvasParent_{{ canvasId }}">
  <canvas id="{{ canvasId }}" class="label-canvas" width="800" height="600"></canvas>
</div>
@if (isSaveOrSubmitButtonVisible) {
  <component-save-submit-buttons
    class="block mt-3"
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)"
  />
}
@if (mode === 'student') {
  <component-annotations
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId"
  />
}
