<div>
  <md-input-container style='width: 500px;'>
    <label>{{ ::'graph.subtitle' | translate }}</label>
    <input type='text'
        ng-model='$ctrl.authoringComponentContent.subtitle'
        ng-model-options='{ debounce: 1000 }'
        ng-change='$ctrl.componentChanged()'/>
  </md-input-container>
</div>
<div>
  <md-checkbox class='md-primary'
               ng-model='$ctrl.authoringComponentContent.showMouseXPlotLine'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'graph.showMouseXPlotLine' | translate }}
  </md-checkbox>
</div>
<div>
  <md-checkbox class='md-primary'
               style='left: 40px;'
               ng-disabled='!$ctrl.authoringComponentContent.showMouseXPlotLine'
               ng-model='$ctrl.authoringComponentContent.highlightXRangeFromZero'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'graph.highlightXRangeFromZero' | translate }}
  </md-checkbox>
</div>
<div>
  <md-checkbox class='md-primary'
               ng-model='$ctrl.authoringComponentContent.showMouseYPlotLine'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'graph.showMouseYPlotLine' | translate }}
  </md-checkbox>
</div>
<div>
  <md-checkbox class='md-primary'
               ng-model='$ctrl.authoringComponentContent.saveMouseOverPoints'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'graph.saveMouseOverPoints' | translate }}
  </md-checkbox>
</div>
<div>
  <md-checkbox class='md-primary'
               ng-model='$ctrl.authoringComponentContent.hideTrialSelect'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'graph.hideTrialSelect' | translate }}
  </md-checkbox>
</div>
<edit-component-save-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-save-button>
<br/>
<edit-component-submit-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-submit-button>
<div>
  <md-checkbox class='md-primary'
               ng-if='$ctrl.isNotebookEnabled()'
               ng-model='$ctrl.authoringComponentContent.showAddToNotebookButton'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
  </md-checkbox>
</div>
<edit-component-max-submit
    ng-if="$ctrl.authoringComponentContent.showSubmitButton"
    [(max-submit-count)]="$ctrl.authoringComponentContent.maxSubmitCount"
    (max-submit-count-change)="$ctrl.maxSubmitCountChanged($event)">
</edit-component-max-submit>
<edit-component-default-feedback
    ng-if="$ctrl.authoringComponentContent.showSubmitButton"
    [authoring-component-content]="$ctrl.authoringComponentContent">
</edit-component-default-feedback>
<div>
  <md-checkbox class='md-primary'
               ng-model='$ctrl.authoringComponentContent.useCustomLegend'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'graph.useCustomLegend' | translate }}
  </md-checkbox>
</div>
<div>
  <md-input-container style='width:100%'
                      ng-if='$ctrl.authoringComponentContent.useCustomLegend'>
    <label>{{ ::'graph.customLegend' | translate }}</label>
    <textarea rows='1'
              ng-model='$ctrl.authoringComponentContent.customLegend'
              ng-change='$ctrl.componentChanged()'
              ng-model-options='{ debounce: 1000 }'>
    </textarea>
  </md-input-container>
</div>
<div>
  <label class='node__label--vertical-alignment'>{{ 'graph.xAxisPlotLine' | translate }}</label>
  <md-button class='topButton md-raised md-primary'
      ng-click='$ctrl.addXAxisPlotLine()'>
    <md-icon>add</md-icon>
    <md-tooltip>{{ ::'graph.addXAxisPlotLine' | translate }}</md-tooltip>
  </md-button>
</div>
<div ng-repeat='plotLine in $ctrl.authoringComponentContent.xAxis.plotLines track by $index'>
  <div flex>
    <md-input-container style='width: 400px;'>
      <label>{{ ::'graph.text' | translate }}</label>
      <input type='text'
          ng-model='plotLine.label.text'
          ng-model-options='{ debounce: 1000 }'
          ng-change='$ctrl.componentChanged()'/>
    </md-input-container>
    <md-input-container>
      <label>{{ ::'graph.xValue' | translate }}</label>
      <input type='text'
          ng-model='plotLine.value'
          ng-model-options='{ debounce: 1000 }'
          ng-change='$ctrl.componentChanged()'/>
    </md-input-container>
    <md-input-container>
      <label>{{ ::'graph.color' | translate }}</label>
      <input type='text'
          ng-model='plotLine.color'
          ng-model-options='{ debounce: 1000 }'
          ng-change='$ctrl.componentChanged()'/>
    </md-input-container>
    <span flex></span>
    <md-button class='topButton md-raised md-primary'
               ng-click='$ctrl.deleteXAxisPlotLine($index)'>
      <md-icon>delete</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
    </md-button>
  </div>
</div>
<div>
  <label class='node__label--vertical-alignment'>{{ ::'graph.yAxisPlotLine' | translate }}</label>
  <md-button class='topButton md-raised md-primary'
      ng-click='$ctrl.addYAxisPlotLine()'>
    <md-icon>add</md-icon>
    <md-tooltip>{{ ::'graph.addYAxisPlotLine' | translate }}</md-tooltip>
  </md-button>
</div>
<div ng-repeat='plotLine in $ctrl.authoringComponentContent.yAxis.plotLines track by $index'>
  <div flex>
    <md-input-container style='width: 400px;'>
      <label>{{ ::'graph.text' | translate }}</label>
      <input type='text'
          ng-model='plotLine.label.text'
          ng-model-options='{ debounce: 1000 }'
          ng-change='$ctrl.componentChanged()'/>
    </md-input-container>
    <md-input-container>
      <label>{{ ::'graph.yValue' | translate }}</label>
      <input type='text'
          ng-model='plotLine.value'
          ng-model-options='{ debounce: 1000 }'
          ng-change='$ctrl.componentChanged()'/>
    </md-input-container>
    <md-input-container>
      <label>{{ ::'graph.color' | translate }}</label>
      <input type='text'
          ng-model='plotLine.color'
          ng-model-options='{ debounce: 1000 }'
          ng-change='$ctrl.componentChanged()'/>
    </md-input-container>
    <span flex></span>
    <md-button class='topButton md-raised md-primary'
               ng-click='$ctrl.deleteYAxisPlotLine($index)'>
      <md-icon>delete</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
    </md-button>
  </div>
</div>
<div layout="column" layout-align="start start">
  <edit-component-max-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-max-score>
  <edit-component-exclude-from-total-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-exclude-from-total-score>
  <edit-component-width [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-width>
  <edit-component-rubric [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-rubric>
  <edit-component-tags [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-tags>
</div>
<edit-graph-connected-components
    [node-id]="$ctrl.nodeId"
    [component-id]="$ctrl.componentId"
    [allowed-connected-component-types]="$ctrl.allowedConnectedComponentTypes"
    [component-content]="$ctrl.authoringComponentContent"
    [connected-components]="$ctrl.authoringComponentContent.connectedComponents"
    (connected-components-changed)="$ctrl.connectedComponentsChanged($event)">
</edit-graph-connected-components>
<edit-component-json [node-id]="$ctrl.nodeId" [component-id]="$ctrl.componentId"></edit-component-json>
