.subtitle {
  width: 80%;
}

.custom-legend {
  width: 80%;
}

.highlight-x-range-from-zero {
  margin-left: 40px;
}

.plot-line-text {
  width: 40%;
}

.plot-line-value {
  width: 15%;
}

.plot-line-color {
  width: 15%;
}

.mat-icon {
  margin: 0px;
}
