<div fxLayout="column" fxLayoutGap="8px">
  <translatable-input
    [content]="componentContent"
    key="subtitle"
    label="Subtitle"
    i18n-label
    (defaultLanguageTextChanged)="componentChanged()"
    class="subtitle"
  />
  <div>
    <mat-checkbox
      color="primary"
      [(ngModel)]="componentContent.showMouseXPlotLine"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Show Mouse X Plot Line
    </mat-checkbox>
  </div>
  <div class="highlight-x-range-from-zero">
    <mat-checkbox
      color="primary"
      [disabled]="!componentContent.showMouseXPlotLine"
      [(ngModel)]="componentContent.highlightXRangeFromZero"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Highlight X Range From Zero
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox
      color="primary"
      [(ngModel)]="componentContent.showMouseYPlotLine"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Show Mouse Y Plot Line
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox
      color="primary"
      [(ngModel)]="componentContent.saveMouseOverPoints"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Save Mouse Over Points
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox
      color="primary"
      [(ngModel)]="componentContent.hideTrialSelect"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Hide Trial Select
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox
      color="primary"
      [(ngModel)]="componentContent.useCustomLegend"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Use Custom Legend
    </mat-checkbox>
  </div>
  <ng-container *ngIf="componentContent.useCustomLegend">
    <translatable-input
      [content]="componentContent"
      key="customLegend"
      label="Custom Legend"
      i18n-label
      (defaultLanguageTextChanged)="componentChanged()"
      class="custom-legend"
    />
  </ng-container>
  <div fxLayoutGap="16px">
    <span i18n>X Axis Plot Line</span>
    <button
      mat-raised-button
      color="primary"
      (click)="addXAxisPlotLine()"
      matTooltip="Add X Axis Plot Line"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngFor="let plotLine of componentContent.xAxis.plotLines; index as xAxisPlotLineIndex">
    <div fxLayout="row wrap" fxLayoutGap="16px">
      <translatable-input
        [content]="plotLine.label"
        key="text"
        label="Text"
        i18n-label
        (defaultLanguageTextChanged)="componentChanged()"
        class="plot-line-text"
      />
      <mat-form-field class="plot-line-value">
        <mat-label i18n>X Value</mat-label>
        <input matInput [(ngModel)]="plotLine.value" (ngModelChange)="componentChanged()" />
      </mat-form-field>
      <mat-form-field class="plot-line-color">
        <mat-label i18n>Color</mat-label>
        <input matInput [(ngModel)]="plotLine.color" (ngModelChange)="componentChanged()" />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="deleteXAxisPlotLine(xAxisPlotLineIndex)"
          matTooltip="Delete"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div fxLayoutGap="16px">
    <span i18n>Y Axis Plot Line</span>
    <button
      mat-raised-button
      color="primary"
      (click)="addYAxisPlotLine()"
      matTooltip="Add Y Axis Plot Line"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngFor="let plotLine of componentContent.yAxis.plotLines; index as yAxisPlotLineIndex">
    <div fxLayout="row wrap" fxLayoutGap="16px">
      <translatable-input
        [content]="plotLine.label"
        key="text"
        label="Text"
        i18n-label
        (defaultLanguageTextChanged)="componentChanged()"
        class="plot-line-text"
      />
      <mat-form-field class="plot-line-value">
        <mat-label i18n>Y Value</mat-label>
        <input matInput [(ngModel)]="plotLine.value" (ngModelChange)="componentChanged()" />
      </mat-form-field>
      <mat-form-field class="plot-line-color">
        <mat-label i18n>Color</mat-label>
        <input matInput [(ngModel)]="plotLine.color" (ngModelChange)="componentChanged()" />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="deleteYAxisPlotLine(yAxisPlotLineIndex)"
          matTooltip="Delete"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isNotebookEnabled()">
  <edit-component-add-to-notebook-button [componentContent]="componentContent">
  </edit-component-add-to-notebook-button>
</div>
<edit-component-save-button [componentContent]="componentContent"> </edit-component-save-button>
<br />
<edit-component-submit-button [componentContent]="componentContent"> </edit-component-submit-button>
<edit-component-max-submit
  *ngIf="componentContent.showSubmitButton"
  [componentContent]="componentContent"
>
</edit-component-max-submit>
<edit-component-default-feedback [componentContent]="componentContent">
</edit-component-default-feedback>
<div fxLayout="column" fxLayoutAlign="start start">
  <edit-component-max-score [componentContent]="componentContent"> </edit-component-max-score>
  <edit-component-exclude-from-total-score [componentContent]="componentContent">
  </edit-component-exclude-from-total-score>
  <edit-component-width [componentContent]="componentContent" />
  <edit-component-rubric [componentContent]="componentContent"> </edit-component-rubric>
  <edit-component-tags [componentContent]="componentContent"> </edit-component-tags>
</div>
<edit-graph-connected-components
  [nodeId]="nodeId"
  [componentId]="componentId"
  [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
  [componentContent]="componentContent"
  [connectedComponents]="componentContent.connectedComponents"
  (connectedComponentsChanged)="connectedComponentsChanged($event)"
>
</edit-graph-connected-components>
<edit-component-constraints [componentContent]="component.content" />
<edit-component-json [component]="component"></edit-component-json>
