@use '@angular/material' as mat;
@reference "tailwindcss";

.component-select {
  @include mat.form-field-overrides(
    (
      container-vertical-padding: 8px,
      container-height: 40px
    )
  );

  .mat-mdc-form-field-infix {
    width: auto;
  }

  .mat-mdc-select-value {
    @apply me-1;
  }
}