<h2 mat-dialog-title i18n>Change Student Password</h2>
<mat-dialog-content class="dialog-content-scroll">
  <div class="mat-body-2">
    <span i18n>Change password for </span>
    <strong>
      <ng-container *ngIf="canViewStudentNames">{{ user.name }} ({{ user.username }})</ng-container>
      <ng-container *ngIf="!canViewStudentNames" i18n>Student {{ user.id }}</ng-container> </strong
    >:
  </div>
  <form [formGroup]="changePasswordForm" fxLayout="column" fxLayoutGap="16px">
    <mat-form-field *ngIf="!isTeacherGoogleUser" appearance="fill">
      <mat-label i18n>Teacher Password</mat-label>
      <input matInput type="password" formControlName="teacherPassword" />
      <mat-error *ngIf="changePasswordForm.controls['teacherPassword'].hasError('required')" i18n
        >Teacher Password required</mat-error
      >
      <mat-error
        *ngIf="changePasswordForm.controls['teacherPassword'].hasError('incorrectPassword')"
        i18n
      >
        Teacher Password is incorrect
      </mat-error>
    </mat-form-field>
    <new-password-and-confirm
      [formGroup]="changePasswordForm"
      [passwordLabel]="passwordLabel"
      [confirmPasswordLabel]="confirmPasswordLabel"
    >
    </new-password-and-confirm>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="isChangingPassword" i18n>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="changePassword()"
    [disabled]="changePasswordForm.invalid || isChangingPassword"
    class="button--progress"
  >
    <mat-progress-bar *ngIf="isChangingPassword" mode="indeterminate"></mat-progress-bar>
    <ng-container i18n>Confirm</ng-container>
  </button>
</mat-dialog-actions>
