<h2 mat-dialog-title i18n>Change Student Password</h2>
<div mat-dialog-content class="mat-dialog-content dialog-content-scroll">
  <div class="mat-body-1">
    <span i18n>Change password for </span>
    <strong>
      <ng-container *ngIf="canViewStudentNames">{{user.name}} ({{user.username}})</ng-container>
      <ng-container *ngIf="!canViewStudentNames" i18n>Student {{user.id}}</ng-container>
    </strong>:
  </div>
  <form [formGroup]="changePasswordForm" fxLayout="column" fxLayoutGap="16px">
    <mat-form-field *ngIf="!isTeacherGoogleUser" appearance="fill">
      <mat-label i18n>Teacher Password</mat-label>
      <input matInput type="password" formControlName="teacherPassword" />
      <mat-error *ngIf="changePasswordForm.controls['teacherPassword'].hasError('required')"
          i18n>Teacher Password required</mat-error>
      <mat-error
          *ngIf="changePasswordForm.controls['teacherPassword'].hasError('incorrectPassword')"
          i18n>
        Teacher Password is incorrect
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label i18n>New Student Password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')"
          i18n>New Student Password required</mat-error>
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">
        {{ passwordService.minLengthErrorMessage }}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('pattern')">
        {{ passwordService.patternErrorMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label i18n>Confirm New Student Password</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword" />
      <mat-error *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('required')"
          i18n>Confirm New Student Password required</mat-error>
      <mat-error *ngIf="changePasswordForm.hasError('passwordDoesNotMatch')"
          i18n>New student passwords do not match</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="8px">
  <button mat-button mat-dialog-close [disabled]="isChangingPassword" i18n>Cancel</button>
  <button mat-flat-button
          color="primary"
          (click)="changePassword()"
          [disabled]="changePasswordForm.invalid || isChangingPassword">
    <mat-progress-bar *ngIf="isChangingPassword" mode="indeterminate"></mat-progress-bar>
    <ng-container i18n>Confirm</ng-container>
  </button>
</div>
