<div class="question-rules notice-bg-bg">
  <h5 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
    <span i18n>Question Bank Rules</span>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Add a new rule"
      i18n-matTooltip
      matTooltipPosition="above"
      (click)="addNewRule(0)"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <span fxFlex></span>
    <button mat-button (click)="showHelp()" i18n>Help</button>
  </h5>
  <ul
    cdkDropList
    [cdkDropListData]="feedbackRules"
    (cdkDropListDropped)="drop($event)"
    cdkScrollable
  >
    <ng-container
      *ngFor="let rule of feedbackRules; let ruleIndex = index; let first = first; let last = last"
    >
      <li cdkDrag>
        <mat-card appearance="outlined" class="rule" fxLayout="row wrap" fxLayoutGap="8px">
          <div
            class="text-secondary"
            fxLayout="column"
            fxLayoutAlign="start center"
            fxLayoutGap="22px"
          >
            <span class="mat-subtitle-1">{{ ruleIndex + 1 }}</span>
            <mat-icon cdkDragHandle title="Drag to reorder" i18n-title>drag_indicator</mat-icon>
          </div>
          <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px" fxFlex>
            <mat-form-field class="rule-input form-field-no-hint" appearance="fill">
              <mat-label i18n>Expression</mat-label>
              <input
                matInput
                [(ngModel)]="rule.expression"
                (ngModelChange)="inputChanged.next($event)"
              />
            </mat-form-field>
            <div
              *ngFor="
                let question of rule.questions;
                let questionIndex = index;
                let last = last;
                trackBy: customTrackBy
              "
              class="question-item"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="8px"
            >
              <mat-form-field
                *ngIf="version === 1"
                class="rule-input form-field-no-hint question-input"
                appearance="fill"
              >
                <mat-label *ngIf="rule.questions.length === 1" i18n>Question</mat-label>
                <mat-label *ngIf="rule.questions.length > 1" i18n
                  >Question #{{ questionIndex + 1 }}</mat-label
                >
                <textarea
                  matInput
                  [(ngModel)]="rule.questions[questionIndex]"
                  (ngModelChange)="inputChanged.next($event)"
                  cdkTextareaAutosize
                >
                </textarea>
                <button
                  mat-icon-button
                  matSuffix
                  *ngIf="rule.questions.length > 1"
                  matTooltip="Delete question"
                  i18n-matTooltip
                  matTooltipPosition="before"
                  (click)="deleteFeedbackInRule(rule, questionIndex)"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
              <ng-container *ngIf="version === 2">
                <translatable-textarea
                  [content]="rule.questions[questionIndex]"
                  key="text"
                  [label]="
                    rule.questions.length === 1 ? 'Question' : 'Question #' + (questionIndex + 1)
                  "
                  i18n-label
                  (defaultLanguageTextChanged)="inputChanged.next($event)"
                  class="rule-input question-input"
                >
                </translatable-textarea>
                <div class="question-button-div" fxLayout="row" fxLayoutAlign="center start">
                  <button
                    mat-icon-button
                    matSuffix
                    *ngIf="rule.questions.length > 1"
                    matTooltip="Delete question"
                    i18n-matTooltip
                    matTooltipPosition="before"
                    (click)="deleteFeedbackInRule(rule, questionIndex)"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </ng-container>
              <div class="question-button-div" fxLayout="row" fxLayoutAlign="center start">
                <button
                  *ngIf="last"
                  mat-icon-button
                  matTooltip="Add new question"
                  matTooltipPosition="above"
                  i18n-matTooltip
                  (click)="addNewFeedbackToRule(rule)"
                  i18n
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="start center">
            <button
              mat-icon-button
              i18n-matTooltip
              matTooltip="Delete rule"
              matTooltipPosition="before"
              (click)="deleteRule(ruleIndex)"
            >
              <mat-icon>clear</mat-icon>
            </button>
            <button
              *ngIf="feedbackRules.length > 1"
              [disabled]="first"
              mat-icon-button
              i18n-matTooltip
              matTooltip="Move up"
              matTooltipPosition="before"
              (click)="moveUp(ruleIndex)"
            >
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button
              [disabled]="last"
              mat-icon-button
              i18n-matTooltip
              matTooltip="Move down"
              matTooltipPosition="before"
              (click)="moveDown(ruleIndex)"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </mat-card>
      </li>
    </ng-container>
  </ul>
  <button
    *ngIf="feedbackRules.length > 0"
    mat-icon-button
    color="primary"
    matTooltip="Add a new rule at the end"
    i18n-matTooltip
    matTooltipPosition="above"
    (click)="addNewRule(feedbackRules.length)"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
