@import 'style/abstracts/variables';

.question-rules {
  padding: 16px;
  border-radius: $card-border-radius;
}

h5 {
  margin-top: 0;
}

ul {
  padding: 0;
  max-height: 60vh;
  overflow-y: auto;
}

li {
  list-style-type: none;
}

.rule {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

.rule-input {
  width: 100%;
}

.cdk-drag-handle {
  cursor: move;
}

.cdk-drag-placeholder {
  opacity: .4;
}

.mat-subtitle-1 {
  margin: 0;
}

.question-item {
  width: 100%;
}

.question-input {
  width: 100%;
}
