<p>{{ ::'projectIcon' | translate }} <button ng-click="$ctrl.toggleEditProjectIconMode()">{{ 'edit' | translate }}</button></p>
<br/>
<div style="width: 200px; height: 200px; display: flex; align-items: center; justify-content: center;">
  <div ng-if="$ctrl.isShowProjectIcon">
    <img ng-src="{{$ctrl.projectIcon}}"
         style="width: 200px;"/>
  </div>
  <div ng-if="$ctrl.isShowProjectIconError"
       style="width: 200px; height: 200px; border: 1px solid black; padding: 20px;">
    <p style="color: red;">{{ ::'thisProjectDoesNotHaveAProjectIcon' | translate }}</p>
    <br/>
    <p style="color: red;">{{ ::'clickTheEditButtonToSetOne' | translate }}</p>
  </div>
  <div ng-if="$ctrl.isShowProjectIconLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
<div ng-if="$ctrl.isEditingProjectIcon">
  <br/>
  <span>{{ ::'chooseANewProjectIcon' | translate }}</span> <button ng-click="$ctrl.chooseCustomProjectIcon()">{{ ::'upload' | translate }}</button>
  <br/>
  <br/>
  <img ng-repeat="projectIcon in $ctrl.projectIcons"
       src="/projectIcons/{{projectIcon}}"
       ng-click="$ctrl.setFeaturedProjectIcon(projectIcon)"/>
  <br/>
</div>
<br/>
<div ng-repeat='metadataField in $ctrl.metadataAuthoring.fields'>
  <span style='font-weight:bold'>{{ metadataField.name }}: </span>
  <textarea ng-if='metadataField.type == "textarea"' rows='3', cols='100'
      ng-model='$ctrl.metadata[metadataField.key]'
      ng-model-options='{ debounce: 1000 }'
      ng-change='$ctrl.save()'></textarea>
  <input ng-if='metadataField.type == "input"' size='50'
      ng-model='$ctrl.metadata[metadataField.key]'
      ng-model-options='{ debounce: 1000 }'
      ng-change='$ctrl.save()' />
  <div ng-if='metadataField.type == "radio"'
      ng-repeat='choice in metadataField.choices'>
    <input type='radio'
        class='md-primary'
        ng-value='choice'
        ng-checked='$ctrl.metadataChoiceIsChecked(metadataField, choice)'
        ng-click='$ctrl.metadataRadioClicked(metadataField, choice)' />
        {{ $ctrl.getMetadataChoiceText(choice) }}
  </div>
  <div ng-if='metadataField.type == "checkbox"'
      ng-repeat='choice in metadataField.choices'>
    <label>
      <input type='checkbox'
          ng-model='metadataField.choicesMapping[choice]'
          ng-click='$ctrl.metadataCheckboxClicked(metadataField)' />
          {{ $ctrl.getMetadataChoiceText(choice) }}
    </label>
  </div>
  <br/>
</div>
