.step-item {
  .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .grading__item {
    width: 100%;
    margin: 0;
  }

  .list-item {
    height: auto;
    padding: 0;
    margin: 0 !important;
  }

  .grading__item-container {
    height: auto;
  }
}