<div
  class="mat-elevation-z1 step-item"
  [ngClass]="{
    'list-item--warn': statusClass === 'warn',
    'list-item--info': statusClass === 'info'
  }"
>
  <div class="list-item">
    <button
      mat-button
      class="list-item__subheader-button"
      aria-label="Show/hide team's work for this step"
      i18n-aria-label
      [ngClass]="{ 'list-item--noclick': !showScore || disabled }"
      (click)="toggleExpand()"
      [disabled]="disabled"
    >
      <div class="flex w-full items-center">
        <step-info
          class="flex-1"
          [hasAlert]="hasAlert"
          [hasNewAlert]="hasNewAlert"
          [hasNewWork]="hasNewWork"
          [nodeId]="nodeId"
        />
        <div
          class="flex justify-center items-center"
          [ngClass]="{ 'basis-[30%]': showScore, 'basis-1/5': !showScore }"
        >
          <workgroup-node-status [statusText]="statusText" [statusClass]="statusClass" />
        </div>
        @if (showScore) {
          <div class="basis-1/5 flex justify-center items-center">
            <workgroup-node-score [score]="score" [maxScore]="maxScore" />
          </div>
        }
      </div>
    </button>
  </div>
  @if (expand && !disabled) {
    <mat-list-item class="grading__item-container">
      <div class="grading__item">
        @for (component of components; track component.id; let i = $index) {
          @if (componentIdToIsVisible[component.id]) {
            <div
              id="component_{{ component.id }}_{{ workgroupId }}"
              class="component component--grading"
            >
              <h3 class="accent-1 strong gray-lightest-bg component__header">
                {{ i + 1 + '. ' + getComponentTypeLabel(component.type) }}&nbsp;
                <component-new-work-badge
                  [componentId]="component.id"
                  [workgroupId]="workgroupId"
                  [nodeId]="nodeId"
                />
              </h3>
              <workgroup-component-grading
                class="component--grading__response__content"
                [componentId]="component.id"
                [workgroupId]="workgroupId"
                [nodeId]="nodeId"
              />
            </div>
          }
        }
      </div>
    </mat-list-item>
  }
</div>
