<div class="edit-dialog-guidance flex flex-col gap-4">
  <mat-checkbox
    color="primary"
    [(ngModel)]="computerAvatarSettings.useGlobalComputerAvatar"
    (ngModelChange)="componentChanged()"
    i18n
    >Use Global Computer Avatar</mat-checkbox
  >
  <translatable-input
    [content]="computerAvatarSettings"
    key="label"
    label="Computer Avatar Label"
    i18n-label
    placeholder="Thought Buddy"
    i18n-placeholder
    (defaultLanguageTextChanged)="componentChanged()"
    class="name"
    hint="This is what the computer avatar will be referred to as"
    i18n-hint
  />
  <translatable-input
    [content]="computerAvatarSettings"
    key="prompt"
    label="Computer Avatar Prompt"
    i18n-label
    placeholder="Discuss your answer with a thought buddy!"
    i18n-placeholder
    (defaultLanguageTextChanged)="componentChanged()"
    class="name"
    hint="This text will introduce the avatar selection task"
    i18n-hint
  />
  <translatable-input
    [content]="computerAvatarSettings"
    key="initialResponse"
    label="Computer Avatar Initial Response"
    i18n-label
    placeholder="Hi there! It's nice to meet you. What do you think about..."
    i18n-placeholder
    (defaultLanguageTextChanged)="componentChanged()"
    class="name"
    hint="Computer avatar will initiate dialog with this text"
    i18n-hint
  />
  <div class="avatars">
    <div class="mat-subtitle-1">Computer avatars students can choose:</div>
    <div class="flex flex-row flex-wrap items-center gap-4">
      <button
        mat-stroked-button
        color="primary"
        (click)="selectAllComputerAvatars()"
        aria-label="Select all avatars"
        i18n-aria-label
        i18n
      >
        Select All
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="unselectAllComputerAvatars()"
        aria-label="Select no avatars"
        i18n-aria-label
        i18n
      >
        Select None
      </button>
    </div>
    <div class="flex flex-row flex-wrap">
      <mat-button-toggle-group
        class="flex flex-row flex-wrap"
        aria-label="Avatars available to students"
        i18n-aria-label
        multiple
        [hideMultipleSelectionIndicator]="true"
      >
        @for (computerAvatar of allComputerAvatars; track computerAvatar) {
          <mat-button-toggle
            (mousedown)="toggleSelectComputerAvatar(computerAvatar)"
            checked="{{ computerAvatar.isSelected ? true : false }}"
            aria-label="Toggle {{ computerAvatar.name }}"
            i18n-aria-label
          >
            <img
              [src]="avatarsPath + computerAvatar.image"
              alt="{{ computerAvatar.name }}"
              class="avatar-image"
            />
            <div class="name flex justify-center items-center gap-1">
              <span class="mat-subtitle-2">{{ computerAvatar.name }}</span>
              @if (computerAvatar.isSelected) {
                <mat-icon class="success" aria-label="Selected" i18n-aria-label
                  >check_circle</mat-icon
                >
              }
              @if (!computerAvatar.isSelected) {
                <mat-icon color="warn" aria-label="Not selected" i18n-aria-label>cancel</mat-icon>
              }
            </div>
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
  </div>
</div>
