<div class="edit-dialog-guidance" fxLayout="column" fxLayoutGap="16px">
  <mat-checkbox
    color="primary"
    [(ngModel)]="computerAvatarSettings.useGlobalComputerAvatar"
    (ngModelChange)="componentChanged()"
    i18n
    >Use Global Computer Avatar</mat-checkbox
  >
  <translatable-input
    [content]="computerAvatarSettings"
    key="label"
    label="Computer Avatar Label"
    i18n-label
    placeholder="Thought Buddy"
    i18n-placeholder
    (defaultLanguageTextChanged)="componentChanged()"
    class="name"
    hint="This is what the computer avatar will be referred to as"
    i18n-hint
  />
  <translatable-input
    [content]="computerAvatarSettings"
    key="prompt"
    label="Computer Avatar Prompt"
    i18n-label
    placeholder="Discuss your answer with a thought buddy!"
    i18n-placeholder
    (defaultLanguageTextChanged)="componentChanged()"
    class="name"
    hint="This text will introduce the avatar selection task"
    i18n-hint
  />
  <translatable-input
    [content]="computerAvatarSettings"
    key="initialResponse"
    label="Computer Avatar Initial Response"
    i18n-label
    placeholder="Hi there! It's nice to meet you. What do you think about..."
    i18n-placeholder
    (defaultLanguageTextChanged)="componentChanged()"
    class="name"
    hint="Computer avatar will initiate dialog with this text"
    i18n-hint
  />
  <div class="avatars">
    <div class="mat-subtitle-1">Computer avatars students can choose:</div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
      <button
        mat-stroked-button
        color="primary"
        (click)="selectAllComputerAvatars()"
        aria-label="Select all avatars"
        i18n-aria-label
        i18n
      >
        Select All
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="unselectAllComputerAvatars()"
        aria-label="Select no avatars"
        i18n-aria-label
        i18n
      >
        Select None
      </button>
    </div>
    <div fxLayout="row wrap">
      <mat-button-toggle-group
        fxLayout="row wrap"
        aria-label="Avatars available to students"
        i18n-aria-label
        multiple
      >
        <ng-container *ngFor="let computerAvatar of allComputerAvatars">
          <mat-button-toggle
            (mousedown)="toggleSelectComputerAvatar(computerAvatar)"
            checked="{{ computerAvatar.isSelected ? true : false }}"
            aria-label="Toggle {{ computerAvatar.name }}"
            i18n-aria-label
          >
            <img
              [src]="avatarsPath + computerAvatar.image"
              alt="{{ computerAvatar.name }}"
              class="avatar-image"
            />
            <div class="name" fxLayoutAlign="center" fxLayoutGap="4px">
              <span class="mat-subtitle-2">{{ computerAvatar.name }}</span>
              <mat-icon
                *ngIf="computerAvatar.isSelected"
                class="success"
                aria-label="Selected"
                i18n-aria-label
                >check_circle</mat-icon
              >
              <mat-icon
                color="warn"
                *ngIf="!computerAvatar.isSelected"
                aria-label="Not selected"
                i18n-aria-label
                >cancel</mat-icon
              >
            </div>
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
