.edit-dialog-guidance {
  .avatar-label {
    max-width: 400px;
  }

  .avatars {
    margin: 16px 0;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle-group {
    margin-top: 16px;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle-group-appearance-standard {
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-toggle, .mat-button-toggle + .mat-button-toggle {
      border-left: 0 none;
    }
  }

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle-checked {
    background-color: transparent;
  }

  .avatar-image {
    width: 88px;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
    padding: 8px 0;
  }

  .name {
    line-height: 1;
    padding-bottom: 8px;
  }

  translatable-input {
    .mat-mdc-form-field {
      width: 100%;
    }
  }
}