<mat-card class="standalone__content standalone__content--sm mat-elevation-z4 center">
  <mat-card-content>
    <h2 class="standalone__title accent" i18n>Your WISE account has been created!</h2>
    @if (!socialAccount) {
      <p class="mat-subtitle-2" i18n>
        Your username is: <span class="mat-headline-6">{{ username }}</span
        >.
      </p>
    }
    @if (!socialAccount) {
      <p i18n>To sign in, you must verify your account.</p>
      <p class="mat-subtitle-1" i18n>
        You should receive an email shortly with instructions to complete your registration.
      </p>
    } @else {
      <p i18n>You should receive an email with your account details shortly.</p>
    }
    <p>
      @if (isUsingGoogleId) {
        <a
          class="button--social-login button--google"
          href="{{ googleLogInURL }}"
          color="accent"
          mat-raised-button
        >
          <img src="assets/img/icons/google-logo.svg" i18n-alt alt="Google logo" /><ng-container
            i18n
            >Sign in with Google</ng-container
          >
        </a>
      }
      @if (isUsingMicrosoftId) {
        <a
          class="button--social-login button--microsoft"
          href="{{ microsoftLogInURL }}"
          color="accent"
          mat-raised-button
        >
          <img src="assets/img/icons/ms-logo.svg" i18n-alt alt="Microsoft logo" /><ng-container i18n
            >Sign in with Microsoft</ng-container
          >
        </a>
      }
    </p>
  </mat-card-content>
</mat-card>
