<h1 mat-dialog-title i18n>Create a WISE Link</h1>
<div mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutGap="20px">
    <mat-form-field class="choose-step">
      <mat-label i18n>Step</mat-label>
      <mat-select
        [(ngModel)]="wiseLinkNodeId"
        placeholder="Choose a Step"
        i18n-placeholder
        (ngModelChange)="wiseLinkNodeIdChanged()"
      >
        <ng-container *ngFor="let item of items">
          <mat-option *ngIf="item.key !== 'group0'" [value]="item.key">
            {{ getNodePositionById(item.key) }}: {{ getNodeTitle(item.key) }} ({{ item.key }})
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="choose-component">
      <mat-label i18n>Component (Optional)</mat-label>
      <mat-select
        [(ngModel)]="wiseLinkComponentId"
        placeholder="Choose a Component"
        i18n-placeholder
      >
        <mat-option
          *ngFor="let component of getComponents(wiseLinkNodeId); let componentIndex = index"
          [value]="component.id"
        >
          {{ componentIndex + 1 }}. {{ component.type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap">
    <mat-form-field class="link-text">
      <mat-label i18n>Link Text</mat-label>
      <input matInput [(ngModel)]="wiseLinkText" />
    </mat-form-field>
  </div>
  <div class="type-div">
    <mat-radio-group [(ngModel)]="wiseLinkType" color="primary">
      <mat-radio-button value="link" i18n>Link</mat-radio-button>
      <mat-radio-button value="button" i18n>Button</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div mat-dialog-actions fxLayoutGap="20px">
  <div fxFlex></div>
  <button mat-stroked-button (click)="cancel()" i18n>Cancel</button>
  <button mat-raised-button color="primary" (click)="create()" i18n>Create</button>
</div>
