<div>
  <div fxLayoutAlign="start center">
    <span i18n>
      Use the system prompt to instruct the chat bot how to behave. Students will not see the system
      prompt.
    </span>
    <button
      mat-icon-button
      (click)="showSystemPromptHelp = !showSystemPromptHelp"
      matTooltip="Help"
      matTooltipPosition="above"
      i18n-matTooltip
      aria-label="Toggle system prompt instructions"
      i18n-aria-label
    >
      <mat-icon>help</mat-icon>
    </button>
  </div>
  <div *ngIf="showSystemPromptHelp" class="mat-caption system-prompt-help">
    <strong i18n>System Prompt Instructions</strong>
    <p i18n>
      Provide context, instructions, and other relevant information to help the chat bot act the way
      you want it to. Be as specific as possible.
    </p>
    <strong i18n>Example System Prompt</strong>
    <p i18n>
      You are a teacher helping a student understand the greenhouse effect by using the example of a
      car that has been sitting in the sun on a cold day. The student is asked how the temperature
      inside the car will feel. Do not tell them the correct answer, but guide them to better
      understand the science by asking questions. Also make sure they explain their reasoning. Limit
      your response to 100 words or less.
    </p>
  </div>
  <mat-form-field class="system-prompt" appearance="fill">
    <mat-label i18n>System Prompt</mat-label>
    <textarea
      matInput
      [(ngModel)]="componentContent.systemPrompt"
      (ngModelChange)="componentChanged()"
      cdkTextareaAutosize
    >
    </textarea>
  </mat-form-field>
  <p i18n>Use the prompt to introduce the chatbot activity. Students will see the prompt.</p>
  <edit-component-prompt
    [prompt]="componentContent.prompt"
    (promptChangedEvent)="promptChanged($event)"
  ></edit-component-prompt>
  <mat-checkbox
    color="primary"
    class="enable-computer-avatar-checkbox"
    [(ngModel)]="componentContent.isComputerAvatarEnabled"
    (ngModelChange)="componentChanged()"
    i18n
    >Enable Computer Avatar</mat-checkbox
  >
  <edit-dialog-guidance-computer-avatar
    *ngIf="componentContent.isComputerAvatarEnabled"
    [computerAvatarSettings]="componentContent.computerAvatarSettings"
  >
  </edit-dialog-guidance-computer-avatar>
</div>
