<mat-form-field *ngIf="components.length > 1" appearance="fill" class="component-select">
  <mat-select
    [(ngModel)]="selectedComponents"
    (selectionChange)="selectedComponentsChange()"
    placeholder="{{ getSelectedText() }}"
    multiple
  >
    <mat-select-trigger>{{ getSelectedText() }}</mat-select-trigger>
    <mat-optgroup label="Assessment items to show" i18n-label>
      <mat-option
        value="{{ component.id }}"
        *ngFor="let component of components; let i = index"
        color="primary"
      >
        {{ i + 1 }}: {{ getComponentTypeLabel(component.type) }}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
<button
  mat-button
  *ngIf="components.length == 1"
  aria-label="Assessment items to show"
  i18n-aria-label
  disabled
  i18n
>
  1 assessment item
</button>
