.save-button {
  margin-right: 10px;
  min-width: 88px;
}

.submit-button {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 88px;
}

.save-message {
  font-size: 13px;
  letter-spacing: .02em;
}
