<div class="flex flex-wrap justify-start items-center gap-3">
  @if (isSaveButtonVisible) {
    <button
      mat-raised-button
      color="primary"
      (click)="saveButtonClicked.next()"
      [disabled]="isDisabled || !isDirty"
      i18n
    >
      Save
    </button>
  }
  @if (isSubmitButtonVisible) {
    <button
      mat-raised-button
      color="primary"
      (click)="submitButtonClicked.next()"
      [disabled]="isSubmitButtonDisabled || isDisabled || !isSubmitDirty"
      i18n
    >
      Submit
    </button>
  }
  @if (componentState) {
    <component-state-info [componentState]="componentState" />
  }
</div>
