.item-cards-container {
  height: 600px;
  overflow-y: auto;
  padding: 8px;
  margin-bottom: 16px;
}

.item-card {
  margin: 6px;
}

.item-card-title {
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

.item-card-image {
  position: relative;
  padding-top: 60%;
  background-size: cover;
  background-position: center;
}

.item-card-actions {
  padding: 0px 16px 0px 16px !important;
}

.item-card-actions-spacer {
  flex: 1 1 auto;
}
