@import 'style/abstracts/variables';

.response-text {
  padding: 4px 8px;
  display: inline-block;
  border-radius: $card-border-radius;
}

.teacher-response {
  border: 2px solid;
  padding: 2px 6px;
  background-color: transparent;
}

.deleted-text {
  text-decoration: line-through;
}
