<div fxLayoutAlign="start start" fxLayoutGap="4px">
  <ng-container *ngIf="isMyMessage">
    <mat-icon class="mat-30"
        [ngStyle]="{'color': avatarColor}"
        aria-label="Me"
        i18n-aria-label
        matTooltip="Me"
        matTooltipPosition="above"
        i18n-matTooltip>
      account_circle
    </mat-icon>
  </ng-container>
  <ng-container *ngIf="!isMyMessage">
    <mat-icon class="mat-30"
        [ngStyle]="{'color': avatarColor}"
        aria-label="Classmate"
        i18n-aria-label
        matTooltip="Classmate"
        matTooltipPosition="above"
        i18n-matTooltip>
      account_circle
    </mat-icon>
  </ng-container>
  <div fxFlex class="response-text" [class]="{'notice-bg-bg': !isMyMessage, 'selected-bg-bg': isMyMessage}">
    <span>{{ text}}</span>
  </div>
</div>