<div fxLayoutAlign="start start" fxLayoutGap="4px">
  <ng-container *ngIf="isMyMessage">
    <mat-icon class="mat-30" [ngStyle]="{'color': avatarColor}">
      account_circle
    </mat-icon>
  </ng-container>
  <ng-container *ngIf="!isMyMessage">
    <mat-icon class="mat-30" [ngStyle]="{'color': avatarColor}">
      account_circle
    </mat-icon>
  </ng-container>
  <div fxFlex class="response-text" [class]="{'notice-bg-bg': !isMyMessage, 'selected-bg-bg': isMyMessage}">
    <div class="mat-body-2">{{ displayNames }}</div>
    <span>{{ text }}</span>
  </div>
</div>