<div class="flex justify-start items-center gap-2">
  <h5 i18n>Choose a new location by clicking one of the buttons below</h5>
  <button mat-raised-button color="primary" routerLink=".." aria-label="Cancel" i18n>Cancel</button>
</div>
<div style="margin-top: 20px; margin-left: 20px">
  @for (nodeId of nodeIds; track nodeId) {
    <div
      id="{{ nodeId }}"
      [ngClass]="{
        'lesson-header': isGroupNode(nodeId),
        'step-header': !isGroupNode(nodeId),
        'branch-path-step-header': isNodeInAnyBranchPath(nodeId) && !isGroupNode(nodeId)
      }"
      [ngStyle]="{ 'background-color': getBackgroundColor(nodeId) }"
    >
      <div class="flex gap-2">
        <node-icon-and-title [nodeId]="nodeId" [showPosition]="true" />
        @if (isGroupNode(nodeId)) {
          <insert-node-inside-button (insertEvent)="insert(nodeId, false)" />
        } @else {
          <insert-node-after-button (insertEvent)="insert(nodeId, true)" />
        }
      </div>
    </div>
  }
  <h6 class="unused-header" i18n>Unused Lessons</h6>
  @if (inactiveGroupNodes.length == 0) {
    <div i18n>There are no Unused Lessons</div>
  } @else {
    @for (inactiveNode of inactiveGroupNodes; track inactiveNode.id) {
      <div class="lesson-header flex justify-start items-center gap-2">
        <node-icon-and-title [nodeId]="inactiveNode.id" />
        <insert-node-inside-button (insertEvent)="insert(inactiveNode.id, false)" />
      </div>
      @for (inactiveChildId of inactiveNode.ids; track inactiveChildId) {
        <div
          class="step-header flex"
          [ngClass]="{
            'branch-path-step-header': isNodeInAnyBranchPath(inactiveChildId)
          }"
          [ngStyle]="{ 'background-color': getBackgroundColor(inactiveChildId) }"
        >
          <node-with-move-after-button
            (insertEvent)="insert(inactiveChildId, true)"
            [nodeId]="inactiveChildId"
          />
        </div>
      }
    }
  }
  <div class="flex justify-start items-center gap-2">
    <h6 class="unused-header" i18n>Unused Steps</h6>
    <insert-node-inside-button (insertEvent)="insert('inactiveNodes', false)" />
  </div>
  @if (inactiveStepNodes.length == 0) {
    <div i18n>There are no Unused Steps</div>
  } @else {
    @for (inactiveNode of inactiveStepNodes; track inactiveNode.id) {
      @if (getParentGroup(inactiveNode.id) == null) {
        <div class="step-header">
          <node-with-move-after-button
            (insertEvent)="insert(inactiveNode.id, true)"
            [nodeId]="inactiveNode.id"
          />
        </div>
      }
    }
  }
</div>
