<p [formGroup]="formGroup">
  <mat-form-field appearance="fill" fxFlex>
    <mat-label i18n>{{ label }}</mat-label>
    <input matInput
        type="password"
        [name]="formControlName"
        [formControlName]="formControlName"
        required />
    <mat-error *ngIf="formControl.hasError('required')" i18n>
      Password required
    </mat-error>
    <mat-error *ngIf="formControl.hasError('minlength')" i18n>
      Password must be at least 8 characters
    </mat-error>
    <mat-error *ngIf="formControl.hasError('pattern')" i18n>
      Password must have at least one lowercase, one uppercase, and one number character
    </mat-error>
  </mat-form-field>
</p>