.rule-select-container {
  width: 100px;
}

.rule-select-container-wide {
  width: 150px;
}

.rule-node-count-input {
  width: 50px;
}

.rule-container {
  padding: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.categories-container {
  margin-top: 10px;
  min-height: 60px;
}