{{ ::'conceptMap.showAutoScore' | translate }}:
<input type='checkbox'
       ng-model='$ctrl.authoringComponentContent.showAutoScore'
       ng-change='$ctrl.componentChanged()'/>
<br/>
{{ ::'conceptMap.showAutoFeedback' | translate }}:
<input type='checkbox'
       ng-model='$ctrl.authoringComponentContent.showAutoFeedback'
       ng-change='$ctrl.componentChanged()'/>
<br/>
{{ ::'conceptMap.rules' | translate }}
<div ng-repeat='rule in $ctrl.authoringComponentContent.rules'>
  {{ ::'conceptMap.ruleName' | translate }}:
  <input ng-model='rule.name'
         size='30'
         ng-change='$ctrl.componentChanged()'
         ng-model-options='{ debounce: 1000 }'/>
  <select ng-model='rule.not'
          ng-change='$ctrl.componentChanged()'
          ng-options='option.value as option.label for option in $ctrl.shouldOptions'>
  </select>
  {{ ::'conceptMap.contain' | translate }}
  <select ng-model='rule.comparison'
          ng-change='$ctrl.componentChanged()'>
    <option value='exactly'>{{ ::'conceptMap.exactly' | translate }}</option>
    <option value='more than'>{{ ::'conceptMap.moreThan' | translate }}</option>
    <option value='less than'>{{ ::'conceptMap.lessThan' | translate }}</option>
  </select>
  <input ng-model='rule.number'
         size='3'
         ng-change='$ctrl.componentChanged()'/>
  <select ng-model='rule.nodeLabel'
          ng-change='$ctrl.componentChanged()'>
    <option></option>
    <option value='any'>{{ ::'conceptMap.any' | translate }}</option>
    <option ng-repeat='node in $ctrl.authoringComponentContent.nodes'
            value='{{node.label}}'>{{node.label}}</option>
  </select>
  {{ ::'conceptMap.withLink' | translate }}
  <input type='checkbox'
         ng-model='rule.type'
         ng-true-value='"link"'
         ng-false-value='"node"'
         ng-change='$ctrl.ruleLinkCheckboxClicked($index)'/>
  <select ng-model='rule.linkLabel'
          ng-change='$ctrl.componentChanged()'
          ng-if='rule.type == "link"'>
    <option></option>
    <option value='any'>{{ ::'conceptMap.any' | translate }}</option>
    <option ng-repeat='link in $ctrl.authoringComponentContent.links'
            value='{{link.label}}'>{{link.label}}</option>
  </select>
  <span ng-if='rule.type == "link"'>{{ ::'conceptMap.to' | translate }}</span>
  <select ng-model='rule.otherNodeLabel'
          ng-change='$ctrl.componentChanged()'
          ng-if='rule.type == "link"'>
    <option></option>
    <option value='any'>{{ ::'conceptMap.any' | translate }}</option>
    <option ng-repeat='node in $ctrl.authoringComponentContent.nodes'
            value='{{node.label}}'>{{node.label}}</option>
  </select>
  <button ng-click="$ctrl.moveRuleUpButtonClicked($index)">{{ ::'UP' | translate }}</button>
  <button ng-click="$ctrl.moveRuleDownButtonClicked($index)">{{ ::'DOWN' | translate }}</button>
  <button ng-click='$ctrl.ruleDeleteButtonClicked($index)'>{{ ::'DELETE' | translate }}</button>
  <br/>
  <div style='text-indent: 80px'>
    <button ng-click="$ctrl.addCategoryToRule(rule)">{{ ::'conceptMap.addCategoryOptional' | translate }}</button>
    <span ng-repeat='category in rule.categories track by $index'>
      <input ng-model='rule.categories[$index]'
             ng-change='$ctrl.componentChanged()'
             ng-model-options='{ debounce: 1000 }'/>
      <button ng-click="$ctrl.deleteCategoryFromRule(rule, $index)">x</button>
    </span>
  </div>
  <br/>
</div>
<button ng-click='$ctrl.addRule()'>{{ ::'conceptMap.addRule' | translate }}</button>
<br/>
<br/>
{{ ::'conceptMap.customRuleEvaluator' | translate }}
<br/>
<textarea ng-model='$ctrl.authoringComponentContent.customRuleEvaluator'
          ng-change='$ctrl.componentChanged()'
          rows='10'
          cols='100'
          ng-model-options='{ debounce: 1000 }'>
</textarea>
<br/>
<br/>
<edit-component-save-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-save-button>
<br/>
<edit-component-submit-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-submit-button>
<div>
  <md-checkbox class='md-primary'
               ng-if='$ctrl.isNotebookEnabled()'
               ng-model='$ctrl.authoringComponentContent.showAddToNotebookButton'
               ng-change='$ctrl.componentChanged()'>
    {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
  </md-checkbox>
</div>
<div>
  <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                      ng-if='$ctrl.authoringComponentContent.showSubmitButton'>
    <label>{{ ::'MAX_SUBMIT' | translate }}</label>
    <input type='number'
           ng-model='$ctrl.authoringComponentContent.maxSubmitCount'
           ng-model-options='{ debounce: 1000 }'
           ng-change='$ctrl.componentChanged()'/>
  </md-input-container>
</div>
<edit-component-default-feedback
    ng-if="$ctrl.authoringComponentContent.showSubmitButton"
    [authoring-component-content]="$ctrl.authoringComponentContent">
</edit-component-default-feedback>
<div layout="column" layout-align="start start">
  <edit-component-max-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-max-score>
  <edit-component-exclude-from-total-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-exclude-from-total-score>
  <edit-component-width [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-width>
  <edit-component-rubric [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-rubric>
  <edit-component-tags [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-tags>
</div>
<edit-concept-map-connected-components
    [node-id]="$ctrl.nodeId"
    [component-id]="$ctrl.componentId"
    [allowed-connected-component-types]="$ctrl.allowedConnectedComponentTypes"
    [component-content]="$ctrl.authoringComponentContent"
    [connected-components]="$ctrl.authoringComponentContent.connectedComponents"
    (connected-components-changed)="$ctrl.connectedComponentsChanged($event)">
</edit-concept-map-connected-components>
<edit-component-json [node-id]="$ctrl.nodeId" [component-id]="$ctrl.componentId"></edit-component-json>
