<component-header [component]="component"></component-header>
<mat-card appearance="outlined" class="mat-elevation-z0 notice-bg-bg">
  <mat-card-content class="app-bg-bg">
    <span class="text-secondary" *ngIf="studentWork == null" i18n>(No response)</span>
    <show-work-student
      *ngIf="studentWork != null"
      [studentWork]="studentWork"
      [componentContent]="showWorkComponentContent"
      [componentId]="showWorkComponentId"
      [nodeId]="showWorkNodeId"
    ></show-work-student>
  </mat-card-content>
</mat-card>
