<component-header [component]="component" />
<mat-card appearance="outlined" class="mat-elevation-z0 notice-bg-bg">
  <mat-card-content class="app-bg-bg">
    @if (studentWork == null) {
      <span class="text-secondary" i18n>(No response)</span>
    } @else {
      <show-work-student
        [studentWork]="studentWork"
        [componentContent]="showWorkComponentContent"
        [componentId]="showWorkComponentId"
        [nodeId]="showWorkNodeId"
        [additionalSettings]="componentContent.additionalSettings"
      />
    }
  </mat-card-content>
</mat-card>
