<div class="announcement mat-caption dark-theme center primary-bg" fxLayoutAlign="center center">
  <span class="announcement__content" fxLayoutGap="4px" fxLayoutAlign="center center">
    <span>{{ announcement.bannerText }}</span>
    @if (announcement.bannerButton) {
      <button mat-button color="primary" (click)="showAnnouncementDetails()">
        {{ announcement.bannerButton }}
      </button>
    }
  </span>
  <button
    class="announcement__dismiss"
    mat-icon-button
    i18n-aria-label
    aria-label="Dismiss"
    (click)="dismiss()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
