@use 'style/abstracts/variables';

.announcement, .announcement__content {
  min-height: variables.$announcement-height;
}

.announcement__dismiss.mat-mdc-icon-button {
  position: absolute;
  right: 16px;
  top: 0;
}
