<h5 i18n>Choose a location for the imported steps</h5>
<div style="margin-top: 20px; margin-left: 20px">
  <div *ngFor="let nodeId of nodeIds" class="project-item">
    <div
      id="{{ nodeId }}"
      [ngClass]="{
        groupHeader: isGroupNode(nodeId),
        stepHeader: !isGroupNode(nodeId),
        branchPathStepHeader: isNodeInAnyBranchPath(nodeId) && !isGroupNode(nodeId)
      }"
    >
      <div fxLayout="row" fxLayoutGap="8px" class="projectItemTitleDiv">
        <div fxLayout="row" fxLayoutAlign="start center">
          <node-icon-and-title [nodeId]="nodeId" [showPosition]="true"></node-icon-and-title>
        </div>
        <insert-node-inside-button
          *ngIf="isGroupNode(nodeId)"
          (insertEvent)="insert(nodeId, false)"
        ></insert-node-inside-button>
        <insert-node-after-button
          *ngIf="!isGroupNode(nodeId)"
          (insertEvent)="insert(nodeId, true)"
        ></insert-node-after-button>
      </div>
    </div>
  </div>
</div>
<hr />
<button mat-button color="primary" routerLink="../.." aria-label="Cancel" i18n>Cancel</button>
