<h5 i18n>Choose a location for the imported steps.</h5>
<div *ngFor="let nodeId of nodeIds" class="project-item">
  <div
    id="{{ nodeId }}"
    [ngClass]="{
      'step-header': !isGroupNode(nodeId),
      'branch-path-step-header': isNodeInAnyBranchPath(nodeId) && !isGroupNode(nodeId)
    }"
  >
    <div fxLayout="row" fxLayoutGap="8px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
        <node-icon [nodeId]="nodeId" size="18"></node-icon>&nbsp;
        <span> {{ getNodePositionById(nodeId) }}: {{ getNodeTitle(nodeId) }} </span>
      </div>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isGroupNode(nodeId)"
        matTooltip="Insert As First Step"
        i18n-matTooltip
        matTooltipPosition="above"
        (click)="importSelectedNodes(nodeId); $event.stopPropagation()"
      >
        <mat-icon>call_received</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!isGroupNode(nodeId)"
        matTooltip="Insert After"
        i18n-matTooltip
        matTooltipPosition="above"
        (click)="importSelectedNodes(nodeId); $event.stopPropagation()"
      >
        <mat-icon>subdirectory_arrow_left</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="nav-controls">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="primary" routerLink="../../.." i18n>Cancel</button>
  </div>
</div>
