*~
*.class
*.DS_Store
build
coverage
.classpath
.factoryPath
.vscode
.m2
.npm
.v8flags*
.sts4-cache/*
node_modules
target
dist
*.bak
.idea
!.idea/compiler.xml
wise.iml
*.sass-cache
npm-debug.log
hsqldb
hsqldb_test
.classpath
tokens/
