<div class="dialog-header">
  <h1 mat-dialog-title i18n>More News</h1>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider />
<mat-dialog-content>
  <cdk-accordion class="news-accordion">
    @for (topic of data.topics; track topic.id) {
      <cdk-accordion-item #accordionItem="cdkAccordionItem" class="news-item">
        <button
          class="news-item-header {{ topic.news ? 'has-news' : '' }}"
          (click)="accordionItem.toggle()"
          tabindex="0"
          [attr.id]="'news-item-header-' + topic.id"
        >
          {{ topic.title }}
          @if (topic.news) {
            <span class="news-item-toggle">
              @if (accordionItem.expanded) {
                <mat-icon>remove</mat-icon>
              } @else {
                <mat-icon>add</mat-icon>
              }
            </span>
          }
        </button>

        @if (topic.news && accordionItem.expanded) {
          <div
            class="news-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'news-item-body-' + topic.id"
          >
            {{ topic.news }}
          </div>
        }
      </cdk-accordion-item>
    }
  </cdk-accordion>
</mat-dialog-content>
