.feedback-on-submit-label {
  margin-right: 10px;
}

.feedback-row {
  margin-bottom: 10px;
}

.feedback-input {
  margin-right: 20px;
  width: 70%;
}

.feedback-button {
  margin-right: 10px;
}

.mat-icon {
  margin: 0px;
}
