<header class="content__header flex flex-row">
  <h1 class="accent flex items-center justify-center mat-headline-4">
    <mat-icon>edit</mat-icon><span i18n>Edit Profile</span>
  </h1>
</header>

<section>
  <mat-tab-group mat-stretch-tabs="false">
    <mat-tab i18n-label label="Account Info">
      <div class="section__tab">
        <teacher-edit-profile />
      </div>
    </mat-tab>
    <mat-tab i18n-label label="Password">
      <div class="section__tab">
        <app-edit-password />
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
