.component--grading {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
        > div {
            border-bottom: 1px solid color('gray-light');
        }
    }

    .component__wrapper {
        padding: 0;
        margin: 0;
    }

    .component__content {
        padding: 16px;
        margin: 0;
    }
}

.component--grading__response__content {
    white-space: pre-wrap;
}

.component--grading__annotations {
    background-color: color('selected-bg');
}

.component--grading__annotations__divider {
    padding: 4px;
    background-color: #ffffff;
}

.component--grading__actions__info {
    margin: 16px 0 0;
    padding-top: 8px;
    border-top: 1px solid color('gray-lighter');
}
