.help-bubble {
    border-radius: $card-border-radius;
    max-width: 320px;

    @media (min-width: $layout-breakpoint-xs) {
        max-width: ($layout-breakpoint-xs - 48);
    }

    @media (min-width: $layout-breakpoint-sm) {
        max-width: ($layout-breakpoint-sm - 48);
    }

    @media (min-width: $layout-breakpoint-md) {
        max-width: ($layout-breakpoint-md - 48);
    }
}

.help-bubble__title {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
}

.help-bubble___title__content {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    padding: 0px 0 0 12px;
    background-color: color('info');

    .md-icon-button {
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.help-bubble__content {
    overflow: auto;
    padding: 8px 12px;
    max-height: 480px;
}

.help-bubble__actions {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
}
