// Variables
$notebook-sidebar-width: 480px;
$report-position-right: 96px;
$report-full-gap: 8px;

// Base
notebook-launcher {
  position: absolute;
  bottom: 24px;
  right: 28px;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    &.md-button.md-fab {
      z-index: 61;
    }
  }
}

notebook-report {
  position: absolute;
  bottom: 0;
  right: $report-position-right;
  transition: right 250ms;
  z-index: 3;

  &.report-full {
    left: $report-full-gap;
    right: $report-full-gap;
    top: $report-full-gap;
    bottom: $report-full-gap
  }
  
  @media only screen and (min-width: $layout-breakpoint-sm) {
    &.notes-visible {
      right: $notebook-sidebar-width + 12;
    }
  }
}

.notebook-sidebar {
  width: $notebook-sidebar-width - 180;  
  max-width: none;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    width: $notebook-sidebar-width;
  }
}

@media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
  .notebook-enabled {
    .md-fab-bottom-right, .md-fab-bottom-left {
      bottom: ($wise-toolbar-height + 8) !important;
    }
  }
}
