<div class="recording-div flex flex-wrap flex-row justify-start items-center gap-4">
  @if (recording) {
    <button
      mat-button
      color="primary"
      (click)="stopRecording($event, componentId, isDisabled)"
      [disabled]="isDisabled"
    >
      <mat-icon>stop</mat-icon>
      <span i18n>Stop Recording</span>
    </button>
    <span class="text-secondary" i18n> Recording Time Left: {{ getTimeRemaining() }} </span>
  } @else {
    <button
      mat-button
      color="primary"
      (click)="startRecording($event, componentId, isDisabled)"
      [disabled]="isDisabled"
    >
      <mat-icon>mic</mat-icon>
      <span i18n>Record Response</span>
    </button>
  }
  @for (attachment of audioAttachments; track attachment) {
    <div class="flex flex-row justify-start items-center">
      <div class="flex flex-row justify-start items-center">
        <audio controls>
          <source [src]="sanitizeUrl(attachment.url)" type="audio/webm" />
        </audio>
        <button
          mat-icon-button
          color="primary"
          (click)="removeAudioAttachment(attachment)"
          aria-label="Delete Recording"
          i18n-aria-label
          [disabled]="isDisabled"
          matTooltip="Delete Recording"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
