<div class="openResponse">
  @if (!componentContent.showPreviousWork) {
    <div>
      <div class="flex flex-row justify-end mb-2">
        <mat-form-field appearance="outline" class="w-48">
          <mat-label i18n>Background color</mat-label>
          <input
            matInput
            placeholder="#RRGGBB"
            [(ngModel)]="componentContent.backgroundColor"
            (ngModelChange)="componentChanged()"
          />
        </mat-form-field>
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <div>
          <label class="text-sm text-gray-600 mb-1 block" i18n>Context</label>
          <wise-authoring-tinymce-editor
            [(model)]="componentContent.context"
            (modelChange)="componentChanged()"
          />
        </div>
      </div>
    </div>
  }
</div>
