<div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="start center">
  <button
    mat-raised-button
    color="primary"
    class="topButton"
    matTooltip="Show Rubric"
    matTooltipPosition="above"
    i18n-matTooltip
    (click)="toggleRubric()"
  >
    <mat-icon>message</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    id="showProjectJSONButton"
    class="topButton"
    matTooltip="Show JSON"
    matTooltipPosition="above"
    i18n-matTooltip
    (click)="toggleJSON()"
  >
    <mat-icon>code</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    class="topButton"
    matTooltip="Download Unit"
    matTooltipPosition="above"
    i18n-matTooltip
    (click)="downloadProject()"
  >
    <mat-icon>file_download</mat-icon>
  </button>
</div>
<br />
<div *ngIf="rubricDisplayed" class="rubric-div">
  <rubric-authoring></rubric-authoring>
</div>
<div *ngIf="jsonDisplayed">
  <mat-form-field fxFlex appearance="outline">
    <mat-label i18n>Edit Unit JSON</mat-label>
    <textarea
      class="mat-body-2"
      matInput
      cdkTextareaAutosize
      [(ngModel)]="projectJSONString"
      (change)="autoSaveProjectJSONString()"
    ></textarea>
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="start center">
  <mat-form-field style="width: 400px; max-width: 100%">
    <mat-label i18n>Script Filename</mat-label>
    <input matInput [(ngModel)]="projectScriptFilename" (change)="projectScriptFilenameChanged()" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="topButton"
    matTooltip="Choose"
    matTooltipPosition="above"
    i18n-matTooltip
    (click)="chooseProjectScriptFile()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>
<div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="start center">
  <mat-form-field style="width: 400px; max-width: 100%">
    <mat-label i18n>Unit URL</mat-label>
    <input matInput value="{{ getProjectURL() }}" disabled="true" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="topButton"
    matTooltip="Copy Unit URL to Clipboard"
    matTooltipPosition="above"
    i18n-matTooltip
    (click)="copyProjectURL()"
  >
    <mat-icon>content_paste</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    class="topButton"
    matTooltip="Open Unit URL in New Tab"
    matTooltipPosition="above"
    i18n-matTooltip
    (click)="openProjectURLInNewTab()"
  >
    <mat-icon>open_in_new</mat-icon>
  </button>
</div>
