<mat-card appearance="outlined" class="summary-card">
  <mat-card-content>
    @if (hasWarning) {
      <p class="warn center">{{ warningMessage }}</p>
    }
    @if (doRender) {
      <div class="wrapper">
        <div class="idea-group" id="most-common-ideas">
          <h2>Most Common Ideas Detected:</h2>
          @for (idea of mostCommonIdeas; track idea.id) {
            <h3>{{ idea.text }} (<mat-icon>person</mat-icon>{{ idea.count }})</h3>
          }
        </div>
        <div class="idea-group" id="least-common-ideas">
          <h2>Least Common Ideas Detected:</h2>
          @for (idea of leastCommonIdeas; track idea.id) {
            <h3>{{ idea.text }} (<mat-icon>person</mat-icon>{{ idea.count }})</h3>
          }
        </div>
      </div>
      <div class="idea-group" id="all-ideas">
        @if (seeAllIdeas) {
          <h2>All Ideas:</h2>
          @for (idea of allIdeas; track idea.id) {
            <h3>{{ idea.text }} (<mat-icon>person</mat-icon>{{ idea.count }})</h3>
          }
          <a (mouseup)="toggleSeeAllIdeas()">Hide all ideas</a>
        } @else {
          <a (mouseup)="toggleSeeAllIdeas()">Show all ideas</a>
        }
      </div>
    } @else {
      <h2>Your students' ideas will show up here as they are detected in the dialog.</h2>
    }
  </mat-card-content>
</mat-card>
