<ng-template #ideaTemplate let-idea="idea">
  <div class="idea">
    <b>{{ idea.id }}.</b> {{ idea.text }} (<mat-icon class="mat-18">person</mat-icon
    >{{ idea.count }})
  </div>
</ng-template>

<mat-card appearance="outlined">
  <mat-card-content>
    <h2 class="mat-subhead-1" i18n>Student Ideas Detected</h2>
    @if (hasWarning) {
      <p class="warn center">{{ warningMessage }}</p>
    }
    @if (doRender) {
      <div class="grid md:grid-cols-2 gap-4 mb-4 max-w-4xl">
        <div>
          <h3 i18n>Most Common:</h3>
          <ul id="most-common-ideas">
            @for (idea of mostCommonIdeas; track idea.id) {
              <li>
                <ng-container
                  [ngTemplateOutlet]="ideaTemplate"
                  [ngTemplateOutletContext]="{ idea: idea }"
                />
              </li>
            }
          </ul>
        </div>
        <div>
          <h3 i18n>Least Common:</h3>
          <ul id="least-common-ideas">
            @for (idea of leastCommonIdeas; track idea.id) {
              <li>
                <ng-container
                  [ngTemplateOutlet]="ideaTemplate"
                  [ngTemplateOutletContext]="{ idea: idea }"
                />
              </li>
            }
          </ul>
        </div>
      </div>
      @if (seeAllIdeas) {
        <h3 i18n>All Ideas:</h3>
        <ul class="md:columns-2 lg:columns-3 mb-2">
          @for (idea of allIdeas; track idea.id) {
            <li>
              <ng-container
                [ngTemplateOutlet]="ideaTemplate"
                [ngTemplateOutletContext]="{ idea: idea }"
              />
            </li>
          }
        </ul>
        <a href="#" (click)="toggleSeeAllIdeas($event)" i18n>Hide all ideas</a>
      } @else {
        <a href="#" (click)="toggleSeeAllIdeas($event)" i18n>Show all ideas</a>
      }
    } @else {
      <div class="notice" i18n>
        Your students' ideas will show up here as they are detected in the dialog.
      </div>
    }
  </mat-card-content>
</mat-card>
