<h2 class="standalone__title accent" i18n>Forgot Username or Password</h2>
<div class="standalone__content forgot flex flex-col items-center justify-center sm:flex-row">
  <app-call-to-action
    class="flex-1 w-full"
    icon="supervised_user_circle"
    iconColor="accent"
    i18n-headline
    headline="Student"
    i18n-content
    content="Look up username or reset password for a student account"
    destination="student"
  />
  <app-call-to-action
    class="flex-1 w-full"
    icon="school"
    iconColor="accent"
    i18n-headline
    headline="Teacher"
    i18n-content
    content="Look up username or reset password for a teacher account"
    destination="teacher"
  />
</div>
