mat-dialog-container.mat-dialog-container {
  max-width: 100%;
  padding: 16px;

  .mat-dialog-content {
    margin: 0 -16px;
    padding: 0 16px;
    font-size: mat-font-size($config, body-1);
  }

  .dialog-content-scroll {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.dialog-sm {
  width: breakpoint('sm.min');
}

.dialog-md {
  width: breakpoint('md.min');
}

.dialog-lg {
  width: breakpoint('lg.min');
}

.dialog-xl {
  width: breakpoint('xl.min');
}

.cdk-overlay-pane {
  max-width: 90vw !important;
  
  @media (max-width: breakpoint('xs.max')) {
    max-width: 95vw !important;
  }
}
