@use '@angular/material' as mat;
@use 'style/base/typography';
@use 'style/abstracts/variables';

.info-block {
  border-radius: variables.$card-border-radius;
  padding: 12px;
  font-size: mat.m2-font-size(typography.$wise-typography, 'caption');

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
