@use '@angular/material' as mat;
@use 'style/base/typography';
@use 'style/abstracts/variables';

.notice {
  text-align: center;
  padding: 0.725em;
  margin: 24px auto;
  border-radius: variables.$card-border-radius;
  font-size: mat.m2-font-size(typography.$wise-typography, 'caption');

  @media (min-width: breakpoint('sm.min')) {
    max-width: 80%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.notice--inline {
  margin: 0;
  max-width: none;
}
