<div class="student-run-list">
  @if (!runs.length && loaded) {
    <div class="notice">
      <p i18n>Hey there! Looks like you don't have any WISE units yet.</p>
      <p i18n>
        Ask your teacher for an <b>Access Code</b> and then tap the <b>Add Unit</b> button to get
        started.
      </p>
    </div>
  }
  @if (runs.length) {
    <div class="content-block">
      <div class="content-block__header controls dark-theme primary-bg flex">
        <app-search-bar
          class="w-full sm:w-auto"
          [placeholderText]="'Search'"
          [value]="search"
          (update)="searchUpdated($event)"
        />
      </div>
      @if (loaded) {
        <div id="unitCount" class="notice">
          <p>
            @if (search) {
              <span i18n>Units found: {{ filteredRuns.length }}</span>
            } @else {
              <span i18n>My WISE units: {{ filteredRuns.length }}</span>
            }
            @if (filteredRuns.length) {
              <span class="mat-caption">
                @if (getRunTotal('isScheduled')) {
                  (<span i18n>{{ getRunTotal('isScheduled') }} scheduled</span>,
                  <span i18n>{{ getRunTotal('isActive') }} active</span>)
                } @else {
                  (<span i18n>{{ getRunTotal('isActive') }} active</span>)
                }
              </span>
            }
            @if (search) {
              |
              <a [routerLink]="" (click)="reset()" (keyup.enter)="reset()" tabindex="0" i18n
                >Clear search</a
              >
            }
          </p>
        </div>
      }
      <app-timeline>
        @for (run of filteredRuns.sort(sortByStartTimeDesc); track run; let i = $index) {
          @if (i < 10 || showAll) {
            <app-timeline-item [active]="isRunActive(run)" id="run{{ run.id }}">
              <app-timeline-item-label>
                <strong>{{ run.startTime | date: 'mediumDate' }}</strong>
                @if (run.endTime && runSpansDays(run)) {
                  - <strong>{{ run.endTime | date: 'mediumDate' }}</strong>
                }
              </app-timeline-item-label>
              <app-timeline-item-content>
                <app-student-run-list-item [run]="run" />
              </app-timeline-item-content>
            </app-timeline-item>
          }
        }
      </app-timeline>
      @if (filteredRuns.length > 10 && !showAll) {
        <div class="content-block__actions">
          <a mat-raised-button color="accent" (click)="showAll = true" i18n>Show More</a>
        </div>
      }
    </div>
  }
</div>
