<mat-card appearance="outlined" class="class-response">
  <div class="p-2 w-full">
    <div class="flex flex-row items-center gap-2">
      <mat-icon
        class="mat-48"
        style="color: {{ getAvatarColorForWorkgroupId(response.workgroupId) }};"
      >
        account_circle
      </mat-icon>
      <div>
        <div class="strong">{{ response.usernames }}</div>
        <div class="mat-caption secondary-text">
          <save-time-message
            [saveTime]="adjustClientSaveTime(response.serverSaveTime)"
            [timeOnly]="true"
            tooltipPosition="after"
          />
        </div>
      </div>
    </div>
    <div class="post" [innerHTML]="response.studentData.responseTextHTML"></div>
    @for (attachment of response.studentData.attachments; track attachment) {
      <img [src]="attachment.iconURL" i18n-alt alt="Post attachment" class="attachment" />
    }
    <div class="flex justify-end items-center">
      <br />
      @if (
        response.latestInappropriateFlagAnnotation == null ||
        response.latestInappropriateFlagAnnotation.data == null ||
        response.latestInappropriateFlagAnnotation.data.action != 'Delete'
      ) {
        <button
          mat-stroked-button
          color="warn"
          (click)="delete(response)"
          matTooltip="Delete this post so students will not see it"
          matTooltipPosition="above"
          i18n-matTooltip
          i18n
        >
          Delete
        </button>
      }
      @if (
        response.latestInappropriateFlagAnnotation != null &&
        response.latestInappropriateFlagAnnotation.data.action === 'Delete'
      ) {
        <button
          mat-stroked-button
          color="warn"
          (click)="undoDelete(response)"
          matTooltip="Make this post viewable to students"
          matTooltipPosition="above"
          i18n-matTooltip
          i18n
        >
          Undo Delete
        </button>
      }
    </div>
  </div>
  @if (response.replies.length > 0) {
    <div class="notice-bg-bg">
      @if (mode === 'student' || response.replies.length > 0) {
        <mat-divider class="comment-divider" />
      }
      <div class="comments-header" matSubheader>
        @if (response.replies.length === 1) {
          <span i18n> Comments ({{ response.replies.length }}) </span>
        }
        @if (response.replies.length > 1) {
          <a [routerLink]="" (click)="toggleExpanded()" class="flex items-center">
            <span i18n>Comments ({{ response.replies.length }})</span>
            <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
          </a>
        }
      </div>
      <div class="comments">
        @for (reply of repliesToShow; track reply) {
          <div class="comment" [ngClass]="{ 'animate-show': !isLast }">
            <div class="flex flex-row items-center gap-2">
              <mat-icon
                matListAvatar
                class="mat-40"
                style="color: {{ getAvatarColorForWorkgroupId(reply.workgroupId) }}"
              >
                account_circle
              </mat-icon>
              <div class="flex flex-wrap gap-2 items-center">
                <span class="strong">{{ reply.usernames }}</span>
                <save-time-message
                  [saveTime]="adjustClientSaveTime(reply.serverSaveTime)"
                  [timeOnly]="true"
                  tooltipPosition="after"
                />
              </div>
            </div>
            <div class="pt-1" [innerHTML]="reply.studentData.responseHTML"></div>
            <div class="flex justify-end items-center">
              @if (
                (response.latestInappropriateFlagAnnotation == null ||
                  response.latestInappropriateFlagAnnotation.data.action !== 'Delete') &&
                (reply.latestInappropriateFlagAnnotation == null ||
                  reply.latestInappropriateFlagAnnotation.data.action != 'Delete')
              ) {
                <button
                  mat-stroked-button
                  color="warn"
                  (click)="delete(reply)"
                  i18n-matTooltip
                  matTooltip="Delete this post so students will not see it"
                  matTooltipPosition="above"
                  i18n
                >
                  Delete
                </button>
              }
              @if (
                response.latestInappropriateFlagAnnotation != null &&
                response.latestInappropriateFlagAnnotation.data.action === 'Delete'
              ) {
                <span
                  color="warn"
                  i18n-matTooltip
                  matTooltip="Students will not see this post"
                  matTooltipPosition="above"
                  i18n
                >
                  Parent Deleted
                </span>
              }
              @if (
                reply.latestInappropriateFlagAnnotation != null &&
                reply.latestInappropriateFlagAnnotation.data.action === 'Delete'
              ) {
                <button
                  mat-stroked-button
                  color="warn"
                  (click)="undoDelete(reply)"
                  i18n-matTooltip
                  matTooltip="Make this post viewable to students"
                  matTooltipPosition="above"
                  i18n
                >
                  Undo Delete
                </button>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
</mat-card>
