<div ng-controller='EmbeddedController as embeddedController' style='display: flex'>
  <div class='embedded-content' flex>
    <script>
      var embeddedController = embeddedController;
    </script>
    <div>
      <div style='text-align: center'>
        <md-button class='md-accent md-primary'
              ng-click='embeddedController.snipModel($event)'
              ng-if='::embeddedController.isAddToNotebookEnabled()'
              ng-disabled='embeddedController.isDisabled'>
          <md-icon> note_add </md-icon>  {{ ::'ADD_TO_NOTEBOOK' | translate:{label:embeddedController.notebookConfig.label} }}
        </md-button>
        <br/>
        <div style='width: {{::embeddedController.width}}; height: {{::embeddedController.height}};'>
          <iframe ng-attr-id='{{embeddedController.embeddedApplicationIFrameId}}'
              ng-src='{{embeddedController.url}}'
              ng-onload='embeddedController.iframeLoaded(contentLocation)'
              class='embedded-content__iframe'
              style='width: 100%; height: 100%;'>
          </iframe>
        </div>
      </div>
      <div ng-if='::embeddedController.isSaveOrSubmitButtonVisible()'
         class='component__actions' layout='row' layout-align='start center'>
        <md-button class='md-raised md-primary'
               ng-class='{"md-raised": !embeddedController.isSubmitButtonVisible}'
               ng-click='embeddedController.saveButtonClicked()'
               ng-disabled='embeddedController.isDisabled || !embeddedController.isDirty'
               ng-if='::embeddedController.isSaveButtonVisible'
               aria-label='Save'
               translate='SAVE'></md-button>
        <md-button class='md-raised md-primary'
               ng-click='embeddedController.submitButtonClicked()'
               ng-disabled='embeddedController.isDisabled || !embeddedController.isSubmitDirty'
               ng-if='::embeddedController.isSubmitButtonVisible'
               aria-label='Submit'
               translate='SUBMIT'></md-button>
        <span ng-if='embeddedController.saveMessage.text'
            class='component__actions__info md-caption'>
            {{embeddedController.saveMessage.text}} <span class='component__actions__more'><md-tooltip md-direction='top'>{{ embeddedController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago='embeddedController.saveMessage.time'></span></span>
        </span>
      </div>
      <component-annotations
          [annotations]='embeddedController.latestAnnotations'
          [max-score]='embeddedController.componentContent.maxScore'
          [node-id]='embeddedController.nodeId'
          [component-id]='embeddedController.componentId'>
      </component-annotations>
    </div>
  </div>
</div>
