.colorChoice {
  cursor: pointer;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.fontNameChoice {
  background-color: gray;
  cursor: pointer;
}

.kiChoice {
  cursor: pointer;
  display: inline;
}

.mat-icon {
  color: #ffffff;
}
