.toggle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.notebook-div {
  margin-left: 40px;
}

.notebook-child-div {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
}

.textarea {
  width: 100%;
}

.notebook-input {
  width: 240px;
}
