<div class="flex flex-row items-center space-x-2">
  <mat-form-field class="form-field-no-label form-field-no-hint flex-1" appearance="fill">
    <textarea
      matInput
      cdkTextareaAutosize
      placeholder="Add response..."
      i18n-placeholder
      [(ngModel)]="response"
      (keypress)="keyPressed($event)"
      (focus)="focusEvent.emit()"
    ></textarea>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="response.length === 0 || submitDisabled"
    i18n
  >
    Send
  </button>
</div>
