
.notebook-workgroup-grading {
  .mat-mdc-button {
    text-transform: none;
  }

  .grading__item-container {
    height: auto;
  }

  .list-item {
    height: auto;
  }

  .row-button {
    min-height: 56px;
    border-radius: 0;
  }

  .list-item__subheader-button {
    padding: 8px 0;
  }

  .report-grading {
    right: 0;
    display: block;
    position: relative;
    margin: 16px;
  }

  .mat-headline-6 {
    margin: 0;
  }

  .mdc-button__label {
    width: 100%;
  }
}
