.mat-list-item-content {
  margin-bottom: 16px;
}

.grading__item-container {
  height: auto;
}

.list-item {
  height: auto;
}

.row-button {
  height: 60px;
  border-radius: 0;
}

.list-item__subheader-button {
  padding: 8px 0;
}

.report-grading {
  right: 0;
  display: block;
  position: relative;
  margin: 16px;
}

.mat-title {
  margin: 0;
}
