<div class="content-block">
  <div class="content-block__title flex justify-between items-center gap-4">
    <h3 class="flex justify-start items-start gap-2">
      <mat-icon>groups</mat-icon>
      <span i18n>Latest from the WISE Community</span>
    </h3>
    <a
      mat-icon-button
      color="primary"
      href="{{ baseUrl }}/session/sso"
      target="_blank"
      i18n-aria-label
      aria-label="Visit the WISE Community"
    >
      <mat-icon>launch</mat-icon>
    </a>
  </div>
  <ul>
    @for (topic of topics; track topic) {
      <li>
        <a
          class="mat-body-2"
          href="{{ baseUrl }}/t/{{ topic.slug }}/{{ topic.id }}"
          target="_blank"
        >
          {{ topic.title }}
        </a>
        <span class="secondary-text mat-caption">
          ({{ topic.last_posted_at | date: 'MMM dd y' }})
        </span>
      </li>
    }
  </ul>
</div>
