<div class="flex justify-center items-center gap-1">
  <button
    mat-icon-button
    [disabled]="!prevWorkgroup"
    (click)="goToTeam(prevWorkgroup)"
    matTooltip="Previous Team"
    matTooltipPosition="below"
    i18n-matTooltip
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <mat-icon class="mat-30 hidden sm:block" style="color: {{ avatarColor }};">
    account_circle
  </mat-icon>
  <workgroup-select-autocomplete />
  <button
    mat-icon-button
    [disabled]="!nextWorkgroup"
    (click)="goToTeam(nextWorkgroup)"
    matTooltip="Next Team"
    matTooltipPosition="below"
    i18n-matTooltip
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
