<div>
  <component-header [component]="component" />
  <div class="flex flex-row flex-wrap items-center gap-4">
    @if (animationState === 'stopped') {
      <button
        mat-raised-button
        color="primary"
        (click)="playButtonClicked()"
        [disabled]="isDisabled"
        matTooltip="Play"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    }
    @if (animationState === 'playing') {
      <button
        mat-raised-button
        color="primary"
        (click)="pauseButtonClicked()"
        [disabled]="isDisabled"
        matTooltip="Pause"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>pause</mat-icon>
      </button>
    }
    @if (animationState === 'paused') {
      <button
        mat-raised-button
        color="primary"
        (click)="resumeButtonClicked()"
        [disabled]="isDisabled"
        matTooltip="Resume"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    }
    <button
      mat-raised-button
      color="primary"
      (click)="resetButtonClicked()"
      [disabled]="isDisabled"
      matTooltip="Reset"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>replay</mat-icon>
    </button>
    <span class="flex flex-row items-center gap-2">
      <span i18n>Slower</span>
      <mat-slider
        [disabled]="isDisabled"
        (ngModelChange)="speedSliderChanged($event)"
        min="1"
        max="5"
        ><input matSliderThumb />
      </mat-slider>
      <span i18n>Faster</span>
    </span>
    @if (isStudentAttachmentEnabled) {
      <div class="component__actions flex flex-row flex-wrap">
        <div class="component__add-attachment">
          <button
            mat-raised-button
            color="primary"
            (click)="showStudentAssets()"
            [disabled]="isDisabled"
          >
            <mat-icon>image</mat-icon>
            <span i18n>Add File</span>
          </button>
        </div>
        @for (attachment of attachments; track attachment) {
          <div class="component__attachment">
            <img [src]="attachment.iconURL" class="component__attachment__content" />
            @if (!isDisabled) {
              <button
                mat-raised-button
                class="component__attachment__delete"
                (click)="removeAttachment(attachment)"
                title="Remove file"
                [disabled]="isDisabled"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            }
          </div>
        }
      </div>
    }
  </div>
  <svg
    [id]="svgId"
    [attr.width]="width"
    [attr.height]="height"
    [ngStyle]="{
      'background-image':
        componentContent.background != null ? 'url(' + componentContent.background + ')' : '',
      'background-repeat': 'no-repeat',
      border: '1px solid black',
      '-moz-user-select': 'none',
      '-webkit-user-select': 'none',
      '-ms-user-select': 'none',
      'user-select': 'none',
      '-o-user-select': 'none'
    }"
  ></svg>
  @if (isSaveOrSubmitButtonVisible) {
    <component-save-submit-buttons
      class="mt-3 block"
      [componentState]="latestComponentState"
      [isDirty]="isDirty"
      [isDisabled]="isDisabled"
      [isSaveButtonVisible]="isSaveButtonVisible"
      [isSubmitButtonDisabled]="isSubmitButtonDisabled"
      [isSubmitButtonVisible]="isSubmitButtonVisible"
      [isSubmitDirty]="isSubmitDirty"
      (saveButtonClicked)="saveButtonClicked($event)"
      (submitButtonClicked)="submitButtonClicked($event)"
    />
  }
  @if (mode === 'student') {
    <component-annotations
      [annotations]="latestAnnotations"
      [maxScore]="componentContent.maxScore"
      [nodeId]="nodeId"
      [componentId]="componentId"
    />
  }
</div>
