@reference "tailwindcss";

.discussion-content {
  @apply rounded-md;
}

.discussion-posts-wrap {
  @apply flex p-4 @container;
}

.discussion-posts {
  @apply w-full grid @2xl:grid-cols-2 gap-3;
}

.discussion-posts {
  grid-auto-rows: 1px;
  align-items: start;
}

@supports (grid-template-rows: masonry) {
  .discussion-posts {
    grid-template-rows: masonry;
  }
}

@supports (display: grid-lanes) {
  .discussion-posts {
    display: grid-lanes;
  }
}

.component__attachment {
  margin: 8px 0 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
