.discussion-content {
  padding: 16px;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.discussion-new__input-container {
  width: 100%;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    border-top: 0em;
  }
}

.mat-icon {
  margin: 0px !important;
}
