<h2 mat-dialog-title i18n>Create New Peer Grouping</h2>
<mat-dialog-content class="dialog-content-scroll">
  <div>
    <mat-form-field>
      <mat-label i18n>Grouping Name</mat-label>
      <input matInput [(ngModel)]="peerGrouping.name" />
    </mat-form-field>
  </div>
  <div fxLayoutGap="20px">
    <mat-form-field>
      <mat-label i18n>Logic</mat-label>
      <mat-select [(ngModel)]="logicType">
        <mat-option *ngFor="let logic of availableLogic" [value]="logic.value">
          {{ logic.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="logicType === 'differentIdeas' || logicType === 'differentKIScores'">
      <select-step-and-component
        [referenceComponent]="referenceComponent"
        [allowedComponentTypes]="allowedReferenceComponentTypes"
      >
      </select-step-and-component>
    </ng-container>
    <ng-container *ngIf="logicTypesWithModes.includes(logicType)">
      <mat-form-field>
        <mat-label i18n>Mode</mat-label>
        <mat-select [(ngModel)]="mode">
          <ng-container *ngFor="let mode of availableModes">
            <mat-option [value]="mode.value">
              {{ mode.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <!-- <div>
    <mat-form-field>
      <mat-label i18n>Completion Threshold</mat-label>
      <input matInput [(ngModel)]="peerGrouping.threshold" />
    </mat-form-field>
  </div> -->
  <div>
    <mat-form-field>
      <mat-label i18n>Teams Per Group</mat-label>
      <input matInput [(ngModel)]="peerGrouping.maxMembershipCount" type="number" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" i18n>Cancel</button>
  <button mat-flat-button color="primary" (click)="create()" i18n>Create</button>
</mat-dialog-actions>
