.avatar-button{
  height: auto;
  text-transform: none;
}

.avatar-image {
  width: 88px;
  height: auto;
  border-radius: 50%;
  padding: 8px 0;
}

.name {
  line-height: 1;
  padding-bottom: 8px;
}


.selected-avatar-image {
  width: 168px;
  height: auto;
  border-radius: 50%;
  padding: 8px 0;
}

.selected-avatar-name {
  line-height: 1;
  padding-bottom: 8px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
}

.pulse {
  animation: pulse 2s ease-in-out infinite;
}
