<mat-card appearance="outlined" class="mat-elevation-z2">
  <mat-card-content>
    @if (computerAvatarSettings.prompt) {
      <div class="mat-body-2" [innerHtml]="computerAvatarSettings.prompt"></div>
      <mat-divider />
    }
    @if (selectedAvatar == null) {
      <div class="mat-subtitle-2 accent" i18n>Choose Your {{ label }}:</div>
      <div class="flex flex-wrap mt-2">
        @for (avatar of avatars; track avatar.id) {
          <button
            class="avatar-button"
            matButton
            [value]="avatar"
            (click)="selectedAvatar = avatar"
            aria-label="{{ avatar.name }}"
          >
            <img [src]="avatarsPath + avatar.image" alt="{{ avatar.name }}" class="avatar-image" />
            <div class="name">
              <b>{{ avatar.name }}</b>
            </div>
          </button>
        }
      </div>
    } @else {
      <div class="mat-subtitle-2 accent" i18n>Your {{ label }}:</div>
      <span class="flex flex-col items-center">
        <img
          [src]="avatarsPath + selectedAvatar.image"
          alt="{{ selectedAvatar.name }}"
          class="selected-avatar-image"
        />
        <div class="selected-avatar-name">
          <b>{{ selectedAvatar.name }}</b>
        </div>
      </span>
    }
  </mat-card-content>
  @if (selectedAvatar != null) {
    <mat-card-actions class="flex justify-end">
      @if (avatars.length > 1) {
        <button mat-flat-button (click)="selectedAvatar = null" i18n>Back</button>
        <span class="flex-grow"></span>
      }
      <button
        mat-flat-button
        color="primary"
        class="motion-safe:animate-bounce"
        (click)="chooseAvatarEvent.emit(this.selectedAvatar)"
        i18n
      >
        Chat with {{ selectedAvatar.name }}
      </button>
    </mat-card-actions>
  }
</mat-card>
