@import 'style/abstracts/variables', 'style/abstracts/functions';

.mat-mdc-card {
  margin-top: 16px;
  max-width: breakpoint('sm.min');

  .mat-divider-horizontal {
    position: relative;
    margin: 12px 0;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-group {
  border: 0 none;
  margin-top: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-group-appearance-standard {
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle, .mat-button-toggle + .mat-button-toggle {
    border-left: 0 none;
    border-radius: $card-border-radius;
    margin: 4px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-disabled.mat-button-toggle-checked {
  background-color: transparent;
}

.avatar-image {
  width: 88px;
  height: auto;
  border-radius: 50%;
  padding: 8px 0;
}

.name {
  line-height: 1;
  padding-bottom: 8px;
}
