.no-oscillator-type-message {
  color: red;
}

.oscillator-types-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep .mat-checkbox-layout {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.number-input-small {
  width: 120px;
}

.number-input-medium {
  width: 150px;
}

.frequency-amplitude-container {
  border: 2px solid #dddddd;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 10px;
}