@reference "tailwindcss";

h3,
.mat-subtitle-1 {
  margin-bottom: 8px;
  margin-top: 0;
}

.choice {
  @apply p-2 mb-2 rounded-md;
}

.bucket {
  @apply flex gap-1 px-2 py-1 mt-1 rounded-md bg-white border border-neutral-200 text-sm items-center;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}