<ng-template #bucketTemplate let-bucket="bucket" let-first="first">
  <div class="bucket" [ngClass]="{ 'selected-bg-bg': first, 'notice-bg-bg': !first }">
    <h3 class="mat-body-2">
      {{ bucket.value }}
      @if (first) {
        (<span i18n>Source Bucket</span>)
      }
    </h3>
    <ul>
      @for (choice of bucket.choices; track $index) {
        @if ($index < 3 || getBucketShowMore(bucket.value) || first) {
          <li>
            <div class="choice">
              <div [innerHTML]="choice.getId()"></div>
              @if (!isChoiceReuseMatch || !first) {
                <div class="shrink-0">
                  (<mat-icon class="mat-18">person</mat-icon>{{ choice.getCount() }})
                </div>
              }
            </div>
          </li>
        }
      }
      @if (bucket.choices.length > 3 && !first) {
        <a href="#" class="text-sm px-1" (click)="toggleBucketShowMore(bucket.value, $event)">
          @if (getBucketShowMore(bucket.value)) {
            <span i18n>Show less</span>
          } @else {
            <span i18n>Show more</span>
          }
        </a>
      }
    </ul>
  </div>
</ng-template>

<h2 class="mat-subtitle-1" i18n>Choice Frequency</h2>
@if (bucketData.length > 0) {
  <p i18n>Number of teams that moved each item (choice) into the different buckets (categories).</p>
  <div class="columns-3xs gap-2">
    <ng-container
      [ngTemplateOutlet]="bucketTemplate"
      [ngTemplateOutletContext]="{ bucket: bucketData[0], first: true }"
    />
    @for (bucket of bucketData; track $index) {
      @if ($index > 0) {
        <div class="break-inside-avoid">
          <ng-container
            [ngTemplateOutlet]="bucketTemplate"
            [ngTemplateOutletContext]="{ bucket: bucket, first: false }"
          />
        </div>
      }
    }
  </div>
} @else {
  <div class="notice" i18n>
    Your students' choices will show up here when they complete the activity.
  </div>
}
