<div [ngSwitch]="component.content.type" class="component__wrapper">
  <animation-student *ngSwitchCase="'Animation'" [component]="component" mode="preview">
  </animation-student>
  <audio-oscillator-student *ngSwitchCase="'AudioOscillator'"
      [component]="component"
      mode="preview">
  </audio-oscillator-student>
  <concept-map-student *ngSwitchCase="'ConceptMap'"
      [component]="component"
      (starterStateChangedEvent)="updateStarterState($event)"
      mode="preview">
  </concept-map-student>
  <dialog-guidance-student *ngSwitchCase="'DialogGuidance'" [component]="component" mode="preview">
  </dialog-guidance-student>
  <discussion-student *ngSwitchCase="'Discussion'" [component]="component" mode="preview">
  </discussion-student>
  <draw-student *ngSwitchCase="'Draw'"
      [component]="component"
      (starterStateChangedEvent)="updateStarterState($event)"
      mode="preview">
  </draw-student>
  <embedded-student *ngSwitchCase="'Embedded'" [component]="component" mode="preview">
  </embedded-student>
  <graph-student *ngSwitchCase="'Graph'" [component]="component" mode="preview">
  </graph-student>
  <html-student *ngSwitchCase="'HTML'" [component]="component" mode="preview">
  </html-student>
  <label-student *ngSwitchCase="'Label'"
      [component]="component"
      (starterStateChangedEvent)="updateStarterState($event)"
      mode="preview">
  </label-student>
  <match-student *ngSwitchCase="'Match'" [component]="component" mode="preview">
  </match-student>
  <multiple-choice-student *ngSwitchCase="'MultipleChoice'" [component]="component" mode="preview">
  </multiple-choice-student>
  <open-response-student *ngSwitchCase="'OpenResponse'" [component]="component" mode="preview">
  </open-response-student>
  <outside-url-student *ngSwitchCase="'OutsideURL'" [component]="component" mode="preview">
  </outside-url-student>
  <peer-chat-student *ngSwitchCase="'PeerChat'" [component]="component" mode="preview">
  </peer-chat-student>
  <show-group-work-student *ngSwitchCase="'ShowGroupWork'" [component]="component" mode="preview">
  </show-group-work-student>
  <show-my-work-student *ngSwitchCase="'ShowMyWork'" [component]="component" mode="preview">
  </show-my-work-student>
  <summary-student *ngSwitchCase="'Summary'"
      [component]="component"
      [periodId]="periodId"
      mode="preview">
  </summary-student>
  <table-student *ngSwitchCase="'Table'" [component]="component" mode="preview">
  </table-student>
</div>
