<style>
  .bodyDiv {
    margin-left: 10px;
  }
  .criteriaContent {
    margin-left: 30px;
  }
</style>
<div ui-view></div>
<div ng-if="$ctrl.$state.current.name == 'root.at.project.node'">
<div style='background-color: white; position: sticky; top: 17px; z-index: 2;'>
  <div layout="row" layout-wrap>
    <md-button id='backToProjectButton' class='topButton md-raised md-primary'
        ng-click='$ctrl.close()'
        ng-disabled='$ctrl.insertComponentMode'>
      <md-icon>arrow_back</md-icon>
      <md-tooltip md-direction='top'
          class='projectButtonTooltip'
          ng-if='$ctrl.showStepButtons'>
        {{ ::'backToProjectView' | translate }}
      </md-tooltip>
      <md-tooltip md-direction='top'
          class='projectButtonTooltip'
          ng-if='!$ctrl.showStepButtons'>
        {{ ::'backToStepView' | translate }}
      </md-tooltip>
    </md-button>
    <md-button id='addComponentButton'
        ng-if='$ctrl.showStepButtons && !$ctrl.isGroupNode'
        class='topButton md-raised md-primary'
        ng-click='$ctrl.addComponent()'
        ng-disabled='$ctrl.getSelectedComponentIds().length != 0 || $ctrl.insertComponentMode'>
      <md-icon>add</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addNewComponent' | translate }}</md-tooltip>
    </md-button>
    <md-button id='importComponentButton'
        ng-if='$ctrl.showStepButtons && !$ctrl.isGroupNode'
        class='topButton md-raised md-primary'
        ng-click='$ctrl.importComponent()'
        ng-disabled='$ctrl.getSelectedComponentIds().length != 0 || $ctrl.insertComponentMode'>
      <md-icon>system_update_alt</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'importComponent' | translate }}</md-tooltip>
    </md-button>
    <md-button id='moveComponentButton'
        ng-if='$ctrl.showStepButtons && !$ctrl.isGroupNode'
        class='topButton md-raised md-primary'
        ng-click='$ctrl.moveButtonClicked()'
        ng-disabled='$ctrl.insertComponentMode'>
      <md-icon>redo</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'move' | translate }}</md-tooltip>
    </md-button>
    <md-button id='copyComponentButton'
        ng-if='$ctrl.showStepButtons && !$ctrl.isGroupNode'
        class='topButton md-raised md-primary'
        ng-click='$ctrl.copyButtonClicked()'
        ng-disabled='$ctrl.insertComponentMode'>
      <md-icon>content_copy</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'copy' | translate }}</md-tooltip>
    </md-button>
    <md-button id='deleteComponentButton'
        ng-if='$ctrl.showStepButtons && !$ctrl.isGroupNode'
        class='topButton md-raised md-primary'
        ng-click='$ctrl.deleteButtonClicked()'
        ng-disabled='$ctrl.insertComponentMode'>
      <md-icon>delete</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
    </md-button>
    <md-button id='editStepRubricButton' class='topButton md-raised md-primary'
        ng-click='$ctrl.editRubric()'
        ng-disabled='$ctrl.getSelectedComponentIds().length != 0 || $ctrl.insertComponentMode'
        ng-if='$ctrl.showStepButtons'>
      <md-icon>message</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'editStepRubric' | translate }}</md-tooltip>
    </md-button>
    <md-button id='stepAdvancedButton' class='topButton md-raised md-primary'
        ng-click='$ctrl.showAdvancedView()'
        ng-disabled='$ctrl.getSelectedComponentIds().length != 0 || $ctrl.insertComponentMode'
        ng-if='$ctrl.showStepButtons'>
      <md-icon>build</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'ADVANCED' | translate }}</md-tooltip>
    </md-button>
    <md-button id='stepUndoButton' class='topButton md-raised md-primary' ng-click='$ctrl.undo()'
        ng-if='!$ctrl.isGroupNode && $ctrl.showStepButtons'
        ng-disabled='$ctrl.getSelectedComponentIds().length != 0 || $ctrl.undoStack.length == 0 || $ctrl.insertComponentMode'>
      <md-icon>undo</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'undo' | translate }}</md-tooltip>
    </md-button>
    <span flex></span>
    <md-button id='stepPreviewButton' class='topButton md-raised md-primary' ng-click='$ctrl.previewStepInNewWindow()'
        ng-if='!$ctrl.isGroupNode'
        ng-disabled='$ctrl.showEditTransitions || $ctrl.insertComponentMode'>
      <md-icon>visibility</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'previewStep' | translate }}</md-tooltip>
    </md-button>
    <md-button id='stepPreviewWithouConstraintsButton' class='topButton md-raised md-primary' ng-click="$ctrl.previewStepWithoutConstraintsInNewWindow()"
        ng-if='!$ctrl.isGroupNode'
        ng-disabled='$ctrl.showEditTransitions || $ctrl.insertComponentMode'>
      <md-icon>visibility_off</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'previewStepWithoutConstraints' | translate }}</md-tooltip>
    </md-button>
  </div>
  <div ng-if='$ctrl.insertComponentMode' layout='row' style='margin-left: 10px; height:50px'>
    <div layout='row'>
      <h6 translate="chooseNewLocation"></h6>
    </div>
    <div layout='row'>
      <md-button class='createButton md-raised md-primary'
          ng-click='$ctrl.cancelInsertClicked()'
          aria-label="{{ ::'CANCEL' | translate }}"
          translate="CANCEL"></md-button>
    </div>
  </div>
</div>
<div ng-if='$ctrl.showComponents && !$ctrl.insertComponentMode' layout="row" layout-margin>
  <node-icon node-id="{{$ctrl.nodeId}}" can-edit="{{true}}" size="18"></node-icon>
  <div>
    <md-input-container style="margin-bottom: 0;">
      <label ng-if="!$ctrl.isGroupNode">{{ ::'stepTitle' | translate }} {{ $ctrl.nodePosition }}:</label>
      <label ng-if="$ctrl.isGroupNode">{{ ::'activityTitle' | translate }} {{ $ctrl.nodePosition }}:</label>
      <input ng-model='$ctrl.nodeJson.title'
          ng-change='$ctrl.authoringViewNodeChanged()'
          ng-model-options='{ debounce: 500 }'
          aria-label='{{ ::"title" | translate }}'
          size='60' />
    </md-input-container>
  </div>
</div>
<div style='margin-left: 45px;' ng-if='$ctrl.insertComponentMode'>
  <md-button class='moveComponentButton md-raised md-primary'
      ng-click='$ctrl.insertComponentAsFirst()'>
    <md-icon>keyboard_backspace</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'insertAsFirstComponent' | translate }}</md-tooltip>
  </md-button>
  <span style='font-weight:bold; margin-right:10px'>{{ ::'insertAsFirstComponent' | translate }}</span>
</div>
<div style='margin-left: 45px; margin-top: 45px; font-size: 1em; font-weight: bold;' ng-if='$ctrl.showComponents &&
   $ctrl.components.length === 0 && !$ctrl.insertComponentMode && !$ctrl.isGroupNode'>
   <em>{{ ::'stepHasNoComponents' | translate }}</em>
</div>
<div ng-repeat='component in $ctrl.components track by $index'
    class='component'
    style='padding: 0; margin: 0 16px;'
    ng-if='$ctrl.showComponents'>
  <div id='{{component.id}}' layout='row'>
    <div style='margin-top: 15px;'>
      <md-checkbox ng-model='$ctrl.componentsToChecked[component.id]'
          ng-disabled='$ctrl.insertComponentMode'
          class='md-primary'>
        <span style='font-weight:bold; margin-right:10px'>{{($index + 1)}}. {{$ctrl.getComponentTypeLabel(component.type)}}</span>
      </md-checkbox>
    </div>
    <div ng-if='!$ctrl.insertComponentMode && $ctrl.showComponentAuthoringViews'>
      <md-input-container style='margin-top: 0; margin-right: 20px; width: 150px; height: 40px;'>
        <md-button class='topButton md-raised md-primary'
            ng-click='$ctrl.showComponentAdvancedAuthoring(component)'>
          <md-icon>build</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'ADVANCED' | translate }}</md-tooltip>
        </md-button>
         <preview-component-button node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}' />
      </md-input-container>
    </div>
  </div>
  <div style='height: 30px; margin-top: 10px; margin-left: 30px;' ng-if='$ctrl.insertComponentMode'>
    <md-button class='moveComponentButton md-raised md-primary'
        style='margin-top: 0;'
        ng-click='$ctrl.insertComponentAfter(component.id)'>
      <md-icon>keyboard_backspace</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::"insertAfter" | translate }}</md-tooltip>
    </md-button>
  </div>
  <div ng-if="$ctrl.showComponentAuthoringViews">
    <ng-content ng-switch="::component.type">
      <animation-authoring ng-switch-when="Animation" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></animation-authoring>
      <audio-oscillator-authoring ng-switch-when="AudioOscillator" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></audio-oscillator-authoring>
      <concept-map-authoring ng-switch-when="ConceptMap" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></concept-map-authoring>
      <dialog-guidance-authoring ng-switch-when="DialogGuidance" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></dialog-guidance-authoring>
      <discussion-authoring ng-switch-when="Discussion" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></discussion-authoring>
      <draw-authoring ng-switch-when="Draw" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></draw-authoring>
      <embedded-authoring ng-switch-when="Embedded" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></embedded-authoring>
      <graph-authoring ng-switch-when="Graph" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></graph-authoring>
      <html-authoring ng-switch-when="HTML" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></html-authoring>
      <label-authoring ng-switch-when="Label" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></label-authoring>
      <match-authoring ng-switch-when="Match" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></match-authoring>
      <multiple-choice-authoring ng-switch-when="MultipleChoice" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></multiple-choice-authoring>
      <open-response-authoring ng-switch-when="OpenResponse" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></open-response-authoring>
      <outside-url-authoring ng-switch-when="OutsideURL" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></outside-url-authoring>
      <peer-chat-authoring ng-switch-when="PeerChat" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></peer-chat-authoring>
      <show-group-work-authoring ng-switch-when="ShowGroupWork" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></show-group-work-authoring>
      <show-my-work-authoring ng-switch-when="ShowMyWork" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></show-my-work-authoring>
      <summary-authoring ng-switch-when="Summary" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></summary-authoring>
      <table-authoring ng-switch-when="Table" node-id='{{$ctrl.nodeId}}' component-id='{{component.id}}'></table-authoring>
    </ng-content>
    <preview-component-button style="display: block; margin-top: 16px;"
        node-id="{{$ctrl.nodeId}}"
        component-id="{{component.id}}"/>
    <br/>
    <md-divider ng-if='!$last'></md-divider>
  </div>
</div>
</div>
