<div>
  <md-checkbox class='md-primary'
      ng-model='$ctrl.authoringComponentContent.showFeedback'
      ng-change='$ctrl.componentChanged()'>
    {{ 'SHOW_FEEDBACK' | translate }}
  </md-checkbox>
</div>
<edit-component-save-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-save-button>
<br/>
<edit-component-submit-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-submit-button>
<edit-component-max-submit
    ng-if="$ctrl.authoringComponentContent.showSubmitButton"
    [(max-submit-count)]="$ctrl.authoringComponentContent.maxSubmitCount"
    (max-submit-count-change)="$ctrl.maxSubmitCountChanged($event)">
</edit-component-max-submit>
<edit-component-default-feedback
    ng-if="$ctrl.authoringComponentContent.showSubmitButton"
    [authoring-component-content]="$ctrl.authoringComponentContent">
</edit-component-default-feedback>
<div layout="column" layout-align="start start">
  <edit-component-max-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-max-score>
  <edit-component-exclude-from-total-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-exclude-from-total-score>
  <edit-component-width [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-width>
  <edit-component-rubric [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-rubric>
  <edit-component-tags [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-tags>
</div>
<edit-multiple-choice-connected-components
    [node-id]="$ctrl.nodeId"
    [component-id]="$ctrl.componentId"
    [allowed-connected-component-types]="$ctrl.allowedConnectedComponentTypes"
    [component-content]="$ctrl.authoringComponentContent"
    [connected-components]="$ctrl.authoringComponentContent.connectedComponents"
    (connected-Components-Changed)="$ctrl.connectedComponentsChanged($event)">
</edit-multiple-choice-connected-components>
<edit-component-json [node-id]="$ctrl.nodeId" [component-id]="$ctrl.componentId"></edit-component-json>
