<div class="show-feedback-checkbox">
  <mat-checkbox
      color="primary"
      [(ngModel)]="authoringComponentContent.showFeedback"
      (ngModelChange)="componentChanged()"
      i18n>
    Show Feedback
  </mat-checkbox>
</div>
<edit-component-save-button [authoringComponentContent]="authoringComponentContent">
</edit-component-save-button>
<br/>
<edit-component-submit-button [authoringComponentContent]="authoringComponentContent">
</edit-component-submit-button>
<edit-component-max-submit
    *ngIf="authoringComponentContent.showSubmitButton"
    [(maxSubmitCount)]="authoringComponentContent.maxSubmitCount"
    (maxSubmitCountChange)="maxSubmitCountChanged($event)">
</edit-component-max-submit>
<edit-component-default-feedback
    [authoringComponentContent]="authoringComponentContent">
</edit-component-default-feedback>
<div fxLayout="column" fxLayoutAlign="start start">
  <edit-component-max-score [authoringComponentContent]="authoringComponentContent">
  </edit-component-max-score>
  <edit-component-exclude-from-total-score [authoringComponentContent]="authoringComponentContent">
  </edit-component-exclude-from-total-score>
  <edit-component-width [authoringComponentContent]="authoringComponentContent">
  </edit-component-width>
  <edit-component-rubric [authoringComponentContent]="authoringComponentContent">
  </edit-component-rubric>
  <edit-component-tags [authoringComponentContent]="authoringComponentContent">
  </edit-component-tags>
  <edit-component-peer-group-activity-tag [authoringComponentContent]="authoringComponentContent">
  </edit-component-peer-group-activity-tag>
</div>
<edit-multiple-choice-connected-components
    [nodeId]="nodeId"
    [componentId]="componentId"
    [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
    [componentContent]="authoringComponentContent"
    [connectedComponents]="authoringComponentContent.connectedComponents"
    (connectedComponentsChanged)="connectedComponentsChanged($event)">
</edit-multiple-choice-connected-components>
<edit-component-json [nodeId]="nodeId" [componentId]="componentId"></edit-component-json>
