<span fxLayout="row" fxLayoutAlign="start center">
  <label class="input-label md-no-float annotations--grading__score__label">
    @if (isAutoScore) {
      <span fxLayout fxLayoutGap="4px">
        <span i18n>Auto Score</span>
        @if (!disabled) {
          <span>(<a (click)="focusScoreInput()" i18n>Edit</a>)</span>
        }
        :
      </span>
    } @else {
      @if (disabled) {
        <span i18n>Teacher Score:</span>
      } @else {
        <span i18n>Item Score:</span>
      }
    }
  </label>
  <mat-form-field>
    <input
      #scoreInput
      matInput
      type="number"
      min="0"
      [ngModel]="score"
      [disabled]="disabled"
      (ngModelChange)="scoreChanged.next($event)"
    />
  </mat-form-field>
</span>
