.main-box {
  position: relative;
  padding: 16px !important;
}

.top-div {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding-top: 4px;
  padding-bottom: 4px;
}

.save-bar {
  margin-bottom: 20px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.warning-div {
  margin-bottom: 20px;
  color: red;
}

.potential-problems-div {
  color: red;
}

.potential-problems-header {
  text-decoration: underline;
  margin-bottom: 8px;
}

.bad-node {
  border: 1px solid red;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

.node-id {
  font-weight: bold;
}