<div layout="column" layout-align="start start">
  <edit-component-max-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-max-score>
  <edit-component-exclude-from-total-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-exclude-from-total-score>
  <edit-component-width [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-width>
  <edit-component-rubric [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-rubric>
  <edit-component-tags [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-tags>
</div>
<edit-connected-components
    [node-id]="$ctrl.nodeId"
    [component-id]="$ctrl.componentId"
    [allowed-connected-component-types]="$ctrl.allowedConnectedComponentTypes"
    [connected-components]="$ctrl.authoringComponentContent.connectedComponents"
    (connected-Components-Changed)="$ctrl.connectedComponentsChanged($event)">
</edit-connected-components>
<edit-component-json [node-id]="$ctrl.nodeId" [component-id]="$ctrl.componentId"></edit-component-json>
