<mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>&nbsp;<span i18n>General</span>
    </ng-template>
    <div class="flex flex-col">
      <edit-component-max-score [componentContent]="componentContent" />
      <edit-component-exclude-from-total-score [componentContent]="componentContent" />
      <edit-component-width [componentContent]="componentContent" />
    </div>
  </mat-tab>
  @if (aiEnabled) {
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>auto_awesome</mat-icon>&nbsp;<span i18n>AI</span>
      </ng-template>
      <edit-component-summarizer-system-prompt [componentContent]="component.content" />
    </mat-tab>
  }
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>visibility</mat-icon>&nbsp;<span i18n>Visibility</span>
    </ng-template>
    <edit-component-constraints [componentContent]="component.content" />
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>join_inner</mat-icon>&nbsp;<span i18n>Connections</span>
    </ng-template>
    <edit-discussion-connected-components
      [nodeId]="nodeId"
      [componentId]="componentId"
      [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
      [componentContent]="componentContent"
      [connectedComponents]="componentContent.connectedComponents"
      (connectedComponentsChanged)="connectedComponentsChanged($event)"
    />
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>message</mat-icon>&nbsp;<span i18n>Rubric</span>
    </ng-template>
    <ng-template matTabContent>
      <!-- lazy load needed for tinymce to work -->
      <edit-component-rubric [componentContent]="component.content" />
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon>sell</mat-icon>&nbsp;<span i18n>Tags</span></ng-template>
    <edit-component-tags [componentContent]="componentContent" />
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon>code</mat-icon>&nbsp;<span i18n>JSON</span></ng-template>
    <edit-component-json [component]="component" />
  </mat-tab>
</mat-tab-group>
