<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form
      role="form"
      fxLayout="column"
      (submit)="submit()"
      [formGroup]="answerSecurityQuestionFormGroup"
    >
      <h2 class="standalone__title accent" i18n>Answer Security Question</h2>
      <p *ngIf="message" class="warn">{{ message }}</p>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>{{ question }}</mat-label>
          <input
            matInput
            id="answer"
            name="answer"
            formControlName="answer"
            type="password"
            autofocus
            required
          />
          <mat-error
            *ngIf="answerSecurityQuestionFormGroup.controls['answer'].hasError('required')"
            i18n
            >Answer required</mat-error
          >
        </mat-form-field>
      </p>
      <p *ngIf="isRecaptchaEnabled" i18n>
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
      <p>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!answerSecurityQuestionFormGroup.valid || processing"
          type="submit"
          fxFlex
          class="button--progress"
        >
          <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
          <ng-container i18n>Submit</ng-container>
        </button>
      </p>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="center">
    <p>
      <a routerLink="/contact" i18n>Contact WISE</a>
    </p>
    <p>
      <a routerLink="/join" i18n>Create New Account</a>
    </p>
  </mat-card-content>
</mat-card>
