@use 'style/abstracts/functions';
@use 'style/abstracts/mixins';
@use 'style/abstracts/variables';

.header {
  padding: 0;
  position: relative;
}

.header__content {
  min-height: variables.$header-height;
  font-size: 14px;
  padding: 0 16px;
}

.header__logo {
  width: 200px;
  max-width: 248px;
  margin-top: 1.5%;

  @media (min-width: functions.breakpoint('sm.min')) {
    width: 36%;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
}

.mat-mdc-icon-button {
  @include mixins.mat-icon-button-size(36px);
}
