<div class="select-option flex space-between items-start">
  <mat-radio-button
    [checked]="selectedPeerGrouping != null && peerGrouping.tag === selectedPeerGrouping.tag"
    (click)="select()"
    color="primary"
  >
    <span class="mat-subtitle-2">{{ peerGrouping.name }}</span>
  </mat-radio-button>
  <span class="flex grow"></span>
  <button mat-stroked-button (click)="edit()" i18n>Edit</button>
</div>
<div class="flex flex-row space-between items-end">
  <div>
    <div>
      <span class="field-label" i18n>Steps Used In: </span>
      @for (stepUsedIn of stepsUsedIn; track stepUsedIn; let isLast = $last) {
        <span>
          {{ stepUsedIn }}
          @if (!isLast) {
            <span>, </span>
          }
        </span>
      }
      @if (stepsUsedIn.length === 0) {
        <span i18n>None</span>
      }
    </div>
    <div>
      <span class="field-label" i18n>Logic: </span><span>{{ peerGroupingLogicName }}</span>
    </div>
    <div>
      <span class="field-label" i18n>Teams Per Group: </span>
      <span>{{ peerGrouping.maxMembershipCount }}</span>
    </div>
  </div>
</div>
