<mat-card appearance="outlined" class="class-response">
  <div class="contents">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <div>
        <mat-icon
          class="md-48"
          style="color: {{ getAvatarColorForWorkgroupId(response.workgroupId) }};"
        >
          account_circle
        </mat-icon>
      </div>
      <div>
        <div class="mat-subtitle-2">{{ response.usernames }}</div>
        <div class="mat-caption secondary-text">
          <save-time-message
            [saveTime]="adjustClientSaveTime(response.serverSaveTime)"
            [timeOnly]="true"
            tooltipPosition="after"
          ></save-time-message>
        </div>
      </div>
    </div>
    <div class="post" [innerHTML]="response.studentData.responseTextHTML"></div>
    <img
      *ngFor="let attachment of response.studentData.attachments"
      [src]="attachment.iconURL"
      i18n-alt
      alt="Post attachment"
      class="attachment"
    />
    <div fxLayoutAlign="end center" *ngIf="mode === 'grading' || mode === 'gradingRevision'">
      <br />
      <button
        *ngIf="
          response.latestInappropriateFlagAnnotation == null ||
          response.latestInappropriateFlagAnnotation.data == null ||
          response.latestInappropriateFlagAnnotation.data.action != 'Delete'
        "
        mat-stroked-button
        color="warn"
        (click)="delete(response)"
        matTooltip="Delete this post so students will not see it"
        matTooltipPosition="above"
        i18n-matTooltip
        i18n
      >
        Delete
      </button>
      <button
        *ngIf="
          response.latestInappropriateFlagAnnotation != null &&
          response.latestInappropriateFlagAnnotation.data.action === 'Delete'
        "
        mat-stroked-button
        color="warn"
        (click)="undoDelete(response)"
        matTooltip="Make this post viewable to students"
        matTooltipPosition="above"
        i18n-matTooltip
        i18n
      >
        Undo Delete
      </button>
    </div>
  </div>
  <div class="notice-bg-bg" *ngIf="response.replies.length > 0">
    <mat-divider
      *ngIf="mode === 'student' || response.replies.length > 0"
      class="comment-divider"
    ></mat-divider>
    <div class="comments-header" matSubheader>
      <span *ngIf="response.replies.length === 1" i18n>
        Comments ({{ response.replies.length }})
      </span>
      <a
        *ngIf="response.replies.length > 1"
        [routerLink]=""
        (click)="toggleExpanded()"
        fxLayoutAlign="start center"
      >
        <span i18n>Comments ({{ response.replies.length }})</span>
        <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
    </div>
    <div class="comments">
      <div
        class="comment"
        [ngClass]="{ 'animate-show': !isLast }"
        *ngFor="let reply of repliesToShow"
      >
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
          <div>
            <mat-icon
              matListAvatar
              class="mat-40"
              style="color: {{ getAvatarColorForWorkgroupId(reply.workgroupId) }}"
            >
              account_circle
            </mat-icon>
          </div>
          <div fxLayoutGap="12px">
            <span class="mat-subtitle-2">{{ reply.usernames }}</span>
            <save-time-message
              [saveTime]="adjustClientSaveTime(reply.serverSaveTime)"
              [timeOnly]="true"
              tooltipPosition="after"
            ></save-time-message>
          </div>
        </div>
        <div [innerHTML]="reply.studentData.responseHTML"></div>
        <div *ngIf="mode === 'grading' || mode === 'gradingRevision'" fxLayoutAlign="end center">
          <button
            *ngIf="
              (response.latestInappropriateFlagAnnotation == null ||
                response.latestInappropriateFlagAnnotation.data.action !== 'Delete') &&
              (reply.latestInappropriateFlagAnnotation == null ||
                reply.latestInappropriateFlagAnnotation.data.action != 'Delete')
            "
            mat-stroked-button
            color="warn"
            (click)="delete(reply)"
            i18n-matTooltip
            matTooltip="Delete this post so students will not see it"
            matTooltipPosition="above"
            i18n
          >
            Delete
          </button>
          <span
            *ngIf="
              response.latestInappropriateFlagAnnotation != null &&
              response.latestInappropriateFlagAnnotation.data.action === 'Delete'
            "
            color="warn"
            i18n-matTooltip
            matTooltip="Students will not see this post"
            matTooltipPosition="above"
            i18n
          >
            Parent Deleted
          </span>
          <button
            *ngIf="
              reply.latestInappropriateFlagAnnotation != null &&
              reply.latestInappropriateFlagAnnotation.data.action === 'Delete'
            "
            mat-stroked-button
            color="warn"
            (click)="undoDelete(reply)"
            i18n-matTooltip
            matTooltip="Make this post viewable to students"
            matTooltipPosition="above"
            i18n
          >
            Undo Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="comment-divider"></mat-divider>
  <div
    class="new-reply"
    fxLayout="row"
    *ngIf="(mode === 'student' || mode === 'preview') && !isDisabled"
  >
    <textarea
      class="new-reply-input"
      [(ngModel)]="response.replyText"
      (keyup)="replyEntered($event)"
      placeholder="Add Comment"
      i18n-placeholder
      aria-label="Add Comment"
      i18n-aria-label
      cdkTextareaAutosize
      maxlength="10000"
    >
    </textarea>
  </div>
</mat-card>
