@import 'style/abstracts/variables', 'style/abstracts/functions';

.class-response {
  margin: 0 auto 16px;

  &.mat-mdc-card {
    padding: 0px;
  }

  .contents,
  .comments-header {
    padding: 16px;
  }

  .post {
    margin-top: 16px;
    overflow-wrap: break-word;
  }

  .attachment {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
  }

  .comment-divider {
    margin: 0px;
  }

  .comments {
    padding: 16px;
    max-height: 400px;
    overflow-y: auto;
  }

  .comment {
    padding-bottom: 16px;
    overflow-wrap: break-word;
  }

  .mat-mdc-list-base .mat-mdc-list-item {
    &.mat-2-line {
      height: auto;
      margin-bottom: 12px;
    }

    .mat-line {
      white-space: normal;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    .mat-list-item-content {
      align-items: flex-start;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    &.mat-list-item-with-avatar .mat-list-item-content .mat-list-text {
      padding-left: 8px;

      [dir=rtl] & {
        padding-right: 8px;
      }
    }
  }

  .new-reply {
    padding: 16px;
  }

  .new-reply-input {
    width: 100%;
    border: 0 none;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }
}
