<mat-form-field appearance="fill" class="workgroup-select-autocomplete">
  <input
    type="text"
    i18n-placeholder
    placeholder="Find a student"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (displayWith)="displayWith($event.option.value)"
    (optionSelected)="itemSelected($event.option.value)"
    (closed)="closed($event)"
  >
    <mat-option *ngFor="let workgroup of filteredWorkgroups | async" [value]="workgroup">
      {{ workgroup.displayNames }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
