@use '@angular/material' as mat;
@import
  'style/abstracts/variables',
  'style/abstracts/functions',
  'style/abstracts/mixins',
  'style/base/typography';

.workgroup-select-autocomplete {
  width: 100%;
  max-width: 100%;

  @media (min-width: breakpoint('md.min')) {
    width: 360px;
  }

  .mdc-line-ripple {
    &:before, &:after {
      display: none;
    }
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 28px;
  }

  .mat-mdc-form-field-flex {
    height: 36px;
  }

  .mat-mdc-select-value-text, .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: mat.m2-font-size($wise-typography, 'caption');
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
