@use '@angular/material' as mat;
@use 'style/base/typography';

.library-project-disciplines__icon {
  padding: 2px 4px;
  color: #ffffff;
  font-size: mat.m2-font-size(typography.$wise-typography, 'caption') + 1px;
}
