.tag {
  padding: .3rem .6rem;
  border-radius: 1rem;
  min-height: 1rem;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

.divider {
  margin: 0 .2rem;
}

.remove-tag {
  padding: 0;
  height: 16px;
  width: 16px;
}

.remove-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}