<h5 i18n>Self-Directed Investigation</h5>
<p i18n>
  The Self-Directed Investigation KI lesson structure helps students ask research questions about a
  science topic, guides them through refining their initial questions to researchable questions, and
  supports them in finding and evaluating evidence using online resources of their choice. Students
  synthesize their findings into a product of your choice.
</p>
<div class="nav-controls">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="8px">
    <button mat-button color="primary" routerLink="../.." [state]="{ target: target }" i18n>
      Back
    </button>
    <span fxFlex></span>
    <button mat-button color="primary" routerLink="../../.." i18n>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="submitting"
      class="button--progress"
    >
      <mat-progress-bar *ngIf="submitting" mode="indeterminate"/>
      <ng-container i18n>Submit</ng-container>
    </button>
  </div>
</div>
