@use '@angular/material' as mat;

@import
  'style/abstracts/mixins',
  'style/abstracts/variables';

.cta.mat-mdc-raised-button {
  padding: 0;
  display: block;
  overflow: hidden;
  height: auto;
  text-align: center;
  text-transform: none;
  white-space: normal;
  font-weight: 500;
  border-radius: $feature-border-radius;

  &:hover, &:focus {
    .cta__headline .mat-icon {
      transform: rotate(360deg);
      transition: all 0.5s ease-in-out;
    }
  }

  &:focus {
    outline: 1px solid;
  }
}

.cta__wrap {
  padding: 16px 16px 24px;
  display: block !important;
}

.cta__headline {
  margin: -16px -16px 16px;
  padding: 10px 12px;
  border-bottom: 1px solid;
  border-top-left-radius: $feature-border-radius;
  border-top-right-radius: $feature-border-radius;
  font-size: 1.1em;

  .mat-icon {
    transition: all 0s;
  }
}

.cta__icon {
  @include mat-icon-size(48px);
  margin: 8px 0 16px;
}

.cta__tagline {
  line-height: 1.4em;
}

.cta__divider {
  margin: 0;
  border: 0 none;
  height: 8px;
}
