<ng-template #linkContent>
  @if (headline || headlineRef) {
    <div class="cta__headline primary flex items-center justify-center">
      <span *ngTemplateOutlet="headlineRef ? headlineRef : defaultHeadline"></span>
      <span class="flex-1"></span>
      <mat-icon color="primary">add_circle</mat-icon>
    </div>
  }
  <div>
    @if (isSvgIcon) {
      <mat-icon class="cta__icon" [ngClass]="iconColor" svgIcon="{{ icon }}"></mat-icon>
    }
    @if (!isSvgIcon) {
      <mat-icon class="cta__icon" [ngClass]="iconColor">{{ icon }}</mat-icon>
    }
    <ng-template #defaultHeadline>{{ headline }}</ng-template>
    <ng-template #defaultContent>{{ content }}</ng-template>
    @if (content || contentRef) {
      <div class="cta__tagline mat-subtitle-2">
        <span *ngTemplateOutlet="contentRef ? contentRef : defaultContent"></span>
      </div>
    }
  </div>
</ng-template>

@if (isOutsideLink) {
  <a mat-raised-button class="cta" href="{{ destination }}" target="{{ linkTarget }}">
    <div class="cta__wrap">
      <span *ngTemplateOutlet="linkContent"></span>
    </div>
  </a>
}

@if (!isOutsideLink) {
  <a mat-raised-button class="cta" routerLink="{{ destination }}">
    <div class="cta__wrap">
      <span *ngTemplateOutlet="linkContent"></span>
    </div>
  </a>
}
