<link rel="stylesheet" href="/assets/wise5/themes/default/style/angular-material.css">
<link rel="stylesheet" href="/assets/wise5/themes/default/style/author.css">
<style>
.global-message.ng-change {
  transition: 2s linear all;
  background: red;
}
</style>

<div class="app-styles" disable-delete-keypress
    ng-mousemove='$ctrl.mouseMoved()'
    role="main" layout="column" layout-fill md-theme="at">
  <at-top-bar logo-path="{{::$ctrl.logoPath}}"
       project-id="$ctrl.projectId"
       project-title="$ctrl.projectTitle"
       run-id="$ctrl.runId"
       run-code="$ctrl.runCode"></at-top-bar>
  <at-toolbar ng-if="$ctrl.showToolbar"
       number-project="$ctrl.numberProject"
       show-step-tools="$ctrl.showStepTools"
       view-name="$ctrl.currentViewName"
       on-menu-toggle="$ctrl.toggleMenu()"></at-toolbar>
  <md-sidenav md-component-id="monitorSidenav" md-is-open="$ctrl.isMenuOpen" md-whiteframe="4">
    <at-main-menu [state]="$ctrl.$state" [title]="$ctrl.title" [views]="$ctrl.views"></at-main-menu>
  </md-sidenav>
  <md-content id="content" flex role="main" layout="column" class="l-main"
      ng-class="{ 'l-main--with-toolbar': $ctrl.showToolbar }"
      flex role="main">
    <div ui-view></div>
  </md-content>
  <side-menu ng-if="$ctrl.showToolbar"
      [state]="$ctrl.$state"
      [views]="$ctrl.views">
  </side-menu>
</div>
