<div class="flex flex-col gap-4">
  <edit-component-prompt
    [componentContent]="componentContent"
    (promptChangedEvent)="promptChanged($event)"
  />
  <c-rater-item-select [componentContent]="componentContent" />
  <edit-component-max-submit [componentContent]="componentContent" />
  <mat-checkbox
    color="primary"
    [(ngModel)]="componentContent.isComputerAvatarEnabled"
    (ngModelChange)="componentChanged()"
    i18n
    >Enable Computer Avatar</mat-checkbox
  >
  @if (componentContent.isComputerAvatarEnabled) {
    <edit-dialog-guidance-computer-avatar
      [computerAvatarSettings]="componentContent.computerAvatarSettings"
    />
  }
  <edit-feedback-rules
    [feedbackRules]="componentContent.feedbackRules"
    [version]="componentContent.version"
  />
  <edit-crater-info [cRaterRubric]="componentContent.cRaterRubric" />
</div>
