edit-dialog-guidance-feedback-rules {
  margin-bottom: 16px;
}

.computer-avatar-label {
  width: 400px;
}

.computer-avatar-select-all-buttons-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.computer-avatar-select-all-button {
  width: 140px;
}

.computer-avatars-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.computer-avatar-div {
  padding: 10px;
}

.computer-avatar-image {
  width: 100px;
}

.green {
  color: green;
}

.red {
  color: red;
}