@if ((showScore && annotations.score) || (showComment && annotations.comment)) {
  <mat-card appearance="outlined" class="annotations">
    <mat-card-title class="annotations__header">
      <div
        class="annotations__avatar md-avatar avatar--icon avatar--square md-36 avatar accent-bg md-whiteframe-1dp"
      >
        <mat-icon class="annotations__icon md-36">{{ icon }}</mat-icon>
      </div>
      <div class="annotations__title flex w-full">
        <span>{{ label }}</span>
        @if (isNewAnnotation()) {
          <span class="badge annotations__status" i18n>New</span>
        }
      </div>
    </mat-card-title>
    <mat-card-content class="annotations__body mat-body-2">
      @if (showComment) {
        <div [innerHTML]="comment"></div>
      }
      @if (annotations.comment) {
        <hr />
      }
      <div class="flex justify-start items-center">
        @if (showScore && annotations.score) {
          <span class="annotations__score" i18n
            >Score: {{ annotations.score.data.value }}{{ maxScoreDisplay }}</span
          >
        }
        <span class="flex-grow"></span>
        <save-time-message [saveTime]="latestAnnotationTime" [timeOnly]="true" />
      </div>
    </mat-card-content>
  </mat-card>
}
