<div class="l-constrained grading milestone-grading">
  <mat-list class="user-list">
    <mat-list-item class="mat-elevation-z1 list-item user-list-controls">
      <div class="w-full flex flex-col md:flex-row justify-center items-center max-md:gap-2">
        <workgroup-select-autocomplete />
        <span class="flex-1 hidden md:block"></span>
        <div class="md-secondary-container max-md:w-full flex justify-center items-center">
          <button
            mat-button
            color="primary"
            aria-label="Expand All"
            i18n-aria-label
            class="button--small md-primary"
            (click)="expandAll()"
            i18n
          >
            + Expand All
          </button>
          <button
            mat-button
            color="primary"
            aria-label="Collapse All"
            i18n-aria-label
            class="button--small md-primary"
            (click)="collapseAll()"
          >
            - Collapse All
          </button>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item class="table--list__thead table--list__thead__th mat-elevation-z1">
      <div class="table--list__thead__tr flex flex-1">
        <button
          mat-button
          class="table--list__thead__link flex-1 flex !justify-start items-center"
          (click)="sortWorkgroups('workgroupId')"
          aria-label="Sort by team"
          i18n-aria-label
        >
          <span class="column-header-label" i18n>Team</span>
          @if (sortBy === 'workgroupId' || sortBy === '-workgroupId') {
            <mat-icon
              class="secondary-text table--list__thead__sort"
              [ngClass]="{ 'table--list__thead__sort--reverse': sortBy === '-workgroupId' }"
            >
              arrow_drop_up
            </mat-icon>
          }
        </button>
        @if (milestone.report.locations.length == 1) {
          <button
            mat-button
            class="table--list__thead__link flex justify-center items-center basis-[30%]"
            (click)="sortWorkgroups('completionStatus')"
            aria-label="Sort by completion"
            i18n-aria-label
          >
            <span class="column-header-label" i18n>Status</span>
            @if (sortBy === 'completionStatus' || sortBy === '-completionStatus') {
              <mat-icon
                class="secondary-text table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sortBy === '-completionStatus' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
        }
        @if (milestone.report.locations.length == 1) {
          <button
            mat-button
            class="table--list__thead__link flex justify-center items-center basis-[20%]"
            (click)="sortWorkgroups('score')"
            aria-label="Sort by score"
            i18n-aria-label
          >
            <span class="column-header-label" i18n>Score</span>
            @if (sortBy === 'score' || sortBy === '-score') {
              <mat-icon
                class="secondary-text table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sortBy === '-score' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
        }
        @if (milestone.report.locations.length > 1) {
          <button
            mat-button
            class="table--list__thead__link flex justify-center items-center basis-[10%]"
            (click)="sortWorkgroups('initialScore')"
            aria-label="Sort by score on Step {{ firstNodePosition }}"
            i18n-aria-label
            matTooltip="Sort by score on Step {{ firstNodePosition }}"
            i18n-matTooltip
            matTooltipPosition="above"
          >
            <span class="column-header-label">{{ firstNodePosition }}</span>
            @if (sortBy === 'initialScore' || sortBy === '-initialScore') {
              <mat-icon
                class="secondary-text table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sortBy === '-initialScore' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
        }
        @if (milestone.report.locations.length > 1) {
          <button
            mat-button
            class="table--list__thead__link flex justify-center items-center basis-[10%]"
            (click)="sortWorkgroups('score')"
            aria-label="Sort by score on Step {{ lastNodePosition }}"
            i18n-aria-label
            matTooltip="Sort by score on Step {{ lastNodePosition }}"
            i18n-matTooltip
            matTooltipPosition="above"
          >
            <span class="column-header-label">{{ lastNodePosition }}</span>
            @if (sortBy === 'score' || sortBy === '-score') {
              <mat-icon
                class="secondary-text table--list__thead__sort"
                md-theme="default"
                [ngClass]="{ 'table--list__thead__sort--reverse': sortBy === '-score' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
        }
        @if (milestone.report.locations.length > 1) {
          <button
            mat-button
            class="table--list__thead__link flex justify-center items-center basis-[10%]"
            (click)="sortWorkgroups('changeInScore')"
            aria-label="Sort by change in score"
            i18n-aria-label
            matTooltip="Sort by change in score"
            i18n-matTooltip
            matTooltipPosition="above"
          >
            <span class="column-header-label" i18n>+/-</span>
            @if (sortBy === 'changeInScore' || sortBy === '-changeInScore') {
              <mat-icon
                class="secondary-text table--list__thead__sort"
                md-theme="default"
                [ngClass]="{ 'table--list__thead__sort--reverse': sortBy === '-changeInScore' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
        }
      </div>
    </mat-list-item>
    <div class="mat-elevation-z1" waIntersectionObserver waIntersectionThreshold="0.5">
      <ng-container *ngFor="let workgroup of sortedWorkgroups">
        @if (isWorkgroupShown(workgroup)) {
          <milestone-workgroup-item
            [expanded]="workgroupExpanded[workgroup.workgroupId]"
            [showScore]="true"
            [locations]="milestone.report.locations"
            [workgroupId]="workgroup.workgroupId"
            [workgroupData]="workgroup"
            (onUpdateExpand)="onUpdateExpand($event)"
            (waIntersectionObservee)="onIntersection(workgroup.workgroupId, $event)"
          >
          </milestone-workgroup-item>
        }
      </ng-container>
    </div>
  </mat-list>
</div>
