table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #cccccc;
  padding: 4px;
}

.term, .operator {
  font-weight: bold;
}

h3 {
  margin: 16px 0 8px;

  &:first-of-type {
    margin-top: 0;
  }
}
