@use '@angular/material' as mat;
@use 'style/base/typography';

.mobile-menu {
  width: 300px;
  padding: 16px;
}

.mobile-menu__close {
  height: 48px;
  margin-bottom: 16px;
}

a.mat-mdc-button {
  text-transform: none;
  justify-content: flex-start;
  font-size: mat.m2-font-size(typography.$wise-typography, 'subtitle-2');
}


