@use '@angular/material' as mat;
@import '../../../style/base/typography';

// Create a config with the default typography levels.
$typography: mat.m2-define-typography-config();

.mobile-menu {
  width: 300px;
  padding: 16px;
}

.mobile-menu__close {
  height: 48px;
  margin-bottom: 16px;
}

a.mat-mdc-button {
  text-transform: none;
  justify-content: flex-start;
  font-size: mat.m2-font-size($wise-typography, 'subtitle-2');
}


