<edit-connected-components-add-button (connectedComponentsChanged)="addConnectedComponent()" />
@for (connectedComponent of connectedComponents; track connectedComponent; let i = $index) {
  <div class="connected-components-div flex flex-row flex-wrap gap-5">
    <edit-connected-component-default-selects
      [componentId]="componentId"
      [connectedComponent]="connectedComponent"
      [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
      (connectedComponentNodeIdChange)="connectedComponentNodeIdChanged(connectedComponent)"
      (connectedComponentComponentIdChange)="
        connectedComponentComponentIdChanged(connectedComponent)
      "
      (connectedComponentTypeChange)="connectedComponentTypeChanged(connectedComponent)"
    />
    <span class="flex"></span>
    <edit-connected-component-delete-button
      [connectedComponentIndex]="i"
      (connectedComponentChange)="deleteConnectedComponent(i)"
    />
  </div>
}
