<ng-template #expandSummaryTpl let-type="type">
  <button
    matIconButton
    class="!absolute top-0 end-0"
    title="Expand summary"
    i18n-title
    (click)="expandSummary(type)"
  >
    <mat-icon>fullscreen</mat-icon>
  </button>
</ng-template>
<div class="component-summary notice flex flex-col">
  <div class="flex justify-between gap-4">
    <div>
      <div i18n>Prompt</div>
      @if (component.prompt) {
        <div class="mat-body-1" [innerHTML]="component.prompt"></div>
      } @else {
        <div class="mat-body-2 secondary-text">-</div>
      }
    </div>
    @if (hasStudentWork) {
      <div class="flex-shrink-0 pt-1.5">
        <component-completion [node]="node" [component]="component" [periodId]="periodId" />
      </div>
    }
  </div>
  <div>
    <milestone-report-button [node]="node" [component]="component" [periodId]="periodId" />
    <peer-group-button [node]="node" [component]="component" />
  </div>
  @if (hasSummaryData) {
    <div class="flex flex-col md:flex-row mt-3 gap-3">
      @if (hasScoresSummary && hasScoreAnnotation) {
        <div class="summary-graph">
          <teacher-summary-display
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'scores'"
            [source]="source"
            [chartType]="'column'"
            [doRender]="true"
            class="summary"
          />
        </div>
      }
      @if (component?.type === 'MultipleChoice' && hasStudentWork) {
        <div class="summary-graph">
          <teacher-summary-display
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'responses'"
            [source]="source"
            [highlightCorrectAnswer]="hasCorrectAnswer"
            [chartType]="component.choiceType === 'multiple' ? 'columnn' : 'pie'"
            [doRender]="true"
            class="summary"
          />
        </div>
      }
      @if (hasIdeaRubricData) {
        <div class="summary-content">
          <ng-container
            [ngTemplateOutlet]="expandSummaryTpl"
            [ngTemplateOutletContext]="{ type: 'ideas' }"
          />
          <ideas-summary
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'responses'"
            [source]="source"
            [doRender]="true"
            [componentType]="component.type"
            class="summary"
          />
        </div>
      }
      @if (component?.type === 'Match') {
        <div class="summary-content">
          <ng-container
            [ngTemplateOutlet]="expandSummaryTpl"
            [ngTemplateOutletContext]="{ type: 'match' }"
          />
          <match-summary-display
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [source]="source"
            [doRender]="true"
            class="summary"
          />
        </div>
      } @else if (component?.type === 'OpenResponse' && hasStudentWork) {
        <mat-card appearance="outlined" class="w-full">
          <mat-card-content>
            <open-response-ai-summary
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
            />
          </mat-card-content>
        </mat-card>
      } @else if (component?.type === 'Discussion' && hasStudentWork) {
        <div class="summary-content">
          <ng-container
            [ngTemplateOutlet]="expandSummaryTpl"
            [ngTemplateOutletContext]="{ type: 'discussion' }"
          />
          <discussion-ai-summary
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
          />
          <discussion-summary
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [source]="source"
            [doRender]="true"
            class="summary"
          />
        </div>
      }
    </div>
  }
</div>
