<ng-template #expandSummaryTpl let-type="type">
  <button
    matIconButton
    class="!absolute top-0 end-0"
    title="Expand summary"
    i18n-title
    (click)="expandSummary(type)"
  >
    <mat-icon>fullscreen</mat-icon>
  </button>
</ng-template>
<ng-template #scoreSummary>
  @if (showScoreSummary) {
    <div>
      <teacher-summary-display
        [nodeId]="node.id"
        [componentId]="component.id"
        [periodId]="periodId"
        [studentDataType]="'scores'"
        [source]="source"
        [chartType]="'column'"
        [doRender]="true"
        class="summary"
      />
    </div>
  }
</ng-template>
<ng-template #ideasSummary>
  <ng-container
    [ngTemplateOutlet]="expandSummaryTpl"
    [ngTemplateOutletContext]="{ type: 'ideas' }"
  />
  <ideas-summary
    [nodeId]="node.id"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'responses'"
    [source]="source"
    [doRender]="true"
    [componentType]="component.type"
    class="summary"
  />
</ng-template>
<div class="component-summary notice flex flex-col @container">
  <div class="flex justify-between gap-4">
    <div>
      <div i18n>Prompt</div>
      @if (component.prompt) {
        <div class="mat-body-1" [innerHTML]="component.prompt"></div>
      } @else {
        <div class="mat-body-2 secondary-text">-</div>
      }
    </div>
    @if (hasStudentWork) {
      <div class="flex-shrink-0 pt-1.5">
        <component-completion [node]="node" [component]="component" [periodId]="periodId" />
      </div>
    }
  </div>
  <div>
    <milestone-report-button [node]="node" [component]="component" [periodId]="periodId" />
    <peer-group-button [node]="node" [component]="component" />
  </div>
  @if (showSummary) {
    <div class="flex flex-col @2xl:grid @2xl:grid-cols-2 @5xl:grid-cols-3 mt-3 gap-3">
      @if (component.type === 'Discussion') {
        @if (aiEnabled) {
          <div class="col-span-full">
            <discussion-ai-summary
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
              class="summary"
            />
          </div>
        }
        <ng-container [ngTemplateOutlet]="scoreSummary" />
        <div class="summary-content" [class.!col-span-full]="!showScoreSummary">
          <ng-container
            [ngTemplateOutlet]="expandSummaryTpl"
            [ngTemplateOutletContext]="{ type: 'discussion' }"
          />
          <discussion-summary
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [source]="source"
            [doRender]="true"
            class="summary"
          />
        </div>
      } @else if (component.type === 'OpenResponse') {
        @if (aiEnabled) {
          <div
            class="flex"
            [class.summary-content]="showScoreSummary && !hasIdeaRubricData"
            [class.order-2]="showScoreSummary && !hasIdeaRubricData"
            [class.!col-span-full]="!showScoreSummary || hasIdeaRubricData"
          >
            <open-response-ai-summary
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
              class="summary"
            />
          </div>
        }
        <ng-container [ngTemplateOutlet]="scoreSummary" />
        @if (hasIdeaRubricData) {
          <div class="summary-content" [class.!col-span-full]="!showScoreSummary">
            <ng-container [ngTemplateOutlet]="ideasSummary" />
          </div>
        }
      } @else if (component.type === 'Match') {
        <ng-container [ngTemplateOutlet]="scoreSummary" />
        <div class="summary-content" [class.!col-span-full]="!showScoreSummary">
          <ng-container
            [ngTemplateOutlet]="expandSummaryTpl"
            [ngTemplateOutletContext]="{ type: 'match' }"
          />
          <match-summary-display
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [source]="source"
            [doRender]="true"
            class="summary"
          />
        </div>
      } @else if (component.type === 'MultipleChoice') {
        <ng-container [ngTemplateOutlet]="scoreSummary" />
        <div>
          <teacher-summary-display
            [nodeId]="node.id"
            [componentId]="component.id"
            [periodId]="periodId"
            [studentDataType]="'responses'"
            [source]="source"
            [highlightCorrectAnswer]="hasCorrectAnswer"
            [chartType]="component.choiceType === 'multiple' ? 'columnn' : 'pie'"
            [doRender]="true"
            class="summary"
          />
        </div>
      } @else {
        <ng-container [ngTemplateOutlet]="scoreSummary" />
        @if (hasIdeaRubricData) {
          <div class="summary-content" [class.!col-span-full]="!showScoreSummary">
            <ng-container [ngTemplateOutlet]="ideasSummary" />
          </div>
        }
      }
    </div>
  }
</div>
