<div class="component-summary mat-elevation-z1 app-background flex flex-col p-3">
  <div class="notice !text-start flex justify-between gap-4">
    <div>
      <div i18n>Prompt</div>
      @if (component.prompt) {
        <div class="mat-body-1" [innerHTML]="component.prompt"></div>
      } @else {
        <div class="mat-body-2 secondary-text">-</div>
      }
    </div>
    @if (hasStudentWork) {
      <div class="flex-shrink-0 pt-1.5">
        <component-completion [node]="node" [component]="component" [periodId]="periodId" />
      </div>
    }
  </div>
  <div>
    <milestone-report-button [node]="node" [component]="component" [periodId]="periodId" />
    <peer-group-button [node]="node" [component]="component" />
  </div>
  @if (hasSummaryData) {
    <div class="flex flex-col sm:flex-row mt-3 gap-3">
      @if (hasScoresSummary && hasScoreAnnotation) {
        <teacher-summary-display
          [nodeId]="node.id"
          [componentId]="component.id"
          [periodId]="periodId"
          [studentDataType]="'scores'"
          [source]="source"
          [chartType]="'column'"
          [doRender]="true"
          class="w-full md:w-1/2"
        />
      }
      @if (component?.type === 'MultipleChoice' && hasStudentWork) {
        <teacher-summary-display
          [nodeId]="node.id"
          [componentId]="component.id"
          [periodId]="periodId"
          [studentDataType]="'responses'"
          [source]="source"
          [highlightCorrectAnswer]="hasCorrectAnswer"
          [chartType]="component.choiceType === 'multiple' ? 'columnn' : 'pie'"
          [doRender]="true"
          class="w-full md:w-1/2"
        />
      }
      @if (hasIdeaRubricData) {
        <mat-card appearance="outlined" class="w-full">
          <mat-card-content>
            <ideas-summary
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
              [studentDataType]="'responses'"
              [source]="source"
              [doRender]="true"
              [componentType]="component.type"
            />
          </mat-card-content>
        </mat-card>
      }
      @if (component?.type === 'Match') {
        <mat-card appearance="outlined" class="w-full">
          <mat-card-content>
            <match-summary-display
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
              [source]="source"
              [doRender]="true"
            />
          </mat-card-content>
        </mat-card>
      } @else if (component?.type === 'OpenResponse') {
        <mat-card appearance="outlined" class="w-full">
          <mat-card-content>
            <open-response-summary
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
              [source]="source"
              [doRender]="true"
            />
          </mat-card-content>
        </mat-card>
      } @else if (component?.type === 'Discussion') {
        <mat-card appearance="outlined" class="w-full">
          <mat-card-content>
            <discussion-summary-display
              [nodeId]="node.id"
              [componentId]="component.id"
              [periodId]="periodId"
              [source]="source"
              [doRender]="true"
            />
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
</div>
