<mat-dialog-content class="!max-h-none">
  <button
    matIconButton
    (click)="dialogRef.close()"
    class="!absolute top-0 end-0 app-background !z-1"
  >
    <mat-icon>fullscreen_exit</mat-icon>
  </button>
  @if (data.type === 'ideas') {
    <ideas-summary
      [nodeId]="data.node.id"
      [componentId]="data.component.id"
      [periodId]="data.periodId"
      [studentDataType]="'responses'"
      [source]="data.source"
      [doRender]="true"
      [componentType]="data.componentType"
      [expanded]="true"
    />
  } @else if (data.type === 'match') {
    <match-summary-display
      [nodeId]="data.node.id"
      [componentId]="data.component.id"
      [periodId]="data.periodId"
      [source]="data.source"
      [doRender]="true"
      [expanded]="true"
    />
  } @else if (data.type === 'discussion') {
    <discussion-summary
      [nodeId]="data.node.id"
      [componentId]="data.component.id"
      [periodId]="data.periodId"
      [source]="data.source"
      [doRender]="true"
      [expanded]="true"
    />
  }
</mat-dialog-content>
