<h5 i18n>Peer Review & Revision</h5>
<p i18n>
  The Peer Review & Revision KI lesson structure guides students through writing their own
  explanation, critiquing explanations of peer learners, and ultimately revising their own initial
  explanation.
</p>
<div class="nav-controls">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="8px">
    <button mat-button color="primary" routerLink="../.." [state]="{ target: target }" i18n>
      Back
    </button>
    <span fxFlex></span>
    <button mat-button color="primary" routerLink="../../.." i18n>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="submitting"
      class="button--progress"
    >
      <mat-progress-bar *ngIf="submitting" mode="indeterminate" />
      <ng-container i18n>Submit</ng-container>
    </button>
  </div>
</div>
