<h5 translate="simulation.label"></h5>
<p translate="simulation.description"></p>
<div layout="row" layout-wrap layout-align="start" style="margin-top: 24px;">
  <md-input-container style="margin: 0 8px;">
    <label translate="filterByTopic"></label>
    <md-select ng-model="$ctrl.selectedSubjects" ng-change="$ctrl.filter()" multiple>
      <md-option ng-value="subject" ng-repeat="subject in $ctrl.subjects">{{subject}}</md-option>
    </md-select>
  </md-input-container>
  <md-input-container style="margin: 0 8px;">
    <label translate="SEARCH"></label>
    <input ng-model="$ctrl.searchText" ng-change="$ctrl.filter()"></input>
  </md-input-container>
  <button class="md-icon-button md-button"
      ng-click="$ctrl.clearFilters()"
      ng-if="$ctrl.searchText || $ctrl.selectedSubjects.length"
      aria-label="{{ ::'CLEAR_ALL' | translate }}"
      style="align-self: center; margin: 0 8px 1em;">
    <md-icon>clear</md-icon>
    <md-tooltip md-direction="top">{{ ::'CLEAR_ALL' | translate }}</md-tooltip>
  </button>
  <span style="align-self: center; margin: 0 8px 1em;">
    {{ 'numberItemsFound' | translate: { number: $ctrl.getNumItemsFound() } }}
  </span>
</div>
<md-radio-group ng-model="$ctrl.selectedNodeId">
  <div ng-repeat="node in $ctrl.filteredNodes"
       ng-class="::{'groupHeader': node.type == 'group', 'stepHeader': node.type != 'group'}">
    <div ng-if="node.type == 'group'">
      {{node.title}}:
    </div>
    <div layout="row" layout-align="start center" ng-if="node.type != 'group'">
      <md-radio-button ng-value="node" style="margin-bottom: 0;">
        <span class="bold">{{node.title}}</span>
      </md-radio-button>
      <md-button class="regularButton md-raised md-primary" ng-click="$ctrl.previewNode(node)"
                 aria-label="{{ ::'previewStep' | translate }}">
        <md-icon>visibility</md-icon>
        <md-tooltip md-direction="top" class="projectButtonTooltip">
          {{ ::'previewStep' | translate }}
        </md-tooltip>
      </md-button>
    </div>
  </div>
</md-radio-group>
<hr>
<div layout="row">
  <md-button class="createButton md-primary"
             ng-click="$ctrl.back()"
             aria-label="{{ ::'back' | translate }}"
             translate="back"></md-button>
  <span flex></span>
  <md-button class="createButton md-primary"
             ng-click="$ctrl.cancel()"
             aria-label="{{ ::'cancel' | translate }}"
             translate="cancel"></md-button>
  <md-button class="createButton md-raised md-primary"
             ng-disabled="$ctrl.selectedNodeId == null"
             ng-click="$ctrl.next()"
             aria-label="{{ ::'next' | translate }}"
             translate="next"></md-button>
</div>
