<header
  class="content__header flex flex-col lg:flex-row flex-wrap items-start justify-start sm:justify-between gap-4"
>
  <div class="mb-4">
    <div class="mb-4">
      <h1 class="accent flex items-center gap-2 mat-headline-4">
        <mat-icon>home</mat-icon><span i18n>Teacher Home</span>
      </h1>
      <div class="mt-2 px-1 font-medium" i18n>Welcome {{ user.firstName }}!</div>
    </div>
    <div class="flex gap-2">
      <a mat-raised-button color="primary" routerLink="/curriculum"
        ><mat-icon>menu_book</mat-icon> <span i18n>Unit Library</span></a
      >
      <a mat-raised-button color="primary" routerLink="/teacher/edit/home"
        ><mat-icon>edit_square</mat-icon> <span i18n>Authoring Tool</span></a
      >
    </div>
  </div>
  @if (discourseUrl) {
    <discourse-recent-activity
      [baseUrl]="discourseUrl"
      category="latest"
      queryString="order=activity"
      class="w-full lg:w-auto -mt-4"
    />
  }
</header>
<section>
  <app-teacher-run-list />
</section>
