<h5 i18n>Choose a Lesson Structure</h5>
<p i18n>
  Based on our work with classroom teachers, we have developed several lesson structures that follow
  the
  <a href="https://wise.berkeley.edu/about#ki" target="_blank">Knowledge Integration</a> framework
  and help teachers productively integrate open educational resources (OERs) into their curricula.
  These structures have also proven useful for developing students' capacity for self-directed
  learning. We have made the structures very general, so that teachers can customize and incorporate
  them into any WISE unit to strengthen support for knowledge integration and self-directed
  learning.
</p>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <mat-card *ngFor="let structure of structures" class="structure-card">
    <mat-card-title>
      <h6 class="center">{{ structure.label }}</h6>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center center">
      <mat-icon>{{ structure.icon }}</mat-icon>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="start">
      <button
        mat-raised-button
        color="primary"
        (click)="chooseStructure(structure.route)"
        aria-label="Choose Structure"
        i18n-aria-label
        i18n
      >
        Select
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<hr />
<button mat-button color="primary" (click)="cancel()" aria-label="Cancel" i18n-aria-label i18n>
  Cancel
</button>
