<div class="flex gap-4">
  <mat-label i18n>Paths</mat-label>
  <button
    mat-raised-button
    color="primary"
    (click)="addNewTransition()"
    matTooltip="Add path"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
@if (node.transitionLogic == null || node.transitionLogic.transitions === 0) {
  <div i18n>There are no paths out of this step</div>
}
@for (
  transition of node.transitionLogic.transitions;
  track transition;
  let transitionIndex = $index
) {
  <div class="transition-div flex flex-col gap-4">
    <div class="flex gap-4">
      <mat-label i18n>Path {{ transitionIndex + 1 }}</mat-label>
      <button
        mat-raised-button
        color="primary"
        (click)="deleteTransition(transition)"
        matTooltip="Delete path"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <mat-form-field class="common-width">
        <mat-label i18n>Which step this path leads to</mat-label>
        <mat-select [(ngModel)]="transition.to" (ngModelChange)="transitionToNodeIdChanged()">
          @for (nodeId of nodeIds; track nodeId) {
            <mat-option [value]="nodeId">
              <span layout="row" layout-align="start center">
                <span
                  >{{ getNodePositionById(nodeId) }}: {{ getNodeTitle(nodeId) }} ({{
                    nodeId
                  }})</span
                >
              </span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex gap-4">
        <mat-label i18n>Requirements</mat-label>
        <button
          mat-raised-button
          color="primary"
          (click)="addNewTransitionCriteria(transition)"
          matTooltip="Add a requirement for this path"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      @if (transition.criteria == null || transition.criteria.length === 0) {
        <div i18n>There are no requirements for this transition</div>
      }
      @for (
        transitionCriteria of transition.criteria;
        track transitionCriteria;
        let criteriaIndex = $index
      ) {
        <div class="requirement">
          <div class="flex gap-4">
            <mat-form-field class="common-width">
              <mat-label i18n>The student needs to</mat-label>
              <mat-select
                [(ngModel)]="transitionCriteria.name"
                (ngModelChange)="transitionCriteriaNameChanged(transitionCriteria)"
              >
                @for (
                  availableTransitionCriteriaName of transitionCriterias;
                  track availableTransitionCriteriaName
                ) {
                  <mat-option [value]="availableTransitionCriteriaName.value">
                    <span class="flex flex-row justify-start items-center">
                      <span>{{ availableTransitionCriteriaName.text }}</span>
                    </span>
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class="flex grow"></div>
            <div>
              <button
                mat-raised-button
                color="primary"
                (click)="deleteTransitionCriteria(transition, criteriaIndex)"
                matTooltip="Delete this requirement"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          @for (param of getTransitionCriteriaParamsByName(transitionCriteria.name); track param) {
            <div>
              @if (param.value === 'nodeId') {
                <mat-form-field class="common-width">
                  <mat-label>{{ param.text }}</mat-label>
                  <mat-select
                    [(ngModel)]="transitionCriteria.params.nodeId"
                    (ngModelChange)="transitionCriteriaNodeIdChanged(transitionCriteria)"
                  >
                    @for (nodeId of nodeIds; track nodeId) {
                      <mat-option [value]="nodeId">
                        <span class="flex flex-row justify-start items-center">
                          <span
                            >{{ getNodePositionById(nodeId) }}: {{ getNodeTitle(nodeId) }} ({{
                              nodeId
                            }})</span
                          >
                        </span>
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (param.value === 'componentId') {
                <mat-form-field class="common-width">
                  <mat-label>{{ param.text }}</mat-label>
                  <mat-select
                    [(ngModel)]="transitionCriteria.params.componentId"
                    (ngModelChange)="transitionCriteriaComponentIdChanged(transitionCriteria)"
                  >
                    @for (
                      component of getComponents(transitionCriteria.params.nodeId);
                      track component;
                      let componentIndex = $index
                    ) {
                      <mat-option
                        [disabled]="
                          transitionCriteria.name === 'choiceChosen' &&
                          component.type !== 'MultipleChoice'
                        "
                        [value]="component.id"
                      >
                        <span class="flex flex-row justify-start items-center">
                          <span
                            >{{ componentIndex + 1 }}. {{ component.type }} ({{
                              component.id
                            }})</span
                          >
                        </span>
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (param.value === 'scores') {
                <mat-form-field>
                  <mat-label>{{ param.text }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="transitionCriteria.params.scores"
                    (ngModelChange)="scoresChanged($event, transitionCriteria.params)"
                  />
                </mat-form-field>
              }
              @if (param.value === 'scoreId') {
                <mat-form-field>
                  <mat-label>{{ param.text }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="transitionCriteria.params.scoreId"
                    (ngModelChange)="scoreIdChanged(transitionCriteria)"
                  />
                </mat-form-field>
              }
              @if (
                param.value === 'choiceIds' &&
                getChoiceTypeByNodeIdAndComponentId(
                  transitionCriteria.params.nodeId,
                  transitionCriteria.params.componentId
                ) === 'radio'
              ) {
                <mat-form-field class="common-width">
                  <mat-label i18n>The student needs to choose this choice</mat-label>
                  <mat-select
                    [(ngModel)]="transitionCriteria.params.choiceIds[0]"
                    (ngModelChange)="saveProject()"
                  >
                    @for (
                      choice of getChoices(
                        transitionCriteria.params.nodeId,
                        transitionCriteria.params.componentId
                      );
                      track choice
                    ) {
                      <mat-option [value]="choice.id">
                        {{ choice.text }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (
                param.value === 'choiceIds' &&
                getChoiceTypeByNodeIdAndComponentId(
                  transitionCriteria.params.nodeId,
                  transitionCriteria.params.componentId
                ) === 'checkbox'
              ) {
                <mat-form-field class="common-width">
                  <mat-label i18n>The student needs to choose these choices</mat-label>
                  <mat-select
                    [(ngModel)]="transitionCriteria.params.choiceIds"
                    (ngModelChange)="saveProject()"
                    multiple
                  >
                    @for (
                      choice of getChoices(
                        transitionCriteria.params.nodeId,
                        transitionCriteria.params.componentId
                      );
                      track choice
                    ) {
                      <mat-option [value]="choice.id">
                        {{ choice.text }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (param.value === 'tag') {
                <mat-form-field>
                  <mat-label i18n>Tag</mat-label>
                  <input
                    matInput
                    [(ngModel)]="transitionCriteria.params.tag"
                    (ngModelChange)="saveProject()"
                  />
                </mat-form-field>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
}
@if (node.transitionLogic.transitions.length > 1) {
  <div class="flex flex-col gap-4">
    <mat-form-field class="small-width">
      <mat-label i18n>How to choose among available paths</mat-label>
      <mat-select
        [disabled]="node.transitionLogic.transitions.length <= 1"
        [(ngModel)]="node.transitionLogic.howToChooseAmongAvailablePaths"
        (ngModelChange)="saveProject()"
      >
        @for (
          howToChooseAmongAvailablePathsOption of howToChooseAmongAvailablePathsOptions;
          track howToChooseAmongAvailablePathsOption
        ) {
          <mat-option [value]="howToChooseAmongAvailablePathsOption.value">
            <span class="flex flex-row justify-start items-center">
              <span>{{ howToChooseAmongAvailablePathsOption.text }}</span>
            </span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label i18n>When to choose path</mat-label>
      <mat-select
        [disabled]="node.transitionLogic.transitions.length <= 1"
        [(ngModel)]="node.transitionLogic.whenToChoosePath"
        (ngModelChange)="saveProject()"
      >
        @for (whenToChoosePathOption of whenToChoosePathOptions; track whenToChoosePathOption) {
          <mat-option [value]="whenToChoosePathOption.value">
            <span class="flex flex-row justify-start items-center">
              <span>{{ whenToChoosePathOption.text }}</span>
            </span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label i18n>Can change path</mat-label>
      <mat-select
        [disabled]="node.transitionLogic.transitions.length <= 1"
        [(ngModel)]="node.transitionLogic.canChangePath"
        (ngModelChange)="saveProject()"
      >
        @for (canChangePathOption of canChangePathOptions; track canChangePathOption) {
          <mat-option [value]="canChangePathOption.value">
            <span class="flex flex-row justify-start items-center">
              <span>{{ canChangePathOption.text }}</span>
            </span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label i18n>Max paths visitable</mat-label>
        <input
          matInput
          type="number"
          [min]="1"
          [disabled]="node.transitionLogic.transitions.length <= 1"
          [(ngModel)]="node.transitionLogic.maxPathsVisitable"
          (ngModelChange)="saveProject()"
        />
      </mat-form-field>
    </div>
  </div>
}
