
.path-label {
  margin-bottom: 10px;
}

.transition-div {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
}

.common-width {
  width: 400px;
}

.small-width {
  width: 200px;
}

@import 'style/abstracts/variables', 'style/themes/default';

$notice-bg: map-get($default-colors, notice-bg);

.requirement {
  border: 1px solid #dddddd;
  background-color: $notice-bg;
  border-radius: $card-border-radius;
  padding: 16px;
}

.mat-icon {
  margin: 0px;
}
