<mat-form-field>
  <mat-label i18n>Model</mat-label>
  <mat-select [(ngModel)]="componentContent.model" (ngModelChange)="this.componentChanged()">
    @for (model of models; track model) {
      <mat-option [value]="model">{{ model }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<br />
<edit-component-width [componentContent]="component.content" />
<edit-connected-components
  [nodeId]="component.nodeId"
  [componentId]="component.id"
  [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
  [componentContent]="component.content"
  [connectedComponents]="component.content.connectedComponents"
  (connectedComponentsChanged)="connectedComponentsChanged($event)"
/>
<edit-component-json [component]="component" />
