@import
  'style/abstracts/variables',
  'style/abstracts/functions',
  'style/abstracts/mixins';

.mat-mdc-icon-button {
  @include mat-icon-button-size(36px);
}

.header-account-menu {
  min-width: 200px;
}

.user-info {
  margin: 0 16px;
  font-weight: 500;

  mat-icon {
    @include mat-icon-size(36px);
  }
}

.user-switch {
  margin: 0 16px;
  font-size: 12px;

  a {
    cursor: pointer;
  }

  form {
    visibility: hidden;
  }
}
