@switch (studentWork.componentType) {
  @case ('Animation') {
    <animation-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    />
  }
  @case ('AudioOscillator') {
    <audio-oscillator-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    />
  }
  @case ('ConceptMap') {
    <concept-map-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    />
  }
  @case ('DialogGuidance') {
    <dialog-guidance-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    />
  }
  @case ('Discussion') {
    <discussion-student
      [nodeId]="nodeId"
      [componentContent]="componentContent"
      [componentState]="studentWork"
      [isDisabled]="true"
      [workgroupId]="studentWork.workgroupId"
      [mode]="student"
    >
    </discussion-student>
  }
  @case ('Draw') {
    <draw-show-work [nodeId]="nodeId" [componentId]="componentId" [componentState]="studentWork" />
  }
  @case ('Embedded') {
    <embedded-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    />
  }
  @case ('Graph') {
    <graph-show-work [nodeId]="nodeId" [componentId]="componentId" [componentState]="studentWork" />
  }
  @case ('Label') {
    <label-show-work [nodeId]="nodeId" [componentId]="componentId" [componentState]="studentWork">
    </label-show-work>
  }
  @case ('Match') {
    <match-show-work [nodeId]="nodeId" [componentId]="componentId" [componentState]="studentWork" />
  }
  @case ('MultipleChoice') {
    <multiple-choice-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    />
  }
  @case ('OpenResponse') {
    <open-response-show-work
      [nodeId]="nodeId"
      [componentId]="componentId"
      [componentState]="studentWork"
    ></open-response-show-work>
  }
  @case ('PeerChat') {
    <peer-chat-student
      [nodeId]="nodeId"
      [componentContent]="componentContent"
      [componentState]="studentWork"
      [workgroupId]="studentWork.workgroupId"
      [mode]="student"
    >
    </peer-chat-student>
  }
  @case ('Table') {
    <table-show-work [nodeId]="nodeId" [componentId]="componentId" [componentState]="studentWork" />
  }
}
