<div fxLayoutAlign="space-between start">
  <mat-radio-button
      [checked]="peerGrouping.peerGroupSettings.tag === selectedPeerGroupingTag"
      (click)="select()"
      color="primary">
    {{ peerGrouping.peerGroupSettings.name }}
  </mat-radio-button>
  <button mat-stroked-button (click)="edit()" i18n>Edit Settings</button>
</div>
<div fxLayout="row" fxLayoutAlign="space-between end">
  <div>
    <div>
      <span class="field-label" i18n>Steps Used In: </span>
      <span *ngFor="let stepUsedIn of peerGrouping.stepsUsedIn; last as isLast">
        {{ stepUsedIn }}<span *ngIf="!isLast">, </span>
      </span>
      <span *ngIf="peerGrouping.stepsUsedIn.length === 0" i18n>None</span>
    </div>
    <div>
      <span class="field-label" i18n>Logic: </span><span>{{ peerGrouping.peerGroupSettings.logic }}</span>
    </div>
    <div>
      <span class="field-label" i18n>Threshold: </span><span>{{ peerGrouping.peerGroupSettings.threshold }}</span>
    </div>
    <div>
      <span class="field-label" i18n>Teams Per Group: </span><span>{{ peerGrouping.peerGroupSettings.maxMembershipCount }}</span>
    </div>
  </div>
</div>