<h2 mat-dialog-title i18n>Add Unit</h2>
<form [formGroup]="addProjectForm">
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="fill">
        <mat-label i18n>Access Code</mat-label>
        <input
          formControlName="runCode"
          matInput
          value="{{ accessCode }}"
          (keyup)="checkRunCode()"
        />
        @if (
          runCodeFormControl.hasError('invalidRunCodeSyntax') ||
          runCodeFormControl.hasError('invalidRunCode')
        ) {
          <mat-error i18n>Invalid Access Code</mat-error>
        }
        @if (runCodeFormControl.hasError('alreadyAddedRun')) {
          <mat-error i18n>You have already added this unit.</mat-error>
        }
        @if (runCodeFormControl.hasError('runHasEnded')) {
          <mat-error i18n>This run has ended. Please talk to your teacher.</mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label i18n>Choose Period</mat-label>
        <mat-select formControlName="period" [(value)]="selectedPeriod">
          @for (period of registerRunPeriods; track period) {
            <mat-option value="{{ period }}">{{ period }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="isAdding" i18n>Cancel</button>
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="addProjectForm.invalid || isAdding"
      class="button--progress"
    >
      @if (isAdding) {
        <mat-progress-bar mode="indeterminate" />
      }
      <ng-container i18n>Add</ng-container>
    </button>
  </mat-dialog-actions>
</form>
