<style>
  .toolsDiv {
    padding: 10px 10px 10px 10px;
  }
</style>
<div flex>
  <div class="prompt">
    <span [innerHTML]="prompt"></span>
    <possible-score [maxScore]="componentContent.maxScore"></possible-score>
  </div>
  <div class="component__actions"
      fxLayout="row">
    <button *ngIf="isStudentAttachmentEnabled"
        mat-button
        class="mat-primary mat-raised-button"
        (click)="nodeController.showStudentAssets($event, component.id, isDisabled)"
        [disabled]="isDisabled"
        matTooltip="Insert File"
        matTooltipPosition="above"
        i18n-matTooltip>
      <mat-icon>image</mat-icon>
    </button>
  </div>
  <button
      *ngIf="isResetButtonVisible"
      mat-button
      class="mat-primary mat-raised-button"
      (click)="resetButtonClicked()"
      [disabled]="isDisabled"
      matTooltip="Reset"
      matTooltipPosition="above"
      i18n-matTooltip>
      <mat-icon>restore</mat-icon>
  </button>
  <button
      *ngIf="isAddToNotebookEnabled()"
      mat-button
      class="mat-primary mat-raised-button"
      (click)="snipButtonClicked($event)"
      [disabled]="isDisabled"
      matTooltip="Add to Notebook"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>note_add</mat-icon>
  </button>
  <button class="md-accent md-primary"
      *ngIf="showCopyPublicNotebookItemButton"
      (click)="copyPublicNotebookItemButtonClicked($event)"
      [disabled]="isDisabled"
      matTooltip="Import Classmate Work"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>file_download</mat-icon>
  </button>
  <div data-drop="true"
      jqyoui-droppable="{onDrop: 'dropCallback(item, $index)'}">
    <div id="{{drawingToolId}}"></div>
  </div>
  <div
      *ngIf="isSaveOrSubmitButtonVisible"
      class="component__actions"
      fxLayout="row"
      fxLayoutAlign="start center">
    <button
        *ngIf="isSaveButtonVisible"
        mat-button
        class="mat-primary mat-raised-button save-button"
        (click)="saveButtonClicked()"
        [disabled]="isDisabled || !isDirty"
        i18n>
      Save
    </button>
    <button
        *ngIf="isSubmitButtonVisible"
        mat-button
        class="mat-primary mat-raised-button submit-button"
        (click)="submitButtonClicked()"
        [disabled]="isDisabled || !isSubmitDirty || isSubmitButtonDisabled"
        i18n>
      Submit
    </button>
    <span *ngIf="saveMessage.text"
        class="component__actions__info save-message">
      {{saveMessage.text}}
      <span class="component__actions__more"
          matTooltip="{{ saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}"
          matTooltipPosition="above">
        {{ saveMessage.time | amTimeAgo }}
      </span>
    </span>
  </div>
  <component-annotations *ngIf="mode === 'student'"
      [annotations]="latestAnnotations"
      [maxScore]="componentContent.maxScore"
      [nodeId]="nodeId"
      [componentId]="componentId">
  </component-annotations>
</div>
