<h3 i18n>Edit Peer Grouping</h3>
<div>
  <mat-form-field>
    <mat-label i18n>Grouping Name</mat-label>
    <input matInput [(ngModel)]="peerGroupSettings.name" />
  </mat-form-field>
</div>
<div>
  <span i18n>Steps Used In: </span>
  <span *ngFor="let stepUsedIn of peerGrouping.stepsUsedIn; last as isLast">
    {{ stepUsedIn }}<span *ngIf="!isLast">, </span>
  </span>
</div>
<div>
  <mat-form-field>
    <mat-label i18n>Logic</mat-label>
    <mat-select [(ngModel)]="peerGroupSettings.logic">
      <mat-option *ngFor="let logic of availableLogic"
          [value]="logic.value">
        {{ logic.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label i18n>Threshold</mat-label>
    <input matInput [(ngModel)]="peerGroupSettings.threshold" />
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label i18n>Teams Per Group</mat-label>
    <input matInput
        [(ngModel)]="peerGroupSettings.maxMembershipCount"
        type="number"/>
  </mat-form-field>
</div>
<div fxLayoutGap="12px">
  <button mat-raised-button
      color="warn"
      [disabled]="peerGrouping.stepsUsedIn.length > 0"
      (click)="delete()">
    <span [matTooltip]="peerGrouping.stepsUsedIn.length > 0 ? 'You are not allowed to delete a Peer Grouping that is being used' : ''"
        i18n>
      Delete
    </span>
  </button>
  <div fxFlex></div>
  <button mat-button (click)="cancel()" i18n>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" i18n>Update</button>
</div>