<h5 i18n>Enter a title for the new lesson</h5>
<form
  role="form"
  [formGroup]="addLessonFormGroup"
  (keydown.enter)="submit(); $event.preventDefault()"
>
  <mat-form-field appearance="fill" class="title-field">
    <mat-label i18n>Lesson Title</mat-label>
    <input
      #titleField
      autofocus
      matInput
      type="text"
      id="title"
      name="title"
      formControlName="title"
      (keyup)="$event.keyCode == 13 && submit()"
      required
    />
    <mat-error *ngIf="addLessonFormGroup.controls['title'].hasError('required')" i18n>
      Lesson Title is required
    </mat-error>
  </mat-form-field>
  <div class="nav-controls">
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-button color="primary" routerLink=".." [state]="{ target: target }" i18n>
        Back
      </button>
      <span fxFlex></span>
      <button mat-button color="primary" routerLink="../.." i18n>Cancel</button>
      <button
        mat-button
        class="mat-raised-button mat-primary"
        (click)="submit()"
        [disabled]="!addLessonFormGroup.valid || submitting"
        class="button--progress"
      >
        <mat-progress-bar *ngIf="submitting" mode="indeterminate"/>
        <ng-container i18n>Submit</ng-container>
      </button>
    </div>
  </div>
</form>
