<div class="step-tools flex justify-center items-center">
  <button
    id="previousNodeButton"
    mat-icon-button
    [disabled]="!prevId"
    (click)="goToPrevNode()"
    matTooltip="Previous Step"
    i18n-matTooltip
    matTooltipPosition="below"
  >
    <mat-icon>{{ icons.prev }}</mat-icon>
  </button>
  @if (nodeId) {
    <node-icon [nodeId]="nodeId" size="18" />
  }
  &nbsp;
  <mat-form-field appearance="fill">
    <mat-select
      id="stepSelectMenu"
      [panelClass]="'select-panel-full-height'"
      placeholder="Select a Step"
      i18n-placeholder
      [(ngModel)]="nodeId"
      hideSingleSelectionIndicator="true"
      (selectionChange)="nodeChanged()"
    >
      <mat-select-trigger>
        @if (nodeId) {
          {{ getNodePositionAndTitle(nodeId) }}
        } @else {
          <ng-container i18n> Select a Step </ng-container>
        }
      </mat-select-trigger>
      @for (nodeId of nodeIds; track nodeId) {
        <mat-option [value]="nodeId" class="node-select-option">
          <div class="flex justify-start items-center gap-2">
            <node-icon [nodeId]="nodeId" size="18" />
            <span [ngClass]="{ strong: isGroupNode(nodeId) }">{{
              getNodePositionAndTitle(nodeId)
            }}</span>
          </div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    id="nextNodeButton"
    mat-icon-button
    [disabled]="!nextId"
    (click)="goToNextNode()"
    matTooltip="Next Step"
    i18n-matTooltip
    matTooltipPosition="below"
  >
    <mat-icon>{{ icons.next }}</mat-icon>
  </button>
</div>
