.main-div {
  margin-left: 10px;
}

.prompt {
  margin-bottom: 20px;
}

.interaction-div {
  margin-bottom: 20px;
}

.oscillator-type {
  margin-right: 40px;
  width: 100px;
}

.frequency {
  margin-right: 40px;
  width: 100px;
}

.oscillator-canvas {
  border: 1px solid lightgrey;
}

.submit-button {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 88px;
}

.save-message {
  font-size: 13px;
  letter-spacing: .02em;
}

.save-time {
  border-bottom: 1px dotted;
}