.interaction-div {
  margin-bottom: 20px;
}

.oscillator-type {
  margin-right: 40px;
  width: 100px;
}

.frequency {
  margin-right: 40px;
  width: 100px;
}

.oscillator-canvas {
  border: 1px solid lightgrey;
}

.mat-icon {
  margin: 0px;
}
