<div class="md-whiteframe-1dp" ng-class="{'list-item--warn': $ctrl.statusClass === 'warn', 'list-item--info': $ctrl.statusClass === 'info'}">
  <md-subheader class="list-item md-whiteframe-1dp">
      <button class="md-button md-ink-ripple list-item__subheader-button"
                     aria-label="{{ ::toggleTeamWorkDisplay | translate }}"
                     ng-class="{'list-item--expanded': $ctrl.showWork,
                         'list-item--noclick': !$ctrl.showScore || $ctrl.disabled}"
                     ng-click="$ctrl.toggleExpand()"
                     ng-disabled="$ctrl.disabled"
                     layout-wrap>
          <div layout="row" flex>
              <div flex layout="row" layout-align="start center">
                  <workgroup-info [has-alert]="$ctrl.hasAlert" [has-new-alert]="$ctrl.hasNewAlert" [has-new-work]="$ctrl.hasNewWork" [usernames]="$ctrl.workgroupData.displayNames" [workgroup-id]="$ctrl.workgroupId"></workgroup-info>
              </div>
              <div ng-if="$ctrl.locations.length == 1" flex="30" layout="row" layout-align="center center">
                  <workgroup-node-status [status-text]="$ctrl.statusText" [status-class]="$ctrl.statusClass"></workgroup-node-status>
              </div>
              <div ng-if="$ctrl.showScore && $ctrl.locations.length > 1" flex="10" layout="row" layout-align="center center">
                <workgroup-node-score [score]="$ctrl.initialScore" [max-score]="$ctrl.firstComponentMaxScore"></workgroup-node-score>
              </div>
              <div ng-if="$ctrl.showScore" flex="{{$ctrl.locations.length > 1 ? 10 : 20}}" layout="row" layout-align="center center">
                <workgroup-node-score [score]="$ctrl.score" [max-score]="$ctrl.lastComponentMaxScore"></workgroup-node-score>
              </div>
              <div ng-if="$ctrl.showScore && $ctrl.locations.length > 1" flex="10" layout="row" layout-align="center center">
                <span class="md-display-1" ng-class="{'success': $ctrl.changeInScore > 0, 'warn': $ctrl.changeInScore < 0}">
                  <span ng-if="$ctrl.changeInScore > 0">+</span>{{$ctrl.changeInScore}}
                </span>
              </div>
          </div>
      </button>
  </md-subheader>
  <md-list-item ng-if="$ctrl.expand && !$ctrl.disabled" class="grading__item-container">
      <div class="grading__item" style="width:100%">
        <div ng-if="$ctrl.locations.length > 1" id="component_{{::$ctrl.firstComponentId}}_{{::$ctrl.workgroupId}}" class="component component--grading">
          <div>
            <h3 class="accent-1 md-body-2 gray-lightest-bg component__header">
              {{ ::"STEP_POSITION_DISPLAY" | translate: { position: $ctrl.getNodePosition($ctrl.firstNodeId) } }} ({{ $ctrl.getComponentTypeLabel($ctrl.firstComponent.type) }})&nbsp;
              <component-new-work-badge [component-id]="$ctrl.firstComponentId"
                                        [workgroup-id]="$ctrl.workgroupId"
                                        [node-id]="$ctrl.firstNodeId"></component-new-work-badge>
            </h3>
            <workgroup-component-grading [component-id]="$ctrl.firstComponentId"
                [workgroup-id]="$ctrl.workgroupId"
                [node-id]="$ctrl.firstNodeId"></workgroup-component-grading>
          </div>
        </div>
        <div id="component_{{::$ctrl.lastComponentId}}_{{::$ctrl.workgroupId}}" class="component component--grading">
          <div>
            <h3 class="accent-1 md-body-2 gray-lightest-bg component__header">
              {{ ::"STEP_POSITION_DISPLAY" | translate: { position: $ctrl.getNodePosition($ctrl.lastNodeId) } }} ({{ $ctrl.getComponentTypeLabel($ctrl.lastComponent.type) }})&nbsp;
              <component-new-work-badge [component-id]="$ctrl.lastComponentId"
                                        [workgroup-id]="$ctrl.workgroupId"
                                        [node-id]="$ctrl.lastNodeId"></component-new-work-badge>
            </h3>
            <workgroup-component-grading [component-id]="$ctrl.lastComponentId"
                [workgroup-id]="$ctrl.workgroupId"
                [node-id]="$ctrl.lastNodeId"></workgroup-component-grading>
          </div>
        </div>
      </div>
  </md-list-item>
</div>
