<h2 mat-dialog-title i18n>Edit Peer Grouping</h2>
<mat-dialog-content class="dialog-content-scroll">
  <mat-form-field>
    <mat-label i18n>Grouping Name</mat-label>
    <input matInput [(ngModel)]="peerGrouping.name" />
  </mat-form-field>
  <div class="flex gap-5">
    <mat-form-field>
      <mat-label i18n>Logic</mat-label>
      <mat-select [(ngModel)]="logicType">
        @for (logic of availableLogic; track logic) {
          <mat-option [value]="logic.value">
            {{ logic.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (logicType === 'differentIdeas' || logicType === 'differentKIScores') {
      <select-step-and-component
        [referenceComponent]="referenceComponent"
        [allowedComponentTypes]="allowedReferenceComponentTypes"
      />
    }
    @if (logicTypesWithModes.includes(logicType)) {
      <mat-form-field>
        <mat-label i18n>Mode</mat-label>
        <mat-select [(ngModel)]="mode">
          @for (mode of availableModes; track mode) {
            <mat-option [value]="mode.value">
              {{ mode.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
  <div>
    <mat-form-field>
      <mat-label i18n>Teams Per Group</mat-label>
      <input matInput [(ngModel)]="peerGrouping.maxMembershipCount" type="number" />
    </mat-form-field>
  </div>
  <div class="mat-small info">
    @if (stepsUsedIn.length > 0) {
      <span i18n>Used in </span>
      @for (stepUsedIn of stepsUsedIn; track stepUsedIn; let isLast = $last) {
        <span>
          {{ stepUsedIn }}
          @if (!isLast) {
            <span>, </span>
          }
        </span>
      }
      .
    }
    @if (stepsUsedIn.length === 0) {
      <span i18n>Not used in any steps.</span>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" [disabled]="stepsUsedIn.length > 0" (click)="delete()">
    <span
      [matTooltip]="
        stepsUsedIn.length > 0
          ? 'You are not allowed to delete a Peer Grouping that is being used'
          : ''
      "
      i18n
    >
      Delete
    </span>
  </button>
  <div class="flex grow"></div>
  <button mat-button (click)="cancel()" i18n>Cancel</button>
  <button mat-flat-button color="primary" (click)="save()" i18n>Update</button>
</mat-dialog-actions>
