<form role="form" [formGroup]="addNodeFormGroup" class="@container">
  <mat-form-field appearance="fill" class="title-field">
    <mat-label i18n>Step Title</mat-label>
    <input matInput type="text" id="title" name="title" formControlName="title" required />
    @if (addNodeFormGroup.controls['title'].hasError('required')) {
      <mat-error i18n> Step Title is required </mat-error>
    }
  </mat-form-field>
  <h5 i18n>Select activities to add to your new step (optional):</h5>
  <p class="info mat-small" i18n>
    *Note: You can always add or remove content later by editing the step.
  </p>
  <div class="grid @lg:grid-cols-2 @2xl:grid-cols-3 gap-3">
    <div class="initial-components flex items-start p-3">
      @if (initialComponents.length == 0) {
        <div class="mat-small" i18n>No activities added</div>
      }
      @if (initialComponents.length > 0) {
        <div class="component-list w-full" cdkDropList (cdkDropListDropped)="drop($event)">
          @for (component of initialComponents; track component.id) {
            <div class="component-list-item flex justify-start items-center gap-2" cdkDrag>
              <mat-icon class="secondary-text">reorder</mat-icon>
              <span class="mat-small">{{ component.name }}</span>
              <span class="flex-grow"></span>
              <button
                mat-icon-button
                (click)="deleteComponent(i)"
                i18n-aria-label
                aria-label="Delete activity"
              >
                <mat-icon class="secondary-text">close</mat-icon>
              </button>
            </div>
          }
        </div>
      }
    </div>
    <div class="flex flex-col @2xl:col-span-2 @container">
      <div class="@2xl:columns-2 gap-2">
        @for (componentGroup of componentGroups; track componentGroup.name) {
          <component-type-group
            class="mb-2 block break-inside-avoid-column"
            [componentGroup]="componentGroup"
            (componentSelectedEvent)="addComponent($event)"
          />
        }
      </div>
    </div>
  </div>
  <div class="nav-controls">
    <mat-divider />
    <div class="flex">
      <button mat-button class="mat-primary" routerLink="../choose-template" [state]="target" i18n>
        Back
      </button>
      <span class="flex-grow"></span>
      <button mat-button class="mat-primary" routerLink="../.." i18n>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addNodeFormGroup.valid || submitting"
        (click)="submit()"
        class="button--progress"
      >
        @if (submitting) {
          <mat-progress-bar mode="indeterminate" />
        }
        <ng-container i18n>Submit</ng-container>
      </button>
    </div>
  </div>
</form>
