<form role="form" [formGroup]="addNodeFormGroup">
  <mat-form-field appearance="fill" class="title-field">
    <mat-label i18n>Step Title</mat-label>
    <input matInput type="text" id="title" name="title" formControlName="title" required />
    @if (addNodeFormGroup.controls['title'].hasError('required')) {
      <mat-error i18n> Step Title is required </mat-error>
    }
  </mat-form-field>
  <h5 i18n>Select activities to add to your new step (optional):</h5>
  <div class="flex flex-col md:flex-row">
    <div class="initial-components notice-bg-bg flex items-start md:w-1/3 lg:w-1/4">
      @if (initialComponents.length == 0) {
        <div class="mat-small" i18n>No activities added</div>
      }
      @if (initialComponents.length > 0) {
        <div class="component-list w-full" cdkDropList (cdkDropListDropped)="drop($event)">
          @for (component of initialComponents; track component.id) {
            <div class="component-list-item flex justify-start items-center gap-2" cdkDrag>
              <mat-icon class="secondary-text">reorder</mat-icon>
              <span class="mat-small">{{ component.name }}</span>
              <span class="flex-grow"></span>
              <button
                mat-icon-button
                (click)="deleteComponent(i)"
                i18n-aria-label
                aria-label="Delete activity"
              >
                <mat-icon class="secondary-text">close</mat-icon>
              </button>
            </div>
          }
        </div>
      }
    </div>
    <div class="flex flex-col md:w-2/3 lg:w-3/4">
      <div class="flex flex-wrap justify-stretch items-center">
        @for (componentGroup of componentGroups; track componentGroup.name) {
          <div class="flex flex-col" style="border: 2px dotted">
            <h3 class="mat-subheading-1">{{ componentGroup.name }}</h3>
            @for (componentType of componentGroup.types; track componentType.type) {
              <div class="component-type">
                <component-type-button
                  [componentType]="componentType.type"
                  (componentSelectedEvent)="addComponent(componentType)"
                />
              </div>
            }
          </div>
        }
      </div>
      <p class="info mat-small" i18n>
        *Note: You can always add or remove content later by editing the step.
      </p>
    </div>
  </div>
  <div class="nav-controls">
    <mat-divider />
    <div class="flex">
      <button mat-button class="mat-primary" routerLink="../choose-template" [state]="target" i18n>
        Back
      </button>
      <span class="flex-grow"></span>
      <button mat-button class="mat-primary" routerLink="../.." i18n>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addNodeFormGroup.valid || submitting"
        (click)="submit()"
        class="button--progress"
      >
        @if (submitting) {
          <mat-progress-bar mode="indeterminate" />
        }
        <ng-container i18n>Submit</ng-container>
      </button>
    </div>
  </div>
</form>
