@if (ideas.length > 0) {
  <div class="flex gap-1 items-start" [ngClass]="{ 'flex-row-reverse': alignEnd }">
    <div class="avatar highlighted-bg border border-gray-300">
      <mat-icon class="mat-18" aria-label="AI analysis" aria-label-i18n>auto_awesome</mat-icon>
    </div>
    <div class="ideas highlighted-bg border border-gray-300 mat-small">
      <div class="secondary-text mb-2" i18n>Ideas detected:</div>
      <div class="flex flex-row flex-wrap gap-1 items-center">
        @for (idea of ideas; track idea.name) {
          <span class="idea app-bg-bg border border-gray-300">
            <b>{{ idea.name }}.</b>
            @if (idea.name !== idea.text) {
              {{ idea.text }}
            }
          </span>
        }
      </div>
    </div>
  </div>
}
