@use 'style/abstracts/variables';

.ideas {
  padding: 8px;
}

.idea {
  padding: 0 4px;
}

.ideas, .idea {
  border-radius: variables.$card-border-radius;
}

.avatar {
  margin: 2px;
  
  .mat-icon {
    margin: 6px
  }
}
