@if (computerAvatarSelectorVisible) {
  <computer-avatar-selector
    [computerAvatarSettings]="componentContent.computerAvatarSettings"
    (chooseAvatarEvent)="selectComputerAvatar($event)"
  />
} @else {
  <mat-card appearance="outlined" class="mat-elevation-z2">
    <component-header [component]="component" />
    <dialog-responses
      [responses]="responses"
      [isWaitingForComputerResponse]="isWaitingForComputerResponse"
      [computerAvatar]="computerAvatar"
    />
    @if (studentCanRespond) {
      <chat-input
        (focusEvent)="startPinging()"
        [submitDisabled]="isWaitingForComputerResponse"
        (submitEvent)="submitStudentResponse($event)"
      />
    }
  </mat-card>
}
