@import '~style/abstracts/variables', '~style/abstracts/functions';

.mat-card {
  padding: 8px;
  margin-top: 16px;
  max-width: breakpoint('sm.min');
}

dialog-responses {
  display: block;
  margin-bottom: 12px;
}
