.data-explorer-authoring {
  border: 1px solid black;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 10px;
}

.number-input {
  width: 10%;
}

.fix-data-to-table-column-label {
  margin-bottom: 10px;
}