.project-info-authoring {
  .project-icon-label {
    margin-bottom: 10px;
  }

  .project-icon-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .project-icon {
    width: 200px;
  }

  .project-icon-error {
    border: 1px solid black;
    padding: 20px;
  }

  .project-icon-to-choose {
    cursor: pointer;
  }

  .mat-mdc-tab-header {
    margin: 0 -16px;
  }
}
