<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>&nbsp;<span i18n>General</span>
    </ng-template>
    <div class="flex flex-col gap-5" style="margin-top: 20px">
      <div>
        @for (metadataField of metadataAuthoring.fields; track metadataField) {
          @if (metadataField.key === 'title' || metadataField.key === 'summary') {
            <translatable-input
              [content]="metadata"
              [key]="metadataField.key"
              [label]="metadataField.name"
              (defaultLanguageTextChanged)="metadataChanged.next()"
              class="input"
            />
          }
        }
      </div>
      <div class="flex flex-col gap-5" style="border: 2px dotted; padding: 10px">
        <div class="project-icon-label flex flex-row gap-5">
          <span i18n>Unit Icon</span>
          <button mat-raised-button color="primary" (click)="toggleEditProjectIconMode()" i18n>
            Edit
          </button>
        </div>
        @if (isShowProjectIcon) {
          <div>
            <img [src]="projectIcon" class="project-icon" />
          </div>
        } @else if (isShowProjectIconError) {
          <div class="project-icon-error">
            <p class="red margin-bottom-20" i18n>This unit does not have a unit icon.</p>
            <p class="red" i18n>Click the edit button to set one.</p>
          </div>
        } @else if (isShowProjectIconLoading) {
          <div>
            <mat-spinner />
          </div>
        }
        @if (isEditingProjectIcon) {
          <div>
            <div class="choose-project-icon-message flex gap-5">
              <span i18n
                >Choose a new Unit Icon by clicking on one below or upload your own custom
                icon.</span
              >
              <button mat-raised-button color="primary" (click)="chooseCustomProjectIcon()" i18n>
                Upload
              </button>
            </div>
            <div class="flex flex-wrap">
              @for (projectIcon of projectIcons; track projectIcon) {
                <img
                  class="project-icon-to-choose"
                  src="/projectIcons/{{ projectIcon }}"
                  (click)="setFeaturedProjectIcon(projectIcon)"
                />
              }
            </div>
            <br />
          </div>
        }
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>translate</mat-icon>&nbsp;<span i18n>Language</span>
    </ng-template>
    <div style="min-height: 800px; margin-top: 20px">
      <!-- min-height is set to 800px to show all language options without outer scrollbar -->
      <edit-project-language-setting />
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>folder</mat-icon>&nbsp;<span i18n>Resources</span>
    </ng-template>
    <edit-unit-resources [resources]="metadata.resources" />
  </mat-tab>
</mat-tab-group>
