<mat-toolbar
  class="l-header"
  color="primary"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="4px"
>
  <span class="button logo-link">
    <a href="{{ contextPath }}/teacher" target="_self">
      <img [src]="logoPath" alt="WISE logo" i18n-alt class="logo" />
    </a>
  </span>
  <h3 class="title-header">
    <span *ngIf="projectTitle" id="projectTitleSpan">{{ projectTitle }}</span>
    <span *ngIf="!projectTitle" id="projectTitleSpan" i18n>Authoring Tool</span>&nbsp;
    <span class="mat-caption" fxHide.xs fxHide.sm fxHide.md>({{ projectInfo }})</span>
  </h3>
  <button
    mat-icon-button
    aria-label="Project Info"
    i18n-aria-label
    fxHide.gt-md
    [matTooltip]="projectInfo"
  >
    <mat-icon>info</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="runId"
    fxHide.xs
    matTooltip="Switch to Grading View"
    i18n-matTooltip
    (click)="switchToGradingView()"
  >
    <mat-icon mat-menu-origin>assignment_turned_in</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Preview Unit" i18n-matTooltip (click)="previewProject()">
    <mat-icon>preview</mat-icon>
  </button>
  <span fxFlex></span>
  <project-language-chooser
    *ngIf="hasTranslations"
    [projectLocale]="projectLocale"
    (languageChangedEvent)="changeLanguage($event)"
    tooltip="Language to translate"
    i18n-tooltip
  ></project-language-chooser>
  <button
    mat-button
    aria-label="Help"
    i18n-aria-label
    style="text-transform: none"
    (click)="showHelp()"
    i18n
  >
    Help
  </button>
  <button
    mat-icon-button
    aria-label="User Menu"
    i18n-aria-label
    class="mat-icon-button"
    [matMenuTriggerFor]="accountMenu"
  >
    <mat-icon mat-menu-origin>account_box</mat-icon>
  </button>
  <mat-menu #accountMenu class="account-menu account-menu--fixed-width">
    <div
      class="account-menu__info"
      (click)="$event.stopPropagation()"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div class="account-menu__info__title">
        <div class="account-menu-avatar" fxLayoutAlign="start center">
          <mat-icon style="color: {{ avatarColor }}" class="mat-36"> account_circle </mat-icon>
        </div>
      </div>
      <div class="mat-subtitle-2">
        {{ userInfo.firstName }} {{ userInfo.lastName }}
        <span class="mat-caption">({{ userInfo.username }})</span>
      </div>
    </div>
    <div class="account-menu__actions" (click)="$event.stopPropagation()" fxLayout="row">
      <button mat-button color="primary" class="account-menu-button" (click)="goHome()" i18n>
        Go Home
      </button>
      <span fxFlex></span>
      <button mat-button color="primary" class="account-menu-button" (click)="logOut()" i18n>
        Sign Out
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
