.component-div {
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 2px 6px;
}

.component-button {
  width: 100%;
  justify-content: flex-start;
  text-transform: none;
}

.mat-icon {
  margin: 0px;
  min-width: fit-content;
}