<h5 i18n>KI Lesson with OER</h5>
<p i18n>
  The KI Lesson with OER guides you to embed an open educational resource (OER) of your choice in a
  lesson structure that promotes knowledge integration (KI). The structure suggests different step
  types that engage students in eliciting their ideas, discovering new ideas through use of the OER,
  distinguishing among their initial and new ideas, and making connections to form integrated
  understanding.
</p>
<div class="nav-controls">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="8px">
    <button mat-button color="primary" routerLink="../.." i18n>Back</button>
    <span fxFlex></span>
    <button mat-button color="primary" routerLink="../../.." i18n>Cancel</button>
    <button mat-raised-button color="primary" (click)="chooseLocation()" i18n>Next</button>
  </div>
</div>
