.background-input-container {
  width: 90%;
}

.enable-all-tools-button {
  margin-right: 20px;
  margin-bottom: 10px;
}

.disable-all-tools-button {
  margin-right: 20px;
  margin-bottom: 10px;
}

.tools-div {
  margin-right: 20px;
}

.authoring-button {
  margin-left: 10px;
  margin-right: 10px;
}

.canvas-dimension-container {
  width: 20%;
  margin-right: 20px;
}

.add-stamps-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.stamp-image-input-container {
  width: 50%;
}

.mat-icon {
  margin: 0px;
}
