.top-buttons {
  margin-bottom: 10px;
}

.table {
  margin-bottom: 20px !important;
}

.table-cell {
  border: 1px solid #ccc;
  padding-left: 8px;
  padding-right: 8px;
}

.mat-form-field-wrapper {
  margin-bottom: -0.5em !important;
}

.mat-form-field-underline {
  background-color: #ccc !important;
}

.data-explorer-select {
  width: 300px;
}