<component-header [component]="component" />
<div class="tools flex justify-start items-center gap-4">
  @if (resetTableButtonVisible) {
    <button mat-button color="accent" (click)="resetTable()" [disabled]="isDisabled">
      <mat-icon>restore</mat-icon>
      Reset
    </button>
  }
  @if (isAddToNotebookEnabled()) {
    <button mat-button color="accent" (click)="snipTable()" [disabled]="isDisabled" i18n>
      <mat-icon>note_add</mat-icon>
      Add to Notebook
    </button>
  }
  @if (isStudentAttachmentEnabled) {
    <button mat-button color="accent" (click)="showStudentAssets()" [disabled]="isDisabled" i18n>
      <mat-icon>image</mat-icon>
      Import Data
    </button>
  }
</div>
<tabulator-table
  [id]="tableId"
  [editableCells]="tabulatorData.editableCells"
  [enableRowSelection]="componentContent.enableRowSelection"
  [selectedRowIndices]="selectedRowIndices"
  [tabColumns]="tabulatorData.columns"
  [tabData]="tabulatorData.data"
  [tabOptions]="tabulatorData.options"
  [tabSorters]="tabulatorSorters"
  (cellChanged)="tabulatorCellChanged($event)"
  (rowSelectionChanged)="tabulatorRowSelectionChanged($event)"
  (rowSortChanged)="tabulatorRowSortChanged($event)"
  (ready)="broadcastDoneRenderingComponent()"
/>
@if (isDataExplorerEnabled) {
  <div>
    <br />
    @if (componentContent.dataExplorerGraphTypes.length > 1) {
      <mat-form-field appearance="fill">
        <mat-label i18n>Graph Type</mat-label>
        <mat-select [(ngModel)]="dataExplorerGraphType" (ngModelChange)="studentDataChanged()">
          @for (dataExplorerGraphType of dataExplorerGraphTypes; track dataExplorerGraphType) {
            <mat-option [value]="dataExplorerGraphType.value">
              <span>{{ dataExplorerGraphType.name }}</span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    <br />
    <p i18n>Choose the table data you want to graph:</p>
    <div class="flex flex-wrap justify-start items-center gap-4">
      <mat-form-field class="data-explorer-select" appearance="fill">
        <mat-label i18n>X Data</mat-label>
        <mat-select
          [(ngModel)]="dataExplorerXColumn"
          (ngModelChange)="dataExplorerXColumnChanged(xColumn)"
          [disabled]="dataExplorerColumnToIsDisabled['x']"
        >
          <mat-option [value]="" i18n>(None)</mat-option>
          @for (columnName of columnNames; track columnName; let columnIndex = $index) {
            @if (!columnIndexToIsUsed.get(columnIndex) || columnIndex === dataExplorerXColumn) {
              <mat-option [value]="columnIndex">
                <span>{{ columnName }}</span>
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
      @for (
        singleDataExplorerSeries of dataExplorerSeries;
        track singleDataExplorerSeries;
        let seriesIndex = $index
      ) {
        <mat-form-field class="data-explorer-select" appearance="fill">
          <mat-label i18n
            >Y Data {{ dataExplorerSeries.length > 1 ? seriesIndex + 1 : '' }}</mat-label
          >
          <mat-select
            [(ngModel)]="singleDataExplorerSeries.yColumn"
            (ngModelChange)="dataExplorerYColumnChanged(seriesIndex)"
            [disabled]="
              dataExplorerColumnToIsDisabled['y' + (seriesIndex > 0 ? seriesIndex + 1 : '')]
            "
          >
            <mat-option [value]="" i18n>(None)</mat-option>
            @for (columnName of columnNames; track columnName; let columnIndex = $index) {
              @if (
                !columnIndexToIsUsed.get(columnIndex) ||
                columnIndex === singleDataExplorerSeries.yColumn
              ) {
                <mat-option [value]="columnIndex">
                  <span>{{ columnName }}</span>
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
    @if (componentContent.isDataExplorerAxisLabelsEditable) {
      <div class="flex flex-wrap justify-start items-center gap-4">
        <mat-form-field class="data-explorer-select" appearance="fill">
          <mat-label i18n>X Axis Label</mat-label>
          <input
            matInput
            [(ngModel)]="dataExplorerXAxisLabel"
            (ngModelChange)="studentDataChanged()"
            placeholder="Enter Text Here"
            i18n-placeholder
          />
        </mat-form-field>
        @if (componentContent.numDataExplorerYAxis === 1) {
          <mat-form-field class="data-explorer-select" appearance="fill">
            <mat-label i18n>Y Axis Label</mat-label>
            <input
              matInput
              [(ngModel)]="dataExplorerYAxisLabel"
              (ngModelChange)="studentDataChanged()"
              placeholder="Enter Text Here"
              i18n-placeholder
            />
          </mat-form-field>
        }
        @if (componentContent.numDataExplorerYAxis > 1) {
          <div class="flex flex-wrap justify-start items-center gap-4">
            @for (
              x of [].constructor(dataExplorerYAxisLabels.length);
              track x;
              let yAxisIndex = $index
            ) {
              <mat-form-field class="data-explorer-select" appearance="fill">
                <mat-label i18n>Y Axis {{ yAxisIndex + 1 }} Label</mat-label>
                <input
                  matInput
                  [(ngModel)]="dataExplorerYAxisLabels[yAxisIndex]"
                  (ngModelChange)="studentDataChanged()"
                  placeholder="Enter Text Here"
                  i18n-placeholder
                />
              </mat-form-field>
            }
          </div>
        }
      </div>
    }
  </div>
}
@if (isSaveOrSubmitButtonVisible) {
  <component-save-submit-buttons
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)"
  />
}
@if (mode === 'student') {
  <component-annotations
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId"
  />
}
