.tools {
  margin-bottom: 8px;
}

.table {
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid #dddddd;
  padding: 8px;

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    border-top-width: .343em;
  }
}

.cell-input {
  max-width: 100%;
}