.tools {
  margin-bottom: 8px;
}

.table-container {
  overflow-x: auto;
  margin-top: 16px;
  padding: 8px 0;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid #dddddd;
  padding: 8px;

}

.cell-input {
  width: 100%;
}