<ng-template #addConstraintButton>
  <div fxLayoutGap="16px">
    <mat-label i18n>Add Constraint</mat-label>
    <button
      mat-raised-button
      color="primary"
      (click)="addConstraint()"
      matTooltip="Add Constraint"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-template>
<div class="body-div">
  <ng-template [ngTemplateOutlet]="addConstraintButton"></ng-template>
  <div
    id="{{ constraint.id }}"
    *ngFor="let constraint of content.constraints; index as constraintIndex"
    class="constraints-div"
    fxLayoutGap="16px"
  >
    <b i18n>Constraint {{ constraintIndex + 1 }}</b>
    <button
      mat-raised-button
      color="primary"
      (click)="deleteConstraint(constraintIndex)"
      matTooltip="Delete Constraint"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>delete</mat-icon>
    </button>
    <br />
    <node-constraint-authoring [constraint]="constraint" />
  </div>
  <ng-template
    *ngIf="content.constraints.length > 0"
    [ngTemplateOutlet]="addConstraintButton"
  ></ng-template>
</div>
<span id="bottom"></span>
