<h5 i18n>Jigsaw</h5>
<p i18n>
  The Jigsaw KI lesson structure guides students through learning about specific aspects of a
  science topic of their choice and engages them in collaboration to learn more. Students share
  their own ideas and reflect on what they learned from their classmates.
</p>
<mat-divider></mat-divider>
<p i18n>Choose number of groups in this Jigsaw activity:</p>
<mat-radio-group
  class="num-groups-radio-group"
  [(ngModel)]="numGroups"
  (ngModelChange)="injectGroupAndNodes(numGroups)"
>
  <mat-radio-button color="primary" value="2" i18n>Two groups</mat-radio-button>
  <mat-radio-button color="primary" value="3" i18n>Three groups</mat-radio-button>
  <mat-radio-button color="primary" value="4" i18n>Four groups</mat-radio-button>
</mat-radio-group>
<div class="nav-controls">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="8px">
    <button mat-button color="primary" routerLink="../.." [state]="{ target: target }" i18n>
      Back
    </button>
    <span fxFlex></span>
    <button mat-button color="primary" routerLink="../../.." i18n>Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" i18n>Submit</button>
  </div>
</div>
