<mat-card
  class="notebook-item"
  (click)="select($event)"
  (keyup.enter)="select($event)"
  role="button"
  tabindex="0"
>
  <mat-card-content
    class="content notice-bg-bg"
    [ngClass]="{ 'text-only': !item.content.attachments.length }"
  >
    @if (item.content.attachments.length > 0) {
      <div
        class="attachment-content"
        style="background-image: url('{{ item.content.attachments[0].iconURL }}')"
      ></div>
    }
    @if (item.content.text) {
      <div class="text-content mat-body-2" style="color: {{ label.color }}">
        {{ item.content.text }}
      </div>
    }
  </mat-card-content>
  <mat-card-actions
    class="dark-theme"
    [ngClass]="{ 'has-action': canDelete || canRevive }"
    style="background-color: {{ color }}"
    fxLayoutAlign="start center"
  >
    <span class="location" fxLayoutAlign="start center">
      <mat-icon>place</mat-icon><span class="mat-body-2">{{ getItemNodePosition() }}</span>
    </span>
    <span fxFlex></span>
    @if (canDelete) {
      <button
        mat-icon-button
        i18n-matTooltip
        matTooltip="Delete {{ label.singular }}"
        matTooltipPosition="above"
        (click)="delete($event)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    }
    @if (canRevive) {
      <button
        mat-icon-button
        i18n-matTooltip
        matTooltip="Revive {{ label.singular }}"
        matTooltipPosition="above"
        (click)="revive($event)"
      >
        <mat-icon>undo</mat-icon>
      </button>
    }
  </mat-card-actions>
</mat-card>
