<div class="main-div">
  <component-header [componentContent]="componentContent"></component-header>
  <div class="match-content">
    <component-annotations *ngIf="mode === 'student'"
        [annotations]="latestAnnotations"
        [maxScore]="componentContent.maxScore"
        [nodeId]="nodeId"
        [componentId]="componentId">
    </component-annotations>
    <div fxLayout="row wrap">
      <div class="match-bucket match-bucket--choices"
          fxFlex="100"
          fxLayout.gt-sm="{{isHorizontal ? 50: 100}}">
        <mat-card fxFlex="100%">
          <mat-card-header>
            <mat-card-title class="match-bucket__header">
              <div style="display: flex; align-items: center;">
                <div [innerHTML]="buckets[0].value" class="starter-bucket-label"></div>
                <div *ngIf="componentContent.canCreateChoices">
                  <button
                      mat-button
                      class="mat-primary mat-raised-button"
                      (click)="addChoice()"
                      [disabled]="isDisabled"
                      matTooltip="Add Choice"
                      matTooltipPosition="above"
                      i18n-matTooltip>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="match-bucket__content">
            <mat-list class="match-bucket__contents"
                [ngStyle]="choiceStyle"
                [dragula]="dragulaId"
                [(dragulaModel)]="buckets[0].items">
              <div class="match-bucket__item"
                  *ngFor="let item of buckets[0].items">
                <mat-list-item class="match-bucket__item__contents">
                  <div class="md-list-item-text">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <span class="match-bucket__item__contents__text" [innerHTML]="item.value">
                      </span>
                      <span flex></span>
                      <button
                          *ngIf="item.studentCreated"
                          (click)="deleteChoice(item)"
                          [disabled]="isDisabled">
                        <mat-icon>clear</mat-icon>
                      </button>
                      <mat-icon>open_with</mat-icon>
                    </div>
                    <p class="match-feedback md-body-2"
                        *ngIf="item.feedback"
                        [ngClass]="{'success-bg': !hasCorrectAnswer || item.isCorrect, 'info-bg': item.isIncorrectPosition, 'warn-bg': hasCorrectAnswer && !item.isCorrect}">
                      <mat-icon *ngIf="hasCorrectAnswer && item.isCorrect">
                        check
                      </mat-icon>
                      <mat-icon *ngIf="hasCorrectAnswer && item.isIncorrectPosition">
                        warning
                      </mat-icon>
                      <mat-icon *ngIf="hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition">
                        clear
                      </mat-icon>
                      <span [innerHTML]="item.feedback">
                      </span>
                    </p>
                  </div>
                </mat-list-item>
              </div>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-divider class="match-divider {{isHorizontal ? 'match-divider--horizontal' : ''}}"></mat-divider>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center start"
          fxFlex="100"
          fxLayout.gt-sm="{{isHorizontal ? 50 : 100}}">
        <div *ngFor="let bucket of buckets.slice(1)"
            class="match-bucket"
            fxFlex="100"
            fxLayout.gt-sm="{{isHorizontal ? 100 : bucketWidth}}">
          <mat-card>
            <mat-card-title class="match-bucket__header">
              <mat-card-title-text>
                <span [innerHTML]="bucket.value"></span>
              </mat-card-title-text>
            </mat-card-title>
            <mat-card-content class="match-bucket__content">
              <mat-list class="match-bucket__contents"
                  ng-style="bucketStyle"
                  [dragula]="dragulaId"
                  [(dragulaModel)]="bucket.items">
                <div class="match-bucket__item"
                    *ngFor="let item of bucket.items">
                  <mat-list-item class="match-bucket__item__contents">
                    <div class="md-list-item-text">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="match-bucket__item__contents__text" [innerHTML]="item.value">
                        </span>
                        <span flex></span>
                        <button
                            *ngIf="item.studentCreated"
                            (click)="deleteChoice(item)"
                            [disabled]="isDisabled">
                          <mat-icon>clear</mat-icon>
                        </button>
                        <mat-icon>open_with</mat-icon>
                      </div>
                      <p class="match-feedback md-body-2"
                          *ngIf="item.feedback"
                          [ngClass]="{'success-bg': !hasCorrectAnswer || item.isCorrect, 'info-bg': item.isIncorrectPosition, 'warn-bg': hasCorrectAnswer && !item.isCorrect}">
                        <mat-icon *ngIf="hasCorrectAnswer && item.isCorrect">
                          check
                        </mat-icon>
                        <mat-icon *ngIf="hasCorrectAnswer && item.isIncorrectPosition">
                          warning
                        </mat-icon>
                        <mat-icon *ngIf="hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition">
                          clear
                        </mat-icon>
                        <span [innerHTML]="item.feedback">
                        </span>
                      </p>
                    </div>
                  </mat-list-item>
                </div>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="componentContent.maxSubmitCount" class="submit-counter-message">
      <div class="md-caption"
          *ngIf="hasCorrectAnswer && componentContent.maxSubmitCount != null && componentContent.maxSubmitCount == 1">
        You have used {{submitCounter}} of {{componentContent.maxSubmitCount}} attempt
      </div>
      <div class="md-caption"
          *ngIf="hasCorrectAnswer && componentContent.maxSubmitCount != null && componentContent.maxSubmitCount > 1">
        You have used {{submitCounter}} of {{componentContent.maxSubmitCount}} attempts
      </div>
    </div>
    <div *ngIf="hasCorrectAnswer" class="correctness-message">
      <div *ngIf="isLatestComponentStateSubmit && hasCorrectAnswer && isCorrect"
          class="correct-text"
          i18n>
        Correct
      </div>
      <div *ngIf="isLatestComponentStateSubmit && hasCorrectAnswer && !isCorrect"
          class="incorrect-text"
          i18n>
        Incorrect
      </div>
    </div>
  </div>
  <component-save-submit-buttons *ngIf="isSaveOrSubmitButtonVisible"
      [isDirty]="isDirty"
      [isDisabled]="isDisabled"
      [isSaveButtonVisible]="isSaveButtonVisible"
      [isSubmitButtonVisible]="isSubmitButtonVisible"
      [isSubmitDirty]="isSubmitDirty"
      [saveMessage]="saveMessage"
      (saveButtonClicked)="saveButtonClicked($event)"
      (submitButtonClicked)="submitButtonClicked($event)">
  </component-save-submit-buttons>
</div>