.starter-bucket-label {
  margin-right: 20px;
}

.submit-counter-message {
  height: 30px;
}

.correctness-message {
  height: 30px;
}

.correct-text {
  color: green;
}

.incorrect-text {
  color: red;
}