.starter-bucket-label {
  margin-right: 20px;
}

.submit-counter-message {
  height: 30px;
}

.correctness-message {
  height: 30px;
}

.correct-text {
  color: green;
}

.incorrect-text {
  color: red;
}

.dragdrop-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
