<component-header [component]="component"></component-header>
<div class="match" fxLayout="row wrap" cdkDropListGroup>
  <div fxFlex="100" fxFlex.gt-xs="{{isHorizontal ? 50: 100}}" fxFlexOrder="{{isChoicesAfter ? 2 : 1}}">
    <div class="bucket selected-bg-bg"
        fxLayout="column"
        [ngStyle]="{'margin-bottom': isHorizontal ? '0' : '8px'}">
      <div class="bucket-title"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="8px">
        <h3 class="mat-body-2" [innerHTML]="buckets[0].value"></h3>
        <div *ngIf="componentContent.canCreateChoices">
          <add-choice-button [isDisabled]="isDisabled" (onClick)="addChoice()"></add-choice-button>
        </div>
      </div>
      <ul class="items"
          [ngStyle.gt-xs]="{columns: isHorizontal ? 1 : 2}"
          [ngStyle.gt-md]="{columns: isHorizontal ? 1 : 3}"
          cdkDropList
          [cdkDropListData]="buckets[0].items"
          (cdkDropListDropped)="drop($event)">
        <li class="item"
            [ngClass]="{'disabled': isDisabled}"
            cdkDrag
            [cdkDragDisabled]="isDisabled"
            (cdkDragEntered)="dragEnter($event)"
            (cdkDragExited)="dragExit($event)"
            *ngFor="let item of buckets[0].items; let position = index;"
            [cdkDragData]="position">
          <match-choice-item [buckets]="buckets"
              [item]="item"
              [hasCorrectAnswer]="hasCorrectAnswer"
              [isDisabled]="isDisabled"
              (onStudentDataChanged)="studentDataChanged()"></match-choice-item>
        </li>
      </ul>
    </div>
  </div>
  <div fxLayout="column"
      fxLayout.gt-xs="{{isHorizontal ? 'column' : 'row wrap'}}"
      fxLayoutAlign="start stretch"
      fxFlex="100"
      fxFlex.gt-xs="{{isHorizontal ? 50 : 100}}"
      fxFlexOrder="{{isChoicesAfter ? 1 : 2}}">
    <div *ngFor="let bucket of buckets.slice(1)"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-xs="{{isHorizontal ? 100 : 50}}"
        fxFlex.gt-md="{{isHorizontal ? 100 : 33.33}}">
      <div class="bucket target notice-bg-bg" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bucket-title"
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="8px">
          <h3 class="mat-body-2" [innerHTML]="bucket.value"></h3>
        </div>
        <ul class="items"
            cdkDropList
            [cdkDropListData]="bucket.items"
            (cdkDropListDropped)="drop($event)">
          <li class="item"
              [ngClass]="{'disabled': isDisabled}"
              cdkDrag
              [cdkDragDisabled]="isDisabled"
              (cdkDragEntered)="dragEnter($event)"
              (cdkDragExited)="dragExit($event)"
              *ngFor="let item of bucket.items; let position = index;"
              [cdkDragData]="position">
            <match-choice-item [buckets]="buckets"
                [item]="item"
                [hasCorrectAnswer]="hasCorrectAnswer"
                [isDisabled]="isDisabled"
                (onStudentDataChanged)="studentDataChanged()"></match-choice-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<match-feedback-section [componentContent]="componentContent"
    [hasCorrectAnswer]="hasCorrectAnswer"
    [isCorrect]="isCorrect"
    [isLatestComponentStateSubmit]="isLatestComponentStateSubmit"
    [submitCounter]="submitCounter"></match-feedback-section>
<component-save-submit-buttons *ngIf="isSaveOrSubmitButtonVisible"
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)">
</component-save-submit-buttons>
<component-annotations *ngIf="mode === 'student'"
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId">
</component-annotations>
