<mat-card appearance="filled">
  <mat-card-header>
    <mat-card-title class="pb-2">{{ componentGroup.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="@container">
      <div class="grid @md:grid-cols-2 gap-1">
        @for (componentType of componentGroup.types; track componentType.type) {
          <component-type-button
            [componentType]="componentType.type"
            (componentSelectedEvent)="componentSelectedEvent.emit(componentType)"
          />
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
