<h2 mat-dialog-title i18n>Preview Component</h2>
<ng-container *ngIf="canSaveStarterState">
  <mat-divider></mat-divider>
  <save-starter-state
    class="notice-bg-bg"
    [component]="component"
    [starterState]="starterState"
  ></save-starter-state>
</ng-container>
<mat-divider></mat-divider>
<mat-dialog-content>
  <preview-component
    [component]="component"
    (starterStateChangedEvent)="updateStarterState($event)"
  >
  </preview-component>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusRegionstart i18n>Close</button>
</mat-dialog-actions>
