.mat-divider {
  margin: 0 -16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content.mat-mdc-dialog-content {
  padding: 0;
}

save-starter-state {
  display: block;
  margin: 0 -16px;
  padding: 0 16px;
}
