@import
  'style/abstracts/variables',
  'style/abstracts/functions';

.student-account-menu {
  &.mat-mdc-menu-panel {
    max-width: 480px;

    @media (min-width: breakpoint('sm.min')) {
      min-width: 320px;
    }

    @media (min-width: breakpoint('md.min')) {
      min-width: 380px;
    }

    .mat-mdc-menu-content {
      padding: 0;
    }
  }

  button.mat-mdc-menu-item {
    width: auto;
    font-weight: 500;
    line-height: 36px;
    height: 36px;
  }

  .mat-mdc-menu-content {
    padding: 0;

    .mat-divider-horizontal {
      margin: 0;
    }
  }

  .menu-section {
    padding: 8px 12px;
  }

  .mat-headline-4 {
    margin: 0;
  }

  .mat-mdc-progress-bar {
    transform: rotate(270deg);
    width: 32px;
  }

  .score-wrap {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  .score {
    height: 32px;

    .mdc-linear-progress__buffer {
      height: 32px;
    }
  }

  .controls {
    padding: 8px;
  }
}
