@use 'style/abstracts/functions';

.form-fields {
  margin-bottom: 0 !important;

  @media (min-width: functions.breakpoint('sm.min')) {
    p {
      margin-bottom: 0;
    }
  }

  // hacks necessary until fxLayoutGap resize bug is fixed: https://github.com/angular/flex-layout/issues/606
  @media (max-width: functions.breakpoint('xs.max')) {
    margin: 0 !important;

    p {
      padding: 0 !important;
    }
  }
}

.contact__form {
  width: 800px;
}
