<div class="component--grading__response__content">
  <div class="match flex flex-row flex-wrap">
    <div
      [ngClass]="{
        'w-full': true,
        'md:w-1/2': componentContent.horizontal,
        'md:w-full': !componentContent.horizontal,
        'order-2': componentContent.choicesAfter,
        'order-1': !componentContent.choicesAfter
      }"
    >
      <div
        class="bucket selected-bg-bg flex flex-col"
        [ngStyle]="{ 'margin-bottom': componentContent.horizontal ? '0' : '8px' }"
      >
        <div class="bucket-title flex flex-row flex-wrap justify-start items-center gap-2">
          <h3 class="mat-subtitle-2" [innerHTML]="sourceBucket.value"></h3>
        </div>
        <ul
          class="items"
          [ngClass]="{
            'md:columns-1': componentContent.horizontal,
            'md:columns-2': !componentContent.horizontal
          }"
        >
          @for (item of sourceBucket.items; track item.id) {
            <li class="item" [ngClass]="{ disabled: true }">
              <match-choice-item
                [buckets]="[sourceBucket]"
                [item]="item"
                [hasCorrectAnswer]="hasCorrectAnswer"
                [isDisabled]="true"
              />
            </li>
          }
        </ul>
      </div>
    </div>
    <div
      [ngClass]="{
        'w-full': true,
        'md:w-1/2': componentContent.horizontal,
        'md:w-full': !componentContent.horizontal,
        'order-1': componentContent.choicesAfter,
        'order-2': !componentContent.choicesAfter,
        flex: true,
        'flex-col': true,
        'md:flex-col': componentContent.horizontal,
        'md:flex-row': !componentContent.horizontal,
        'sm:flex-wrap': !componentContent.horizontal,
        'justify-start': true,
        'items-stretch': true
      }"
    >
      @for (bucket of targetBuckets; track bucket.id) {
        <div
          class="flex flex-col"
          [ngClass]="{
            'w-full': true,
            'md:w-full': componentContent.horizontal,
            'md:w-1/2': !componentContent.horizontal
          }"
        >
          <div class="bucket target notice-bg-bg flex flex-col items-stretch">
            <div class="bucket-title flex flex-row flex-wrap justify-start items-center gap-2">
              <h3 class="mat-subtitle-2" [innerHTML]="bucket.value"></h3>
            </div>
            <ul class="items">
              @for (item of bucket.items; track item.id) {
                <li class="item" [ngClass]="{ disabled: true }">
                  <match-choice-item
                    [buckets]="targetBuckets"
                    [item]="item"
                    [hasCorrectAnswer]="hasCorrectAnswer"
                    [isDisabled]="true"
                  />
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
  <match-feedback-section
    [componentContent]="componentContent"
    [hasCorrectAnswer]="hasCorrectAnswer"
    [isCorrect]="componentState.studentData.isCorrect"
    [isLatestComponentStateSubmit]="componentState.isSubmit"
    [submitCounter]="componentState.studentData.submitCounter"
  />
</div>
