@import
  '@angular/material/theming',
  'style/abstracts/functions',
  'style/abstracts/variables';

.tag-preview {
  border-radius: $button-border-radius;
  height: 22px;
  padding: 8px 12px;
  margin-bottom: 16px;
}

.tag-inputs-div {
  width: 100%;
}

.name-input {
  width: 80%;
}

.color-input {
  width: 15%;
}
