<ng-container *ngIf="first">
  <button
    mat-icon-button
    color="primary"
    [matMenuTriggerFor]="step"
    #menuTrigger="matMenuTrigger"
    matTooltip="Add step"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <mat-menu #step="matMenu">
    <button mat-menu-item (click)="addStepBefore()">
      <mat-icon>add_circle</mat-icon><span i18n>Add Step Before</span>
    </button>
    <button mat-menu-item (click)="addStepAfter()">
      <mat-icon>add_circle</mat-icon><span i18n>Add Step After</span>
    </button>
  </mat-menu>
</ng-container>
<ng-container *ngIf="!first">
  <button
    mat-icon-button
    color="primary"
    (click)="addStepAfter()"
    matTooltip="Add step after"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</ng-container>
