<h5 i18n>Choose the step(s) that you want to import, then select Next.</h5>
<p fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
  <strong i18n>Selected unit: {{ project.metadata.title }}</strong>
  <button
    mat-raised-button
    color="primary"
    (click)="previewProject()"
    matTooltip="Preview Unit"
    i18n-matTooltip
    matTooltipPosition="above"
  >
    <mat-icon>visibility</mat-icon>
  </button>
</p>
<div
  *ngFor="let item of projectIdToOrder"
  [ngClass]="{
    groupHeader: item.node.type == 'group',
    stepHeader: item.node.type != 'group'
  }"
>
  <h6 *ngIf="item.order != 0 && item.node.type == 'group'">
    {{ item.stepNumber }}: {{ item.node.title }}
  </h6>
  <div fxLayout="row wrap" fxLayoutGap="8px" *ngIf="item.order != 0 && item.node.type != 'group'">
    <mat-checkbox name="item" ngDefaultControl [(ngModel)]="item.checked">
      <span class="step-title">{{ item.stepNumber }}: {{ item.node.title }}</span>
    </mat-checkbox>
    <button
      mat-raised-button
      color="primary"
      class="mat-raised-button mat-primary"
      style="margin-top: -5"
      (click)="previewNode(item.node)"
      aria-label="Preview Step"
      matTooltip="Preview Step"
      i18n-matTooltip
      matTooltipPosition="above"
    >
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
<div class="nav-controls">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      routerLink="../choose-unit"
      aria-label="Back"
      i18n-aria-label
      i18n
    >
      Back
    </button>
    <span fxFlex></span>
    <button mat-button color="primary" routerLink="../../.." i18n>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="goToChooseLocation()"
      [disabled]="getSelectedNodesToImport().length == 0"
      matTooltip="Next"
      i18n-matTooltip
      matTooltipPosition="above"
      aria-label="next"
      i18n
    >
      Next
    </button>
  </div>
</div>
