<h3 i18n>Create Branch</h3>
<form fxLayout="column" [formGroup]="formGroup">
  <mat-form-field class="path-count">
    <mat-label i18n>Number of Branch Paths</mat-label>
    <input matInput formControlName="pathCount" type="number" min="2" />
  </mat-form-field>
  <mat-form-field *ngIf="formGroup.controls['pathCount'].value > 1" class="select-medium-width">
    <mat-label i18n>How to Choose Among Paths</mat-label>
    <mat-select formControlName="criteria">
      <mat-option *ngFor="let branchCriterion of BRANCH_CRITERIA" [value]="branchCriterion.value">
        <span fxLayout="row" fxLayoutAlign="start center">
          <span>{{ branchCriterion.text }}</span>
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <select-step
    *ngIf="
      formGroup.controls['criteria'].value === SCORE_VALUE ||
      formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE
    "
    [nodeId]="formGroup.controls['nodeId'].value"
    (stepChangedEvent)="setNodeId($event)"
  >
  </select-step>
  <select-component
    *ngIf="
      formGroup.controls['nodeId']?.value !== '' &&
      (formGroup.controls['criteria'].value === SCORE_VALUE ||
        formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE)
    "
    [nodeId]="formGroup.controls['nodeId'].value"
    [componentId]="formGroup.controls['componentId'].value"
    [allowedComponentTypes]="allowedComponentTypes"
    (componentChangedEvent)="setComponentId($event)"
  ></select-component>
  <branch-path-authoring
    [pathCount]="formGroup.controls['pathCount'].value"
    [criteria]="formGroup.controls['criteria'].value"
    [nodeId]="formGroup.controls['nodeId']?.value"
    [componentId]="formGroup.controls['componentId']?.value"
    [pathFormGroup]="formGroup.controls['pathFormGroup']"
  ></branch-path-authoring>
  <select-merge-step
    *ngIf="
      formGroup.controls['criteria'].value === WORKGROUP_ID_VALUE ||
      formGroup.controls['criteria'].value === RANDOM_VALUE ||
      formGroup.controls['criteria'].value === TAG_VALUE ||
      ((formGroup.controls['criteria'].value === SCORE_VALUE ||
        formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE) &&
        formGroup.controls['nodeId'].value !== '' &&
        formGroup.controls['componentId'].value !== '' &&
        formGroup.controls['pathFormGroup'].valid)
    "
    [branchStepId]="targetId"
    (selectMergeStepEvent)="setMergeStep($event)"
  ></select-merge-step>
  <div fxLayoutAlign="end center" fxLayoutGap="12px">
    <button mat-button routerLink=".." i18n>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="submit()" i18n>
      Submit
    </button>
  </div>
</form>
