<h3 i18n>Create Branch Off {{ targetTitle }}</h3>
<form fxLayout="column" [formGroup]="formGroup">
  <select-path-count
    [pathCount]="formGroup.controls['pathCount'].value"
    (pathCountChangedEvent)="setPathCount($event)"
  />
  @if (formGroup.controls['pathCount'].value > 1) {
    <select-branch-criteria
      [criteria]="formGroup.controls['criteria']"
      (criteriaChangedEvent)="setCriteria($event)"
    />
  }
  @if (
    formGroup.controls['criteria'].value === SCORE_VALUE ||
    formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE
  ) {
    <select-step
      [nodeId]="formGroup.controls['nodeId'].value"
      (stepChangedEvent)="setNodeId($event)"
    />
  }
  @if (
    formGroup.controls['nodeId']?.value !== '' &&
    (formGroup.controls['criteria'].value === SCORE_VALUE ||
      formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE)
  ) {
    <select-component
      [nodeId]="formGroup.controls['nodeId'].value"
      [componentId]="formGroup.controls['componentId'].value"
      [allowedComponentTypes]="allowedComponentTypes"
      (componentChangedEvent)="setComponentId($event)"
    />
  }
  <branch-path-authoring
    [pathCount]="formGroup.controls['pathCount'].value"
    [criteria]="formGroup.controls['criteria'].value"
    [nodeId]="formGroup.controls['nodeId']?.value"
    [componentId]="formGroup.controls['componentId']?.value"
    [pathFormGroup]="formGroup.controls['pathFormGroup']"
  />
  @if (showSelectMergeStep()) {
    <select-merge-step [branchStepId]="targetId" (selectMergeStepEvent)="setMergeStep($event)" />
  }
  <div fxLayoutAlign="end center" fxLayoutGap="12px">
    <button mat-button routerLink=".." i18n>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="submit()" i18n>
      Submit
    </button>
  </div>
</form>
