<div class="root">
  <div
    class="drop-box"
    (fileDropped)="uploadAssetItems($event)"
    dragAndDrop
    accept="image/*,application/pdf,text/csv,text/javascript"
  >
    <span i18n>Drop image or file here or click to upload!</span>
    <input
      type="file"
      accept="image/*,application/pdf,text/csv,text/javascript"
      class="file-input enable-in-translation"
      (change)="uploadAssetItems($event.target.files)"
      #fileDropRef
      multiple
    />
  </div>
  <div class="storage-usage-message">
    <span i18n>
      You are using {{ totalFileSize | fileSize }} out of
      {{ projectAssetTotalSizeMax | fileSize }} ({{ projectAssetUsagePercentage.toFixed(0) }}%)
    </span>
    @if (totalUnusedFilesSize != null && totalUnusedFilesSize !== 0) {
      <span class="red"
        >(Unused Files {{ totalUnusedFilesSize | fileSize }} ({{
          unusedFilesPercentage.toFixed(0)
        }}%))
      </span>
    }
  </div>
  <div class="background-green">
    {{ uploadSuccessMessage }}
    @for (successFile of successFiles; track successFile) {
      <div>
        <b>{{ successFile.filename }}</b>
      </div>
    }
  </div>
  <div class="background-pink">
    {{ uploadErrorMessage }}
    @for (errorFile of errorFiles; track errorFile) {
      <div>
        <b>{{ errorFile.filename }}</b> {{ errorFile.message }}
      </div>
    }
  </div>
  <mat-form-field>
    <mat-label i18n>Sort Assets</mat-label>
    <mat-select [(ngModel)]="assetSortBy" (ngModelChange)="assetSortByChanged()">
      <mat-option value="aToZ" i18n>File Name A->Z</mat-option>
      <mat-option value="zToA" i18n>File Name Z->A</mat-option>
      <mat-option value="smallToLarge" i18n>File Size Small -> Large</mat-option>
      <mat-option value="largeToSmall" i18n>File Size Large -> Small</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="assets">
    <div class="asset-items-container">
      <ul class="asset-items">
        @for (assetItem of projectAssets.files; track assetItem) {
          @if (allowedFileTypes.includes('any') || allowedFileTypes.includes(assetItem.fileType)) {
            <li
              class="asset-item cursor-pointer flex justify-start items-center gap-2"
              (mouseover)="previewAsset(assetItem)"
              [ngStyle]="{ 'background-color': selectedAssetItem === assetItem ? 'yellow' : '' }"
            >
              @if (isPopup) {
                <button mat-stroked-button (click)="chooseAsset(assetItem)" i18n>Choose</button>
              }
              <span>{{ assetItem.fileName }} ({{ assetItem.fileSize | fileSize }})</span>
              @if (!assetItem.used) {
                <span>
                  <span class="red" i18n>(Not Used)</span>
                </span>
              }
              <div class="flex-grow"></div>
              <button
                class="enable-in-translation"
                mat-icon-button
                (click)="downloadAsset(assetItem)"
                matTooltip="Download"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>file_download</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="deleteAsset(assetItem)"
                matTooltip="Delete"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>delete</mat-icon>
              </button>
            </li>
          }
        }
      </ul>
    </div>
    <div class="asset-preview">
      @if (assetIsImage) {
        <img [src]="previewAssetURL" class="max-width-400" />
      }
      @if (assetIsVideo) {
        <video class="max-width-400" controls>
          <source [src]="previewAssetURL" type="video/mp4" />
        </video>
      }
    </div>
  </div>
</div>
