<style>
  md-dialog {
    display: initial;
    width: 80%;
    height: 50%;
  }
</style>

<div style='margin-left: 20px; margin-top: 20px;'>
  <h5>{{ ::'createAWISELink' | translate }}</h5>
  <br/>
  <md-select md-theme="at"
         class="node-select md-subhead"
         ng-model="$ctrl.wiseLinkNodeId"
         placeholder="{{ ::'chooseAStep' | translate }}"
         ng-change="$ctrl.wiseLinkNodeIdChanged()"
         style="width:600px">
    <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
           ng-if="item.$key != 'group0'"
           value="{{ item.$key }}"
           ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
      <span layout="row" layout-align="start center">
        <span class="node-select__text">
          {{ ::$ctrl.getNodePositionById(item.$key) + ': '}}
          {{ ::$ctrl.getNodeTitle(item.$key) }}
          ({{item.$key}})
        </span>
      </span>
    </md-option>
  </md-select>
  <md-select md-theme="at"
      class="node-select md-subhead"
      ng-model="$ctrl.wiseLinkComponentId"
      placeholder="{{ ::'chooseAComponentOptional' | translate }}"
      style="width:600px">
    <md-option
        ng-repeat="(componentIndex, component) in $ctrl.getComponents($ctrl.wiseLinkNodeId)"
        value="{{ component.id }}">
      <span layout="row" layout-align="start center">
        <span class="node-select__text">{{componentIndex + 1}}. {{component.type}}</span>
      </span>
    </md-option>
  </md-select>
  <br/>

  <md-radio-group ng-model="$ctrl.wiseLinkType" class="md-primary">
    <md-radio-button value="link">{{ ::'link' | translate }}</md-radio-button>
    <md-radio-button value="button">{{ ::'button' | translate }}</md-radio-button>
  </md-radio-group>
  <md-input-container>
    <label>{{ ::'setLinkText' | translate }}</label>
    <input ng-model="$ctrl.wiseLinkText" ng-model-options='{ debounce: 500 }' size="50"/>
  </md-input-container>
  <br/>

  <md-button class="md-raised md-primary" ng-click="$ctrl.createWISELink()">
     <span>{{ ::'create' | translate }}</span>
  </md-button>
  <md-button class="md-raised" ng-click="$ctrl.cancelWISELinkAuthoring()">
    <span>{{ ::'CANCEL' | translate }}</span>
  </md-button>
</div>
