@if (!showTranslationInput()) {
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [(ngModel)]="content[key]"
      (ngModelChange)="defaultLanguageTextChanged.next($event)"
      placeholder="{{ placeholder }}"
    />
    @if (hint) {
      <mat-hint>{{ hint }}</mat-hint>
    }
  </mat-form-field>
} @if (showTranslationInput()) {
  <mat-form-field *ngIf="showTranslationInput()" class="translatable">
    <mat-label>{{ label }} ({{ currentLanguage().language }})</mat-label>
    <input
      matInput
      [ngModel]="translationText"
      (ngModelChange)="translationTextChanged.next($event)"
      placeholder="{{ placeholder }}"
    />
    @if (hint) {
      <mat-hint>{{ hint }}</mat-hint>
    }
    <mat-hint class="source-language selected-bg-bg">
      <strong><mat-icon>translate</mat-icon> {{ defaultLanguage.language }}:</strong>
      {{ content[key] }}
    </mat-hint>
  </mat-form-field>
}
