<ng-content *ngIf="!showTranslationInput()"></ng-content>
<mat-form-field *ngIf="showTranslationInput()">
  <mat-label
    >{{ defaultLanguageLabelRef.nativeElement.innerHTML }} ({{
      currentLanguage().language
    }})</mat-label
  >
  <input
    matInput
    [ngModel]="translatedText()"
    (ngModelChange)="saveTranslationText($event)"
    placeholder="{{ defaultLanguageInput.placeholder }}"
  />
  <mat-hint *ngIf="showTranslationInput()">{{ defaultLanguageText() }}</mat-hint>
</mat-form-field>
