.h3.component-header {
  margin-bottom: 0;
}

.mat-list-base {
  .mat-list-item {
    width: auto;
    height: fit-content;
  }
}

.revision {
  padding: 0;
}

.revision-latest {
  margin-bottom: 24px;
}

.revision-content {
  margin-bottom: 16px;
}

.show-more {
  padding: 16px;
}
