h3.component-header {
  padding: 8px 12px;
  margin: 0;
  font-weight: 500;
}

.mat-mdc-list-base {
  .mat-mdc-list-item {
    width: auto;
    height: fit-content;
  }
}

.revision {
  padding: 0;
}

.revision-latest {
  margin-bottom: 24px;
}

.revision-content {
  padding: 16px;
}

.show-more {
  padding: 16px;
}
