<h2 mat-dialog-title i18n>Revisions for {{ usernames }}</h2>
<mat-dialog-content class="dialog-content-scroll">
  <mat-list class="component-revisions">
    @for (revision of revisionsSorted; track revision; let i = $index; let isFirst = $first) {
      <mat-list-item
        class="list-item mat-elevation-z1 revision"
        [ngClass]="{ 'revision-latest': isFirst }"
      >
        @if (i < numRevisionsShown) {
          <div class="flex-1">
            <h3 class="accent-1 mat-caption gray-lightest-bg component-header">
              #{{ totalRevisions - i }}
              @if (isFirst) {
                <span>(Latest)</span>
              }
            </h3>
            <div class="revision-content flex flex-col lg:flex-row gap-4">
              <div class="revision-response flex flex-col w-full lg:w-2/3">
                <component-grading-component
                  [nodeId]="nodeId"
                  [componentId]="componentId"
                  [componentState]="revision.componentState"
                  [workgroupId]="workgroupId"
                  [isRevision]="true"
                />
                <span class="flex-1"></span>
                <div class="component__actions__info component--grading__actions__info md-caption">
                  <component-state-info
                    [componentState]="revision.componentState"
                    [isInactive]="true"
                  />
                </div>
              </div>
              <edit-component-annotations
                class="selected-bg-bg w-full lg:w-1/3"
                [componentId]="componentId"
                [componentStateId]="revision.componentState.id"
                [fromWorkgroupId]="fromWorkgroupId"
                [isDisabled]="true"
                [nodeId]="nodeId"
                [showAllAnnotations]="true"
                [toWorkgroupId]="workgroupId"
              />
            </div>
          </div>
        }
      </mat-list-item>
    }
    @if (totalRevisions > numRevisionsShown) {
      <div class="show-more center">
        <button mat-raised-button (click)="showMore()" i18n>Show more</button>
      </div>
    }
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusRegionstart i18n>Close</button>
</mat-dialog-actions>
