<div *ngIf="showRubric" class="component__rubric">
  <help-icon
      [content]="rubric"
      label="Teaching Tips"
      i18n-label
      icon="info">
  </help-icon>
</div>
<div [ngSwitch]="component.content.type" class="component__wrapper">
  <animation-student *ngSwitchCase="'Animation'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </animation-student>
  <audio-oscillator-student *ngSwitchCase="'AudioOscillator'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </audio-oscillator-student>
  <concept-map-student *ngSwitchCase="'ConceptMap'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </concept-map-student>
  <dialog-guidance-student *ngSwitchCase="'DialogGuidance'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      mode="student">
  </dialog-guidance-student>
  <discussion-student *ngSwitchCase="'Discussion'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      mode="student">
  </discussion-student>
  <draw-student *ngSwitchCase="'Draw'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </draw-student>
  <embedded-student *ngSwitchCase="'Embedded'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </embedded-student>
  <graph-student *ngSwitchCase="'Graph'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </graph-student>
  <html-student *ngSwitchCase="'HTML'"
      [component]="component"
      mode="student">
  </html-student>
  <label-student *ngSwitchCase="'Label'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </label-student>
  <match-student *ngSwitchCase="'Match'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </match-student>
  <multiple-choice-student *ngSwitchCase="'MultipleChoice'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </multiple-choice-student>
  <open-response-student *ngSwitchCase="'OpenResponse'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </open-response-student>
  <outside-url-student *ngSwitchCase="'OutsideURL'"
      [component]="component"
      mode="student">
  </outside-url-student>
  <peer-chat-student *ngSwitchCase="'PeerChat'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      mode="student">
  </peer-chat-student>
  <show-group-work-student *ngSwitchCase="'ShowGroupWork'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      [mode]="student">
  </show-group-work-student>
  <show-my-work-student *ngSwitchCase="'ShowMyWork'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      [mode]="student">
  </show-my-work-student>
  <summary-student *ngSwitchCase="'Summary'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      mode="student">
  </summary-student>
  <table-student *ngSwitchCase="'Table'"
      [component]="component"
      [componentState]="componentState"
      [workgroupId]="workgroupId"
      (saveComponentStateEvent)="saveComponentState($event)"
      mode="student">
  </table-student>
</div>
