@use 'style/abstracts/variables';
@use 'style/themes/default';
@use 'sass:map';

$warn: map.get(default.$default-colors, warn);
$secondary-text: map.get(default.$default-colors, secondary-text);

.corner {
  border-top-right-radius: variables.$card-border-radius;
  overflow: hidden;
}

.corner-content {
  width: 0;
  height: 0;
  border-top-color: map.get(default.$default-colors, secondary-text);;
  border-bottom-color: map.get(default.$default-colors, secondary-text);;
  color: map.get(default.$default-colors, secondary-text);;

  border-top: 36px solid;
  border-left: 36px solid transparent;

  &:after {
    content: '!';
    color: #ffffff;
    top: 2px;
    right: 10px;
    position: absolute;
    font-weight: 700;
  }
}

.corner-warn {
  border-top-color: map.get(default.$default-colors, warn);
  border-bottom-color: map.get(default.$default-colors, warn);;
}
