@import 'style/abstracts/variables';

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
label.mat-radio-label {
  display: inline-flex;
}

.choices-label {
  margin-right: 10px;
}

.add-choice-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.choice-container {
  border: 2px solid #dddddd;
  border-radius: $card-border-radius;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
}

.info-block {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.choice-authoring-button {
  margin-left: 10px;
  margin-right: 10px;
}

.mat-mdc-checkbox {
  margin-left: 5px;
}

.choice-text-input-container, .choice-feedback-input-container {
  width: 70%;
}

.reload-preview-container {
  margin-bottom: 10px;
}

.mat-icon {
  margin: 0px;
}
