@use 'style/abstracts/variables';

.choice-container {
  border: 2px solid #dddddd;
  border-radius: variables.$card-border-radius;
  padding: 16px 16px 0;
}

.info-block {
  text-align: center;
  font-weight: 500;
}

.choice-input-container {
  flex: 1;
  
  mat-form-field {
    width: 100%;
  }
}
