<div class="l-constrained grading">
  <div class="flex md-subhead content-head" fxLayout="row wrap"
       fxLayoutAlign="center center" fxLayout.gt-sm="start center">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex-xs="100" fxFlex-sm="100">
      <div class="accent-1" fxLayout="row" fxLayoutAlign="center center">
        <h2 class="content-head__item">
          {{getNodeCompletion(nodeId)}}%
          <span class="md-subhead" i18n>Completion</span>
        </h2>
        <h2 class="content-head__item" *ngIf="nodeHasWork">
          <span *ngIf="getNodeAverageScore() !== 'N/A'; then averageIsNumber; else avergeIsNa">
          </span>
          <ng-template #averageIsNumber>{{getNodeAverageScore() | number: '1.1'}}</ng-template>
          <ng-template #avergeIsNa i18n>N/A</ng-template>
          <span class="md-subhead" i18n>Mean Score</span>
        </h2>
      </div>
    </div>
    <span fxFlex></span>
    <div class="content-head__more" fxLayout="row wrap" fxLayoutAlign="center center">
      <component-select
          [nodeId]="nodeId"
          class="md-button md-no-underline"
          (modelChange)="onUpdateHiddenComponents($event)">
      </component-select>
      <button *ngIf="milestoneReport"
          mat-button
          (click)="showReport($event)"
          class="md-raised info">
        <mat-icon class="info">flag</mat-icon>
        <span i18n>Report</span>
      </button>
      <button *ngFor="let peerGroupingTag of peerGroupingTags"
          mat-button
          class="md-raised info"
          (click)="showPeerGroupDetails(peerGroupingTag)">
        <mat-icon class="info">groups</mat-icon>
        <span class="info" i18n>Peer Groups</span>
      </button>
      <button
          mat-button
          (click)="showRubric($event)"
          class="md-raised info">
        <mat-icon class="info">info_outline</mat-icon>
        <span *ngIf="!numRubrics" i18n>Step Info</span>
        <span *ngIf="numRubrics" i18n>Info + Tips ({{ numRubrics }})</span>
      </button>
    </div>
  </div>
  <mat-list class="user-list">
    <mat-list-item class="md-whiteframe-1dp md-with-secondary list-item list-item--actions">
      <div fxFlex.xs="100" fxFlex.sm="100">
        <workgroup-select-autocomplete></workgroup-select-autocomplete>
      </div>
      <span fxFlex fxHide.xs fxHide.sm></span>
      <div *ngIf="nodeHasWork"
          class="md-secondary-container"
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxLayoutAlign="center center">
        <button mat-button
            aria-label="Expand all"
            i18n-aria-label
            class="button--small md-primary"
            (click)="expandAll()"
            i18n>
          + Expand all
        </button>
        <button mat-button
            aria-label="Collapse all"
            i18n-aria-label
            class="button--small md-primary"
            (click)="collapseAll()"
            i18n>
          - Collapse all
        </button>
      </div>
      <div *ngIf="!nodeHasWork" class="center md-padding" fxFlex.xs="100" fxFlex.sm="100">
        <span class="text-secondary md-caption" i18n>
          This step doesn't require any student work
        </span>
      </div>
    </mat-list-item>
    <mat-list-item class="table--list__thead table--list__thead__th md-whiteframe-1dp">
      <div class="md-list-item-text table--list__thead__tr" fxLayout="row" fxFlex>
        <button mat-button
            class="table--list__thead__link" fxFlex fxLayout="row" fxLayoutAlign="start center"
            (click)="setSort('team')" aria-label="Sort by team" i18n-aria-label>
          <span i18n>Team</span>
          <mat-icon *ngIf="sort === 'team' || sort === '-team'"
              class="text-light table--list__thead__sort" md-theme="default"
              [ngClass]="{'table--list__thead__sort--reverse': sort === '-team'}">
            arrow_drop_up
          </mat-icon>
        </button>
        <button mat-button
            class="table--list__thead__link"
            fxFlex="{{nodeHasWork ? 30 : 20}}"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="setSort('status')"
            aria-label="Sorty by completion"
            i18n-aria-label>
          <span i18n>Status</span>
          <mat-icon *ngIf="sort === 'status' || sort === '-status'"
              class="text-light table--list__thead__sort" md-theme="default"
              [ngClass]="{'table--list__thead__sort--reverse': sort === '-status'}">
            arrow_drop_up
          </mat-icon>
        </button>
        <button
            *ngIf="nodeHasWork"
            mat-button
            class="table--list__thead__link"
            fxFlex="20"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="setSort('score')"
            aria-label="Sort by score"
            i18n-aria-label>
          <span i18n>Score</span>
          <mat-icon *ngIf="sort === 'score' || sort === '-score'"
              class="text-light table--list__thead__sort"
              md-theme="default"
              [ngClass]="{'table--list__thead__sort--reverse': sort === '-score'}">
            arrow_drop_up
          </mat-icon>
        </button>
      </div>
    </mat-list-item>
    <div class="md-whiteframe-1dp" waIntersectionObserver waIntersectionThreshold="0.5">
      <ng-container *ngFor="let workgroup of sortedWorkgroups">
        <ng-container *ngIf="isWorkgroupShown(workgroup)">
          <workgroup-item
              [expanded]="workVisibilityById[workgroup.workgroupId]"
              [max-score]="maxScore"
              [showScore]="nodeHasWork"
              [nodeId]="nodeId"
              [workgroupId]="workgroup.workgroupId"
              [workgroupData]="workgroup"
              [hiddenComponents]="hiddenComponents"
              (onUpdateExpand)="onUpdateExpand($event)"
              (waIntersectionObservee)="onIntersection(workgroup.workgroupId, $event)">
          </workgroup-item>
        </ng-container>
      </ng-container>
    </div>
  </mat-list>
</div>
