.node-grading {
  .content-head-label {
    font-size: 50%;
  }

  .user-list {
    &.mat-mdc-list-base {
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-mdc-list-item .mat-list-item-content {
        padding: 0 8px;
      }

      workgroup-item {
        /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
        .mat-mdc-list-item .mat-list-item-content {
          padding: 0;
        }
      }
    }
  }

  workgroup-select-autocomplete {
    width: 100%;
  }

  .mat-mdc-list-base {
    .mat-mdc-list-item.user-list-controls {
      height: auto;
      padding: 8px;
    }
  }
  
  .mdc-button__label {
    width: 100%;
  }

  .table--list__thead__link {
    text-transform: none;
  }
}
