@use '@angular/material' as mat;

@import
  'style/base/typography',
  'style/abstracts/functions',
  'style/abstracts/variables';

.library-project-details {
}

.info-block {
  padding: 12px;
  overflow: hidden;
}

.mat-mdc-card-avatar {
  background-size: cover;
  border-radius: 4px;
  margin-right: 12px;

  @media (min-width: breakpoint('sm.min')) {
    height: 64px;
    width: 64px;
  }
}

.mat-mdc-card-title {
  margin-bottom: 2px;
}

.mat-mdc-card-subtitle {
}

.mat-mdc-dialog-actions {
  .mat-mdc-button, .mat-mdc-button-base {
    margin-left: 0;
  }
}

.details {
  > p, div {
    margin: 0 0 12px;
  }
}

.pe {
  display: inline-block;
}

.license {
  margin: 0 -12px -12px;
  padding: 12px;

  img {
    height: 16px;
    width: auto;
    margin-bottom: 2px;
    vertical-align: middle;
  }
}

discourse-category-activity, unit-tags {
  margin-bottom: 12px;
  display: block;
}
