@import '~style/abstracts/variables';

.feedback-rules {
  padding: 16px;
  border-radius: $card-border-radius;
}

h5 {
  margin-top: 0;
}

ul {
  margin: 16px 0 0 0;
  padding: 0 0 16px;
  max-height: 60vh;
  overflow-y: auto;
}

li {
  list-style-type: none;
}

.rule {
  position: relative;
}

.rule-content {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

.rule-input {
  width: 100%;
}

.cdk-drag-handle {
  cursor: move;
}

.cdk-drag-placeholder {
  opacity: .4;
}

.mat-subheading-2 {
  margin: 0;
}

.feedback-item {
  width: 100%;
}

.feedback-input {
  width: 100%;
}

.add-rule {
  position: absolute;
  bottom: -24px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
