<div class="account-menu--fixed-height account-menu--fixed-width flex flex-col">
  <mat-toolbar
    class="account-menu__info md-subhead md-whiteframe-1dp flex justify-between items-center"
  >
    <span class="accent account-menu__info__title flex justify-start items-center">
      <mat-icon class="accent">notifications</mat-icon>
      &nbsp;
      <span i18n>Alerts</span>
    </span>
    @if (newNotifications.length > 0) {
      <button
        mat-icon-button
        (click)="confirmDismissAllNotifications()"
        [disabled]="newNotifications.length === 0"
        matTooltip="Clear all notifications"
        matTooltipPosition="left"
        i18n-matTooltip
      >
        <mat-icon>clear_all</mat-icon>
      </button>
    }
  </mat-toolbar>
  <div class="account-menu__actions notifications-content flex-grow">
    @if (newNotifications.length === 0) {
      <p class="no-notifications" i18n>You have no new alerts at this time.</p>
    } @else {
      <mat-list>
        @for (notification of newNotifications; track notification.id) {
          <mat-list-item>
            <div class="flex justify-start items-center">
              <div class="notification-content">
                <div>
                  <a
                    (click)="visitNode(notification)"
                    tabindex="0"
                    matTooltip="Go to {{ getNodePositionAndTitle(notification.nodeId) }}"
                    matTooltipPosition="left"
                    i18n-matTooltip
                    >{{ notification.message }}</a
                  >
                </div>
                <div class="secondary-text mat-body-2">
                  {{ getNodePositionAndTitle(notification.nodeId) }}
                </div>
              </div>
              <span class="flex-grow"></span>
              <button
                mat-icon-button
                (click)="dismissNotification(notification)"
                class="flex justify-center items-center"
                aria-label="Clear"
                i18n-aria-label
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-divider />
        }
      </mat-list>
    }
  </div>
</div>
