.account-menu__info {
  background-color: rgb(255,255,255) !important;
  z-index: 1;
}

.account-menu__actions {
  overflow-y: auto;
}

.notifications-content .mat-mdc-list-item {
  padding-top: 8px;
  padding-bottom: 8px;
  height: auto;
}

.mat-mdc-list-base {
  padding: 0;
}

.notification-content {
  white-space: normal;
}

.mat-mdc-menu-content .mat-divider.mat-divider-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.no-notifications {
  padding: 16px;
}
