<div
  class="flex flex-row items-center justify-start gap-2"
  [ngClass]="{
    warn:
      !passwordFormControl.pristine &&
      passwordFormControl.errors != null &&
      passwordFormControl.errors[errorFieldName],
    success: passwordFormControl.errors == null || !passwordFormControl.errors[errorFieldName]
  }"
>
  @if (passwordFormControl.pristine) {
    <div class="pristine-container"></div>
  } @else {
    @if (passwordFormControl.errors != null && passwordFormControl.errors[errorFieldName]) {
      <mat-icon aria-label="Requirement failed" i18n-aria-label>close</mat-icon>
    } @else {
      <mat-icon aria-label="Requirement passed" i18n-aria-label>done</mat-icon>
    }
  }
  <div class="requirement-text">{{ requirementText }}</div>
</div>
