<div
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="start center"
  [ngClass]="{
    pristine: passwordFormControl.pristine,
    fail: passwordFormControl.errors != null && passwordFormControl.errors[errorFieldName],
    pass: passwordFormControl.errors == null || !passwordFormControl.errors[errorFieldName]
  }"
>
  <div *ngIf="passwordFormControl.pristine; then pristine; else dirty"></div>
  <ng-template #pristine><div class="pristine-div"></div></ng-template>
  <ng-template #dirty
    ><ng-template
      *ngIf="
        passwordFormControl.errors != null && passwordFormControl.errors[errorFieldName];
        then fail;
        else pass
      "
    ></ng-template
  ></ng-template>
  <ng-template #fail><mat-icon>close</mat-icon></ng-template>
  <ng-template #pass><mat-icon>done</mat-icon></ng-template>
  <div class="requirement-text">{{ requirementText }}</div>
</div>
