.milestone-grading {
  workgroup-select-autocomplete {
    width: 100%;
  }

  .mat-mdc-list-base {
    .mat-mdc-list-item.user-list-controls {
      height: auto;
      padding: 8px;
    }
  }

  .column-header-label {
    color: #fff;
  }
}