<h2 mat-dialog-title i18n>Replace Translation</h2>
<mat-divider />
<mat-dialog-content class="!my-4">
  <p class="font-medium" i18n>{{ this.data.defaultLanguage }} text:</p>
  <p class="text-sm px-2">{{ this.data.defaultLanguageContent }}</p>
  <p class="font-medium" i18n>{{ this.data.currentLanguage }} text (current translation):</p>
  <p class="text-sm px-2">{{ this.data.currentLanguageContent }}</p>
  <p class="font-medium" i18n>{{ this.data.currentLanguage }} text (AI suggested translation):</p>
  <p class="text-sm px-2">{{ this.translation }}</p>
  <p class="pt-2 font-medium" i18n>
    Do you want to replace the current translation with the AI suggested translation?
  </p>
</mat-dialog-content>
<mat-divider />
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose(false)" i18n>Cancel</button>
  <button mat-flat-button color="primary" (click)="onClose(true)" i18n>Replace</button>
</mat-dialog-actions>
