<p [formGroup]="formGroup">
  <mat-form-field appearance="fill" fxFlex>
    <mat-label i18n>{{ label }}</mat-label>
    <input matInput
        type="password"
        [name]="formControlName"
        [formControlName]="formControlName"
        required />
    <mat-error *ngIf="formControl.hasError('required')" i18n>
      Confirm Password required
    </mat-error>
    <mat-error *ngIf="formControl.hasError('passwordDoesNotMatch')" i18n>
      Password does not match
    </mat-error>
  </mat-form-field>
</p>
