.main-div {
  margin-top: 20px;
  margin-left: 20px;
}

.group-header {
  margin-left: 20px;
  margin-bottom: 16px;
}

.step-header {
  margin-left: 40px;
  margin-bottom: 16px;
}

table, tr, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

.top-explanations-buttons {
  margin-bottom: 10px;
}

.bottom-explanations-buttons {
  margin-top: 10px;
}

.explanation-column-name {
  width: 200px;
}

.include-student-names {
  margin-left: 10px;
  margin-top: 10px;
}

.select-all-buttons {
  margin-bottom: 20px;
}

.checkbox-label {
  cursor: pointer;
  display: inline;
}