<div fxLayout="row" fxLayoutAlign="start center">
  <node-icon [nodeId]="nodeId" size="18" fxHide.xs />
  <span fxHide.xs>&nbsp;&nbsp;</span>
  <span>{{ stepTitle }}</span>
  @if (hasAlert) {
    <status-icon
      [class]="alertIconClass"
      [name]="alertIconName"
      [tooltip]="alertIconLabel"
    />
  }
  @if (hasRubrics) {
    <status-icon
      class="info"
      name="info"
      [tooltip]="rubricIconLabel"
    />
  }
  @if (hasNewWork) {
    <span class="badge badge--info animate-fade" i18n>New</span>
  }
</div>
