<div fxLayout="row" fxLayoutAlign="start center">
  <node-icon [nodeId]="nodeId" size="18" fxHide.xs />
  <span fxHide.xs>&nbsp;&nbsp;</span>
  <span>{{ stepTitle }}</span>
  <status-icon
    *ngIf="hasAlert"
    [class]="alertIconClass"
    [name]="alertIconName"
    [tooltip]="alertIconLabel"
  />
  <status-icon
    *ngIf="hasRubrics"
    class="info"
    name="info"
    [iconTooltip]="rubricIconLabel"
  />
  <span *ngIf="hasNewWork" class="badge badge--info animate-fade" i18n>New</span>
</div>
