<div id="{{ lesson.id }}" fxLayoutAlign="start center" class="pointer groupHeader projectItem">
  <mat-checkbox
    color="primary"
    [(ngModel)]="checked"
    (click)="selectNodeEvent.emit({ id: lesson.id, checked: checked })"
    [disabled]="nodeTypeSelected === 'step'"
    aria-label="Select lesson"
    i18n-aria-label
  >
  </mat-checkbox>
  <div
    class="projectItemTitleDiv"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    (click)="setCurrentNode(lesson.id)"
  >
    <node-icon-and-title [nodeId]="lesson.id" [showPosition]="showPosition"></node-icon-and-title>
  </div>
</div>
<div *ngFor="let childId of lesson.ids">
  <project-authoring-step
    [step]="idToNode[childId]"
    (selectNodeEvent)="selectNodeEvent.emit($event)"
    [nodeTypeSelected]="nodeTypeSelected"
    [showPosition]="showPosition"
    [projectId]="projectId"
  ></project-authoring-step>
</div>
