.lesson {
  padding: 8px;
  margin: 16px 0px;
  border: 2px solid #dddddd;
  border-radius: 6px;
  position: relative;
}

.lesson-bar:hover {
  background-color: #add8e6;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
