<div id="{{ lesson.id }}" class="lesson">
  <div class="lesson-bar full-width pointer" fxLayoutAlign="start center">
    <mat-checkbox
      color="primary"
      (change)="selectNode($event.checked)"
      [disabled]="nodeTypeSelected() === 'step'"
      aria-label="Select lesson"
      i18n-aria-label
    >
    </mat-checkbox>
    <div class="full-width" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div
        (click)="setCurrentNode(lesson.id)"
        fxFlex
        matTooltip="Click to enter lesson"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <node-icon-and-title
          [nodeId]="lesson.id"
          [showPosition]="showPosition"
        ></node-icon-and-title>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-icon-button
          *ngIf="!expanded"
          (click)="toggleExpanded()"
          fxLayoutAlign="end center"
          matTooltip="Click to expand"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>expand_more</mat-icon>
        </button>
        <button
          mat-icon-button
          *ngIf="expanded"
          (click)="toggleExpanded()"
          fxLayoutAlign="end center"
          matTooltip="Click to collapse"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="expanded" fxLayout="column">
    <ng-container *ngFor="let childId of lesson.ids">
      <project-authoring-step
        [step]="idToNode[childId]"
        (selectNodeEvent)="selectNodeEvent.emit($event)"
        [showPosition]="showPosition"
        [projectId]="projectId"
      ></project-authoring-step>
    </ng-container>
  </div>
</div>
