.lesson {
  padding: 8px;
  margin: 16px 0px;
  border: 2px solid #dddddd;
  border-radius: 6px;
  position: relative;
}

.lesson:hover {
  &.lesson-collapsed {
    background-color: #add8e6;
  }
}

.lesson:hover .edit-lesson-button {
  display: block;
}

.lesson-bar {
  height: 40px;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.edit-lesson-button {
  display: none;

  &.lesson-expanded {
    display: block;
  }
}

.expand-collapse-icon {
  width: 40px;
  margin-right: 10px;
}

.no-steps-message {
  height: 40px;
  margin-left: 40px;
}
