.lesson {
  .mat-expansion-panel-header {
    padding-inline-start: 8px;
  }

  .mat-expansion-panel-header-title {
    flex-grow: 100;
  }

  .mat-expansion-panel-body {
    padding-left: 8px;
    padding-right: 8px;
  }

  .lesson-bar {
    height: 40px;
  }

  .full-width {
    width: 100%;
  }

  .no-steps-message {
    padding: 0 8px;
  }
}
