<mat-expansion-panel
  [expanded]="expanded"
  class="lesson"
  (opened)="toggleExpanded(true)"
  (closed)="toggleExpanded(false)"
>
  <mat-expansion-panel-header aria-label="Expand/collapse lesson" i18n-aria-label>
    <mat-panel-title>
      <mat-checkbox
        color="primary"
        (change)="selectNode($event.checked)"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
        [disabled]="nodeTypeSelected() === 'step'"
        aria-label="Select lesson"
        i18n-aria-label
      >
        <node-icon-and-title [nodeId]="lesson.id" [showPosition]="showPosition" />
      </mat-checkbox>
    </mat-panel-title>
    <mat-panel-description class="text" fxLayoutAlign="end center" fxLayoutGap="4px">
      <button
        class="enable-in-translation"
        mat-icon-button
        (click)="$event.stopPropagation(); setCurrentNode(lesson.id)"
        (keydown)="$event.stopPropagation()"
        matTooltip="Edit lesson"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); move()"
        (keydown)="$event.stopPropagation()"
        matTooltip="Move lesson"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>redo</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); delete()"
        (keydown)="$event.stopPropagation()"
        matTooltip="Delete lesson"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <div *ngFor="let childId of lesson.ids" fxLayout="row wrap" fxLayoutAlign="start center">
      <project-authoring-step
        [step]="idToNode[childId]"
        (selectNodeEvent)="selectNodeEvent.emit($event)"
        [showPosition]="showPosition"
        [projectId]="projectId"
        fxFlex
      ></project-authoring-step>
      <add-step-button [nodeId]="childId"></add-step-button>
    </div>
    <div *ngIf="lesson.ids.length === 0" class="no-steps-message" fxLayoutAlign="start center">
      <div i18n>This lesson has no steps</div>
      <button
        mat-icon-button
        color="primary"
        (click)="addStepInside(lesson.id)"
        matTooltip="Add step"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>
