<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained student-progress" fxLayout="column">
    <mat-list class="user-list student-select mat-elevation-z1">
      <mat-list-item class="list-item list-item--actions" fxLayout="row wrap">
        <div fxFlex.sm="100" fxFlex.xs="100">
          <workgroup-select-autocomplete></workgroup-select-autocomplete>
        </div>
      </mat-list-item>
      <table class="table--list mat-elevation-z1">
        <thead class="table--list__thead dark-theme">
          <tr>
            <th class="table--list__thead__th">
              <button
                mat-button
                class="table--list__thead__link"
                aria-label="Team ID"
                i18n-aria-label
                (click)="setSort('team')"
                title="Sort by team"
                i18n-title
                fxFill
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <span i18n>Team</span>
                <mat-icon
                  *ngIf="sort === 'team' || sort === '-team'"
                  class="table--list__thead__sort"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-team' }"
                >
                  arrow_drop_up
                </mat-icon>
              </button>
            </th>
            <th class="table--list__thead__th" sticky>
              <button
                mat-button
                class="table--list__thead__link"
                aria-label="Names"
                i18n-aria-label
                (click)="setSort('student')"
                title="Sort by names"
                i18n-title
                fxFill
                fxLayoutAlign="start center"
              >
                <span i18n>Names</span>
                <mat-icon
                  *ngIf="sort === 'student' || sort === '-student'"
                  class="table--list__thead__sort"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-student' }"
                >
                  arrow_drop_up
                </mat-icon>
              </button>
            </th>
            <th class="table--list__thead__th" sticky>
              <button
                mat-button
                class="table--list__thead__link"
                aria-label="Current Location"
                i18n-aria-label
                (click)="setSort('location')"
                title="Sort by location"
                i18n-title
                fxFill
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <span i18n>Current Location</span>
                <mat-icon
                  *ngIf="sort === 'location' || sort === '-location'"
                  class="table--list__thead__sort"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-location' }"
                >
                  arrow_drop_up
                </mat-icon>
              </button>
            </th>
            <th class="table--list__thead__th" sticky>
              <button
                mat-button
                class="table--list__thead__link"
                aria-label="Project Completion"
                i18n-aria-label
                (click)="setSort('completion')"
                title="Sort by completion"
                i18n-title
                fxFill
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <span i18n>Unit Completion</span>
                <mat-icon
                  *ngIf="sort === 'completion' || sort === '-completion'"
                  class="table--list__thead__sort"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-completion' }"
                >
                  arrow_drop_up
                </mat-icon>
              </button>
            </th>
            <th class="table--list__thead__th" sticky>
              <button
                mat-button
                class="table--list__thead__link"
                aria-label="Score"
                i18n-aria-label
                (click)="setSort('score')"
                title="Sort by score"
                i18n-title
                fxFill
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <span i18n>Score</span>
                <mat-icon
                  *ngIf="sort === 'score' || sort === '-score'"
                  class="table--list__thead__sort"
                  [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-score' }"
                >
                  arrow_drop_up
                </mat-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let team of sortedTeams">
            <tr
              class="list-item workgroup-row button"
              *ngIf="isWorkgroupShown(team)"
              (click)="showStudentGradingView(team)"
            >
              <td class="center">{{ team.workgroupId }}</td>
              <td class="heavy td--wrap">
                <div fxLayout="row wrap">{{ team.username }}</div>
              </td>
              <td class="center td--wrap td--max-width">
                {{ team.location }}
              </td>
              <td fxLayout="row" fxLayoutAlign="center center">
                <project-progress
                  [completed]="team.completion.completedItems"
                  [total]="team.completion.totalItems"
                  [percent]="team.completion.completionPct"
                >
                </project-progress>
              </td>
              <td class="center">
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="layout-align-center-center layout-row"
                >
                  <span class="mat-headline-5">{{ team.score }}</span
                  >&nbsp;
                  <span class="text-secondary mat-body-2">/{{ team.maxScore }}</span>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-list>
  </div>
</div>
