<ng-template #thead let-sortBy="sortBy">
  <th class="table--list__thead__th" sticky>
    <button
      mat-button
      class="table--list__thead__link"
      (click)="setSort(sortBy)"
      title="Sort by {{ sortOptions[sortBy].label }}"
      i18n-title
      fxFill
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <span>{{ sortOptions[sortBy].label }}</span>
      <mat-icon
        *ngIf="sort === sortBy || sort === '-' + sortBy"
        class="table--list__thead__sort"
        [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-' + sortBy }"
      >
        arrow_drop_up
      </mat-icon>
    </button>
  </th>
</ng-template>

<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained student-progress" fxLayout="column">
    <mat-list class="user-list student-select mat-elevation-z1">
      <mat-list-item class="list-item list-item--actions" fxLayout="row wrap">
        <div fxFlex.sm="100" fxFlex.xs="100">
          <workgroup-select-autocomplete></workgroup-select-autocomplete>
        </div>
      </mat-list-item>
      <table class="table--list mat-elevation-z1">
        <thead class="table--list__thead dark-theme">
          <tr>
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'team' }"></ng-container>
            <ng-container *ngIf="!permissions.canViewStudentNames">
              <ng-container
                *ngTemplateOutlet="thead; context: { sortBy: 'student' }"
              ></ng-container>
            </ng-container>
            <ng-container *ngIf="permissions.canViewStudentNames">
              <ng-container
                *ngTemplateOutlet="thead; context: { sortBy: 'firstName' }"
              ></ng-container>
              <ng-container
                *ngTemplateOutlet="thead; context: { sortBy: 'lastName' }"
              ></ng-container>
            </ng-container>
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'location' }"></ng-container>
            <ng-container
              *ngTemplateOutlet="thead; context: { sortBy: 'completion' }"
            ></ng-container>
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'score' }"></ng-container>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let student of sortedStudents">
            <tr
              class="list-item workgroup-row button"
              *ngIf="isWorkgroupShown(student)"
              (click)="showStudentGradingView(student)"
            >
              <td class="center">{{ student.workgroupId }}</td>
              <td *ngIf="!permissions.canViewStudentNames" class="heavy td--wrap">
                {{ student.username }}
              </td>
              <ng-container *ngIf="permissions.canViewStudentNames">
                <td class="heavy td--max-width">
                  {{ student.firstName }}
                </td>
                <td class="heavy td--max-width">
                  {{ student.lastName }}
                </td>
              </ng-container>
              <td class="center td--wrap td--max-width">
                {{ student.location }}
              </td>
              <td fxLayout="row" fxLayoutAlign="center center">
                <project-progress
                  [completed]="student.completion.completedItems"
                  [total]="student.completion.totalItems"
                  [percent]="student.completion.completionPct"
                >
                </project-progress>
              </td>
              <td class="center">
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="layout-align-center-center layout-row"
                >
                  <span class="mat-headline-5">{{ student.score }}</span
                  >&nbsp;
                  <span class="text-secondary mat-body-2">/{{ student.maxScore }}</span>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-list>
  </div>
</div>
