.student-progress {
  .table--list {
    width: 100%;
  }

  .mat-list-item-content {
    padding: 0;
  }

  .user-list {
    &.mat-list-base {
      .mat-list-item .mat-list-item-content {
        padding: 0;
      }
    }
  }

  .workgroup-row {
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}
