<ng-template #thead let-sortBy="sortBy">
  <th class="table--list__thead__th" sticky>
    <button
      mat-button
      class="table--list__thead__link w-full h-full flex justify-center items-center"
      (click)="setSort(sortBy)"
      title="Sort by {{ sortOptions[sortBy].label }}"
      i18n-title
    >
      <span>{{ sortOptions[sortBy].label }}</span>
      @if (sort === sortBy || sort === '-' + sortBy) {
        <mat-icon
          class="table--list__thead__sort"
          [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-' + sortBy }"
        >
          arrow_drop_up
        </mat-icon>
      }
    </button>
  </th>
</ng-template>

<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained student-progress flex flex-col">
    <mat-list class="user-list student-select mat-elevation-z1">
      <mat-list-item class="list-item list-item--actions">
        <div class="w-full md:w-auto">
          <workgroup-select-autocomplete />
        </div>
      </mat-list-item>
      <table class="table--list mat-elevation-z1">
        <thead class="table--list__thead dark-theme">
          <tr>
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'team' }" />
            @if (permissions.canViewStudentNames) {
              <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'firstName' }" />
              <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'lastName' }" />
            } @else {
              <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'student' }" />
            }
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'location' }" />
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'completion' }" />
            <ng-container *ngTemplateOutlet="thead; context: { sortBy: 'score' }" />
          </tr>
        </thead>
        <tbody>
          @for (student of sortedStudents; track $index) {
            @if (isWorkgroupShown(student)) {
              <tr class="workgroup-row button" (click)="showStudentGradingView(student)">
                <td class="center">{{ student.workgroupId }}</td>
                @if (permissions.canViewStudentNames) {
                  <td class="heavy td--max-width">{{ student.firstName }}</td>
                  <td class="heavy td--max-width">{{ student.lastName }}</td>
                } @else {
                  <td class="heavy td--wrap">{{ student.username }}</td>
                }
                <td class="center td--wrap td--max-width">
                  <project-location [studentProgress]="student" />
                </td>
                <td class="flex justify-center items-center">
                  <project-progress
                    [completed]="student.completion.completedItems"
                    [total]="student.completion.totalItems"
                    [percent]="student.completion.completionPct"
                  />
                </td>
                <td class="center">
                  <div
                    class="layout-align-center-center layout-row flex justify-center items-center"
                  >
                    <span class="mat-headline-5">{{ student.score }}</span
                    >&nbsp;
                    <span class="text-secondary mat-body-2">/{{ student.maxScore }}</span>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </mat-list>
  </div>
</div>
