@import '~style/abstracts/variables', '~style/abstracts/functions';

.mat-card {
  padding: 8px;
  margin-top: 16px;
  max-width: breakpoint('sm.min');
}

.work-from-another-component {
  width: 45%;
  padding: 20px;
}