@if (isPeerChatWorkgroupsResponseReceived && !isPeerChatWorkgroupsAvailable) {
  <component-header [component]="component" [showPrompt]="false" />
  <div class="notice mat-subtitle-2" i18n>
    This Peer Chat activity is not yet available. Please check back later or wait for a notification
    to return.
    <!-- TODO: Show different message when student has not completed required previous component(s) -->
  </div>
}
@if (isPeerChatWorkgroupsAvailable) {
  <div class="@container">
    <component-header
      [component]="component"
      (dynamicPromptChanged)="onDynamicPromptChanged($event)"
    />
    <peer-chat-members [peerChatWorkgroupInfos]="workgroupInfosWithoutTeachers" />
    <div class="flex flex-col @2xl:flex-row @2xl:justify-start @2xl:items-start gap-4 mt-4">
      @if (questionBankContent?.questionBank?.enabled) {
        <div class="@2xl:w-2/5 order-1 @2xl:order-2">
          <peer-chat-question-bank
            class="w-full"
            [content]="questionBankContent"
            [(displayedQuestionBankRules)]="displayedQuestionBankRules"
            (useQuestionEvent)="useQuestion($event)"
            [questionIdsUsed]="questionIdsUsed"
          />
        </div>
      }
      <div class="flex grow order-2 @2xl:order-1">
        <peer-chat-chat-box
          class="w-full"
          [component]="component"
          [messages]="peerChatMessages"
          [myWorkgroupId]="myWorkgroupId"
          [peerGroup]="peerGroup"
          [response]="response"
          [workgroupInfos]="peerChatWorkgroupInfos"
          (onSubmit)="submitStudentResponse($event)"
          (responseChangedEvent)="responseChanged($event)"
        />
      </div>
    </div>
    @if (mode === 'student') {
      <component-annotations
        [annotations]="latestAnnotations"
        [maxScore]="componentContent.maxScore"
        [nodeId]="nodeId"
        [componentId]="componentId"
      />
    }
  </div>
}
