<div class="mb-4">
  @if (isPeerChatWorkgroupsResponseReceived && !isPeerChatWorkgroupsAvailable) {
    <div class="notice mat-subtitle-2" i18n>
      This Peer Chat activity is not yet available. Please check back later or wait for a
      notification to return.
      <!-- TODO: Show different message when student has not completed required previous component(s) -->
    </div>
  }
  @if (isPeerChatWorkgroupsAvailable) {
    <component-header
      [component]="component"
      (dynamicPromptChanged)="onDynamicPromptChanged($event)"
    />
    <div class="flex flex-col md:flex-row md:justify-start md:items-start gap-4">
      @if (questionBankContent != null) {
        <div class="flex-1 md:w-2/5 order-1 md:order-2">
          @if (questionBankContent.questionBank?.enabled) {
            <peer-chat-question-bank
              class="w-full"
              [content]="questionBankContent"
              [(displayedQuestionBankRules)]="displayedQuestionBankRules"
              (useQuestionEvent)="useQuestion($event)"
              [questionIdsUsed]="questionIdsUsed"
            />
          }
        </div>
      }
      <div class="flex md:w-3/5 order-2 md:order-1">
        <peer-chat-chat-box
          class="w-full"
          [component]="component"
          [messages]="peerChatMessages"
          [myWorkgroupId]="myWorkgroupId"
          [peerGroup]="peerGroup"
          [response]="response"
          [workgroupInfos]="peerChatWorkgroupInfos"
          (onSubmit)="submitStudentResponse($event)"
          (responseChangedEvent)="responseChanged($event)"
        />
      </div>
    </div>
    @if (mode === 'student') {
      <component-annotations
        [annotations]="latestAnnotations"
        [maxScore]="componentContent.maxScore"
        [nodeId]="nodeId"
        [componentId]="componentId"
      />
    }
  }
</div>
