<div fxLayoutAlign="start center" fxLayoutGap="8px">
  <button
    mat-icon-button
    (click)="goToPreviousComponent()"
    [disabled]="firstComponent"
    aria-label="Previous component type"
    i18n-aria-label
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <mat-select [(value)]="componentType" (selectionChange)="selectComponent(componentType)">
      @for (componentTypeOption of componentTypes; track componentTypeOption.type) {
      <mat-option [value]="componentTypeOption.type">{{ componentTypeOption.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    mat-icon-button
    (click)="goToNextComponent()"
    [disabled]="lastComponent"
    aria-label="Next component type"
    i18n-aria-label
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
