<div class="flex justify-start items-center gap-2">
  <button
    mat-icon-button
    (click)="goToPreviousComponent()"
    [disabled]="firstComponent"
    aria-label="Previous component type"
    i18n-aria-label
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <mat-select [(value)]="componentType" (selectionChange)="selectComponent(componentType)">
      <mat-select-trigger>
        <div class="flex items-center gap-2">
          <mat-icon class="mat-18">{{ selectedComponentTypeOption?.icon }}</mat-icon>
          {{ selectedComponentTypeOption?.name }}
        </div>
      </mat-select-trigger>
      @for (group of componentGroups; track group.name) {
        <mat-optgroup [label]="group.name">
          @for (componentTypeOption of group.types; track componentTypeOption.type) {
            <mat-option [value]="componentTypeOption.type">
              <mat-icon class="mat-18">{{ componentTypeOption.icon }}</mat-icon>
              {{ componentTypeOption.name }}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>
  <button
    mat-icon-button
    (click)="goToNextComponent()"
    [disabled]="lastComponent"
    aria-label="Next component type"
    i18n-aria-label
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
