<div class="body-div">
  <div fxLayoutGap="16px">
    <mat-label i18n>Add Visibility Constraint</mat-label>
    <button
      mat-raised-button
      color="primary"
      (click)="addConstraint()"
      [disabled]="content.constraints.length > 0"
      matTooltip="Add Constraint"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  @for (constraint of content.constraints; track constraint; let constraintIndex = $index) {
    <div class="constraints-div" fxLayoutGap="16px">
      <b i18n>Constraint</b>
      <button
        mat-raised-button
        color="primary"
        (click)="deleteConstraint(constraintIndex)"
        matTooltip="Delete Constraint"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>delete</mat-icon>
      </button>
      <br />
      <component-constraint-authoring [constraint]="constraint" />
    </div>
  }
</div>
