<link rel="stylesheet" href="/assets/wise5/themes/default/style/angular-material.css" />
<link rel="stylesheet" href="/assets/wise5/themes/default/style/vle.css" />
<style ng-bind-html="projectStyle"></style>
<mat-drawer-container [hasBackdrop]="false" *ngIf="isInitialized">
  <mat-drawer #drawer mode="over" position="end" (keydown.escape)="closeNotes()">
    <notebook-notes [config]="notebookConfig"></notebook-notes>
  </mat-drawer>
  <mat-drawer-content>
    <top-bar></top-bar>
    <step-tools *ngIf="layoutState === 'node'" class="control-bg-bg mat-elevation-z1"></step-tools>
    <div id="content"
        class="vle-content"
        [ngClass]="{'nav-view': layoutState === 'nav', 'node-view': layoutState === 'node'}">
      <run-ended-and-locked-message *ngIf="runEndedAndLocked"></run-ended-and-locked-message>
      <node *ngIf="layoutState === 'node'"></node>
      <navigation *ngIf="layoutState === 'nav'"></navigation>
    </div>
    <notebook-report *ngIf="reportEnabled"
        [ngClass]="{'notes-visible': notesVisible, 'report-full': reportFullscreen}"
        [config]="notebookConfig">
    </notebook-report>
    <notebook-launcher *ngIf="notesEnabled && !notesVisible" [notebookConfig]="notebookConfig">
    </notebook-launcher>
  </mat-drawer-content>
</mat-drawer-container>
