<link rel="stylesheet" href="/assets/wise5/themes/default/style/angular-material.css" />
<link rel="stylesheet" href="/assets/wise5/themes/default/style/vle.css" />
<link rel="stylesheet" [href]="projectStylePath | safeUrl" />
@if (initialized) {
  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer #drawer mode="over" position="end" (keydown.escape)="closeNotes()">
      <notebook-notes [config]="notebookConfig" />
    </mat-drawer>
    <mat-drawer-content>
      <top-bar [projectName]="project.metadata.title" />
      <ng-container *ngTemplateOutlet="vleTemplate"></ng-container>
      @if (reportEnabled) {
        <notebook-report
          [ngClass]="{ 'notes-visible': notesVisible, 'report-full': reportFullscreen }"
          [config]="notebookConfig"
        />
      }
      @if (notesEnabled && !notesVisible) {
        <notebook-launcher [notebookConfig]="notebookConfig" />
      }
    </mat-drawer-content>
  </mat-drawer-container>
}

<div id="wise-link-communicator" class="wise-link-communicator"></div>

<ng-template #defaultVLETemplate>
  @if (layoutState === 'node') {
    <step-tools class="control-bg-bg mat-elevation-z1" />
  }
  <div
    id="content"
    class="vle-content"
    [ngClass]="{ 'nav-view': layoutState === 'nav', 'node-view': layoutState === 'node' }"
  >
    @if (runEndedAndLocked) {
      <run-ended-and-locked-message class="notice" />
    }
    @if (layoutState === 'node') {
      <node class="top" [node]="currentNode" />
    }
    @if (layoutState === 'nav') {
      <navigation class="top" />
    }
  </div>
</ng-template>

<ng-template #tabbedVLETemplate>
  <div
    id="content"
    class="vle-content tabbed"
    [ngClass]="{ 'nav-view': layoutState === 'nav', 'node-view': layoutState === 'node' }"
  >
    <group-tabs />
    <div class="tab-content">
      @if (runEndedAndLocked) {
        <run-ended-and-locked-message />
      }
      @if (layoutState === 'node') {
        <node class="node-tabbed top" [node]="currentNode" />
      }
      <div class="node-nav">
        <node-navigation class="l-constrained" />
      </div>
    </div>
  </div>
</ng-template>
