<h2 mat-dialog-title class="mat-dialog-title--icons !flex justify-start items-center">
  <span i18n>Change Grouping</span>
  <span class="flex-grow"></span>
  @if (isMovingFromPeerGroup) {
    <mat-icon color="warn" i18n-aria-label aria-label="Warning">warning</mat-icon>
  }
</h2>
<mat-dialog-content>
  <div class="info-block">
    @if (isMovingFromPeerGroup) {
      <p class="warn" i18n>
        Warning: If you remove students from a Peer Group, they will no longer see any contributions
        they made to that group.
      </p>
      <p>Their contributions will still be visible to remaining group members.</p>
    }
    <p i18n>Are you sure you want to move this team?</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  @if (isMovingFromPeerGroup) {
    <button mat-flat-button color="primary" [mat-dialog-close]="false" i18n>Cancel</button>
  }
  @if (!isMovingFromPeerGroup) {
    <button mat-button [mat-dialog-close]="false" i18n>Cancel</button>
  }
  @if (isMovingFromPeerGroup) {
    <button mat-button color="warn" [mat-dialog-close]="true" i18n>Proceed</button>
  }
  @if (!isMovingFromPeerGroup) {
    <button mat-flat-button color="primary" [mat-dialog-close]="true" i18n>Proceed</button>
  }
</mat-dialog-actions>
