.md-toolbar-tools {
  color: rgba(255,255,255,0.87);
}

.menu-sidenav__icon {
  color: rgba(0,0,0,0.54);
  margin-top: 0px !important;
}

.menu-sidenav__divider {
  margin: 0px;
}

.menu-sidenav__list-item {
  cursor: pointer;
}

.menu-sidenav__list-item:hover {
  background-color: #f5f5f5;
}