<ng-template #viewTemplate let-type="type">
  <mat-list class="menu-sidenav">
    @for (view of views; track view.name) {
      @if (view.type === type && view.active) {
        <mat-list-item
          role="button"
          tabindex="0"
          (click)="goToView(view)"
          (keyup.enter)="goToView(view)"
          class="menu-sidenav__list-item mat-mdc-list-item-interactive"
        >
          <span class="flex items-center gap-2">
            <mat-icon class="secondary-text"> {{ view.icon }} </mat-icon>
            <span class="mat-caption">{{ view.name }}</span>
          </span>
        </mat-list-item>
      }
    }
  </mat-list>
</ng-template>

<mat-toolbar class="md-toolbar--sidenav">
  <div class="md-toolbar-tools dark-theme" i18n>{{ title }}</div>
</mat-toolbar>
<ng-container [ngTemplateOutlet]="viewTemplate" [ngTemplateOutletContext]="{ type: 'primary' }" />
<mat-divider class="menu-sidenav__divider" />
<ng-container [ngTemplateOutlet]="viewTemplate" [ngTemplateOutletContext]="{ type: 'secondary' }" />
