<div class="flex justify-start items-center gap-2">
  <mat-form-field class="form-field-no-label form-field-no-hint flex-grow" appearance="fill">
    <textarea
      matInput
      cdkTextareaAutosize
      placeholder="Add response..."
      i18n-placeholder
      (focus)="onFocus($event)"
      [(ngModel)]="messageText"
      (ngModelChange)="responseChanged()"
      (keypress)="keyPressed($event)"
    >
    </textarea>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    (click)="submitResponse()"
    [disabled]="!isSubmitEnabled"
    i18n
  >
    Send
  </button>
</div>
