.delete-trial-button {
  .mat-icon {
    margin: 0px;
  }
}

.y-limit-column {
  width: 80px;
}

.x-limit-row {
  width: 100%;
}

.limit-input {
  width: 80px;
}

.highcharts-div {
  width: 100%;
}

.canvas-div {
  display: none;
}