<edit-component-prompt [prompt]="authoringComponentContent.prompt"
    (promptChangedEvent)="promptChanged($event)"></edit-component-prompt>
<div class="bottom-spacing" i18n>Show Work From Other Component (Optional)</div>
<div fxLayout="row wrap" fxLayoutGap="20px">
  <mat-form-field class="select-show-work-step">
    <mat-label i18n>Step</mat-label>
    <mat-select [(ngModel)]="authoringComponentContent.showWorkNodeId"
        (ngModelChange)="showWorkNodeIdChanged()">
      <mat-option [value]='' i18n>(None)</mat-option>
      <ng-container *ngFor="let nodeId of nodeIds">
        <mat-option *ngIf="isApplicationNode(nodeId)" [value]="nodeId">
          {{ getNodePositionAndTitleByNodeId(nodeId) }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select-show-work-component">
    <mat-label i18n>Component</mat-label>
    <mat-select [(ngModel)]="authoringComponentContent.showWorkComponentId"
        (ngModelChange)="componentChanged()">
      <mat-option [value]='' i18n>(None)</mat-option>
      <mat-option *ngFor="let component of getComponentsByNodeId(authoringComponentContent.showWorkNodeId); index as componentIndex"
          [value]="component.id"
          [disabled]="!isShowWorkComponentTypeAllowed(component.type) || component.id === componentId">
        <span>{{ componentIndex + 1 }}. {{ component.type }} </span>
        <span *ngIf="component.id === componentId" i18n>(This Component)</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="bottom-spacing">
  <mat-label i18n>Grouping Logic</mat-label>
  <button mat-raised-button
      color="primary"
      (click)="addLogic()"
      matTooltip="Add Logic"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>add</mat-icon>
  </button>
</div>
<div *ngFor="let singleLogic of authoringComponentContent.logic; index as logicIndex"
    fxLayoutGap="20px">
  <mat-form-field>
    <mat-label i18n>Grouping Logic Name</mat-label>
    <mat-select [(ngModel)]="singleLogic.name"
        (ngModelChange)="logicNameChanged(singleLogic)">
      <mat-option *ngFor="let logicOption of logicOptions"
          [value]="logicOption.value">
        {{ logicOption.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="singleLogic.name !== 'manual'">
    <mat-form-field>
      <mat-label i18n *ngIf="singleLogic.name === 'random'">Step (Optional)</mat-label>
      <mat-label i18n *ngIf="singleLogic.name !== 'random'" class="red">Step (Required)</mat-label>
      <mat-select [(ngModel)]="singleLogic.nodeId"
          (ngModelChange)="logicNodeIdChanged(singleLogic)">
        <mat-option [value]='' i18n>(None)</mat-option>
        <ng-container *ngFor="let nodeId of nodeIds">
          <mat-option *ngIf="isApplicationNode(nodeId)" [value]="nodeId">
            {{ getNodePositionAndTitleByNodeId(nodeId) }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n *ngIf="singleLogic.name === 'random'">Component (Optional)</mat-label>
      <mat-label i18n *ngIf="singleLogic.name !== 'random'" class="red">Component (Required)</mat-label>
      <mat-select [(ngModel)]="singleLogic.componentId"
          (ngModelChange)="componentChanged()">
        <mat-option [value]='' i18n>(None)</mat-option>
        <mat-option *ngFor="let component of getComponentsByNodeId(singleLogic.nodeId); index as componentIndex"
            [value]="component.id"
            [disabled]="!isShowWorkComponentTypeAllowed(component.type) || component.id === componentId">
          <span>{{ componentIndex + 1 }}. {{ component.type }} </span>
          <span *ngIf="component.id === componentId" i18n>(This Component)</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    </ng-container>
  <button mat-raised-button
      *ngIf="authoringComponentContent.logic.length > 1"
      color="primary"
      (click)="deleteLogic(logicIndex)"
      matTooltip="Delete Logic"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div fxLayoutGap="20px">
  <mat-form-field>
    <mat-label i18n>Threshold Count</mat-label>
    <input matInput
        type="number"
        [(ngModel)]="authoringComponentContent.logicThresholdCount"
        (ngModelChange)="componentChanged()"
        min="0"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Threshold Percent</mat-label>
    <input matInput
        [(ngModel)]="authoringComponentContent.logicThresholdPercent"
        (ngModelChange)="componentChanged()"
        type="number"
        min="0"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Number of Workgroups Per Grouping</mat-label>
    <input matInput
        [(ngModel)]="authoringComponentContent.maxMembershipCount"
        (ngModelChange)="componentChanged()"
        type="number"
        min="2"/>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="bottom-spacing">
  <label i18n>Question Bank</label>
  <button mat-raised-button
      color="primary"
      (click)="addQuestion()"
      matTooltip="Add Question"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>add</mat-icon>
  </button>
</div>
<div *ngIf="authoringComponentContent.questionBank.length === 0" class="bottom-spacing" i18n>
  There are no questions in the Question Bank
</div>
<div *ngFor="let question of authoringComponentContent.questionBank; index as questionIndex; first as isFirst; last as isLast; trackBy: customTrackBy"
    fxLayoutGap="20px">
  <mat-form-field class="question">
    <mat-label i18n>Question</mat-label>
    <input matInput
        [(ngModel)]="authoringComponentContent.questionBank[questionIndex]"
        (ngModelChange)="componentChanged()"/>
  </mat-form-field>
  <button mat-raised-button
      color="primary"
      (click)="moveQuestionUp(questionIndex)"
      [disabled]="isFirst"
      matTooltip="Move Question Up"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <button mat-raised-button
      color="primary"
      (click)="moveQuestionDown(questionIndex)"
      [disabled]="isLast"
      matTooltip="Move Question Down"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <button mat-raised-button
      color="primary"
      (click)="deleteQuestion(questionIndex)"
      matTooltip="Delete Question"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>delete</mat-icon>
  </button>
</div>