<edit-component-prompt
  *ngIf="!componentContent.dynamicPrompt?.enabled"
  [componentContent]="componentContent"
  (promptChangedEvent)="promptChanged($event)"
></edit-component-prompt>
<edit-dynamic-prompt
  [componentContent]="componentContent"
  (dynamicPromptChangedEvent)="componentChanged()"
>
</edit-dynamic-prompt>
<edit-question-bank
  [componentContent]="componentContent"
  (dynamicPromptChangedEvent)="componentChanged()"
>
</edit-question-bank>
<edit-component-peer-grouping-tag [componentContent]="componentContent">
</edit-component-peer-grouping-tag>
