@for (peerChatMessage of peerChatMessages; track peerChatMessage) {
  @if (isGrading || !peerChatMessage.isDeleted) {
    <peer-chat-message
      [avatarColor]="workgroupInfos[peerChatMessage.workgroupId].avatarColor"
      [displayNames]="workgroupInfos[peerChatMessage.workgroupId].displayNames"
      [isTeacher]="workgroupInfos[peerChatMessage.workgroupId].isTeacher"
      [peerChatMessage]="peerChatMessage"
      [myWorkgroupId]="myWorkgroupId"
      [isGrading]="isGrading"
      (deleteClickedEvent)="deleteClicked($event)"
      (undeleteClickedEvent)="undeleteClicked($event)"
    />
  }
}
