<mat-form-field>
  <mat-label i18n>Activity</mat-label>
  <mat-select [(ngModel)]="componentId" (ngModelChange)="componentChanged()">
    @for (component of components; track component; let componentIndex = $index) {
      <mat-option
        [value]="component.id"
        [disabled]="!componentToIsAllowed.get(component.id) || component.id === thisComponentId"
      >
        <span>{{ componentIndex + 1 }}. {{ component.type }}</span>
        @if (component.id === thisComponentId) {
          <span i18n>(This activity)</span>
        }
      </mat-option>
    }
  </mat-select>
</mat-form-field>
