@import '~style/abstracts/variables', '~style/themes/default';

.prompt {
  width: 100%;
}

.section-container {
  padding: 16px;
  border: 2px solid #dddddd;
  border-radius: $card-border-radius;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reference-component-div {
  margin-top: 10px;
}

.feedback-rules-div {
  margin-bottom: 20px;
}
