@import 'style/abstracts/variables', 'style/themes/default';

.prompt {
  width: 100%;
}

.section-container {
  padding: 16px;
  border: 2px solid #dddddd;
  border-radius: $card-border-radius;
  margin-top: 16px;
  margin-bottom: 16px;
}

.custom-label, .reference-component, .max-questions {
  margin-top: 16px;
}

.custom-label {
  width: 25%;
}

.feedback-rules {
  margin-bottom: 16px;
}
