<div class="section-container">
  <div class="enable-question-bank-div">
    <mat-checkbox
        [checked]="componentContent.questionBank?.enabled"
        (change)="toggleComponent($event)"
        color="primary"
        i18n>
      Enable Question Bank
    </mat-checkbox>
  </div>
  <div *ngIf="componentContent.questionBank?.enabled">
    <div class="reference-component-div"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutGap="20px">
      <mat-label class="bold" i18n>Reference Component:</mat-label>
      <edit-connected-component-node-select
          [connectedComponent]="componentContent.questionBank.referenceComponent"
          (connectedComponentChange)="referenceComponentNodeIdChanged($event)">
      </edit-connected-component-node-select>
      <edit-connected-component-component-select
          [componentId]="componentId"
          [connectedComponent]="componentContent.questionBank.referenceComponent"
          [allowedConnectedComponentTypes]="allowedReferenceComponentTypes"
          (connectedComponentChange)="saveChanges()">
      </edit-connected-component-component-select>
      <edit-component-peer-grouping-tag
          [componentContent]="componentContent.questionBank">
      </edit-component-peer-grouping-tag>
    </div>
    <div class="feedback-rules-div">
      <edit-question-bank-rules [feedbackRules]="componentContent.questionBank.rules">
      </edit-question-bank-rules>
    </div>
  </div>
</div>
