<div class="section-container">
  <div>
    <mat-checkbox
      [checked]="componentContent.questionBank?.enabled"
      (change)="toggleComponent($event)"
      color="primary"
      i18n
    >
      Enable Question Bank
    </mat-checkbox>
  </div>
  @if (componentContent.questionBank?.enabled) {
    <div>
      <div class="custom-label">
        <translatable-input
          [content]="componentContent.questionBank"
          key="label"
          label="Custom Label"
          i18n-label
          (defaultLanguageTextChanged)="inputChanged.next($event)"
        />
      </div>
      @if (componentContent.questionBank.version === 2) {
        <div>
          <mat-checkbox
            [(ngModel)]="componentContent.questionBank.clickToUseEnabled"
            (ngModelChange)="saveChanges()"
            color="primary"
            i18n
          >
            Student can select questions to use in Peer Chat
          </mat-checkbox>
        </div>
      }
      <div class="max-questions">
        <mat-form-field appearance="fill">
          <mat-label i18n>Max Number of Questions</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="componentContent.questionBank.maxQuestionsToShow"
            (ngModelChange)="inputChanged.next($event)"
          />
        </mat-form-field>
      </div>
      <div class="reference-component flex flex-row flex-wrap justify-start items-center gap-5">
        <mat-label class="bold" i18n>Reference Activity:</mat-label>
        <select-step-and-component
          [referenceComponent]="componentContent.questionBank.referenceComponent"
          [thisComponentId]="componentId"
          [allowedComponentTypes]="allowedReferenceComponentTypes"
          (stepChange)="saveChanges()"
          (componentChange)="saveChanges()"
        />
        <edit-component-peer-grouping-tag [componentContent]="componentContent.questionBank" />
      </div>
      <div class="feedback-rules">
        <edit-question-bank-rules
          [feedbackRules]="componentContent.questionBank.rules"
          [version]="componentContent.questionBank.version"
        />
      </div>
    </div>
  }
</div>
