.mat-mdc-checkbox {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mat-mdc-radio-button {
  margin-top: 8px;
  margin-bottom: 8px;
}

.attempts-left-message {
  font-size: 13px;
  letter-spacing: .02em;
}

.correct-text {
  color: green;
}

.incorrect-text {
  color: red
}
