<div>
  <component-header [component]="component" />

  @if (choiceType === 'radio') {
    <mat-radio-group [(ngModel)]="studentChoices" (ngModelChange)="studentDataChanged()">
      @for (choice of choices; track choice.id) {
        <div>
          <mat-radio-button
            [attr.aria-label]="choice.text"
            color="primary"
            [value]="choice.id"
            [disabled]="isDisabled"
          >
            <span [innerHTML]="choice.text"></span>&nbsp;
            @if (showFeedback && choice.showFeedback) {
              <span
                [ngClass]="{
                  success: componentHasCorrectAnswer && choice.isCorrect,
                  warn: componentHasCorrectAnswer && !choice.isCorrect,
                  info: !componentHasCorrectAnswer
                }"
                >{{ choice.feedbackToShow }}</span
              >
            }
          </mat-radio-button>
        </div>
      }
    </mat-radio-group>
  } @else if (choiceType === 'checkbox') {
    @for (choice of choices; track choice.id) {
      <div>
        <mat-checkbox
          [(ngModel)]="choice.isChecked"
          (change)="updateStudentChoices(choice.id)"
          [disabled]="isDisabled"
          [attr.aria-label]="choice.text"
          color="primary"
        >
          <span [innerHTML]="choice.text"></span>&nbsp;
          @if (choice.showFeedback) {
            <span
              [ngClass]="{
                success: componentHasCorrectAnswer && choice.isCorrect,
                warn: componentHasCorrectAnswer && !choice.isCorrect,
                info: !componentHasCorrectAnswer
              }"
              >{{ choice.feedbackToShow }}</span
            >
          }
        </mat-checkbox>
      </div>
    }
  }

  @if (componentHasCorrectAnswer && componentContent.maxSubmitCount != null) {
    <div class="attempts-left-message" i18n>
      You have used {{ submitCounter }} of {{ componentContent.maxSubmitCount }}
      {{ componentContent.maxSubmitCount === 1 ? 'attempt' : 'attempts' }}
    </div>
  }

  @if (!isLatestComponentStateSubmit || !componentHasCorrectAnswer || !showFeedback) {
    <div><br /></div>
  }

  @if (
    componentHasCorrectAnswer && isLatestComponentStateSubmit && showFeedback && isCorrect != null
  ) {
    @if (isCorrect) {
      <div class="correct-text" i18n>Correct</div>
    } @else {
      <div class="incorrect-text" i18n>Incorrect</div>
    }
  }
</div>

@if (isSaveOrSubmitButtonVisible) {
  <component-save-submit-buttons
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)"
  />
}

@if (mode === 'student') {
  <component-annotations
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId"
  />
}
