<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained" fxLayout="column">
    <div fxLayout="column" fxLayoutGap="10px">
      <div>
        <button
          mat-raised-button
          (click)="goToExportOneWorkgroupPerRowPage()"
          aria-label="Export One Workgroup Per Row"
          i18n-aria-label
          i18n
        >
          Export One Workgroup Per Row
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportStudentWorkPage()"
          aria-label="Export Student Work"
          i18n-aria-label
          i18n
        >
          Export Student Work
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportEventsPage()"
          aria-label="Export Events"
          i18n-aria-label
          i18n
        >
          Export Events
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('latestNotebookItems')"
          aria-label="Export Latest Notebook Items"
          i18n-aria-label
          i18n
        >
          Export Latest Notebook Items
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('allNotebookItems')"
          aria-label="Export All Notebook Items"
          i18n-aria-label
          i18n
        >
          Export All Notebook Items
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('notifications')"
          aria-label="Export Notifications"
          i18n-aria-label
          i18n
        >
          Export Notifications
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('studentAssets')"
          aria-label="Export Student Assets"
          i18n-aria-label
          i18n
        >
          Export Student Assets
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportItemPage()"
          aria-label="Export Item Data"
          i18n-aria-label
          i18n
        >
          Export Item Data
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportRawDataPage()"
          aria-label="Export Raw Data"
          i18n-aria-label
          i18n
        >
          Export Raw Data
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="exportVisitsClicked()"
          aria-label="Export Step Visits"
          i18n-aria-label
          i18n
        >
          Export Step Visits
        </button>
      </div>
    </div>
  </div>
</div>
