<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained" fxLayout="column">
    <div *ngIf="exportType == null" fxLayout="column" fxLayoutGap="10px">
      <div>
        <button
          mat-raised-button
          (click)="setExportType('oneWorkgroupPerRow')"
          aria-label="Export One Workgroup Per Row"
          i18n-aria-label
          i18n
        >
          Export One Workgroup Per Row
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="setExportType('latestStudentWork')"
          aria-label="Export Latest Work"
          i18n-aria-label
          i18n
        >
          Export Latest Work
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="setExportType('allStudentWork')"
          aria-label="Export All Work"
          i18n-aria-label
          i18n
        >
          Export All Work
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="setExportType('events')"
          aria-label="Export Events"
          i18n-aria-label
          i18n
        >
          Export Events
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('latestNotebookItems')"
          aria-label="Export Latest Notebook Items"
          i18n-aria-label
          i18n
        >
          Export Latest Notebook Items
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('allNotebookItems')"
          aria-label="Export All Notebook Items"
          i18n-aria-label
          i18n
        >
          Export All Notebook Items
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('notifications')"
          aria-label="Export Notifications"
          i18n-aria-label
          i18n
        >
          Export Notifications
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('studentAssets')"
          aria-label="Export Student Assets"
          i18n-aria-label
          i18n
        >
          Export Student Assets
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="showExportComponentDataPage()"
          aria-label="Export Component Data"
          i18n-aria-label
          i18n
        >
          Export Component Data
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="setExportType('rawData')"
          aria-label="Export Raw Data"
          i18n-aria-label
          i18n
        >
          Export Raw Data
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="exportVisitsClicked()"
          aria-label="Export Step Visits"
          i18n-aria-label
          i18n
        >
          Export Step Visits
        </button>
      </div>
    </div>
    <div
      *ngIf="
        exportType === 'latestStudentWork' ||
        exportType === 'allStudentWork' ||
        exportType === 'events' ||
        exportType === 'oneWorkgroupPerRow' ||
        exportType === 'rawData'
      "
    >
      <h4>{{ exportTypeLabel }}</h4>
      <div *ngIf="exportType === 'oneWorkgroupPerRow'" fxLayout="column" fxLayoutGap="10px">
        <div fxLayoutGap="20px">
          <button mat-raised-button (click)="defaultClicked()" i18n>Default</button>
          <button mat-raised-button (click)="everythingClicked()" i18n>Everything</button>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWork" i18n>
            Include Student Work
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWorkIds" i18n>
            Include Student Work IDs
          </mat-checkbox>
        </div>
        <div *ngIf="canViewStudentNames">
          <mat-checkbox color="primary" [(ngModel)]="includeStudentNames" i18n>
            Include Student Names
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWorkTimestamps" i18n>
            Include Student Work Timestamps
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeBranchPathTaken" i18n>
            Include Branch Path Taken
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeBranchPathTakenNodeId" i18n>
            Include Branch Path Taken Node ID
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeBranchPathTakenStepTitle" i18n>
            Include Branch Path Taken Step Title
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeScores" i18n>
            Include Scores
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeScoreTimestamps" i18n>
            Include Score Timestamps
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeComments" i18n>
            Include Comments
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeCommentTimestamps" i18n>
            Include Comment Timestamps
          </mat-checkbox>
        </div>
      </div>
      <div *ngIf="exportType === 'rawData'" fxLayout="column" fxLayoutGap="10px">
        <div fxLayoutGap="20px">
          <button mat-raised-button (click)="defaultClicked()" i18n>Default</button>
          <button mat-raised-button (click)="everythingClicked()" i18n>Everything</button>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWork" i18n>
            Include Student Work
          </mat-checkbox>
        </div>
        <div *ngIf="canViewStudentNames">
          <mat-checkbox color="primary" [(ngModel)]="includeStudentNames" i18n>
            Include Student Names
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeAnnotations" i18n>
            Include Annotations
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeEvents" i18n>
            Include Events
          </mat-checkbox>
        </div>
      </div>
      <div
        *ngIf="
          canViewStudentNames &&
          (exportType === 'latestStudentWork' || exportType === 'allStudentWork')
        "
      >
        <mat-checkbox color="primary" [(ngModel)]="includeStudentNames" i18n>
          Include Student Names
        </mat-checkbox>
      </div>
      <div *ngIf="exportType === 'events'" fxLayout="column" fxLayoutGap="10px">
        <mat-checkbox color="primary" [(ngModel)]="includeStudentEvents" i18n>
          Include Student Events
        </mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="includeTeacherEvents" i18n>
          Include Teacher Events
        </mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="includeNames" i18n> Include Names </mat-checkbox>
      </div>
      <mat-radio-group
        *ngIf="
          exportType === 'latestStudentWork' ||
          exportType === 'allStudentWork' ||
          exportType === 'oneWorkgroupPerRow' ||
          exportType === 'rawData'
        "
        [(ngModel)]="exportStepSelectionType"
        class="select-steps-radio-buttons-container"
        fxLayout="column"
        fxLayoutGap="10px"
      >
        <mat-radio-button value="exportAllSteps" color="primary" i18n>
          Export All Steps
        </mat-radio-button>
        <mat-radio-button value="exportSelectSteps" color="primary" i18n>
          Select Steps To Export
        </mat-radio-button>
      </mat-radio-group>
      <div class="button-div" fxLayoutGap="20px">
        <button mat-raised-button (click)="export()" aria-label="Export" i18n-aria-label i18n>
          Export
        </button>
        <button
          mat-raised-button
          (click)="setExportType(null)"
          aria-label="Cancel"
          i18n-aria-label
          i18n
        >
          Cancel
        </button>
      </div>
      <div *ngIf="exportStepSelectionType === 'exportSelectSteps'">
        <div class="button-div" fxLayoutGap="20px">
          <button
            mat-raised-button
            (click)="selectAll()"
            aria-label="Select All"
            i18n-aria-label
            i18n
          >
            Select All
          </button>
          <button
            mat-raised-button
            (click)="deselectAll()"
            aria-label="Deselect All"
            i18n-aria-label
            i18n
          >
            Deselect All
          </button>
        </div>
        <div fxLayoutAlign="start center">
          <h4>{{ project.metadata.title }}</h4>
          <button
            (click)="previewProject()"
            mat-icon-button
            matTooltip="Preview"
            matTooltipPosition="right"
            i18n-matTooltip
          >
            <mat-icon>preview</mat-icon>
          </button>
        </div>
        <select-step-and-component-checkboxes
          [nodes]="nodes"
          [projectIdToOrder]="projectIdToOrder"
        ></select-step-and-component-checkboxes>
        <div class="button-div" fxLayoutGap="20px">
          <button mat-raised-button (click)="export()" aria-label="Export" i18n-aria-label i18n>
            Export
          </button>
          <button
            mat-raised-button
            (click)="setExportType(null)"
            aria-label="Cancel"
            i18n-aria-label
            i18n
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="exportType === 'componentData'">
      <button
        mat-raised-button
        (click)="setExportType(null)"
        aria-label="Back"
        i18n-aria-label
        matTooltip="Back"
        i18n-matTooltip
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h4 i18n>Export Component Data</h4>
      <div fxLayout="column" fxLayoutGap="10px">
        <div>
          <mat-checkbox
            *ngIf="canViewStudentNames"
            color="primary"
            [(ngModel)]="includeStudentNames"
            i18n
          >
            Include Student Names
          </mat-checkbox>
        </div>
        <div *ngIf="canViewStudentNames">
          <mat-checkbox color="primary" [(ngModel)]="includeCorrectnessColumns" i18n>
            Include Correctness Columns
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeOnlySubmits" i18n>
            Include Only Submits
          </mat-checkbox>
        </div>
      </div>
      <div fxLayoutAlign="start center">
        <h4>{{ project.metadata.title }}</h4>
        <span
          class="preview-button"
          (click)="previewProject()"
          matTooltip="Preview"
          matTooltipPosition="right"
          i18n-matTooltip
        >
          <mat-icon class="preview-icon">pageview</mat-icon>
        </span>
      </div>
      <div *ngFor="let node of nodes">
        <div fxLayoutAlign="start center">
          <h6 *ngIf="node.order !== 0" [ngClass]="{ stepHeader: node.node.type !== 'group' }">
            {{ getNodePositionById(node.node.id) }}. {{ getNodeTitleByNodeId(node.node.id) }}
          </h6>
          <span
            *ngIf="node.node.type !== 'group'"
            (click)="previewNode(node.node)"
            class="preview-button"
            matTooltip="Preview"
            matTooltipPosition="right"
            i18n-matTooltip
          >
            <mat-icon class="preview-icon">pageview</mat-icon>
          </span>
        </div>
        <ng-container *ngFor="let componentItem of node.node.components; index as componentIndex">
          <div
            *ngIf="
              node.order !== 0 && node.node.type !== 'group' && node.node.components.length > 0
            "
            class="componentHeader"
          >
            <div fxLayoutAlign="start center" fxLayoutGap="20px">
              <span> {{ componentIndex + 1 }}. {{ componentItem.type }} </span>
              <button
                mat-raised-button
                *ngIf="canExportAllRevisionsForComponent(componentItem)"
                color="primary"
                class="exportComponentDataButton"
                (click)="exportComponentAllRevisions(node.node.id, componentItem)"
                matTooltip="Download All Revisions Export"
                i18n-matTooltip
              >
                <mat-icon>file_download</mat-icon>
                <span i18n>All</span>
              </button>
              <button
                mat-raised-button
                *ngIf="canExportLatestRevisionsForComponent(componentItem)"
                color="primary"
                class="exportComponentDataButton"
                (click)="exportComponentLatestRevisions(node.node.id, componentItem)"
                matTooltip="Download Latest Revisions Export"
                i18n-matTooltip
              >
                <mat-icon>file_download</mat-icon>
                <span i18n>Latest</span>
              </button>
              <span
                *ngIf="componentExportTooltips[componentItem.type] != null"
                matTooltip="{{ componentExportTooltips[componentItem.type] }}"
                matTooltipPosition="right"
              >
                <mat-icon class="preview-icon">help</mat-icon>
              </span>
            </div>
          </div>
        </ng-container>
      </div>
      <button mat-raised-button (click)="setExportType(null)" matTooltip="Back" i18n-matTooltip>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
</div>
