<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained" fxLayout="column">
    <div *ngIf="exportType == null" fxLayout="column" fxLayoutGap="10px">
      <div>
        <button
          mat-raised-button
          (click)="setExportType('oneWorkgroupPerRow')"
          aria-label="Export One Workgroup Per Row"
          i18n-aria-label
          i18n
        >
          Export One Workgroup Per Row
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="setExportType('latestStudentWork')"
          aria-label="Export Latest Work"
          i18n-aria-label
          i18n
        >
          Export Latest Work
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="setExportType('allStudentWork')"
          aria-label="Export All Work"
          i18n-aria-label
          i18n
        >
          Export All Work
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportEventsPage()"
          aria-label="Export Events"
          i18n-aria-label
          i18n
        >
          Export Events
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('latestNotebookItems')"
          aria-label="Export Latest Notebook Items"
          i18n-aria-label
          i18n
        >
          Export Latest Notebook Items
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('allNotebookItems')"
          aria-label="Export All Notebook Items"
          i18n-aria-label
          i18n
        >
          Export All Notebook Items
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('notifications')"
          aria-label="Export Notifications"
          i18n-aria-label
          i18n
        >
          Export Notifications
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="export('studentAssets')"
          aria-label="Export Student Assets"
          i18n-aria-label
          i18n
        >
          Export Student Assets
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportItemPage()"
          aria-label="Export Item Data"
          i18n-aria-label
          i18n
        >
          Export Item Data
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="goToExportRawDataPage()"
          aria-label="Export Raw Data"
          i18n-aria-label
          i18n
        >
          Export Raw Data
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          (click)="exportVisitsClicked()"
          aria-label="Export Step Visits"
          i18n-aria-label
          i18n
        >
          Export Step Visits
        </button>
      </div>
    </div>
    <div
      *ngIf="
        exportType === 'latestStudentWork' ||
        exportType === 'allStudentWork' ||
        exportType === 'oneWorkgroupPerRow'
      "
    >
      <h4>{{ exportTypeLabel }}</h4>
      <div *ngIf="exportType === 'oneWorkgroupPerRow'" fxLayout="column" fxLayoutGap="10px">
        <div fxLayoutGap="20px">
          <button mat-raised-button (click)="defaultClicked()" i18n>Default</button>
          <button mat-raised-button (click)="everythingClicked()" i18n>Everything</button>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWork" i18n>
            Include Student Work
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWorkIds" i18n>
            Include Student Work IDs
          </mat-checkbox>
        </div>
        <div *ngIf="canViewStudentNames">
          <mat-checkbox color="primary" [(ngModel)]="includeStudentNames" i18n>
            Include Student Names
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeStudentWorkTimestamps" i18n>
            Include Student Work Timestamps
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeBranchPathTaken" i18n>
            Include Branch Path Taken
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeBranchPathTakenNodeId" i18n>
            Include Branch Path Taken Node ID
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeBranchPathTakenStepTitle" i18n>
            Include Branch Path Taken Step Title
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeScores" i18n>
            Include Scores
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeScoreTimestamps" i18n>
            Include Score Timestamps
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeComments" i18n>
            Include Comments
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="includeCommentTimestamps" i18n>
            Include Comment Timestamps
          </mat-checkbox>
        </div>
      </div>
      <div
        *ngIf="
          canViewStudentNames &&
          (exportType === 'latestStudentWork' || exportType === 'allStudentWork')
        "
      >
        <mat-checkbox color="primary" [(ngModel)]="includeStudentNames" i18n>
          Include Student Names
        </mat-checkbox>
      </div>
      <div class="button-div" fxLayoutGap="20px">
        <button mat-raised-button (click)="export()" aria-label="Export" i18n-aria-label i18n>
          Export
        </button>
        <button
          mat-raised-button
          (click)="setExportType(null)"
          aria-label="Cancel"
          i18n-aria-label
          i18n
        >
          Cancel
        </button>
      </div>
      <select-step-and-component-checkboxes
        [(exportStepSelectionType)]="exportStepSelectionType"
        [nodes]="nodes"
        [projectIdToOrder]="projectIdToOrder"
      ></select-step-and-component-checkboxes>
      <div class="button-div" fxLayoutGap="20px">
        <button mat-raised-button (click)="export()" aria-label="Export" i18n-aria-label i18n>
          Export
        </button>
        <button
          mat-raised-button
          (click)="setExportType(null)"
          aria-label="Cancel"
          i18n-aria-label
          i18n
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
