<div class="flex flex-row gap-2">
  <translatable-textarea
    [content]="componentContent"
    key="url"
    label="Model file name"
    i18n-label
    placeholder="Enter model file name here"
    i18n-placeholder
    (defaultLanguageTextChanged)="inputChange.next($event)"
    class="file-name"
    appearance="fill"
  />
  <translatable-asset-chooser
    [content]="componentContent"
    key="url"
    tooltip="Choose model file"
    i18n-tooltip
    (defaultLanguageTextChanged)="componentChanged()"
  />
</div>
<author-url-parameters
  [url]="componentContent.url"
  [parameters]="componentContent.urlParameters"
  (generatedUrl)="updateUrl($event)"
/>
<div class="flex flex-row flex-wrap justify-start items-center">
  <mat-form-field class="dimension">
    <mat-label i18n>Width (px) (optional)</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="componentContent.width"
      (ngModelChange)="inputChange.next($event)"
    />
  </mat-form-field>
  <mat-form-field class="dimension">
    <mat-label i18n>Height (px)</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="componentContent.height"
      (ngModelChange)="inputChange.next($event)"
    />
  </mat-form-field>
  <mat-checkbox
    class="enable-in-translation"
    [(ngModel)]="componentContent.hasWork"
    (ngModelChange)="inputChange.next($event)"
    color="primary"
  >
    <span class="flex flex-row justify-start items-center">
      <span i18n>Saves Student Work</span> &nbsp;
      <mat-icon
        i18n-matTooltip
        matTooltip="Checking this box will enable the Grading Tool to show the student work for the model if the model saves student work. You can also come back later to check this box even after students have saved work for this model. If the model does not save student work, this check box will not do anything."
        >help</mat-icon
      >
    </span>
  </mat-checkbox>
</div>
