.main-div {
  margin-left: 16px;
}

.insert-as-first-div {
  margin-left: 45px;
}

.component-div {
  margin-left: 16px;
  margin-top: 16px;
}

.text {
  font-weight: bold;
}

.insert-button-div {
  margin-top: 10px;
  margin-left: 30px;
}

.mat-icon {
  margin: 0px;
}
