<div class="wrapper">
  <div class="header">
    <h1 i18n>Idea detection rubric</h1>
    <button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
  </div>
  @if (cRaterRubric.description && cRaterRubric.description !== '') {
    <p id="rubric-description">{{ cRaterRubric.description }}</p>
  }
  <table>
    <colgroup>
      <col span="1" class="left" />
      <col span="1" class="right" />
    </colgroup>
    <tr>
      <th i18n>ID</th>
      <th i18n>Description</th>
    </tr>
    @for (idea of ideas; track idea.name) {
      <tr>
        <td class="idea-id">{{ idea.name }}</td>
        <td class="idea-desc">{{ idea.text }}</td>
      </tr>
    }
  </table>
</div>
