<h2 mat-dialog-title class="!flex items-center !py-1 !pe-1">
  <span i18n>Idea detection rubric</span>
  <span class="flex-1"></span>
  <button mat-icon-button (click)="closeDialog()" i18n-aria-label aria-label="Close rubric">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  @if (rubric.description && rubric.description !== '') {
    <p>{{ rubric.description }}</p>
  }
  @if (rubric.ideaColors) {
    <div class="flex flex-wrap items-center gap-2 mb-4">
      <span class="text-sm font-medium" i18n>Key:</span>
      @for (ideaColor of rubric.ideaColors; track ideaColor.colorValue) {
        <div class="py-0.5 px-1 rounded" [style.background-color]="ideaColor.colorValue">
          <span class="text-sm">{{ ideaColor.tags.join(', ') }}</span>
        </div>
      }
    </div>
  }
  @if (ideas.length > 0) {
    <table class="text-sm">
      <thead>
        <tr>
          <th i18n>ID</th>
          <th i18n>Description</th>
        </tr>
      </thead>
      <tbody>
        @for (idea of ideas; track idea.name) {
          <tr [style.background-color]="idea.color">
            <td>{{ idea.name }}</td>
            <td>{{ idea.text }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</mat-dialog-content>
