<edit-component-prompt
  [componentContent]="componentContent"
  (promptChangedEvent)="promptChanged($event)"
/>
<mat-checkbox
  color="primary"
  [(ngModel)]="componentContent.isStudentAttachmentEnabled"
  (ngModelChange)="componentChanged()"
  i18n
>
  Students can upload and use images in their posts
</mat-checkbox>
<mat-checkbox
  color="primary"
  [(ngModel)]="componentContent.gateClassmateResponses"
  (ngModelChange)="componentChanged()"
  i18n
>
  Students must create a post before viewing classmates' posts
</mat-checkbox>
<mat-checkbox
  color="primary"
  [(ngModel)]="componentContent.anonymizeResponses"
  (ngModelChange)="componentChanged()"
  i18n
>
  Anonymize (students cannot see classmates' names)
</mat-checkbox>
