<div class="flex justify-between gap-2">
  <mat-tab-group
    [selectedIndex]="selectedTabIndex"
    (focusChange)="goToGroupTab($event.index)"
    animationDuration="0ms"
    class="flex-shrink w-full min-w-0"
  >
    @for (node of groupNodes; track node.id) {
      <mat-tab [label]="node.title" [disabled]="node.disabled" />
    }
  </mat-tab-group>
  <div class="flex">
    @if (notebookConfig?.itemTypes.note.enabled) {
      <notebook-launcher [notebookConfig]="notebookConfig" />
    }
    @if (chatbotEnabled) {
      <chatbot-launcher (toggleChatbot)="emitToggleChatbot()" />
    }
  </div>
</div>
