<div class="bodyDiv">
  <h5 i18n>Create Branch</h5>
  <div fxLayoutGap="20px">
    <mat-form-field>
      <mat-label i18n>Number of Branch Paths</mat-label>
      <input matInput
          type="number"
          [(ngModel)]="createBranchNumberOfBranches"
          (ngModelChange)="createBranchNumberOfBranchesChanged()"/>
    </mat-form-field>
    <button mat-raised-button
        color="primary"
        (click)="removeBranchButtonClicked()"
        i18n>
      Remove Branch
    </button>
  </div>
  <div *ngIf="createBranchNumberOfBranches > 1">
    <div>
      <mat-form-field class="select-medium-width">
        <mat-label i18n>How to Choose Among Paths</mat-label>
        <mat-select [(ngModel)]="createBranchCriterion"
            (ngModelChange)="createBranchCriterionChanged()">
          <mat-option *ngFor="let branchCriterion of branchCriteria"
              [value]="branchCriterion.value">
            <span fxLayout="row" fxLayoutAlign="start center">
              <span>{{ branchCriterion.text }}</span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="createBranchCriterion === 'score' || createBranchCriterion === 'choiceChosen'"
          class="select-medium-width">
        <mat-label i18n>Choose Step</mat-label>
        <mat-select [(ngModel)]="createBranchNodeId"
            (ngModelChange)="createBranchNodeIdChanged()">
          <mat-option *ngFor="let nodeId of nodeIds"
              [value]="nodeId">
            <span fxLayout="row" fxLayoutAlign="start center">
              <span>
                {{ getNodePositionById(nodeId) + ":" }} {{ getNodeTitle(nodeId) }} ({{ nodeId }})
              </span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="createBranchCriterion === 'score' || createBranchCriterion === 'choiceChosen'"
          class="select-large-width">
        <mat-label i18n>Choose Component</mat-label>
        <mat-select [(ngModel)]="createBranchComponentId"
            (ngModelChange)="createBranchComponentIdChanged()">
          <mat-option *ngFor="let component of getComponents(createBranchNodeId); index as componentIndex"
              [value]="component.id">
            <span fxLayout="row" fxLayoutAlign="start center">
              <span i18n>
                {{ componentIndex + 1 }}. {{ component.type }} ({{ component.id }}) Prompt: {{ component.prompt }}
              </span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  *ngIf="createBranchCriterion === 'score'">
        <mat-label i18n>Score ID (Optional)</mat-label>
        <input matInput
            [(ngModel)]="scoreId"
            (ngModelChange)="scoreIdChanged()"/>
      </mat-form-field>
    </div>
    <div *ngFor="let branch of createBranchBranches" class="branch-path">
      <div>
        <span i18n>Branch Path</span><span> {{ branch.number }}</span>
      </div>
      <div *ngIf="createBranchCriterion === 'workgroupId'" i18n>
        Workgroup ID
      </div>
      <mat-form-field *ngIf="createBranchCriterion === 'score'">
        <mat-label i18n>Score</mat-label>
        <input matInput
            [(ngModel)]="branch.scores"
            (ngModelChange)="createBranchScoreChanged(branch)"/>
      </mat-form-field>
      <mat-form-field *ngIf="createBranchCriterion === 'choiceChosen'" class="select-large-width">
        <mat-label i18n>Choice Chosen</mat-label>
        <mat-select [(ngModel)]="branch.choiceId">
          <mat-option *ngFor="let choice of branch.choices" [value]="choice.id" i18n>
            {{ choice.text }} ({{ choice.id }}), Is Correct: {{ choice.isCorrect }}, Feedback: {{ choice.feedback }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="createBranchCriterion === 'random'" i18n>
        Random
      </div>
      <div>
        <button mat-raised-button
            color="primary"
            class="branch-path-button"
            (click)="branch.openStepsChooser = !branch.openStepsChooser">
          <ng-container *ngIf="branch.openStepsChooser" i18n>
            Close Branch Path {{ branch.number }} Steps Chooser
          </ng-container>
          <ng-container *ngIf="!branch.openStepsChooser" i18n>
            Open Branch Path {{ branch.number }} Steps Chooser
          </ng-container>
        </button>
      </div>
      <div *ngIf="branch.openStepsChooser">
        <p i18n>Choose Steps in Path</p>
        <div *ngFor="let nodeId of nodeIds">
          <mat-checkbox
              color="primary"
              class="step-checkbox"
              [(ngModel)]="branch.items[nodeId].checked"
              (ngModelChange)="createBranchStepClicked(branch, branch.items[nodeId])">
            {{ getNodePositionById(nodeId) }}: {{ getNodeTitle(nodeId) }}
          </mat-checkbox>
        </div>
        <button mat-raised-button
            color="primary"
            class="branch-path-button"
            (click)="branch.openStepsChooser = !branch.openStepsChooser">
          <ng-container *ngIf="branch.openStepsChooser" i18n>
            Close Branch Path {{ branch.number }} Steps Chooser
          </ng-container>
          <ng-container *ngIf="!branch.openStepsChooser" i18n>
            Open Branch Path {{ branchNumber }} Steps Chooser
          </ng-container>
        </button>
      </div>
    </div>
    <mat-form-field class="select-medium-width">
      <mat-label i18n>Choose Merge Point</mat-label>
      <mat-select matInput
          [(ngModel)]="createBranchMergePointNodeId"
          (ngModelChange)="createBranchMergePointNodeIdChanged()">
        <mat-option *ngFor="let nodeId of this.nodeIds"
            [value]="nodeId">
          {{ getNodePositionById(nodeId) + ":" }} {{ getNodeTitle(nodeId) }} ({{ nodeId }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
