@import 'style/abstracts/variables', 'style/themes/default';

$notice-bg: map-get($default-colors, notice-bg);

.select-medium-width {
  width: 50%;
}

.select-large-width {
  width: 80%;
}

.branch-path {
  border: 1px solid #dddddd;
  background-color: $notice-bg;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.branch-path-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.step-checkbox {
  margin-left: 30px;
}
