<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="bottom-spacing">
  <mat-label class="bold" i18n>Grouping Logic:</mat-label>
  <ng-container [ngSwitch]="peerGrouping">
    <span *ngSwitchCase="null" i18n>(None Selected)</span>
    <span *ngSwitchDefault>{{ peerGrouping.name }}</span>
  </ng-container>
  <button
    mat-raised-button
    color="primary"
    (click)="selectGroupingLogic()"
    matTooltip="Select Grouping Logic"
    matTooltipPosition="above"
    i18n-matTooltip
    i18n
  >
    Select
  </button>
</div>
