<div class="flex flex-row justify-between items-center h-[42px]">
  <div class="ps-1 flex flex-row items-center min-w-0">
    <step-select />
    <button
      matIconButton
      (click)="goToPrevNode()"
      [disabled]="!prevId"
      matTooltip="Previous Step"
      i18n-matTooltip
      class="shrink-0"
    >
      <mat-icon>{{ icons.prev }}</mat-icon>
    </button>
    <button
      matIconButton
      (click)="goToNextNode()"
      [disabled]="!nextId"
      matTooltip="Next Step"
      i18n-matTooltip
      class="shrink-0"
    >
      <mat-icon>{{ icons.next }}</mat-icon>
    </button>
  </div>
  <div class="shrink-0">
    @if (notebookConfig.itemTypes.note.enabled) {
      <notebook-launcher [notebookConfig]="notebookConfig" />
    }
    @if (chatbotEnabled) {
      <chatbot-launcher (toggleChatbot)="emitToggleChatbot()" />
    }
  </div>
</div>
