@use '@angular/material' as mat;
@import
  'style/abstracts/functions',
  'style/abstracts/variables',
  'style/base/typography';

.step-tools {
  height: 42px;

  mat-form-field {
    width: 168px;

    @media only screen and (min-width: breakpoint('sm.min')) {
      width: 264px;
    }

    @media only screen and (min-width: breakpoint('md.min')) {
      width: 432px;
    }
  }

  .mdc-line-ripple {
    &:before, &:after {
      display: none;
    }
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 24px;
  }

  .mat-mdc-form-field-flex {
    height: 32px;
  }

  .mat-mdc-select-value-text, .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: mat.font-size($wise-typography, 'caption');
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

// .toolbar {
//   padding: 0 16px;
// }

// .node-icon-div {
//   width: 34px;
//   margin: 4px;
//   text-align: center;
// }

// .node-status-div {
//   width: 24px;
//   margin: 4px;
// }

.unit-plan-icon {
  color: rgba(0,0,0,.54);
}
