@use '@angular/material' as mat;
@use 'style/abstracts/functions';
@use 'style/base/typography';

.step-tools {
  height: 42px;

  mat-form-field {
    width: 180px;

    @media only screen and (min-width: functions.breakpoint('sm.min')) {
      width: 392px;
    }

    @media only screen and (min-width: functions.breakpoint('md.min')) {
      width: 432px;
    }
  }

  .mdc-line-ripple {
    &:before, &:after {
      display: none;
    }
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 24px;
  }

  .mat-mdc-form-field-flex {
    height: 32px;
  }

  .mat-mdc-select-value-text, .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: mat.m2-font-size(typography.$wise-typography, 'caption');
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
