<div style="display: flex; justify-content: space-between;">
  <div>
    <h4>{{ ::'notebookSettings' | translate }}</h4>
  </div>
</div>
<md-switch ng-model="$ctrl.project.notebook.enabled"
           class="md-primary"
           ng-change="$ctrl.componentChanged()">
  Student Notebook
</md-switch>
<div ng-if="$ctrl.project.notebook.enabled" style="margin-left: 40px;">
  <md-input-container>
    <label>
      {{ ::'notebookLabel' | translate }}
    </label>
    <input ng-model="$ctrl.project.notebook.label"
           ng-change="$ctrl.componentChanged()"/>
  </md-input-container>
  <md-switch ng-model="$ctrl.project.notebook.itemTypes.note.enabled"
             class="md-primary"
             ng-change="$ctrl.componentChanged()"
             style="margin-left: 0px;">
    Enable Note
  </md-switch>
  <div ng-if="$ctrl.project.notebook.itemTypes.note.enabled"
       style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;">
    <md-input-container>
      <label>
        {{ ::'labelSingular' | translate }}
      </label>
      <input ng-model="$ctrl.project.notebook.itemTypes.note.label.singular"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <md-input-container>
      <label>
        {{ ::'labelPlural' | translate }}
      </label>
      <input ng-model="$ctrl.project.notebook.itemTypes.note.label.plural"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <md-input-container>
      <label>
        {{ ::'labelLink' | translate }}
      </label>
      <input ng-model="$ctrl.project.notebook.itemTypes.note.label.link"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <br/>
    <md-checkbox ng-model="$ctrl.project.notebook.itemTypes.note.enableAddNote"
                 ng-change="$ctrl.componentChanged()"
                 class="md-primary">
      {{ ::'enableAddNoteButton' | translate }}
    </md-checkbox>
    <br/>
    <md-checkbox ng-model="$ctrl.project.notebook.itemTypes.note.requireTextOnEveryNote"
                 ng-change="$ctrl.componentChanged()"
                 class="md-primary">
      {{ ::'requireTextOnEveryNote' | translate }}
    </md-checkbox>
    <br/>
    <md-checkbox ng-model="$ctrl.project.notebook.itemTypes.note.enableClipping"
                 ng-change="$ctrl.componentChanged()"
                 class="md-primary">
      {{ ::'enableClipping' | translate }}
    </md-checkbox>
    <br/>
    <md-checkbox ng-model="$ctrl.project.notebook.itemTypes.note.enableStudentUploads"
                 ng-change="$ctrl.componentChanged()"
                 class="md-primary">
      {{ ::'enableStudentUploads' | translate }}
    </md-checkbox>
  </div>
  <md-switch ng-model="$ctrl.project.notebook.itemTypes.report.enabled"
             class="md-primary"
             ng-change="$ctrl.componentChanged()"
             style="margin-left: 0px;">
    Enable Report
  </md-switch>
  <div ng-if="$ctrl.project.notebook.itemTypes.report.enabled"
       style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;">
    <md-input-container>
      <label>
        {{ ::'labelSingular' | translate }}
      </label>
      <input ng-model="$ctrl.project.notebook.itemTypes.report.label.singular"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <md-input-container>
      <label>
        {{ ::'labelPlural' | translate }}
      </label>
      <input ng-model="$ctrl.project.notebook.itemTypes.report.label.plural"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <md-input-container>
      <label>
        {{ ::'labelLink' | translate }}
      </label>
      <input ng-model="$ctrl.project.notebook.itemTypes.report.label.link"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <div ng-repeat="reportNote in $ctrl.project.notebook.itemTypes.report.notes">
      <md-input-container>
        <label>
          {{ ::'title' | translate }}
        </label>
        <input ng-model="reportNote.title"
               ng-model-options="{ debounce: 1000 }"
               ng-change="$ctrl.componentChanged()"/>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>
          {{ ::'MAX_SCORE' | translate }}
        </label>
        <input ng-model="reportNote.maxScore"
               type="number"
               ng-model-options="{ debounce: 1000 }"
               ng-change="$ctrl.componentChanged()"/>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>
          {{ ::'description' | translate }}
        </label>
        <textarea rows="5" cols="100" ng-model="reportNote.description"
                  ng-model-options="{ debounce: 1000 }"
                  ng-change="$ctrl.componentChanged()"></textarea>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>
          {{ ::'prompt' | translate }}
        </label>
        <textarea rows="5" cols="100" ng-model="reportNote.prompt"
                  ng-model-options="{ debounce: 1000 }"
                  ng-change="$ctrl.componentChanged()"></textarea>
      </md-input-container>
      <br/>
      <label>
        {{ ::'starterText' | translate }}
      </label>
      <wise-authoring-tinymce-editor
          [(model)]="$ctrl.reportIdToAuthoringNote[reportNote.reportId].html"
          (model-change)="$ctrl.reportStarterTextChanged(reportNote.reportId)">
      </wise-authoring-tinymce-editor>
    </div>
  </div>
</div>
<md-switch ng-model="$ctrl.project.teacherNotebook.enabled"
           class="md-primary"
           ng-change="$ctrl.componentChanged()">
  Teacher Notebook
</md-switch>
<div ng-if="$ctrl.project.teacherNotebook.enabled"
     style="margin-left: 40px;">
  <md-input-container>
    <label>
      {{ ::'notebookLabel' | translate }}
    </label>
    <input ng-model="$ctrl.project.teacherNotebook.label"
           ng-change="$ctrl.componentChanged()"/>
  </md-input-container>
  <md-switch ng-model="$ctrl.project.teacherNotebook.itemTypes.report.enabled"
             class="md-primary"
             ng-change="$ctrl.componentChanged()"
             style="margin-left: 0px;">
    Enable Report
  </md-switch>
  <div ng-if="$ctrl.project.teacherNotebook.itemTypes.report.enabled"
       style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;">
    <md-input-container>
      <label>
        {{ ::'labelSingular' | translate }}
      </label>
      <input ng-model="$ctrl.project.teacherNotebook.itemTypes.report.label.singular"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <md-input-container>
      <label>
        {{ ::'labelPlural' | translate }}
      </label>
      <input ng-model="$ctrl.project.teacherNotebook.itemTypes.report.label.plural"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <md-input-container>
      <label>
        {{ ::'labelLink' | translate }}
      </label>
      <input ng-model="$ctrl.project.teacherNotebook.itemTypes.report.label.link"
             ng-model-options="{ debounce: 1000 }"
             ng-change="$ctrl.componentChanged()"/>
    </md-input-container>
    <div ng-repeat="reportNote in $ctrl.project.teacherNotebook.itemTypes.report.notes">
      <md-input-container>
        <label>
          {{ ::'title' | translate }}
        </label>
        <input ng-model="reportNote.title"
               ng-model-options="{ debounce: 1000 }"
               ng-change="$ctrl.componentChanged()"/>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>
          {{ ::'description' | translate }}
        </label>
        <textarea rows="5" cols="100" ng-model="reportNote.description"
                  ng-model-options="{ debounce: 1000 }"
                  ng-change="$ctrl.componentChanged()"></textarea>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>
          {{ ::'prompt' | translate }}
        </label>
        <textarea rows="5" cols="100" ng-model="reportNote.prompt"
                  ng-model-options="{ debounce: 1000 }"
                  ng-change="$ctrl.componentChanged()"></textarea>
      </md-input-container>
      <br/>
      <label>
        {{ ::'starterText' | translate }}
      </label>
      <wise-authoring-tinymce-editor
          [(model)]="$ctrl.reportIdToAuthoringNote[reportNote.reportId].html"
          (model-change)="$ctrl.reportStarterTextChanged(reportNote.reportId)">
      </wise-authoring-tinymce-editor>
    </div>
  </div>
</div>
