<h2 mat-dialog-title class="mat-dialog-title" i18n>Add New Component</h2>
<mat-dialog-content>
  <div layout="row" style="margin-left: 10px">
    <div layout="row">
      <h5 i18n>
        Click the new component type you want to add, or
        <button
          mat-raised-button
          color="primary"
          (click)="goToImportComponent()"
          arial-label="import components"
        >
          import component(s) from other units
        </button>
      </h5>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <ng-container *ngFor="let componentType of componentTypes">
      <component-selector
        [componentType]="componentType.type"
        (componentSelectedEvent)="selectComponent(componentType.type)"
      ></component-selector>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="cancel()" aria-label="cancel" i18n>Cancel</button>
</mat-dialog-actions>
