<h2 mat-dialog-title i18n>Add New Activity</h2>
<mat-dialog-content>
  <p class="flex flex-wrap justify-start items-center gap-2">
    <span i18n>Select the activity you want to add or</span>
    <button mat-raised-button color="primary" (click)="goToImportComponent()" i18n>
      import from another unit
    </button>
  </p>
  <div class="flex flex-wrap justify-start items-center">
    @for (componentGroup of componentGroups; track componentGroup.name) {
      <div class="flex flex-col" style="border: 2px dotted">
        <h3 class="mat-subheading-1">{{ componentGroup.name }}</h3>
        @for (componentType of componentGroup.types; track componentType.type) {
          <component-type-button
            [componentType]="componentType.type"
            (componentSelectedEvent)="selectComponent(componentType.type)"
          />
        }
      </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end items-center">
  <button mat-button color="primary" (click)="cancel()" i18n>Cancel</button>
</mat-dialog-actions>
