@if (nodeHasWork || isGroup) {
  <div id="nav-item-{{ nodeId }}"></div>
  @switch (type) {
    @case ('card') {
      <mat-card
        class="nav-item--card"
        [ngClass]="{ 'nav-item--card--group': isGroup, 'expanded mat-elevation-z3': expanded }"
      >
        <mat-card-header
          class="nav-item--card__content"
          tabindex="0"
          (click)="itemClicked($event)"
          (keyup.enter)="itemClicked($event)"
          role="button"
        >
          <node-icon mat-card-avatar class="group-icon" customClass="mat-24" [nodeId]="nodeId" />
          <mat-card-title class="title" style="color: {{ icon.color }}">
            <span>{{ nodeTitle }}</span>
          </mat-card-title>
          <span class="flex-grow"></span>
          @if (isGroup && expanded) {
            <mat-icon class="nav-item__collapse" aria-label="collapse"> remove </mat-icon>
          }
          @if (newAlert) {
            <alert-status-corner [hasNewAlert]="newAlert" [message]="alertIconLabel" />
          }
        </mat-card-header>
        @if (isGroup && expanded) {
          <mat-card-content class="nav-contents nav-contents--group">
            <mat-list class="nav-contents__list">
              @for (childId of item.ids; track childId) {
                <nav-item
                  [ngClass]="{ expanded: itemExpanded, prev: isPrevStep }"
                  aria-label="{{ isPrevStep ? 'Last viewed item' : null }}"
                  i18n-aria-label
                  [nodeId]="childId"
                  type="list"
                  ng-animate-ref="{{ childId }}"
                  class="nav-item"
                  data-nodeid="{{ childId }}"
                />
              }
            </mat-list>
          </mat-card-content>
        }
        <mat-card-actions class="nav-item__more mat-body-2 flex justify-start items-center gap-2">
          <nav-item-progress [nodeCompletion]="getNodeCompletion()" [period]="currentPeriod" />
          <span class="flex-grow"></span>
          <teams-on-node [nodeId]="nodeId" [period]="currentPeriod" />
          <button
            mat-icon-button
            (click)="toggleLockNode()"
            [matTooltip]="getNodeLockedText()"
            matTooltipPosition="above"
          >
            <mat-icon [ngClass]="{ warn: isLocked() }">
              {{ isLocked() ? 'lock' : 'lock_open' }}
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    }
    @case ('list') {
      <mat-list-item
        (click)="itemClicked()"
        aria-label="{{ nodeTitle }}"
        class="list-item"
        [ngClass]="{ 'nav-item--list--group': isGroup, 'text-secondary': !nodeHasWork }"
      >
        <span class="flex justify-start items-center">
          <node-icon [nodeId]="nodeId" class="step-icon" customClass="mat-24" />
          <span [ngClass]="{ warn: newAlert }">{{ nodeTitle }}</span
          >&nbsp;
          <span class="flex-grow sm:hidden"></span>
          @if (newAlert) {
            <status-icon
              [class]="alertIconClass"
              [name]="alertIconName"
              [tooltip]="alertIconLabel"
            />
          }
          @if (hasRubrics) {
            <status-icon
              [class]="rubricIconClass"
              [name]="rubricIconName"
              [tooltip]="rubricIconLabel"
            />
          }
          <span class="flex-grow hidden sm:block"></span>
          <teams-on-node [nodeId]="nodeId" [period]="currentPeriod" />
          <nav-item-score
            class="nav-item--list__info-item"
            [maxScore]="maxScore"
            [averageScore]="getNodeAverageScore()"
          />
          <nav-item-progress [nodeCompletion]="getNodeCompletion()" [period]="currentPeriod" />
        </span>
      </mat-list-item>
    }
  }
}
