.mat-mdc-card {
  margin: 8px;

  &:not([class*=mat-elevation-z]):not(.expanded) {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 
        0 1px 5px 0 rgba(0,0,0,.084), 3px 3px 0 1px #d5d5d5, 6px 6px 0 1px #aaa;
  }
}

.mat-mdc-card-content, .mat-mdc-card-header {
  padding: 16px;
}

.mat-mdc-card-header {
  cursor: pointer;

  &:focus, &:hover {
    outline: none;

    .title {
      text-decoration-line: underline;
      text-decoration-style: dashed;
      text-decoration-color: inherit;
      text-decoration-thickness: from-font;
    }
  }
}

.mat-mdc-card-actions {
  padding: 0 16px;
  border-top: 1px solid #dddddd;
}

.mat-mdc-list {
  padding: 0;
}

.mat-mdc-list-base {
  padding-top: 0;
}

.mat-caption {
  font-weight: 500;
}

.group-icon {
  height: auto;
  width: auto;
  margin-bottom: 0;
}

.title {
  font-weight: normal;
}

.collapse {
  margin: 0;
}

.progress {
  height: 14px;
  width: 48px;
}

.mat-mdc-card .mat-divider-horizontal {
  position: relative;
}

.nav-item {
  cursor: pointer;
}

.list-item {
  height: 56px;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}

.step-icon {
  padding-right: 12px;
}