<div class="section-container">
  <div class="enable-dynamic-prompt-div">
    <mat-checkbox
      [checked]="componentContent.dynamicPrompt?.enabled"
      (change)="toggleDynamicPrompt($event)"
      color="primary"
      i18n
    >
      Enable Dynamic Prompt
    </mat-checkbox>
  </div>
  @if (componentContent.dynamicPrompt?.enabled) {
    <div>
      <div class="reference-component-div flex flex-row flex-wrap justify-start items-center gap-5">
        <mat-label class="bold" i18n>Reference Activity:</mat-label>
        <select-step-and-component
          [referenceComponent]="componentContent.dynamicPrompt.referenceComponent"
          [thisComponentId]="componentId"
          [allowedComponentTypes]="allowedReferenceComponentTypes"
          (stepChange)="dynamicPromptChangedEvent.next()"
          (componentChange)="dynamicPromptChangedEvent.next()"
        />
        <edit-component-peer-grouping-tag [componentContent]="componentContent.dynamicPrompt" />
      </div>
      <translatable-textarea
        [content]="componentContent.dynamicPrompt"
        key="prePrompt"
        label="Pre Prompt (Optional)"
        i18n-label
        (defaultLanguageTextChanged)="dynamicPromptChangedEvent.next()"
      />
      <div class="feedback-rules-div">
        <edit-dynamic-prompt-rules [feedbackRules]="componentContent.dynamicPrompt.rules" />
      </div>
      <translatable-textarea
        [content]="componentContent.dynamicPrompt"
        key="postPrompt"
        label="Post Prompt (Optional)"
        i18n-label
        (defaultLanguageTextChanged)="dynamicPromptChangedEvent.next()"
      />
    </div>
  }
</div>
