<div class="section-container">
  <div class="enable-dynamic-prompt-div">
    <mat-checkbox
        [checked]="authoringComponentContent.dynamicPrompt?.enabled"
        (change)="toggleDynamicPrompt($event)"
        color="primary"
        i18n>
      Enable Dynamic Prompt
    </mat-checkbox>
  </div>
  <div *ngIf="authoringComponentContent.dynamicPrompt?.enabled">
    <div class="reference-component-div"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutGap="20px">
      <mat-label class="bold" i18n>Reference Component:</mat-label>
      <edit-connected-component-node-select
          [connectedComponent]="authoringComponentContent.dynamicPrompt.referenceComponent"
          (connectedComponentChange)="referenceComponentNodeIdChanged($event)">
      </edit-connected-component-node-select>
      <edit-connected-component-component-select
          [componentId]="componentId"
          [connectedComponent]="authoringComponentContent.dynamicPrompt.referenceComponent"
          [allowedConnectedComponentTypes]="allowedReferenceComponentTypes"
          (connectedComponentChange)="dynamicPromptChangedEvent.next()">
      </edit-connected-component-component-select>
      <edit-component-peer-grouping-tag
          [authoringComponentContent]="authoringComponentContent.dynamicPrompt">
      </edit-component-peer-grouping-tag>
    </div>
    <div class="pre-prompt-div">
      <mat-form-field class="prompt" appearance="fill">
        <mat-label i18n>Pre Prompt (Optional)</mat-label>
        <textarea matInput
            [(ngModel)]="authoringComponentContent.dynamicPrompt.prePrompt"
            (ngModelChange)="dynamicPromptChangedEvent.next()"
            placeholder="Enter Pre Prompt Here"
            i18n-placeholder
            cdkTextareaAutosize>
        </textarea>
      </mat-form-field>
    </div>
    <div class="feedback-rules-div">
      <edit-dynamic-prompt-rules [feedbackRules]="authoringComponentContent.dynamicPrompt.rules">
      </edit-dynamic-prompt-rules>
    </div>
    <div>
      <mat-form-field class="prompt" appearance="fill">
        <mat-label i18n>Post Prompt (Optional)</mat-label>
        <textarea matInput
            [(ngModel)]="authoringComponentContent.dynamicPrompt.postPrompt"
            (ngModelChange)="dynamicPromptChangedEvent.next()"
            placeholder="Enter Post Prompt Here"
            i18n-placeholder
            cdkTextareaAutosize>
        </textarea>
      </mat-form-field>
    </div>
  </div>
</div>