<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
  <span class="mat-caption" i18n>Speak to add to your response:</span>
  <button
    mat-stroked-button
    [matMenuTriggerFor]="languageSelect"
    [disabled]="recording()"
    matTooltip="Select language"
    i18n-mat-tooltip
  >
    <mat-icon>translate</mat-icon>
    <span *ngIf="selectedLanguage">{{ selectedLanguage.language }}</span>
  </button>
  <mat-menu #languageSelect="matMenu">
    <button
      *ngFor="let language of languages"
      [value]="language"
      mat-menu-item
      (click)="changeLanguage(language)"
      [class]="{ primary: language.languageCode === selectedLanguage.languageCode }"
    >
      {{ language.language }}
    </button>
  </mat-menu>
  <button
    *ngIf="!(recording() && requestedRecording)"
    [disabled]="recording() && !requestedRecording"
    mat-icon-button
    id="recordButton"
    (click)="toggleRecording()"
    matTooltip="Record voice"
    i18n-mat-tooltip
  >
    <mat-icon color="primary">mic</mat-icon>
  </button>
  <button
    *ngIf="recording() && requestedRecording"
    mat-icon-button
    id="recordButton"
    (click)="toggleRecording()"
    matTooltip="Stop recording"
    i18n-mat-tooltip
  >
    <mat-icon color="warn">stop_circle</mat-icon>
  </button>
  <span *ngIf="recording() && requestedRecording" class="mat-caption text-secondary" i18n
    >Recording...</span
  >
</div>
