<div class="table-container">
  <tabulator-table
    [editableCells]="tabulatorData.editableCells"
    [disabled]="true"
    [enableRowSelection]="componentContent.enableRowSelection"
    [selectedRowIndices]="selectedRowIndices"
    [tabColumns]="tabulatorData.columns"
    [tabData]="tabulatorData.data"
    [tabOptions]="tabulatorData.options"
    [tabSorters]="tabulatorSorters"
    (ready)="tabulatorRendered()"
  />
</div>
@if (componentContent.isDataExplorerEnabled) {
  <br />
  @if (componentContent.dataExplorerGraphTypes.length > 1) {
    <mat-form-field appearance="fill">
      <mat-label i18n>Graph Type</mat-label>
      <mat-select [value]="dataExplorerGraphType" [disabled]="true">
        @for (graphType of componentContent.dataExplorerGraphTypes; track graphType) {
          <mat-option [value]="graphType.value">
            {{ graphType.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <div class="flex flex-wrap justify-start items-center gap-4">
    <mat-form-field class="data-explorer-select" appearance="fill">
      <mat-label i18n>X Data</mat-label>
      <mat-select [value]="xColumnIndex != null ? xColumnIndex : -1" [disabled]="true">
        <mat-option [value]="-1">{{ noneText }}</mat-option>
        @for (columnName of columnNames; track columnName; let i = $index) {
          <mat-option [value]="i">
            {{ columnName }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @for (
      singleDataExplorerSeries of dataExplorerSeries;
      track singleDataExplorerSeries;
      let i = $index
    ) {
      <mat-form-field class="data-explorer-select" appearance="fill">
        <mat-label i18n>Y Data {{ dataExplorerSeries.length > 1 ? i + 1 : '' }}</mat-label>
        <mat-select
          [value]="singleDataExplorerSeries.yColumn != null ? singleDataExplorerSeries.yColumn : -1"
          [disabled]="true"
        >
          <mat-option [value]="-1">{{ noneText }}</mat-option>
          @for (columnName of columnNames; track columnName; let i = $index) {
            <mat-option [value]="i">
              {{ columnName }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
  @if (componentContent.isDataExplorerAxisLabelsEditable) {
    <div class="flex flex-wrap justify-start items-center gap-4">
      <mat-form-field class="data-explorer-select" appearance="fill">
        <mat-label i18n>X Axis Label</mat-label>
        @if (dataExplorerXAxisLabel == null || dataExplorerXAxisLabel == '') {
          <input matInput [ngModel]="noneText" [disabled]="true" />
        }
        @if (dataExplorerXAxisLabel != null && dataExplorerXAxisLabel != '') {
          <input matInput [ngModel]="dataExplorerXAxisLabel" [disabled]="true" />
        }
      </mat-form-field>
      @if (componentContent.numDataExplorerYAxis === 1) {
        <mat-form-field class="data-explorer-select" appearance="fill">
          <mat-label i18n>Y Axis Label</mat-label>
          @if (dataExplorerYAxisLabel == null || dataExplorerYAxisLabel == '') {
            <input matInput [ngModel]="noneText" [disabled]="true" />
          }
          @if (dataExplorerYAxisLabel != null && dataExplorerYAxisLabel != '') {
            <input matInput [ngModel]="dataExplorerYAxisLabel" [disabled]="true" />
          }
        </mat-form-field>
      }
      @if (componentContent.numDataExplorerYAxis > 1) {
        <div class="flex flex-wrap justify-start items-center gap-4">
          @for (
            yAxisLabel of [].constructor(componentContent.numDataExplorerYAxis);
            track yAxisLabel;
            let i = $index
          ) {
            <mat-form-field class="data-explorer-select" appearance="fill">
              <mat-label i18n>Y Axis {{ i + 1 }} Label</mat-label>
              @if (dataExplorerYAxisLabels[i] == null || dataExplorerYAxisLabels[i] == '') {
                <input matInput [ngModel]="noneText" [disabled]="true" />
              }
              @if (dataExplorerYAxisLabels[i] != null && dataExplorerYAxisLabels[i] != '') {
                <input matInput [ngModel]="dataExplorerYAxisLabels[i]" [disabled]="true" />
              }
            </mat-form-field>
          }
        </div>
      }
    </div>
  }
}
