@import '~style/abstracts/variables';

.team {
  &.mat-card {
    padding: 8px 8px 0;
    box-shadow: none;
  }

  .mat-card-title {
    margin-bottom: 4px;
  }
}

h4 {
  margin: 0;
}

.users {
  min-height: 46px;
  padding: 4px;
  margin: -4px -8px;
  transition: background-color 250ms;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
  column-gap: 0;
}

li {
  list-style-type: none;
  cursor: move;
  padding: 4px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.user {
  display: block;
  padding: 4px 8px;
  border-radius: $button-border-radius;
}

.cdk-drag-placeholder {
  opacity: .4;
}

.mat-card-content {
  margin: 0;
}
