<div class="main app-background">
  <div class="content">
    <header class="content__header flex">
      <h1 class="accent flex justify-center items-center gap-2 mat-display-1">
        <mat-icon>rss_feed</mat-icon><span i18n>What's New?</span>
      </h1>
    </header>
    <section>
      <div class="content-block">
        <app-timeline>
          @for (newsItem of newsItems; track newsItem; let i = $index) {
            @if (i < 10 || showAll) {
              <app-timeline-item id="{{ newsItem.id }}">
                <app-timeline-item-label>
                  <strong>{{ newsItem.date | date: 'mediumDate' }}</strong>
                </app-timeline-item-label>
                <app-timeline-item-content>
                  <mat-card appearance="outlined">
                    <mat-card-content>
                      <h2 class="accent-1">{{ newsItem.title }}</h2>
                      <div class="mat-body-2">
                        @if (newsOverLengthLimit(newsItem) && !newsShowMore[i]) {
                          <p
                            [innerHTML]="
                              sanitizer.bypassSecurityTrustHtml(abbreviateNews(newsItem))
                            "
                          ></p>
                          <a href="#" (click)="expandNews($event, i)" i18n>Show More</a>
                        } @else {
                          <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(newsItem.news)"></p>
                        }
                      </div>
                    </mat-card-content>
                  </mat-card>
                </app-timeline-item-content>
              </app-timeline-item>
            }
          }
        </app-timeline>
        @if (newsItems.length > 10 && !showAll) {
          <div class="content-block__actions">
            <a mat-raised-button color="accent" (click)="showAll = true" i18n>Show More</a>
          </div>
        }
      </div>
    </section>
  </div>
</div>
