<edit-component-prompt
  [componentContent]="componentContent"
  (promptChangedEvent)="promptChanged($event)"
/>
<p>
  <mat-checkbox
    color="primary"
    class="checkbox"
    [(ngModel)]="componentContent.horizontal"
    (ngModelChange)="componentChanged()"
    i18n
  >
    Show source and target buckets side-by-side
  </mat-checkbox>
</p>
<p>
  <mat-checkbox
    color="primary"
    class="checkbox"
    [(ngModel)]="componentContent.choicesAfter"
    (ngModelChange)="componentChanged()"
    i18n
  >
    Show choices after target buckets
  </mat-checkbox>
</p>
<p>
  <mat-checkbox
    color="primary"
    class="checkbox"
    [(ngModel)]="componentContent.choiceReuseEnabled"
    (ngModelChange)="componentChanged()"
    i18n
  >
    Students can put each choice in multiple buckets
  </mat-checkbox>
</p>
<div class="section">
  <span i18n>Choices</span>
  <button
    mat-raised-button
    color="primary"
    class="authoring-button add-button"
    (click)="addChoice()"
    matTooltip="Add choice"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add</mat-icon>
  </button>
  @if (componentContent.choices.length === 0) {
    <div i18n>There are no choices. Click the "Add choice" button to add a choice.</div>
  }
  @for (
    choice of componentContent.choices;
    track choice.id;
    let choiceIndex = $index, isFirst = $first, isLast = $last
  ) {
    <div class="flex flex-row">
      <translatable-input
        [content]="choice"
        key="value"
        label="Choice name"
        i18n-label
        placeholder="Type text or choose an image"
        i18n-placeholder
        (defaultLanguageTextChanged)="inputChange.next($event)"
        class="name"
      />
      <translatable-asset-chooser
        [content]="choice"
        key="value"
        [processAsset]="processSelectedAsset"
        (defaultLanguageTextChanged)="componentChanged()"
      />
      <button
        mat-raised-button
        color="primary"
        class="authoring-button"
        [disabled]="isFirst"
        (click)="moveChoiceUp(choiceIndex)"
        matTooltip="Move up"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="authoring-button"
        [disabled]="isLast"
        (click)="moveChoiceDown(choiceIndex)"
        matTooltip="Move down"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="authoring-button"
        (click)="deleteChoice(choiceIndex)"
        matTooltip="Delete choice"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
</div>
<div class="section">
  <translatable-input
    [content]="componentContent"
    key="choicesLabel"
    label="Source bucket name"
    i18n-label
    (defaultLanguageTextChanged)="inputChange.next($event)"
    class="name"
  />
  <br />
  <span i18n>Target buckets</span>
  <button
    mat-raised-button
    color="primary"
    class="authoring-button add-button"
    (click)="addBucket()"
    matTooltip="Add target bucket"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add</mat-icon>
  </button>
  @if (componentContent.buckets.length === 0) {
    <div i18n>
      There are no target buckets. Click the "Add target bucket" button to add a bucket.
    </div>
  }
  @for (
    bucket of componentContent.buckets;
    track bucket.id;
    let bucketIndex = $index, isFirst = $first, isLast = $last
  ) {
    <div class="flex flex-row">
      <translatable-input
        [content]="bucket"
        key="value"
        label="Target bucket name"
        i18n-label
        placeholder="Type text or choose an image"
        i18n-placeholder
        (defaultLanguageTextChanged)="inputChange.next($event)"
        class="name"
      />
      <translatable-asset-chooser
        [content]="bucket"
        key="value"
        [processAsset]="processSelectedAsset"
        (defaultLanguageTextChanged)="componentChanged()"
      />
      <button
        mat-raised-button
        color="primary"
        class="authoring-button"
        [disabled]="isFirst"
        (click)="moveBucketUp(bucketIndex)"
        matTooltip="Move up"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="authoring-button"
        [disabled]="isLast"
        (click)="moveBucketDown(bucketIndex)"
        matTooltip="Move down"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="authoring-button"
        (click)="deleteBucket(bucketIndex)"
        matTooltip="Delete bucket"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
</div>
<div class="section">
  <div class="choice-ordered-checkbox">
    <p i18n>Feedback</p>
    <mat-checkbox
      color="primary"
      [(ngModel)]="componentContent.ordered"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Choices need to be ordered within buckets
    </mat-checkbox>
  </div>
  @for (bucketFeedback of componentContent.feedback; track $index) {
    <div class="section">
      <p i18n>Bucket name: {{ getBucketNameById(bucketFeedback.bucketId) }}</p>
      @for (choiceFeedback of bucketFeedback.choices; track $index) {
        <div class="choice-feedback-container notice-bg-bg">
          <span i18n> Choice: {{ getChoiceTextById(choiceFeedback.choiceId) }} </span>
          <div class="flex flex-row">
            <translatable-input
              [content]="choiceFeedback"
              key="feedback"
              label="Feedback"
              i18n-label
              (defaultLanguageTextChanged)="feedbackChange.next($event)"
              class="feedback"
            />
            <mat-checkbox
              color="primary"
              [(ngModel)]="choiceFeedback.isCorrect"
              (ngModelChange)="isCorrectClicked(choiceFeedback)"
              layout="row"
              i18n
            >
              Is correct
            </mat-checkbox>
          </div>
          @if (componentContent.ordered && choiceFeedback.isCorrect) {
            <div class="flex flex-row gap-2">
              <mat-form-field>
                <mat-label i18n>Position</mat-label>
                <input
                  matInput
                  type="number"
                  [(ngModel)]="choiceFeedback.position"
                  (ngModelChange)="feedbackChange.next($event)"
                />
              </mat-form-field>
              <translatable-input
                [content]="choiceFeedback"
                key="incorrectPositionFeedback"
                label="Incorrect position feedback"
                i18n-label
                (defaultLanguageTextChanged)="feedbackChange.next($event)"
                class="flex-grow"
              />
            </div>
          }
        </div>
      }
    </div>
  }
</div>
