.stepHeader {
  margin-left: 20px !important;
}

.componentHeader {
  margin-left: 40px !important;
}

.exportComponentDataButton {
  min-height: 30px !important;
  min-width: 46px !important;
  font-size: 12px !important;
  line-height: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-icon {
  margin: 0px;
}