<div class="view-content view-content--with-sidemenu top-content">
  <button
    mat-raised-button
    color="primary"
    (click)="goBack()"
    matTooltip="Back"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4 i18n>Export Item Data</h4>
  <div class="flex flex-col gap-2">
    @if (canViewStudentNames) {
      <div>
        <mat-checkbox color="primary" [(ngModel)]="includeStudentNames" i18n>
          Include student names
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox color="primary" [(ngModel)]="includeCorrectnessColumns" i18n>
          Include correctness columns
        </mat-checkbox>
      </div>
    }
    <div>
      <mat-checkbox color="primary" [(ngModel)]="includeOnlySubmits" i18n>
        Include only submits
      </mat-checkbox>
    </div>
  </div>
  <div class="flex justify-start items-center">
    <h4>{{ project.metadata.title }}</h4>
    <button
      mat-icon-button
      color="primary"
      (click)="previewProject()"
      class="preview-button"
      matTooltip="Preview"
      matTooltipPosition="right"
      i18n-matTooltip
    >
      <mat-icon class="preview-icon">preview</mat-icon>
    </button>
  </div>
  @for (node of nodes; track node.node.id) {
    <div class="flex justify-start items-center">
      @if (node.order !== 0) {
        <h6 [ngClass]="{ stepHeader: node.node.type !== 'group' }">
          {{ getNodePositionById(node.node.id) }}. {{ getNodeTitleByNodeId(node.node.id) }}
        </h6>
      }
      @if (node.node.type !== 'group') {
        <button
          mat-icon-button
          color="primary"
          (click)="previewNode(node.node)"
          class="preview-button"
          matTooltip="Preview"
          matTooltipPosition="right"
          i18n-matTooltip
        >
          <mat-icon class="preview-icon">preview</mat-icon>
        </button>
      }
    </div>
    @for (
      componentItem of node.node.components;
      track componentItem.id;
      let componentIndex = $index
    ) {
      @if (node.order !== 0 && node.node.type !== 'group' && node.node.components.length > 0) {
        <div class="componentHeader">
          <div class="flex justify-start items-center gap-5">
            <span> {{ componentIndex + 1 }}. {{ componentItem.type }} </span>
            @if (canExport(componentItem, 'all')) {
              <button
                mat-raised-button
                color="primary"
                class="exportComponentDataButton"
                (click)="export(node.node.id, componentItem, 'exportAllWork')"
                matTooltip="Download all revisions export"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>file_download</mat-icon>
                <span i18n>All</span>
              </button>
            }
            @if (canExport(componentItem, 'latest')) {
              <button
                mat-raised-button
                color="primary"
                class="exportComponentDataButton"
                (click)="export(node.node.id, componentItem, 'exportLatestWork')"
                matTooltip="Download latest revisions export"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>file_download</mat-icon>
                <span i18n>Latest</span>
              </button>
            }
            @if (componentExportTooltips[componentItem.type] != null) {
              <span
                matTooltip="{{ componentExportTooltips[componentItem.type] }}"
                matTooltipPosition="right"
              >
                <mat-icon class="preview-icon">help</mat-icon>
              </span>
            }
          </div>
        </div>
      }
    }
  }
  <button mat-raised-button color="primary" (click)="goBack()" matTooltip="Back" i18n-matTooltip>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
