<mat-toolbar class="topbar dark-theme" [color]="hasNewAmbientNotifications() ? 'warn' : 'primary'">
  <div
    class="topbar-content flex flex-1 items-center"
    [ngClass]="{ 'cursor-pointer': hasNewAmbientNotifications() }"
    [tabIndex]="hasNewAmbientNotifications() ? '0' : '-1'"
    (click)="viewCurrentAmbientNotification($event)"
    aria-label="View ambient notification"
    i18n-aria-label
  >
    <a [href]="homeURL" target="_self" class="logo-link" (click)="$event.stopPropagation()">
      <img [src]="logoURL" alt="WISE Logo" i18n-alt class="logo" />
    </a>
    <h3 class="title flex-grow px-2" [title]="projectName">{{ projectName }}</h3>
    <span class="flex-1"></span>
    <div class="constraints">
      @if (isPreview && !isConstraintsDisabled && hasConstraints()) {
        <button
          mat-stroked-button
          id="toggleConstraints"
          (click)="disableConstraints()"
          title="Only Available in Preview Mode"
          i18n-title
          i18n
        >
          Turn Off Constraints
        </button>
      }
      @if (isConstraintsDisabled) {
        <span i18n>Constraints Are Off</span>
      }
    </div>
    <div class="flex items-center gap-1">
      @if (hasTranslations) {
        <project-language-chooser
          [projectLocale]="projectLocale"
          (languageChangedEvent)="changeLanguage($event)"
        ></project-language-chooser>
      }
      <button
        mat-icon-button
        (click)="viewAlerts($event)"
        id="viewNotificationsButton"
        aria-label="View alerts"
        i18n-aria-label
        class="alerts"
      >
        <mat-icon
          matBadge="{{ newNotifications.length }}"
          matBadgeColor="accent"
          [matBadgeHidden]="!hasNewNotifications()"
          >notifications</mat-icon
        >
      </button>
      <div class="account-menu-container">
        <mat-progress-spinner
          class="menu-progress"
          mode="determinate"
          diameter="32"
          strokeWidth="2"
          [value]="completionPercent"
          aria-label="Unit percent completed"
          i18n-aria-label
        >
        </mat-progress-spinner>
        <student-account-menu #accountMenu />
        <button
          mat-icon-button
          [matMenuTriggerFor]="accountMenu?.menu"
          (click)="$event.stopPropagation()"
          id="openAccountMenuButton"
          aria-label="Open Account Menu"
          i18n-aria-label
        >
          <mat-icon class="avatar" [ngStyle]="{ color: avatarColor }">account_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
