@if (isOrderedMatch) {
  <ordered-match-summary-display
    [nodeId]="nodeId"
    [componentId]="componentId"
    [periodId]="periodId"
    [studentDataType]="studentDataType"
    [source]="source"
    [doRender]="doRender"
    [componentType]="componentType"
    [isOrderedMatch]="true"
    [componentContent]="componentContent"
  />
} @else {
  <unordered-match-summary-display
    [nodeId]="nodeId"
    [componentId]="componentId"
    [periodId]="periodId"
    [studentDataType]="studentDataType"
    [source]="source"
    [doRender]="doRender"
    [componentType]="componentType"
    [isOrderedMatch]="false"
  />
}
