@if (isOrderedMatch) {
  <ordered-match-summary-display
    [nodeId]="nodeId"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'responses'"
    [source]="source"
    [doRender]="true"
    [componentType]="component.type"
    [isOrderedMatch]="true"
  />
} @else {
  <unordered-match-summary-display
    [nodeId]="nodeId"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'responses'"
    [source]="source"
    [doRender]="true"
    [componentType]="component.type"
    [isOrderedMatch]="false"
    [componentContent]="componentContent"
  />
}
