<mat-card class="group notice-bg-bg">
  <h4 mat-card-title class="mat-subtitle-2" i18n>Ungrouped</h4>
  <mat-card-content class="group-content">
    <ul
      cdkDropList
      [cdkDropListData]="{ id: 0 }"
      (cdkDropListDropped)="dropWorkgroup($event)"
      class="md:columns-2 lg:columns-3"
    >
      @for (workgroup of unassignedWorkgroups; track workgroup) {
        <li
          cdkDrag
          [cdkDragData]="workgroup.id"
          (cdkDragEntered)="dragEnter($event)"
          (cdkDragExited)="dragExit($event)"
        >
          <peer-group-workgroup [workgroup]="workgroup" />
        </li>
      }
    </ul>
  </mat-card-content>
</mat-card>
