@charset 'UTF-8';
@use '@angular/material' as mat;
@use 'abstracts/variables';
@use 'abstracts/functions';
@use 'base/base';
@use 'base/fonts';
@use 'base/typography';
@use 'base/helpers';
@use 'abstracts/mixins';
@use 'layout/content';
@use 'layout/main';
@use 'layout/section';
@use 'layout/standalone';
@use 'components/avatar';
@use 'components/buttons';
@use 'components/content-block';
@use 'components/dialog';
@use 'components/icons';
@use 'components/inputs';
@use 'components/lists';
@use 'components/expansion-panel';
@use 'components/info-block';
@use 'components/menu';
@use 'components/notice';
@use 'components/table';
@use 'components/tooltip';
@use 'themes/default';
@use 'themes/dark';
@use 'themes/author';
@use 'themes/monitor';
@use 'themes/apps';
@use "@ng-select/ng-select/themes/material.theme.css";

@use "tailwindcss";

// always include only once per project
@include mat.core();

// material typography
@include mat.typography-hierarchy(typography.$wise-typography);

// specify common style class eg: <body class="common-styles"> ... </body>
.common-styles {
  @include mixins.common-setup();
}
a {
  text-decoration: underline;
}

.app-styles {
  @include apps.apps-setup();
}

$filled-input-bg: rgba(0, 0, 0, 0.04);

// specify custom theme classes eg: <body class="common-styles default-theme"> ... </body>
@include mat.all-component-themes(default.$default-theme);
.default-theme {
  @include mixins.theme-setup(default.$default-theme, default.$default-colors);
  @include mixins.filled-input-bg();
}

.author-theme {
  @include mat.all-component-colors(author.$author-theme);
  @include mixins.theme-setup(author.$author-theme, author.$author-colors);
  @include mixins.filled-input-bg();
}

.monitor-theme {
  @include mat.all-component-colors(monitor.$monitor-theme);
  @include mixins.theme-setup(monitor.$monitor-theme, monitor.$monitor-colors);
  @include mixins.filled-input-bg();
}

.dark-theme {
  color: white;
  @include mat.all-component-colors(dark.$dark-theme);
  @include mixins.theme-setup(dark.$dark-theme, dark.$dark-colors);
  @include mixins.filled-input-bg(true);
}
