@if (isPeerGroupRetrieved) {
  <div>
    @if (peerGroup == null) {
      <div class="notice mat-subtitle-2" i18n>
        You have not been paired with a classmate yet. Please check back later.
      </div>
    }
    @if (peerGroup != null) {
      <div
        class="flex flex-wrap"
        [ngClass]="{ 'flex-col': flexLayout === 'column', 'flex-row': flexLayout === 'row' }"
      >
        @for (member of peerGroup.members; track member) {
          <div
            class="w-full flex flex-col"
            [ngClass]="{
              'md:w-1/2': widthMd === 50,
              'md:w-1/3': widthMd === 33.33,
              'lg:w-1/3': widthLg === 33.33,
              'lg:w-1/4': widthLg === 25
            }"
          >
            <mat-card
              appearance="outlined"
              class="mat-elevation-z0 notice-bg-bg flex-auto flex flex-col"
            >
              <div class="flex items-center gap-2">
                <mat-icon
                  class="mat-30"
                  [ngStyle]="{ color: workgroupInfos[member.id].avatarColor }"
                >
                  account_circle
                </mat-icon>
                <span class="mat-subtitle-2">{{ workgroupInfos[member.id].displayNames }}</span>
              </div>
              <mat-card-content class="app-bg-bg flex-auto">
                @if (workgroupIdToWork.get(member.id) == null) {
                  <span class="text-secondary" i18n> (Waiting for response...) </span>
                }
                @if (workgroupIdToWork.get(member.id) != null) {
                  <show-work-student
                    [studentWork]="workgroupIdToWork.get(member.id)"
                    [componentId]="componentContent.showWorkComponentId"
                    [nodeId]="componentContent.showWorkNodeId"
                  />
                }
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    }
  </div>
}
