<div class="flex flex-row justify-start items-center gap-2">
  <mat-label class="node__label--vertical-alignment" i18n>Rubric</mat-label>
  <button
    mat-raised-button
    color="primary"
    class="topButton enable-in-translation"
    (click)="showRubricAuthoring = !showRubricAuthoring"
    matTooltip="Edit activity rubric"
    i18n-matTooltip
    matTooltipPosition="above"
  >
    <mat-icon>message</mat-icon>
  </button>
</div>
@if (showRubricAuthoring) {
  <translatable-rich-text-editor
    [content]="componentContent"
    key="rubric"
    (defaultLanguageTextChanged)="save()"
  />
}
