<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
  <mat-checkbox
    color="primary"
    [checked]="selectedAllRuns"
    [indeterminate]="selectedSomeRuns"
    (click)="selectAllRunsCheckboxClicked()"
    matTooltip="Select"
    i18n-matTooltip
    matTooltipPosition="above"
  ></mat-checkbox>
  <div class="select-all-drop-down">
    <button
      mat-icon-button
      [matMenuTriggerFor]="selectRunsMenu"
      aria-label="Select units"
      i18n-aria-label
    >
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #selectRunsMenu="matMenu">
      <button mat-menu-item (click)="selectRunsOptionChosen('ALL')" i18n>All</button>
      <button mat-menu-item (click)="selectRunsOptionChosen('NONE')" i18n>None</button>
      <button mat-menu-item (click)="selectRunsOptionChosen('COMPLETED')" i18n>Completed</button>
      <button mat-menu-item (click)="selectRunsOptionChosen('RUNNING')" i18n>Running</button>
      <button mat-menu-item (click)="selectRunsOptionChosen('SCHEDULED')" i18n>Scheduled</button>
    </mat-menu>
  </div>
  <div *ngIf="numSelectedRuns > 0" class="secondary-text" i18n>{{ numSelectedRuns }} selected</div>
  <archive-projects-button
    *ngIf="numSelectedRuns > 0"
    [showArchived]="showArchived"
    [projects]="projects"
    (archiveActionEvent)="archiveActionEvent.emit($event)"
  ></archive-projects-button>
</div>
