<mat-card
  appearance="outlined"
  class="standalone__content standalone__content--sm mat-elevation-z4 center"
>
  <mat-card-content>
    <h2 class="standalone__title accent" i18n>Create Account</h2>
    <p class="mat-subtitle-2" i18n>Hi! This Microsoft user already has a WISE account.</p>
    <mat-card-actions>
      <button
        class="button--social-login button--microsoft"
        color="accent"
        mat-flat-button
        (click)="login()"
      >
        <img src="assets/img/icons/ms-logo.svg" i18n-alt alt="Microsoft logo" /><ng-container i18n
          >Sign in with Microsoft</ng-container
        >
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
