<edit-component-prompt
  [componentContent]="componentContent"
  (promptChangedEvent)="promptChanged($event)"
/>
<div class="flex gap-5">
  <mat-form-field>
    <mat-label i18n>Show Work Step</mat-label>
    <mat-select
      [(ngModel)]="componentContent.showWorkNodeId"
      (ngModelChange)="showWorkNodeIdChanged()"
    >
      <mat-option [value]="''" i18n>(None)</mat-option>
      @for (nodeId of nodeIds; track nodeId) {
        @if (isApplicationNode(nodeId)) {
          <mat-option [value]="nodeId">
            {{ getNodePositionAndTitle(nodeId) }}
          </mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Show Work Activity</mat-label>
    <mat-select
      [(ngModel)]="componentContent.showWorkComponentId"
      (ngModelChange)="componentChanged()"
    >
      <mat-option [value]="''" i18n>(None)</mat-option>
      @for (
        component of getComponents(componentContent.showWorkNodeId);
        track component;
        let componentIndex = $index
      ) {
        <mat-option
          [value]="component.id"
          [disabled]="
            !isShowWorkComponentTypeAllowed(component.type) || component.id === componentId
          "
        >
          <span>{{ componentIndex + 1 }}. {{ component.type }} </span>
          @if (component.id === componentId) {
            <span i18n>(This activity)</span>
          }
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
