.mat-form-field-wrapper {
  padding-bottom: 0px;
  font-weight: 500;
}

.select-period-form-field {
  mat-select-trigger {
    margin-right: 8px;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-infix {
    border-top: 0px;
    width: auto;
  }
  .mat-form-field-flex {
    padding-top: 5px !important;
    height: 32px;
  }
  .mat-select-arrow {
    margin-top: 14px;
  }
  .mat-select-value {
    display: inherit;
  }
}
