<mat-form-field appearance="fill" class="select-period-form-field">
  <mat-select
    [(value)]="selectedPeriodId"
    (selectionChange)="currentPeriodChanged()"
    panelWidth="null"
    hideSingleSelectionIndicator="true"
  >
    <mat-select-trigger>{{ selectedPeriodText }}</mat-select-trigger>
    @for (period of periods; track period.periodId) {
      <mat-option [value]="period.periodId">
        @if (period.periodId === -1) {
          <span i18n>All Periods</span>
        } @else {
          <span i18n>Period: {{ period.periodName }}</span>
        }
        <span class="text-secondary">
          @if (period.numWorkgroupsInPeriod === 0) {
            (<span i18n>0 teams</span>)
          } @else if (period.numWorkgroupsInPeriod === 1) {
            (<span i18n>1 team</span>)
          } @else {
            (<span i18n>{{ period.numWorkgroupsInPeriod }} teams</span>)
          }
        </span>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
