@use '@angular/material' as mat;
@import 'style/base/typography';

.select-period-form-field {
  .mdc-line-ripple {
    &:before, &:after {
      display: none;
    }
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 24px;
  }

  .mat-mdc-form-field-flex {
    height: 32px;
  }

  .mat-mdc-select-value-text {
    font-size: mat.m2-font-size($wise-typography, 'caption');
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
