<milestone-report-button [node]="node" [component]="component" [periodId]="periodId" />
@if (component?.type === 'MultipleChoice' && hasResponsesSummary) {
  <teacher-summary-display
    [nodeId]="node.id"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'responses'"
    [source]="source"
    [highlightCorrectAnswer]="hasCorrectAnswer"
    [chartType]="'column'"
    [doRender]="true"
  />
}
@if (hasScoresSummary && hasScoreAnnotation) {
  <teacher-summary-display
    [nodeId]="node.id"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'scores'"
    [source]="source"
    [chartType]="'column'"
    [doRender]="true"
  />
}
<class-responses [node]="node" [component]="component" />
