<milestone-report-button [node]="node" [component]="component" [periodId]="periodId" />
<peer-group-button [node]="node" [component]="component" />
<component-completion [node]="node" [component]="component" [periodId]="periodId" />
&nbsp;<span i18n>Component Completion</span>
<component-average-score [node]="node" [component]="component" [periodId]="periodId" />
/ {{ component?.maxScore ?? 0 }}
<span i18n>Mean Score</span>
@if (component?.type === 'MultipleChoice' && hasStudentWork) {
  <teacher-summary-display
    [nodeId]="node.id"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'responses'"
    [source]="source"
    [highlightCorrectAnswer]="hasCorrectAnswer"
    [chartType]="'column'"
    [doRender]="true"
  />
}
@if (hasScoresSummary && hasScoreAnnotation) {
  <teacher-summary-display
    [nodeId]="node.id"
    [componentId]="component.id"
    [periodId]="periodId"
    [studentDataType]="'scores'"
    [source]="source"
    [chartType]="'column'"
    [doRender]="true"
  />
}
<component-class-responses [node]="node" [component]="component" />
