<h2 mat-dialog-title i18n>Change Period</h2>
<div mat-dialog-content class="mat-dialog-content mat-dialog-content--scroll">
  <p class="mat-body-1">
    <span i18n>Select a new period for Team {{team.workgroupId}}</span>
    <span *ngIf="canViewStudentNames" class="student-names">
       - {{team.username.replace(":", ", ")}}:
    </span>
    <span *ngIf="!canViewStudentNames" class="student-names">
      <span *ngFor="let user of team.users; last as isLast; first as isFirst">
        <span *ngIf="isFirst"> - </span>
        <span i18n>Student {{user.id}}</span>
        <span *ngIf="!isLast">, </span>
        <span *ngIf="isLast">:</span>
      </span>
    </span>
  </p>
  <form [formGroup]="selectPeriodForm">
    <mat-form-field appearance="fill" class="change-team-period-form-field">
      <mat-label i18n>Choose Period</mat-label>
      <mat-select formControlName="period" [(value)]="selectedPeriod">
        <mat-option *ngFor="let period of periods" [value]="period">{{period.periodName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="8px">
  <button mat-button mat-dialog-close [disabled]="isChangingPeriod" i18n>Cancel</button>
  <button mat-flat-button
          color="primary"
          (click)="changePeriod()"
          [disabled]="selectPeriodForm.invalid || isChangingPeriod">
    <mat-progress-bar *ngIf="isChangingPeriod" mode="indeterminate"></mat-progress-bar>
    <ng-container i18n>Confirm</ng-container>
  </button>
</div>
