
.border {
  border: 1px solid black;
  padding: 20px;
}

.mat-icon {
  margin: 0px;
}

.full-width {
  width: 100%;
}

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
