.node-content {
  padding: 0px 16px;
  position: relative;
}

.main-content {
  margin-bottom: 20px;
  width: 100%;
}

.concurrent-authors-message {
  position: sticky;
  top: 1px;
  padding: 4px 0;
  display: block;
  z-index: 3;
}
