
.mat-mdc-form-field {
  width: 100%;
}

.attachment {
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  position: relative;
}

.attachment-content {
  max-width: 100%;
  height: auto;
}

.attachment-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;

  &:hover {
    cursor: pointer;
  }
}

.drop-box {
  background: #F8F8F8;
  border: 4px dashed #DDD;
  height: 100px;
  text-align: center;
  margin-top: 16px;
  position: relative;
}

.drop-box:hover {
  cursor: pointer;
}

.item-info {
  margin-top: 16px;
  font-style: italic;
}