.milestone-workgroup-item {
  .team-button {
    min-height: 56px;
    text-align: initial;
  }

  .mdc-button__label {
    text-transform: none;
    width: 100%;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: auto;
  }
}