<div class="flex justify-between items-center">
  <h2 mat-dialog-title i18n>Activity Info</h2>
  <component-type-selector
    class="px-2"
    [componentType]="componentType"
    (componentTypeSelectedEvent)="displayComponent($event)"
  />
</div>
<mat-dialog-content class="dialog-content-scroll">
  <div class="py-4">
    <h3 i18n>Description:</h3>
    <p class="description">{{ description }}</p>
    <mat-divider />
    <h3 i18n>Example:</h3>
    <mat-card appearance="outlined">
      @if (previewComponents.length === 1) {
        <preview-component [component]="previewComponents[0]" class="block p-4" />
      } @else if (previewComponents.length > 1) {
        <mat-tab-group mat-stretch-tabs="false">
          @for (component of previewComponents; track component; let i = $index) {
            <mat-tab [label]="previewExamples[i].label">
              <preview-component [component]="component" class="block p-4" />
            </mat-tab>
          }
        </mat-tab-group>
      }
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusRegionstart i18n>Close</button>
</mat-dialog-actions>
