<div class="summary">
  @if (componentContent.prompt) {
    <div [innerHTML]="prompt" class="prompt"></div>
  }
  @if (componentContent.showPromptFromOtherComponent) {
    <div [innerHTML]="otherPrompt" class="prompt"></div>
  }
  <student-summary-display
    [nodeId]="summaryNodeId"
    [componentId]="summaryComponentId"
    [studentDataType]="studentDataType"
    [source]="source"
    [periodId]="periodId"
    [chartType]="chartType"
    [highlightCorrectAnswer]="highlightCorrectAnswer"
    [hasWarning]="!isShowDisplay"
    [warningMessage]="warningMessage"
    [customLabelColors]="customLabelColors"
    [doRender]="isShowDisplay"
  />
</div>
