<div fxLayout="column" class="account-menu--fixed-height account-menu--fixed-width">
  <mat-toolbar class="notifications-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="accent" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-icon>notifications</mat-icon><span i18n>Alerts</span>
    </span>
  </mat-toolbar>
  <div class="notification-content" fxFlex>
    <div *ngIf="!hasNewNotifications()" class="no-notifications-message">
      <span class="md-body-1" i18n>Hi there! You currently have no alerts.</span>
    </div>
    <mat-list *ngIf="hasNewNotifications()">
      <mat-list-item *ngFor="let notificationAggregate of newNotifications;"
          class="md-2-line notification-item"
          fxLayout="row" fxLayoutAlign="start center">
        <div class="md-list-item-text"
            (click)="dismissNotificationAggregateAndVisitNode($event, notificationAggregate)"
            matTooltip="Visit Step"
            matTooltipPosition="above"
            i18n-matTooltip>
          <div class="md-body-1 primary">{{ notificationAggregate.message }}</div>
          <h4 *ngIf="notificationAggregate.nodeId != null"
              class="notification-list-item__source step-title">
            {{ getNodePositionAndTitleByNodeId(notificationAggregate.nodeId) }}
          </h4>
          <h4 *ngIf="notificationAggregate.notebookItemId != null"
              class="notification-list-item__source">
            {{ reportItem.title }}
          </h4>
        </div>
        <div>
          <button mat-icon-button
              (click)="dismissNotificationAggregate($event, notificationAggregate)"
              md-prevent-menu-close="md-prevent-menu-close"
              matTooltip="Remove Notification"
              matTooltipPosition="above"
              i18n-matTooltip>
            <mat-icon class="clear-icon">clear</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
