<component-header [component]="component" />
<div class="match" fxLayout="row wrap" cdkDropListGroup>
  <div
    fxFlex="100"
    fxFlex.gt-xs="{{ componentContent.horizontal ? 50 : 100 }}"
    fxFlexOrder="{{ componentContent.choicesAfter ? 2 : 1 }}"
  >
    <div
      class="bucket selected-bg-bg"
      fxLayout="column"
      [ngStyle]="{ 'margin-bottom': componentContent.horizontal ? '0' : '8px' }"
    >
      <div class="bucket-title" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
        <h3 class="mat-subtitle-2" [innerHTML]="buckets[0].value"></h3>
        @if (componentContent.canCreateChoices) {
          <add-choice-button [isDisabled]="isDisabled" (onClick)="addChoice()" />
        }
      </div>
      <ul
        class="items"
        [ngStyle.gt-xs]="{ columns: componentContent.horizontal ? 1 : 2 }"
        [ngStyle.gt-md]="{ columns: componentContent.horizontal ? 1 : 3 }"
        cdkDropList
        [cdkDropListData]="{ isSourceBucket: true, items: buckets[0].items }"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of buckets[0].items; track item.id; let position = $index) {
          <li
            [ngClass]="{ item: true, disabled: isDisabled }"
            cdkDrag
            [cdkDragDisabled]="isDisabled"
            (cdkDragEntered)="dragEnter($event)"
            (cdkDragExited)="dragExit($event)"
            [cdkDragData]="{ position: position, item: item }"
          >
            <match-choice-item
              [buckets]="buckets"
              [item]="item"
              [hasCorrectAnswer]="hasCorrectAnswer"
              [isDisabled]="isDisabled"
              (onStudentDataChanged)="studentDataChanged()"
            />
          </li>
        }
      </ul>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.gt-xs="{{ componentContent.horizontal ? 'column' : 'row wrap' }}"
    fxLayoutAlign="start stretch"
    fxFlex="100"
    fxFlex.gt-xs="{{ componentContent.horizontal ? 50 : 100 }}"
    fxFlexOrder="{{ componentContent.choicesAfter ? 1 : 2 }}"
  >
    @for (bucket of buckets.slice(1); track bucket.id) {
      <div
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-xs="{{ componentContent.horizontal ? 100 : 50 }}"
        fxFlex.gt-md="{{ componentContent.horizontal ? 100 : 33.33 }}"
      >
        <div class="bucket target notice-bg-bg" fxLayout="column" fxLayoutAlign="stretch">
          <div
            class="bucket-title"
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
          >
            <h3 class="mat-subtitle-2" [innerHTML]="bucket.value"></h3>
          </div>
          <ul
            class="items"
            cdkDropList
            [cdkDropListData]="{ isSourceBucket: false, items: bucket.items }"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of bucket.items; track item.id; let position = $index) {
              <li
                [ngClass]="{ item: true, disabled: isDisabled }"
                cdkDrag
                [cdkDragDisabled]="isDisabled"
                (cdkDragEntered)="dragEnter($event)"
                (cdkDragExited)="dragExit($event)"
                [cdkDragData]="{ position: position, item: item }"
              >
                <match-choice-item
                  [buckets]="buckets"
                  [item]="item"
                  [hasCorrectAnswer]="hasCorrectAnswer"
                  [isDisabled]="isDisabled"
                  (onStudentDataChanged)="studentDataChanged()"
                />
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>
<match-feedback-section
  [componentContent]="componentContent"
  [hasCorrectAnswer]="hasCorrectAnswer"
  [isCorrect]="isCorrect"
  [isLatestComponentStateSubmit]="isLatestComponentStateSubmit"
  [submitCounter]="submitCounter"
/>
@if (isSaveOrSubmitButtonVisible) {
  <component-save-submit-buttons
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)"
  />
}
@if (mode === 'student') {
  <component-annotations
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId"
  />
}
