<component-header [component]="component" />
<div class="match flex flex-row flex-wrap" cdkDropListGroup>
  <div
    class="w-full"
    [ngClass]="[
      componentContent.horizontal ? 'md:w-1/2' : 'md:w-full',
      componentContent.choicesAfter ? 'order-2' : 'order-1'
    ]"
  >
    <div
      class="bucket selected-bg-bg flex flex-col"
      [ngStyle]="{ 'margin-bottom': componentContent.horizontal ? '0' : '8px' }"
    >
      <div class="bucket-title flex flex-row flex-wrap items-center justify-start gap-2">
        <h3 class="mat-subtitle-2" [innerHTML]="buckets[0].value"></h3>
        @if (componentContent.canCreateChoices) {
          <add-choice-button [isDisabled]="isDisabled" (onClick)="addChoice()" />
        }
      </div>
      <ul
        class="items"
        [ngClass]="[
          componentContent.horizontal ? 'md:columns-1' : 'md:columns-2',
          componentContent.horizontal ? 'lg:columns-1' : 'lg:columns-3'
        ]"
        cdkDropList
        [cdkDropListData]="{ isSourceBucket: true, items: buckets[0].items }"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of buckets[0].items; track item.id; let position = $index) {
          <li
            [ngClass]="['item', isDisabled ? 'disabled' : '']"
            cdkDrag
            [cdkDragDisabled]="isDisabled"
            (cdkDragEntered)="dragEnter($event)"
            (cdkDragExited)="dragExit($event)"
            [cdkDragData]="{ position: position, item: item }"
          >
            <match-choice-item
              [buckets]="buckets"
              [item]="item"
              [hasCorrectAnswer]="hasCorrectAnswer"
              [isDisabled]="isDisabled"
              (onStudentDataChanged)="studentDataChanged()"
            />
          </li>
        }
      </ul>
    </div>
  </div>
  <div
    [ngClass]="[
      'w-full',
      'flex',
      'flex-col',
      'items-stretch',
      componentContent.horizontal ? 'md:w-1/2' : 'md:w-full',
      componentContent.choicesAfter ? 'order-1' : 'order-2',
      componentContent.horizontal ? '' : 'md:flex-row md:flex-wrap'
    ]"
  >
    @for (bucket of buckets.slice(1); track bucket.id) {
      <div
        [ngClass]="[
          'flex',
          'flex-col',
          'w-full',
          componentContent.horizontal ? 'md:w-full' : 'md:w-1/2',
          componentContent.horizontal ? 'lg:w-full' : 'lg:w-1/3'
        ]"
      >
        <div class="bucket target notice-bg-bg flex flex-col items-stretch">
          <div class="bucket-title flex flex-row flex-wrap items-center justify-start gap-2">
            <h3 class="mat-subtitle-2" [innerHTML]="bucket.value"></h3>
          </div>
          <ul
            class="items"
            cdkDropList
            [cdkDropListData]="{ isSourceBucket: false, items: bucket.items }"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of bucket.items; track item.id; let position = $index) {
              <li
                [ngClass]="{ item: true, disabled: isDisabled }"
                cdkDrag
                [cdkDragDisabled]="isDisabled"
                (cdkDragEntered)="dragEnter($event)"
                (cdkDragExited)="dragExit($event)"
                [cdkDragData]="{ position: position, item: item }"
              >
                <match-choice-item
                  [buckets]="buckets"
                  [item]="item"
                  [hasCorrectAnswer]="hasCorrectAnswer"
                  [isDisabled]="isDisabled"
                  (onStudentDataChanged)="studentDataChanged()"
                />
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>
<match-feedback-section
  [componentContent]="componentContent"
  [hasCorrectAnswer]="hasCorrectAnswer"
  [isCorrect]="isCorrect"
  [isLatestComponentStateSubmit]="isLatestComponentStateSubmit"
  [submitCounter]="submitCounter"
/>
@if (isSaveOrSubmitButtonVisible) {
  <component-save-submit-buttons
    class="block mt-3"
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)"
  />
}
@if (mode === 'student') {
  <component-annotations
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId"
  />
}
