.l-header {
  background-color: rgb(21,101,192);
  color: rgba(255,255,255,0.87);
}

.mat-toolbar {
  padding: 0px;
}

.md-toolbar-tools {
  padding: 0px 8px;
}

.title-header {
  font-weight: inherit !important;
}

.mat-icon-button {
  margin: 0px 6px;
}

.notifications-menu-button {
  width: 40px !important;
}

.account-menu-avatar {
  height: 48px;
  width: 48px;
}

.account-menu-button {
  margin: 6px 8px;
}