@import 'style/abstracts/variables';

.mat-mdc-card {
  margin: 4px;
  padding: 8px;
}

.mat-mdc-card-content {
  margin-top: 8px;
  padding: 8px;
  border-radius: $button-border-radius;
  overflow: auto;
}
