<ng-template #runInfo>
  <div>
    <span
      class="more-info"
      tabindex="0"
      [matTooltip]="periodsTooltipText"
      matTooltipPosition="above"
    >
      {{ run.periods.length }}
      <ng-container [ngPlural]="run.periods.length">
        <ng-template ngPluralCase="=0" i18n>periods</ng-template>
        <ng-template ngPluralCase="=1" i18n>period</ng-template>
        <ng-template ngPluralCase="other" i18n>periods</ng-template>
      </ng-container>
    </span>
    |
    <a
      *ngIf="run.project.wiseVersion !== 4"
      [routerLink]="manageStudentsLink"
      [class.secondary-text]="isRunCompleted(run)"
    >
      {{ run.numStudents }}
      <ng-container [ngPlural]="run.numStudents">
        <ng-template ngPluralCase="=0" i18n>students</ng-template>
        <ng-template ngPluralCase="=1" i18n>student</ng-template>
        <ng-template ngPluralCase="other" i18n>students</ng-template>
      </ng-container>
    </a>
    <span *ngIf="run.project.wiseVersion === 4" [class.secondary-text]="isRunCompleted(run)">
      {{ run.numStudents }}
      <ng-container [ngPlural]="run.numStudents">
        <ng-template ngPluralCase="=0" i18n>students</ng-template>
        <ng-template ngPluralCase="=1" i18n>student</ng-template>
        <ng-template ngPluralCase="other" i18n>students</ng-template>
      </ng-container>
    </span>
  </div>
  <div>
    <span i18n>Access Code: {{ run.runCode }}</span> (<a
      href="#"
      (click)="shareCode($event)"
      tabindex="0"
      i18n
      >Share with students</a
    >)
  </div>
  <div *ngIf="run.shared" class="info" i18n>
    Shared by {{ run.owner.firstName }} {{ run.owner.lastName }}
  </div>
  <mat-chip-set>
    <ng-container *ngFor="let tag of run.project.tags">
      <mat-chip *ngIf="tag.text !== 'archived'" [ngStyle]="{ 'background-color': tag.color }">
        {{ tag.text }}
      </mat-chip>
    </ng-container>
  </mat-chip-set>
</ng-template>

<mat-card
  class="can-highlight"
  [ngClass]="{ 'highlighted-bg': run.highlighted }"
  [@flash]="{ value: '*', params: { duration: animateDuration, delay: animateDelay } }"
>
  <mat-card-content fxLayout="row" fxLayoutGap="12px">
    <div>
      <mat-checkbox
        class="run-action"
        color="primary"
        matTooltip="Select"
        i18n-matTooltip
        matTooltipPosition="above"
        [(ngModel)]="run.project.selected"
        (ngModelChange)="runSelectedStatusChangedEvent.emit()"
      ></mat-checkbox>
    </div>
    <div
      mat-card-avatar
      [style.background-image]="run.project.thumbStyle"
      [class.disabled]="isRunCompleted(run)"
    ></div>
    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutWrap>
      <div fxLayout="column">
        <mat-card-title [ngClass]="{ 'secondary-text': isRunCompleted(run) }" class="mat-body-1">
          {{ run.project.name }}
          <span
            *ngIf="run.project.wiseVersion === 4"
            class="warn mat-caption more-info"
            tabindex="0"
            i18n-matTooltip
            matTooltip="This unit is from an old version of WISE that is no longer supported. Please find an alternate unit to use in the future or contact us for upgrade options."
            [matTooltipPosition]="'after'"
            i18n
            >(Legacy Unit)</span
          >
        </mat-card-title>
        <mat-card-subtitle class="mat-caption" fxHide fxShow.gt-xs>
          <ng-container *ngTemplateOutlet="runInfo"></ng-container>
        </mat-card-subtitle>
      </div>
      <span fxFlex="1 1 auto"></span>
      <div>
        <app-run-menu
          class="run-action"
          [run]="run"
          (runArchiveStatusChangedEvent)="runArchiveStatusChanged()"
        ></app-run-menu>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content fxHide fxShow.xs>
    <div class="info-block" [class.secondary-text]="isRunCompleted(run)">
      <ng-container *ngTemplateOutlet="runInfo"></ng-container>
    </div>
  </mat-card-content>
  <mat-card-actions
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutAlign.gt-xs="end center"
    fxLayoutGap="8px"
  >
    <span *ngIf="run.lastRun" class="mat-caption secondary-text center" i18n
      >Last student login: {{ run.lastRun | date: 'short' }}</span
    >
    <button *ngIf="!isRunActive(run) && !isRunCompleted(run)" mat-flat-button disabled>
      <ng-container i18n>Starts {{ run.startTime | date }}</ng-container>
    </button>
    <button
      *ngIf="isRunActive(run) || isRunCompleted(run)"
      mat-flat-button
      (click)="launchGradeAndManageTool()"
      color="primary"
    >
      <mat-icon>assignment_turned_in</mat-icon>&nbsp;<ng-container i18n>Teacher Tools</ng-container>
    </button>
  </mat-card-actions>
</mat-card>
