@use '@angular/material' as mat;
@import
  'style/base/typography',
  'style/abstracts/variables',
  'style/abstracts/functions';

.mat-mdc-card-avatar {
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 4px;

  @media (min-width: breakpoint('sm.min')) {
    height: 64px;
    width: 64px;
  }
}

.mat-mdc-card-title {
  margin-bottom: 0;
}

.info-block {
  margin-top: 8px;
}

.mat-mdc-card-subtitle {
  margin-bottom: 2px;
}

app-run-menu {
  margin: -8px -8px 0 0;
}

.share-with-students-link {
  cursor: pointer;
}
