<ng-template #projects let-projects="projects">
  <div class="units flex flex-col justify-start items-start gap-2">
    @for (project of projects; track project.id) {
      <button mat-stroked-button class="unit" (click)="chooseProject(project)">
        {{ project.id + ' - ' + project.name }}
        @if (project.runId != null) {
          (<span i18n>Run ID</span>: {{ project.runId }})
        }
      </button>
    }
  </div>
</ng-template>
@if (importType === 'step') {
  <h5 i18n>Choose a unit from which to import step(s).</h5>
} @else {
  <h5 i18n>Choose a unit from which to import component(s).</h5>
}
<mat-tab-group mat-stretch-tabs="false">
  <mat-tab label="My Units" i18n-label>
    @if (myProjects) {
      <ng-container
        [ngTemplateOutlet]="projects"
        [ngTemplateOutletContext]="{ projects: myProjects }"
      />
    }
  </mat-tab>
  <mat-tab label="Library Units" i18n-label>
    @if (libraryProjects) {
      <ng-container
        [ngTemplateOutlet]="projects"
        [ngTemplateOutletContext]="{ projects: libraryProjects }"
      />
    }
  </mat-tab>
</mat-tab-group>
<div class="nav-controls">
  <mat-divider />
  <div class="flex justify-end items-center gap-4">
    <button mat-button color="primary" (click)="goBack()" i18n>Back</button>
    <span class="flex grow"></span>
    <button mat-button color="primary" (click)="cancel()" i18n>Cancel</button>
  </div>
</div>
