<ng-template #moveAfterButton let-nodeId="nodeId">
  <button
    mat-raised-button
    color="primary"
    [disabled]="!canMove(nodeId)"
    (click)="move(nodeId, true)"
    matTooltip="Move after"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>subdirectory_arrow_left</mat-icon>
  </button></ng-template
>
<ng-template #moveInsideButton let-nodeId="nodeId">
  <button
    mat-raised-button
    color="primary"
    (click)="move(nodeId, false)"
    matTooltip="Move as first"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>call_received</mat-icon>
  </button></ng-template
>
<ng-template #nodeIconAndTitle let-nodeId="nodeId" let-showPosition="showPosition">
  <node-icon [nodeId]="nodeId" size="18"></node-icon>&nbsp;
  <p>
    <span *ngIf="showPosition">{{ getNodePositionById(nodeId) }}: </span>{{ getNodeTitle(nodeId) }}
  </p>
</ng-template>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <h5 i18n>Choose a new location by clicking one of the buttons below</h5>
  <button mat-raised-button color="primary" routerLink=".." aria-label="Cancel" i18n>Cancel</button>
</div>
<div style="margin-top: 20px; margin-left: 20px">
  <ng-container *ngIf="moveGroup">
    <ng-container
      *ngTemplateOutlet="moveInsideButton; context: { nodeId: 'group0' }"
    ></ng-container>
  </ng-container>
  <div
    *ngFor="let nodeId of nodeIds"
    [ngClass]="{
      'node-select--group': isGroupNode(nodeId),
      'node-select--node': !isGroupNode(nodeId)
    }"
  >
    <div
      id="{{ nodeId }}"
      [ngClass]="{
        groupHeader: isGroupNode(nodeId),
        stepHeader: !isGroupNode(nodeId),
        branchPathStepHeader: isNodeInAnyBranchPath(nodeId) && !isGroupNode(nodeId)
      }"
      [ngStyle]="{ 'background-color': getBackgroundColor(nodeId) }"
    >
      <div fxLayout="row" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="start center">
          <ng-container
            *ngTemplateOutlet="nodeIconAndTitle; context: { nodeId: nodeId, showPosition: true }"
          ></ng-container>
        </div>
        <ng-container *ngIf="isGroupNode(nodeId) && !moveGroup">
          <ng-container
            *ngTemplateOutlet="moveInsideButton; context: { nodeId: nodeId }"
          ></ng-container>
        </ng-container>
        <ng-container *ngIf="!isGroupNode(nodeId) || (isGroupNode(nodeId) && moveGroup)">
          <ng-container
            *ngTemplateOutlet="moveAfterButton; context: { nodeId: nodeId }"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <h6 class="underline">Unused Lessons</h6>
    <ng-container *ngIf="moveGroup">
      <ng-container
        *ngTemplateOutlet="moveInsideButton; context: { nodeId: 'inactiveGroups' }"
      ></ng-container>
    </ng-container>
  </div>
  <div *ngIf="inactiveGroupNodes.length == 0">
    <span i18n>There are no Unused Lessons</span>
  </div>
  <ng-container *ngFor="let inactiveNode of inactiveGroupNodes">
    <div fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ groupHeader: true, }">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <ng-container
          *ngTemplateOutlet="nodeIconAndTitle; context: { nodeId: inactiveNode.id }"
        ></ng-container>
        <ng-container *ngIf="!moveGroup">
          <ng-container
            *ngTemplateOutlet="moveInsideButton; context: { nodeId: inactiveNode.id }"
          ></ng-container>
        </ng-container>
        <ng-container *ngIf="moveGroup">
          <ng-container
            *ngTemplateOutlet="moveAfterButton; context: { nodeId: inactiveNode.id }"
          ></ng-container>
        </ng-container>
      </div>
    </div>
    <ng-container *ngFor="let inactiveChildId of inactiveNode.ids">
      <div *ngIf="!moveGroup">
        <div
          fxLayout="row"
          [ngClass]="{
            stepHeader: true,
            branchPathStepHeader: isNodeInAnyBranchPath(inactiveChildId)
          }"
          [ngStyle]="{ 'background-color': getBackgroundColor(nodeId) }"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <ng-container
              *ngTemplateOutlet="nodeIconAndTitle; context: { nodeId: inactiveChildId }"
            ></ng-container>
            <ng-container
              *ngTemplateOutlet="moveAfterButton; context: { nodeId: inactiveChildId }"
            ></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div *ngIf="!moveGroup">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <h6 class="underline" i18n>Unused Steps</h6>
      <ng-container
        *ngTemplateOutlet="moveInsideButton; context: { nodeId: 'inactiveNodes' }"
      ></ng-container>
    </div>
    <div *ngIf="inactiveStepNodes.length == 0">
      <span i18n>There are no Unused Steps</span>
    </div>
    <ng-container *ngFor="let inactiveNode of inactiveStepNodes">
      <div *ngIf="getParentGroup(inactiveNode.id) == null">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <ng-container
            *ngTemplateOutlet="nodeIconAndTitle; context: { nodeId: inactiveNode.id }"
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="moveAfterButton; context: { nodeId: inactiveNode.id }"
          ></ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
