@use 'style/abstracts/functions';

.mat-mdc-card {
  padding: 12px;
  margin-top: 16px;
  max-width: functions.breakpoint('sm.min');
}

.messages {
  margin-bottom: 12px;
  max-height: 500px;
  overflow-y: auto;
}

.add-response {
  margin-top: 12px;
}
