@if (computerAvatarSelectorVisible) {
  <computer-avatar-selector
    [computerAvatarSettings]="componentContent.computerAvatarSettings"
    (chooseAvatarEvent)="selectComputerAvatar($event)"
  />
}
@if (!computerAvatarSelectorVisible) {
  <mat-card appearance="outlined" class="mat-elevation-z2">
    <component-header [component]="component" />
    <div #messagesContainer class="messages">
      <ai-chat-messages
        [messages]="messages"
        [workgroupId]="workgroupId"
        [waitingForComputerResponse]="waitingForComputerResponse"
        [computerAvatar]="computerAvatar"
      />
    </div>
    <chat-input
      [submitDisabled]="waitingForComputerResponse"
      (submitEvent)="submitStudentResponse($event)"
    />
  </mat-card>
}
