@if (nodeStatus.isCompleted || nodeStatus.isWarn) {
  <mat-icon
    class="secondary-text"
    [ngClass]="{ success: nodeStatus.isSuccess, warn: nodeStatus.isWarn }"
  >
    {{ nodeStatus.isWarn ? 'error' : 'check_circle' }}
  </mat-icon>
}
@if (nodeStatus.isWarn) {
  <span class="cdk-visually-hidden" i18n>Completed with warning</span>
} @else {
  @if (nodeStatus.isCompleted && nodeStatus.isSuccess) {
    <span class="cdk-visually-hidden" i18n>Completed with success</span>
  } @else {
    @if (nodeStatus.isCompleted) {
      <span class="cdk-visually-hidden" i18n>Completed</span>
    }
  }
}
