@import
  'style/abstracts/variables',
  'style/abstracts/mixins',
  'style/abstracts/functions';

h2 {
  margin-bottom: 0;
}

.filters {
  margin-top: 24px;
  padding: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.run-counts {
  font-weight: 500;
  margin: 0;
  max-width: none;
}
