<div class="notice" *ngIf="!runs.length && loaded">
  <p i18n>Hey there! Looks like you haven't run any WISE units in your classes yet.</p>
  <p i18n>Select "Browse Units" to find titles to use with your students.</p>
</div>
<div class="content-block" *ngIf="runs.length">
  <div
    class="content-block__header controls dark-theme primary-bg"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.sm="16px"
    fxLayoutAlign="start center"
  >
    <app-search-bar
      fxFlex="0 0 auto"
      fxFlex.xs="0 0 100%"
      fxFlex.sm="0 0 calc(50%-8px)"
      i18n-placeholderText
      placeholderText="Search"
      [disable]="!loaded"
      [value]="searchValue"
      (update)="searchChanged($event)"
    ></app-search-bar>
    <span fxFlex="1 1 auto" fxHide fxShow.gt-sm></span>
    <mat-form-field>
      <mat-label>View</mat-label>
      <mat-select [(ngModel)]="showArchived" (selectionChange)="isShowArchivedChanged()">
        <mat-option [value]="false">Active</mat-option>
        <mat-option [value]="true">Archived</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="notice">
    <p [ngStyle]="{ visibility: loaded ? 'visible' : 'hidden' }">
      <ng-container *ngIf="searchValue || filterValue" i18n
        >Units found: {{ filteredRuns.length }}</ng-container
      >
      <ng-container *ngIf="!searchValue && !filterValue" i18n
        >Total {{ showArchived ? 'archived' : 'active' }} classroom units:
        {{ filteredRuns.length }}</ng-container
      >
      <span class="mat-caption" *ngIf="!showArchived && filteredRuns.length">
        (<ng-container *ngIf="completedTotal()"
          ><span i18n>{{ completedTotal() }} completed</span>,
        </ng-container>
        <ng-container
          ><span i18n>{{ activeTotal() }} running</span></ng-container
        >
        <ng-container *ngIf="scheduledTotal()"
          >, <span i18n>{{ scheduledTotal() }} scheduled</span></ng-container
        >)
      </span>
      <ng-container *ngIf="searchValue || filterValue">
        |
        <a [routerLink]="" (click)="reset()" (keyup.enter)="reset()" tabindex="0" i18n
          >Clear filters</a
        >
      </ng-container>
    </p>
  </div>
  <div
    *ngIf="filteredRuns.length > 0"
    class="select-all-controls"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
  >
    <select-runs-controls
      [numSelectedRuns]="numSelectedRuns"
      [numTotalRuns]="filteredRuns.length"
      (selectRunsOptionChosenEvent)="selectRunsOptionChosen($event)"
    ></select-runs-controls>
    <div *ngIf="numSelectedRuns > 0" class="num-selected-runs-display" i18n>
      {{ numSelectedRuns }} Run(s) Selected
    </div>
    <button
      mat-raised-button
      color="accent"
      *ngIf="!showArchived && numSelectedRuns > 0"
      (click)="archiveSelectedRuns()"
      i18n
    >
      Archive Selected
    </button>
    <button
      mat-raised-button
      color="accent"
      *ngIf="showArchived && numSelectedRuns > 0"
      (click)="unarchiveSelectedRuns()"
      i18n
    >
      Unarchive Selected
    </button>
  </div>
  <app-timeline>
    <ng-container *ngFor="let run of filteredRuns.sort(sortByStartTimeDesc); let i = index">
      <app-timeline-item [active]="isRunActive(run)" *ngIf="i < 10 || showAll" id="run{{ run.id }}">
        <app-timeline-item-label>
          <strong>{{ run.startTime | date: 'mediumDate' }}</strong>
          <ng-container *ngIf="run.endTime && runSpansDays(run)">
            - <strong>{{ run.endTime | date: 'mediumDate' }}</strong>
          </ng-container>
        </app-timeline-item-label>
        <app-timeline-item-content>
          <app-teacher-run-list-item
            [run]="run"
            (runArchiveStatusChangedEvent)="runArchiveStatusChanged()"
            (runSelectedStatusChangedEvent)="runSelectedStatusChanged()"
          ></app-teacher-run-list-item>
        </app-timeline-item-content>
      </app-timeline-item>
    </ng-container>
  </app-timeline>
  <div class="content-block__actions" *ngIf="filteredRuns.length > 10 && !showAll">
    <button mat-raised-button color="accent" (click)="showAll = true" i18n>Show More</button>
  </div>
</div>
