@import
  'style/abstracts/variables',
  'style/abstracts/mixins',
  'style/abstracts/functions';

h2 {
  margin-bottom: 0;
}

.content-block {
  margin-top: 24px;
  overflow: hidden;
}

.content-block__header {
  margin: -16px -16px 16px;

  @media (min-width: breakpoint('sm.min')) {
    margin: -24px -24px 16px;
  }
}

.notice {
  font-weight: 500;
}

.select-all-controls {
  margin-left: 38px;
  height: 36px;
}

.num-selected-runs-display {
  font-weight: 500;
  font-size: 14px;
  margin-right: 24px;
}
