<div class="content-block">
  <div
    class="content-block__header controls dark-theme primary-bg"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="16px"
    fxLayoutAlign="start center"
  >
    <app-search-bar
      fxFlex="0 0 auto"
      fxFlex.xs="0 0 100%"
      fxFlex.sm="0 0 calc(50%-8px)"
      i18n-placeholderText
      placeholderText="Search"
      [disable]="!recentRunsLoaded"
      [value]="searchValue"
      (update)="searchChanged($event)"
    ></app-search-bar>
    <span fxFlex="1 1 auto" fxHide fxShow.gt-sm></span>
    <select-tags [selectedTags]="selectedTags" (selectTagEvent)="selectTags($event)"></select-tags>
    <mat-form-field>
      <mat-label>View</mat-label>
      <mat-select [(ngModel)]="showArchivedView" (selectionChange)="refreshProjects()">
        <mat-option [value]="false" i18n>Active</mat-option>
        <mat-option [value]="true" i18n>Archived</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <selected-tags-list
    *ngIf="selectedTags.length > 0"
    [tags]="selectedTags"
    (removeTagEvent)="removeTag($event)"
  ></selected-tags-list>
  <div class="notice">
    <p [ngStyle]="{ visibility: allRunsLoaded ? 'visible' : 'hidden' }">
      <ng-container *ngIf="searchValue || filterValue" i18n
        >Units found: {{ filteredRuns.length }}</ng-container
      >
      <ng-container *ngIf="!searchValue && !filterValue">
        <ng-container *ngIf="showArchivedView" i18n>Archived classroom units:</ng-container>
        <ng-container *ngIf="!showArchivedView" i18n>Active classroom units:</ng-container>
        {{ filteredRuns.length }}
      </ng-container>
      <span class="mat-caption" *ngIf="!showArchivedView && filteredRuns.length">
        (<ng-container *ngIf="completedTotal()"
          ><span i18n>{{ completedTotal() }} completed</span>,
        </ng-container>
        <ng-container
          ><span i18n>{{ activeTotal() }} running</span></ng-container
        >
        <ng-container *ngIf="scheduledTotal()"
          >, <span i18n>{{ scheduledTotal() }} scheduled</span></ng-container
        >)
      </span>
      <ng-container *ngIf="searchValue || filterValue || selectedTags.length > 0">
        |
        <a
          href="#"
          (click)="clearFilters($event)"
          (keyup.enter)="clearFilters($event)"
          tabindex="0"
          i18n
          >Clear filters</a
        >
      </ng-container>
    </p>
  </div>
  <ng-container *ngIf="recentRunsLoaded">
    <div class="notice no-runs-message" *ngIf="!showArchivedView && getNumActiveRuns() === 0">
      <p i18n>Hey there! Looks like you don't have any active classroom units.</p>
      <p i18n>Browse the "Unit Library" to find titles to use with your students.</p>
    </div>
    <div class="notice no-runs-message" *ngIf="showArchivedView && getNumArchivedRuns() === 0">
      <p i18n>Looks like you don't have any archived classroom units.</p>
    </div>
    <div fxLayout="row">
      <select-runs-controls
        *ngIf="filteredRuns.length > 0"
        (archiveProjectsEvent)="archiveProjects($event)"
        [runChangedEventEmitter]="runChangedEventEmitter"
        [runs]="filteredRuns"
        (selectRunsOptionChosenEvent)="selectRunsOptionChosen($event)"
        [showArchive]="!showArchivedView"
      ></select-runs-controls>
      <apply-tags-button
        *ngIf="selectedProjects.length > 0"
        [selectedProjects]="selectedProjects"
      ></apply-tags-button>
    </div>
    <app-timeline>
      <ng-container *ngFor="let run of filteredRuns.sort(sortByStartTimeDesc); let i = index">
        <app-timeline-item
          [active]="isRunActive(run)"
          *ngIf="i < 10 || showAll"
          id="run{{ run.id }}"
        >
          <app-timeline-item-label>
            <strong>{{ run.startTime | date: 'mediumDate' }}</strong>
            <ng-container *ngIf="run.endTime && runSpansDays(run)">
              - <strong>{{ run.endTime | date: 'mediumDate' }}</strong>
            </ng-container>
          </app-timeline-item-label>
          <app-timeline-item-content>
            <app-teacher-run-list-item
              [run]="run"
              (runArchiveStatusChangedEvent)="runArchiveStatusChanged()"
              (runSelectedStatusChangedEvent)="runSelectedStatusChanged()"
            ></app-teacher-run-list-item>
          </app-timeline-item-content>
        </app-timeline-item>
      </ng-container>
    </app-timeline>
    <div class="content-block__actions" *ngIf="filteredRuns.length > 10 && !showAll">
      <button mat-raised-button color="accent" (click)="showAll = true" i18n>Show More</button>
    </div>
  </ng-container>
</div>
