@use 'style/abstracts/variables';

.idea-descriptions {
  padding: 16px;
  border-radius: variables.$card-border-radius;
}

h5 {
  margin-top: 0;
}

ul {
  margin: 16px 0 0 0;
  padding: 0 0 16px;
  max-height: 60vh;
  overflow: auto;
}

li {
  list-style-type: none;
}

.idea {
  position: relative;
}

.idea-content {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

.idea-input {
  width: 100%;
}

.mat-subtitle-1 {
  margin: 0;
}
