<mat-card class="period" cdkDropListGroup>
  <mat-card-content>
    <div class="period-header" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
      <h2
        class="mat-headline-4 accent-1"
        fxLayout="row wrap"
        fxLayoutAlign="start end"
        fxLayoutGap="8px"
      >
        <span i18n>Period {{ period.periodName }}</span>
        <span class="mat-body-2 period-info" i18n>
          Students: {{ students.size }} | Teams: {{ teams.size }}
        </span>
      </h2>
      <span fxFlex></span>
      @if (unassignedTeam.users.length > 0 || teams.size > 0) {
        <add-team-button [period]="period"></add-team-button>
      }
    </div>
    @if (unassignedTeam.users.length > 0) {
      <manage-team class="unassigned-team" [team]="unassignedTeam"></manage-team>
    }
    <manage-teams [teams]="teams"></manage-teams>
    @if (emptyTeams.size > 0) {
      <h3 class="mat-subtitle-2 secondary-text" i18n>Empty Teams</h3>
      <manage-teams [teams]="emptyTeams"></manage-teams>
    }
  </mat-card-content>
</mat-card>
