<mat-card class="period" cdkDropListGroup>
  <mat-card-content>
    <div class="period-header flex flex-wrap justify-start items-center gap-2">
      <h2 class="mat-headline-4 accent-1 flex flex-wrap justify-start items-center gap-2">
        <span i18n>Period {{ period.periodName }}</span>
        <span class="mat-body-2 period-info" i18n>
          Students: {{ students.size }} | Teams: {{ teams.size }}
        </span>
      </h2>
      <span class="flex-grow"></span>
      @if (unassignedTeam.users.length > 0 || teams.size > 0) {
        <add-team-button [period]="period" />
      }
    </div>
    @if (unassignedTeam.users.length > 0) {
      <manage-team class="unassigned-team" [team]="unassignedTeam" />
    }
    <manage-teams [teams]="teams" />
    @if (emptyTeams.size > 0) {
      <h3 class="mat-subtitle-2 secondary-text" i18n>Empty Teams</h3>
      <manage-teams [teams]="emptyTeams" />
    }
  </mat-card-content>
</mat-card>
