@import 'style/abstracts/variables';

h2, .mat-headline-4 {
  margin-bottom: 8px;
}

h3 {
  padding: 0 8px;
  margin-bottom: 8px;
}

.period-header {
  margin-bottom: 8px;
}

.period-info {
  font-family: $heading-font-family;
  line-height: 1.85;
}

.unassigned-team {
  display: block;
  margin: 12px 0 8px 0;
}
