<p i18n style="margin-bottom: 10px">
  WISE units support multiple languages. After you've added additional languages, use the language
  toggle as you're authoring to translate content for other languages.
</p>
<span i18n>Default language:</span>
<ng-select
  [items]="availableLanguages"
  bindLabel="language"
  [(ngModel)]="defaultLanguage"
  [clearable]="false"
  (change)="updateDefaultLanguage()"
/>
<span i18n>Additional languages:</span>
<ng-select
  [items]="availableLanguages"
  bindLabel="language"
  [(ngModel)]="supportedLanguages"
  [closeOnSelect]="false"
  [multiple]="true"
  (change)="updateSupportedLanguages()"
/>
