<div class="main-div">
  @if (isShowAddToNotebookButton) {
    <add-to-notebook-button [isDisabled]="isDisabled" (snipImage)="snipModel()" />
  }
  <br />
  <div style="width: {{ width }}; height: {{ height }};">
    <iframe
      [id]="embeddedApplicationIFrameId"
      [src]="url"
      (load)="iframeLoaded()"
      class="embedded-content__iframe iframe"
    >
    </iframe>
  </div>
</div>
@if (isSaveOrSubmitButtonVisible) {
  <component-save-submit-buttons
    [componentState]="latestComponentState"
    [isDirty]="isDirty"
    [isDisabled]="isDisabled"
    [isSaveButtonVisible]="isSaveButtonVisible"
    [isSubmitButtonDisabled]="isSubmitButtonDisabled"
    [isSubmitButtonVisible]="isSubmitButtonVisible"
    [isSubmitDirty]="isSubmitDirty"
    (saveButtonClicked)="saveButtonClicked($event)"
    (submitButtonClicked)="submitButtonClicked($event)"
  />
}
@if (mode === 'student') {
  <component-annotations
    [annotations]="latestAnnotations"
    [maxScore]="componentContent.maxScore"
    [nodeId]="nodeId"
    [componentId]="componentId"
  />
}
