<mat-form-field class="select-merge">
  <mat-label i18n>Merge Step</mat-label>
  <mat-select [(ngModel)]="mergeStepId" (ngModelChange)="selectMergeStepEvent.emit($event)">
    @if (nextStepId !== '') {
      <mat-option [value]="nextStepId" i18n>
        Use Next Step In Unit ({{ nextStepTitle }})
      </mat-option>
    }
    <mat-option [value]="''" i18n>Create New Step</mat-option>
  </mat-select>
  <mat-hint i18n>All students will be directed here after completing their branch paths.</mat-hint>
</mat-form-field>
