@if (hasCorrectAnswer) {
  @if (componentContent.maxSubmitCount != null) {
    <p class="mat-caption info" i18n>
      You have used {{ submitCounter }} of {{ componentContent.maxSubmitCount }}
      {componentContent.maxSubmitCount, plural, =1 {attempt} other {attempts}}.
    </p>
  }
  @if (isLatestComponentStateSubmit && hasCorrectAnswer) {
    @if (isCorrect) {
      <p class="success mat-subtitle-2" i18n>Correct</p>
    } @else {
      <p class="warn mat-subtitle-2" i18n>Incorrect</p>
    }
  }
}
