<div class="component__content"
    layout="row"
    layout-wrap>
  <div flex="100" flex-gt-sm="66" layout="column" class="component--grading__response">
    <ng-content ng-if="$ctrl.latestComponentState != null && $ctrl.latestComponentState !== ''">
      <animation-grading
          ng-if="$ctrl.component.type === 'Animation'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </animation-grading>
      <audio-oscillator-grading
          ng-if="$ctrl.component.type === 'AudioOscillator'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </audio-oscillator-grading>
      <concept-map-grading
          ng-if="$ctrl.component.type === 'ConceptMap'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </concept-map-grading>
      <discussion-grading
          ng-if="$ctrl.component.type === 'Discussion'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}"
          workgroup-id="{{::$ctrl.workgroupId}}">
      </discussion-grading>
      <draw-grading
          ng-if="$ctrl.component.type === 'Draw'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </draw-grading>
      <embedded-grading
          ng-if="$ctrl.component.type === 'Embedded'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </embedded-grading>
      <graph-grading
          ng-if="$ctrl.component.type === 'Graph'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </graph-grading>
      <label-grading
          ng-if="$ctrl.component.type === 'Label'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </label-grading>
      <match-grading
          ng-if="$ctrl.component.type === 'Match'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </match-grading>
      <multiple-choice-grading
          ng-if="$ctrl.component.type === 'MultipleChoice'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </multiple-choice-grading>
      <open-response-grading
          ng-if="$ctrl.component.type === 'OpenResponse'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </open-response-grading>
      <table-grading
          ng-if="$ctrl.component.type === 'Table'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </table-grading>
      <span flex></span>
      <component-revisions-info node-id="::$ctrl.nodeId"
          component-id="::$ctrl.component.id"
          from-workgroup-id="::$ctrl.teacherWorkgroupId"
          to-workgroup-id="::$ctrl.workgroupId"
          component-state="$ctrl.latestComponentState"
          active='true'>
      </component-revisions-info>
    </ng-content>
  </div>
  <div flex="100" flex-gt-sm="33" class="component--grading__annotations">
    <component-grading node-id="::$ctrl.nodeId"
        component-id="::$ctrl.component.id"
        from-workgroup-id="::$ctrl.teacherWorkgroupId"
        to-workgroup-id="::$ctrl.workgroupId"
        component-state-id="$ctrl.latestComponentState.id"
        show-all-annotations="false"
        is-disabled="false">
    </component-grading>
  </div>
</div>
