<div class="component__content"
    layout="row"
    layout-wrap>
  <div flex="100" flex-gt-sm="66" layout="column" class="component--grading__response">
    <ng-content ng-if="$ctrl.latestComponentState != null && $ctrl.latestComponentState !== ''">
      <animation-grading
          ng-if="$ctrl.component.type === 'Animation'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </animation-grading>
      <audio-oscillator-grading
          ng-if="$ctrl.component.type === 'AudioOscillator'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </audio-oscillator-grading>
      <concept-map-grading
          ng-if="$ctrl.component.type === 'ConceptMap'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </concept-map-grading>
      <discussion-grading
          ng-if="$ctrl.component.type === 'Discussion'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}"
          workgroup-id="{{::$ctrl.workgroupId}}">
      </discussion-grading>
      <draw-grading
          ng-if="$ctrl.component.type === 'Draw'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </draw-grading>
      <embedded-grading
          ng-if="$ctrl.component.type === 'Embedded'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </embedded-grading>
      <graph-grading
          ng-if="$ctrl.component.type === 'Graph'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </graph-grading>
      <label-grading
          ng-if="$ctrl.component.type === 'Label'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </label-grading>
      <match-grading
          ng-if="$ctrl.component.type === 'Match'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </match-grading>
      <multiple-choice-grading
          ng-if="$ctrl.component.type === 'MultipleChoice'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </multiple-choice-grading>
      <open-response-grading
          ng-if="$ctrl.component.type === 'OpenResponse'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </open-response-grading>
      <table-grading
          ng-if="$ctrl.component.type === 'Table'"
          node-id="{{::$ctrl.nodeId}}"
          component-id="{{::$ctrl.component.id}}"
          component-state="{{$ctrl.latestComponentState}}">
      </table-grading>
      <span flex></span>
      <div class="component__actions__info component--grading__actions__info md-caption" layout="row">
        <component-state-info [component-state]="$ctrl.latestComponentState" [is-active]="true">
        </component-state-info>
        <span ng-if="$ctrl.componentStates.length > 1">
          &nbsp;&#8226;&nbsp;<a ng-click="$ctrl.showRevisions($event)">{{ 'seeRevisions' | translate }}</a>
        </span>
      </div>
    </ng-content>
    <div ng-if="$ctrl.componentStates.length === 0" class="component__actions__info component--grading__actions__info md-caption">
      {{ ::'TEAM_HAS_NOT_SAVED_ANY_WORK' | translate }}
    </div>
  </div>
  <div flex="100" flex-gt-sm="33" class="component--grading__annotations">
    <edit-component-annotations
        [component-id]="::$ctrl.component.id"
        [component-state-id]="$ctrl.latestComponentState.id"
        [from-workgroup-id]="::$ctrl.teacherWorkgroupId"
        [is-disabled]="false"
        [node-id]="::$ctrl.nodeId"
        [show-all-annotations]="false"
        [to-workgroup-id]="::$ctrl.workgroupId">
    </edit-component-annotations>
  </div>
</div>
