<div class="flex flex-row gap-1 justify-{{ isStudent ? 'end' : 'start' }} items-start">
  @if (isStudent) {
    <mat-icon
      class="mat-36 order-2"
      [ngStyle]="{ color: avatarColor }"
      aria-label="Student response"
      i18n-aria-label
      >account_circle</mat-icon
    >
  } @else {
    @if (computerAvatar == null) {
      <mat-icon
        class="mat-36"
        color="accent"
        aria-label="Automated guidance response"
        i18n-aria-label
        >smart_toy</mat-icon
      >
    } @else {
      <img
        [src]="computerAvatarImageSrc"
        class="computer-avatar"
        aria-label="Automated guidance response"
        i18n-aria-label
      />
    }
  }
  <div class="flex-1 flex justify-{{ isStudent ? 'end' : 'start' }}">
    <div
      class="response-text flex-col"
      [class]="{ 'notice-bg-bg': !isStudent, 'selected-bg-bg': isStudent }"
    >
      <div class="mat-small secondary-text poster">{{ displayNames }}</div>
      <div [innerHtml]="text" class="text-wrap"></div>
    </div>
  </div>
</div>
