.share {
  display: block;
  text-align: center;
}

.mat-mdc-raised-button, .mat-mdc-button {
  text-transform: none;
  white-space: normal;
}

.mat-mdc-raised-button {
  margin-top: 8px;

  img {
    width: 32px;
    margin-right: 8px;
    padding: 4px 8px 4px 0;
  }
}