@import
  'style/abstracts/variables',
  'style/abstracts/mixins',
  'style/abstracts/functions';

.library-filters {
  overflow: hidden;
  max-height: 0;
  transition: max-height .25s ease;

  &.expand {
    max-height: 1000px;
  }

  &.isSplitScreen {
    @screen md {
      @apply max-h-[1000px];
    }
  }

  .notice {
    text-align: end;
    margin: 12px 0;
    max-width: none;
    background-color: transparent;
    padding: 0 12px;
  }
}

.library-filter {
  margin: 0;
}
