@reference "tailwindcss";

.library-filters {
  overflow: hidden;
  max-height: 0;
  transition: max-height .25s ease;

  &.expand {
    max-height: 1000px;
  }

  &.isSplitScreen {
    @variant md {
      @apply max-h-[1000px];
    }
  }
}

.notice {
  text-align: start;
  margin: 12px 0;
  max-width: none;
  background-color: transparent;
  padding: 0 12px;
}

h3 {
  margin: 0;
}

.library-filter {
  margin: 0;
}

a {
  cursor: pointer;
}
