@for (message of messages; track message) {
  @if (message.role === 'user' && !message.hidden) {
    <ai-chat-student-message
      class="ai-chat-message"
      [message]="message"
      [workgroupId]="workgroupId"
    />
  }
  @if (message.role === 'assistant') {
    <ai-chat-bot-message
      class="ai-chat-message"
      [message]="message"
      [computerAvatar]="computerAvatar"
    />
  }
}
@if (waitingForComputerResponse) {
  <ai-chat-bot-message
    class="ai-chat-message"
    [message]="{ content: '...', role: 'assistant' }"
    [computerAvatar]="computerAvatar"
  />
}
