.project-content {
  background-color: white;
  margin-bottom: 15px;
  position: sticky;
  top: 26px;
  z-index: 2;
}

.all-nodes-div {
  margin-top: 20px;
  margin-left: 20px;
}

.groupHeader {
  margin-left: 5px !important;
}

.stepHeader {
  margin-left: 30px !important;
}

.branchPathStepHeader {
  margin-left: 55px !important;
}

.componentHeader {
  margin-left: 30px !important;
}

.insertButton {
  min-height: 23px !important;
  min-width: 46px !important;
  font-size: 10px !important;
  line-height: 0px;
}

.moveComponentButton {
  min-height: 30px !important;
  max-height: 30px !important;
  min-width: 46px !important;
  font-size: 10px !important;
  line-height: 0px;
}

.regularButton {
  min-height: 36px !important;
  max-height: 36px !important;
  min-width: 50px !important;
  font-size: 10px !important;
  line-height: 0px;
}

.createButton {
  min-width: 50px;
  height: 20px;
}

.projectItem:hover {
  background-color: #add8e6;
}

.projectItemTitleDiv:hover {
  background-color: #add8e6;
}

.projectItemTitleDiv {
  width: 100%;
  font-weight: initial;
}

.multiLineTooltip {
  height: auto !important;
  white-space: pre-line;
}

.pointer {
  cursor: pointer;
}

.unused-header {
  text-decoration: underline;
}

.rotate-180 {
  transform: rotate(180deg);
}

.mat-icon {
  margin: 0px;
}
