<div id="top" class="view-content view-content--with-sidemenu">
  <div class="l-constrained" fxLayout="column">
    <div class="node-content md-whiteframe-1dp" fxLayout="row wrap">
      <div class="main-content">
        <concurrent-authors-message
          [authors]="authors"
          class="concurrent-authors-message center app-background"
        ></concurrent-authors-message>
        <router-outlet></router-outlet>
        <div *ngIf="showProjectView">
          <div class="project-content">
            <div fxLayout="row wrap" fxLayoutGap="15px">
              <button
                id="projectBackButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="goBackToProjectList()"
                [disabled]="insertGroupMode || insertNodeMode"
                matTooltip="Back to Unit List"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>arrow_back</mat-icon>
              </button>
              <button
                id="createNewActivityButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="createNewLesson()"
                [disabled]="
                  insertGroupMode || insertNodeMode || stepNodeSelected || activityNodeSelected
                "
                matTooltip="Create New Lesson"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>queue</mat-icon>
              </button>
              <button
                id="createNewStepButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="createNewStep()"
                [disabled]="
                  insertGroupMode || insertNodeMode || stepNodeSelected || activityNodeSelected
                "
                matTooltip="Create New Step"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>add_box</mat-icon>
              </button>
              <button
                id="addStructureButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="addStructure()"
                [disabled]="
                  insertGroupMode || insertNodeMode || stepNodeSelected || activityNodeSelected
                "
                matTooltip="Add Lesson Structure"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>widgets</mat-icon>
              </button>
              <button
                id="importStepButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="importStep()"
                [disabled]="
                  insertGroupMode || insertNodeMode || stepNodeSelected || activityNodeSelected
                "
                matTooltip="Import Step"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>system_update_alt</mat-icon>
              </button>
              <button
                id="moveButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="move()"
                [disabled]="!hasSelectedNodes() || insertGroupMode || insertNodeMode"
                matTooltip="Move"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>redo</mat-icon>
              </button>
              <button
                id="copyButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="copy()"
                [disabled]="!hasSelectedNodes() || insertGroupMode || insertNodeMode"
                matTooltip="Copy"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              <button
                id="deleteButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="deleteSelectedNodes()"
                [disabled]="!hasSelectedNodes() || insertGroupMode || insertNodeMode"
                matTooltip="Delete"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                id="advancedProjectAuthoringButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="goToAdvancedAuthoring()"
                [disabled]="
                  insertGroupMode || insertNodeMode || stepNodeSelected || activityNodeSelected
                "
                matTooltip="Advanced"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>build</mat-icon>
              </button>
              <span fxFlex></span>
              <button
                id="previewProjectButton"
                mat-raised-button
                color="primary"
                class="topButton"
                (click)="previewProject()"
                [disabled]="insertGroupMode || insertNodeMode"
                matTooltip="Preview Unit"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
            <div
              *ngIf="insertGroupMode || insertNodeMode"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
            >
              <h6 i18n>Choose the new location by clicking one of the buttons below</h6>
              <button
                mat-raised-button
                color="primary"
                (click)="cancelMove()"
                aria-label="Cancel"
                i18n-aria-label
                i18n
              >
                Cancel
              </button>
            </div>
          </div>
          <div class="all-nodes-div">
            <div *ngIf="insertGroupMode">
              <button
                mat-raised-button
                color="primary"
                class="insertButton"
                (click)="insertInside('group0')"
                matTooltip="Insert As First Lesson"
                matTooltipPosition="above"
                i18n-matTooltip
              >
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
            </div>
            <ng-container *ngFor="let item of items">
              <div
                *ngIf="
                  item.order !== 0 &&
                  (!insertGroupMode || (insertGroupMode && isGroupNode(item.key)))
                "
                class="projectItem"
              >
                <div
                  id="{{ item.key }}"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  [ngClass]="{
                    groupHeader: isGroupNode(item.key),
                    stepHeader: !isGroupNode(item.key),
                    branchPathStepHeader: isNodeInAnyBranchPath(item.key) && !isGroupNode(item.key)
                  }"
                  [ngStyle]="{ 'background-color': getStepBackgroundColor(item.key) }"
                >
                  <div>
                    <mat-checkbox
                      color="primary"
                      [(ngModel)]="item.checked"
                      (ngModelChange)="projectItemClicked()"
                      [disabled]="
                        insertNodeMode ||
                        insertGroupMode ||
                        (isGroupNode(item.key) && stepNodeSelected) ||
                        (!isGroupNode(item.key) && activityNodeSelected)
                      "
                      aria-label="{{ getNodePositionById(item.key) }} {{ getNodeTitle(item.key) }}"
                    >
                    </mat-checkbox>
                  </div>
                  <div
                    class="projectItemTitleDiv"
                    (click)="
                      insertGroupMode == true || insertNodeMode == true || nodeClicked(item.key)
                    "
                  >
                    <div
                      class="pointer"
                      fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="10px"
                    >
                      <node-icon [nodeId]="item.key" size="18"></node-icon>
                      <h6 *ngIf="isGroupNode(item.key)">
                        {{ getNodePositionById(item.key) }}:
                        {{ getNodeTitle(item.key) }}
                      </h6>
                      <p
                        *ngIf="!isGroupNode(item.key)"
                        fxLayoutAlign="start center"
                        fxLayoutGap="10px"
                      >
                        <span
                          >{{ getNodePositionById(item.key) }}: {{ getNodeTitle(item.key) }}</span
                        >
                        <mat-icon
                          *ngIf="isBranchPoint(item.key)"
                          class="rotate-180"
                          (click)="branchIconClicked(item.key); $event.stopPropagation()"
                          matTooltip="Branch point with {{
                            getNumberOfBranchPaths(item.key)
                          }} paths based on {{ getBranchCriteriaDescription(item.key) }}"
                          matTooltipPosition="right"
                          i18n-matTooltip
                          >call_split</mat-icon
                        >
                        <mat-icon
                          *ngIf="
                            nodeHasConstraint(item.key) &&
                            getNumberOfConstraintsOnNode(item.key) == 1
                          "
                          (click)="constraintIconClicked(item.key); $event.stopPropagation()"
                          matTooltip="{{ getNumberOfConstraintsOnNode(item.key) }} Constraint\n\n{{
                            getConstraintDescriptions(item.key)
                          }}"
                          matTooltipPosition="right"
                          i18n-matTooltip
                          >block</mat-icon
                        >
                        <mat-icon
                          *ngIf="
                            nodeHasConstraint(item.key) &&
                            getNumberOfConstraintsOnNode(item.key) > 1
                          "
                          (click)="constraintIconClicked(item.key); $event.stopPropagation()"
                          matTooltip="{{ getNumberOfConstraintsOnNode(item.key) }} Constraints\n\n{{
                            getConstraintDescriptions(item.key)
                          }}"
                          matTooltipPosition="right"
                          i18n-matTooltip
                          >block</mat-icon
                        >
                        <mat-icon
                          *ngIf="nodeHasRubric(item.key)"
                          matTooltip="Has Rubric"
                          matTooltipPosition="right"
                          i18n-matTooltip
                          >message</mat-icon
                        >
                      </p>
                      <button
                        mat-raised-button
                        color="primary"
                        class="insertButton"
                        *ngIf="
                          isGroupNode(item.key) &&
                          ((insertNodeMode && item.order !== 0) ||
                            (insertGroupMode && item.order == 0))
                        "
                        (click)="insertInside(item.key); $event.stopPropagation()"
                        [matTooltip]="
                          item.order === 0 ? 'Insert As First Lesson' : 'Insert As First Step'
                        "
                        matTooltipPosition="above"
                        i18n-matTooltip
                      >
                        <mat-icon>call_received</mat-icon>
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        class="insertButton"
                        *ngIf="
                          item.order !== 0 &&
                          ((insertNodeMode && !isGroupNode(item.key)) ||
                            (insertGroupMode && isGroupNode(item.key)))
                        "
                        (click)="insertAfter(item.key); $event.stopPropagation()"
                        matTooltip="Insert After"
                        matTooltipPosition="above"
                        i18n-matTooltip
                      >
                        <mat-icon>subdirectory_arrow_left</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <h6 class="underline">Unused Lessons</h6>
                <button
                  *ngIf="insertGroupMode"
                  mat-raised-button
                  color="primary"
                  class="insertButton"
                  (click)="insertInside('inactiveGroups')"
                  matTooltip="Insert Inside"
                  matTooltipPosition="above"
                  i18n-matTooltip
                >
                  <mat-icon>call_received</mat-icon>
                </button>
              </div>
              <div *ngIf="getNumberOfInactiveGroups() === 0">
                <span i18n>There are no Unused Lessons</span>
              </div>
              <ng-container *ngFor="let inactiveNode of inactiveGroupNodes">
                <div *ngIf="isGroupNode(inactiveNode.id)" id="{{ inactiveNode.id }}">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    [ngClass]="{
                      groupHeader: isGroupNode(inactiveNode.id),
                      stepHeader: !isGroupNode(inactiveNode.id),
                      branchPathStepHeader:
                        isNodeInAnyBranchPath(inactiveNode.id) && !isGroupNode(inactiveNode.id)
                    }"
                    class="projectItem"
                  >
                    <div>
                      <mat-checkbox
                        color="primary"
                        [(ngModel)]="inactiveNode.checked"
                        (ngModelChange)="projectItemClicked()"
                        [disabled]="insertNodeMode || insertGroupMode || stepNodeSelected"
                        aria-label="{{ getNodeTitle(inactiveNode.id) }}"
                      >
                      </mat-checkbox>
                    </div>
                    <div
                      class="projectItemTitleDiv"
                      (click)="
                        insertGroupMode == true ||
                          insertNodeMode == true ||
                          nodeClicked(inactiveNode.id)
                      "
                    >
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                        <node-icon [nodeId]="inactiveNode.id" size="18"></node-icon>&nbsp;
                        <h6 class="pointer">
                          {{ getNodeTitle(inactiveNode.id) }}
                        </h6>
                        <button
                          mat-raised-button
                          color="primary"
                          *ngIf="insertNodeMode"
                          mat-raised-buton
                          color="primary"
                          class="insertButton"
                          (click)="insertInside(inactiveNode.id); $event.stopPropagation()"
                          matTooltip="Insert Inside"
                          matTooltipPosition="above"
                          i18n-matTooltip
                        >
                          <mat-icon>call_received</mat-icon>
                        </button>
                        <button
                          mat-raised-button
                          color="primary"
                          class="insertButton"
                          *ngIf="insertGroupMode"
                          (click)="insertAfter(inactiveNode.id); $event.stopPropagation()"
                          matTooltip="Insert After"
                          matTooltipPosition="above"
                          i18n-matTooltip
                        >
                          <mat-icon>subdirectory_arrow_left</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngFor="let inactiveChildId of inactiveNode.ids">
                    <div *ngIf="!insertGroupMode" class="projectItem" id="{{ inactiveChildId }}">
                      <div
                        fxLayout="row"
                        [ngClass]="{
                          groupHeader: isGroupNode(inactiveChildId.id),
                          stepHeader: !isGroupNode(inactiveChildId.id),
                          branchPathStepHeader:
                            isNodeInAnyBranchPath(inactiveChildId.id) &&
                            !isGroupNode(inactiveChildId.id)
                        }"
                        class="projectItem"
                      >
                        <div>
                          <mat-checkbox
                            color="primary"
                            [(ngModel)]="idToNode[inactiveChildId].checked"
                            (ngModelChange)="projectItemClicked()"
                            [disabled]="insertNodeMode || insertGroupMode || activityNodeSelected"
                            aria-label="{{ getNodeTitle(inactiveChildId.id) }}"
                          >
                          </mat-checkbox>
                        </div>
                        <div
                          class="projectItemTitleDiv"
                          (click)="
                            insertGroupMode == true ||
                              insertNodeMode == true ||
                              nodeClicked(inactiveChildId)
                          "
                        >
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                            <node-icon [nodeId]="inactiveChildId" size="18"></node-icon>&nbsp;
                            <p class="pointer">
                              {{ getNodeTitle(inactiveChildId) }}
                            </p>
                            <button
                              mat-raised-button
                              color="primary"
                              class="insertButton"
                              *ngIf="insertNodeMode && !isGroupNode(inactiveChildId)"
                              (click)="insertAfter(inactiveChildId); $event.stopPropagation()"
                              matTooltip="Insert After"
                              matTooltipPositin="above"
                              i18n-matTooltip
                            >
                              <mat-icon>subdirectory_arrow_left</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <div *ngIf="!insertGroupMode">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                  <h6 class="underline" i18n>Unused Steps</h6>
                  <button
                    *ngIf="insertNodeMode"
                    mat-raised-button
                    color="primary"
                    class="insertButton"
                    (click)="insertInside('inactiveNodes')"
                    matTooltip="Insert Inside"
                    matTooltipPosition="above"
                    i18n-matTooltip
                  >
                    <mat-icon>call_received</mat-icon>
                  </button>
                </div>
                <div *ngIf="getNumberOfInactiveSteps() === 0">
                  <span i18n>There are no Unused Steps</span>
                </div>
                <ng-container *ngFor="let inactiveNode of inactiveStepNodes">
                  <div
                    *ngIf="!isGroupNode(inactiveNode.id) && getParentGroup(inactiveNode.id) == null"
                    class="projectItem"
                  >
                    <div
                      fxLayout="row"
                      [ngClass]="{
                        groupHeader: isGroupNode(inactiveNode.id),
                        stepHeader: !isGroupNode(inactiveNode.id),
                        branchPathStepHeader:
                          isNodeInAnyBranchPath(inactiveNode.id) && !isGroupNode(inactiveNode.id)
                      }"
                    >
                      <div>
                        <mat-checkbox
                          color="primary"
                          [(ngModel)]="inactiveNode.checked"
                          (ngModelChange)="projectItemClicked()"
                          [disabled]="insertNodeMode || insertGroupMode || activityNodeSelected"
                          aria-label="{{ getNodeTitle(inactiveNode.id) }}"
                        >
                        </mat-checkbox>
                      </div>
                      <div
                        class="projectItemTitleDiv"
                        (click)="
                          insertGroupMode == true ||
                            insertNodeMode == true ||
                            nodeClicked(inactiveNode.id)
                        "
                      >
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                          <node-icon [nodeId]="inactiveNode.id" size="18"></node-icon>
                          <p class="pointer">
                            {{ getNodeTitle(inactiveNode.id) }}
                          </p>
                          <button
                            mat-raised-button
                            color="primary"
                            class="insertButton"
                            *ngIf="insertNodeMode && !isGroupNode(inactiveNode.id)"
                            (click)="insertAfter(inactiveNode.id); $event.stopPropagation()"
                            matTooltip="Insert After"
                            matTooltipPosition="above"
                            i18n-matTooltip
                          >
                            <mat-icon>subdirectory_arrow_left</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div id="bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>
