<div class="project-content" fxLayout="row wrap" fxLayoutGap="15px">
  <button
    mat-raised-button
    color="primary"
    (click)="addNewLesson()"
    [disabled]="stepNodeSelected || groupNodeSelected"
    matTooltip="Add New Lesson"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>queue</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="addNewStep()"
    [disabled]="stepNodeSelected || groupNodeSelected"
    matTooltip="Add New Step"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="chooseLocation(false)"
    [disabled]="!hasSelectedNodes()"
    matTooltip="Move"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>redo</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="chooseLocation(true)"
    [disabled]="!hasSelectedStepsOnly()"
    matTooltip="Copy"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>content_copy</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="deleteSelectedNodes()"
    [disabled]="!hasSelectedNodes()"
    matTooltip="Delete"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="all-nodes-div">
  <div *ngFor="let item of items">
    <project-authoring-lesson
      *ngIf="isGroupNode(item.id)"
      [item]="item"
      [disableSelection]="stepNodeSelected"
      (selectNodeEvent)="selectNode()"
      [showPosition]="true"
    ></project-authoring-lesson>
    <project-authoring-step
      *ngIf="!isGroupNode(item.id)"
      [item]="item"
      (selectNodeEvent)="selectNode()"
      [disableSelection]="groupNodeSelected"
      [showPosition]="true"
      [projectId]="projectId"
    ></project-authoring-step>
  </div>
  <div>
    <h6 class="unused-header" i18n>Unused Lessons</h6>
    <div *ngIf="inactiveGroupNodes.length === 0" i18n>There are no Unused Lessons</div>
    <div *ngFor="let inactiveGroupNode of inactiveGroupNodes">
      <project-authoring-lesson
        [item]="inactiveGroupNode"
        [disableSelection]="stepNodeSelected"
        (selectNodeEvent)="selectNode()"
        [showPosition]="false"
      ></project-authoring-lesson>
      <ng-container *ngFor="let inactiveChildId of inactiveGroupNode.ids">
        <project-authoring-step
          [item]="idToNode[inactiveChildId]"
          (selectNodeEvent)="selectNode()"
          [disableSelection]="groupNodeSelected"
          [showPosition]="false"
          [projectId]="projectId"
        ></project-authoring-step>
      </ng-container>
    </div>
    <div>
      <h6 class="unused-header" i18n>Unused Steps</h6>
      <div *ngIf="inactiveStepNodes.length === 0" i18n>There are no Unused Steps</div>
      <ng-container *ngFor="let inactiveStepNode of inactiveStepNodes">
        <project-authoring-step
          *ngIf="getParentGroup(inactiveStepNode.id) == null"
          [item]="inactiveStepNode"
          (selectNodeEvent)="selectNode()"
          [disableSelection]="groupNodeSelected"
          [showPosition]="false"
          [projectId]="projectId"
        ></project-authoring-step>
      </ng-container>
    </div>
  </div>
</div>
