<div class="project-content" fxLayout="row wrap" fxLayoutGap="15px">
  <button
    mat-raised-button
    color="primary"
    (click)="addNewLesson()"
    [disabled]="stepNodeSelected || groupNodeSelected"
    matTooltip="Add New Lesson"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>queue</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="addNewStep()"
    [disabled]="stepNodeSelected || groupNodeSelected"
    matTooltip="Add New Step"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="chooseLocation(false)"
    [disabled]="!hasSelectedNodes()"
    matTooltip="Move"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>redo</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="chooseLocation(true)"
    [disabled]="!hasSelectedStepsOnly()"
    matTooltip="Copy"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>content_copy</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="deleteSelectedNodes()"
    [disabled]="!hasSelectedNodes()"
    matTooltip="Delete"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="goToAdvancedAuthoring()"
    [disabled]="stepNodeSelected || groupNodeSelected"
    matTooltip="Advanced"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>build</mat-icon>
  </button>
  <span fxFlex></span>
  <button
    mat-raised-button
    color="primary"
    (click)="previewProject()"
    matTooltip="Preview Unit"
    matTooltipPosition="above"
    i18n-matTooltip
  >
    <mat-icon>visibility</mat-icon>
  </button>
</div>
<div class="all-nodes-div">
  <div class="projectItem" *ngFor="let item of items">
    <div
      id="{{ item.key }}"
      fxLayoutAlign="start center"
      class="pointer"
      [ngClass]="{
        groupHeader: isGroupNode(item.key),
        stepHeader: !isGroupNode(item.key),
        branchPathStepHeader: isNodeInAnyBranchPath(item.key) && !isGroupNode(item.key)
      }"
      [ngStyle]="{ 'background-color': getStepBackgroundColor(item.key) }"
      (click)="nodeClicked(item.key)"
    >
      <mat-checkbox
        color="primary"
        [(ngModel)]="item.checked"
        (click)="selectNode($event)"
        [disabled]="
          (isGroupNode(item.key) && stepNodeSelected) ||
          (!isGroupNode(item.key) && groupNodeSelected)
        "
        aria-label="Select lesson or step"
        i18n-aria-label
      >
      </mat-checkbox>
      <div class="projectItemTitleDiv" fxLayoutAlign="start center" fxLayoutGap="10px">
        <node-icon-and-title [nodeId]="item.key" [showPosition]="true"></node-icon-and-title>
        <p *ngIf="!isGroupNode(item.key)" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon
            *ngIf="isBranchPoint(item.key)"
            class="rotate-180"
            (click)="branchIconClicked(item.key); $event.stopPropagation()"
            matTooltip="Branch point with {{ getNumberOfBranchPaths(item.key) }} paths based on {{
              getBranchCriteriaDescription(item.key)
            }}"
            matTooltipPosition="right"
            i18n-matTooltip
            >call_split</mat-icon
          >
          <mat-icon
            *ngIf="nodeHasConstraint(item.key) && getNumberOfConstraintsOnNode(item.key) == 1"
            (click)="constraintIconClicked(item.key); $event.stopPropagation()"
            matTooltip="{{ getNumberOfConstraintsOnNode(item.key) }} Constraint\n\n{{
              getConstraintDescriptions(item.key)
            }}"
            matTooltipPosition="right"
            i18n-matTooltip
            >block</mat-icon
          >
          <mat-icon
            *ngIf="nodeHasConstraint(item.key) && getNumberOfConstraintsOnNode(item.key) > 1"
            (click)="constraintIconClicked(item.key); $event.stopPropagation()"
            matTooltip="{{ getNumberOfConstraintsOnNode(item.key) }} Constraints\n\n{{
              getConstraintDescriptions(item.key)
            }}"
            matTooltipPosition="right"
            i18n-matTooltip
            >block</mat-icon
          >
          <mat-icon
            *ngIf="nodeHasRubric(item.key)"
            matTooltip="Has Rubric"
            matTooltipPosition="right"
            i18n-matTooltip
            >message</mat-icon
          >
        </p>
      </div>
    </div>
  </div>
  <div>
    <h6 class="unused-header">Unused Lessons</h6>
    <div *ngIf="getNumberOfInactiveGroups() === 0" i18n>There are no Unused Lessons</div>
    <ng-container *ngFor="let inactiveNode of inactiveGroupNodes">
      <div *ngIf="isGroupNode(inactiveNode.id)" id="{{ inactiveNode.id }}">
        <div
          fxLayoutAlign="start center"
          [ngClass]="{
            groupHeader: isGroupNode(inactiveNode.id),
            stepHeader: !isGroupNode(inactiveNode.id),
            branchPathStepHeader:
              isNodeInAnyBranchPath(inactiveNode.id) && !isGroupNode(inactiveNode.id)
          }"
          class="pointer projectItem"
          (click)="nodeClicked(inactiveNode.id)"
        >
          <mat-checkbox
            color="primary"
            [(ngModel)]="inactiveNode.checked"
            (click)="selectNode($event)"
            [disabled]="stepNodeSelected"
            aria-label="Select lesson"
            i18n-aria-label
          >
          </mat-checkbox>
          <div class="projectItemTitleDiv" fxLayoutAlign="start center">
            <node-icon-and-title [nodeId]="inactiveNode.id"></node-icon-and-title>
          </div>
        </div>
        <ng-container *ngFor="let inactiveChildId of inactiveNode.ids">
          <div class="projectItem" id="{{ inactiveChildId }}">
            <div
              [ngClass]="{
                groupHeader: isGroupNode(inactiveChildId.id),
                stepHeader: !isGroupNode(inactiveChildId.id),
                branchPathStepHeader:
                  isNodeInAnyBranchPath(inactiveChildId.id) && !isGroupNode(inactiveChildId.id)
              }"
              class="pointer projectItem"
              (click)="nodeClicked(inactiveChildId)"
            >
              <mat-checkbox
                color="primary"
                [(ngModel)]="idToNode[inactiveChildId].checked"
                (change)="selectNode($event)"
                [disabled]="groupNodeSelected"
                aria-label="Select step"
                i18n-aria-label
              >
              </mat-checkbox>
              <div class="projectItemTitleDiv" fxLayoutAlign="start center">
                <node-icon-and-title [nodeId]="inactiveChildId"></node-icon-and-title>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div>
      <h6 class="unused-header" i18n>Unused Steps</h6>
      <div *ngIf="getNumberOfInactiveSteps() === 0" i18n>There are no Unused Steps</div>
      <ng-container *ngFor="let inactiveNode of inactiveStepNodes">
        <div
          *ngIf="!isGroupNode(inactiveNode.id) && getParentGroup(inactiveNode.id) == null"
          class="pointer projectItem"
        >
          <div
            [ngClass]="{
              groupHeader: isGroupNode(inactiveNode.id),
              stepHeader: !isGroupNode(inactiveNode.id),
              branchPathStepHeader:
                isNodeInAnyBranchPath(inactiveNode.id) && !isGroupNode(inactiveNode.id)
            }"
            (click)="nodeClicked(inactiveNode.id)"
          >
            <mat-checkbox
              color="primary"
              [(ngModel)]="inactiveNode.checked"
              (click)="selectNode($event)"
              [disabled]="groupNodeSelected"
              aria-label="Select step"
              i18n-aria-label
            >
            </mat-checkbox>
            <div class="projectItemTitleDiv" fxLayoutAlign="start center">
              <node-icon-and-title [nodeId]="inactiveNode.id"></node-icon-and-title>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
