@import 'style/abstracts/variables','style/abstracts/functions', 'style/abstracts/mixins';

.workgroup-select-dropdown {
  @media (min-width: breakpoint('md.min')) {
    width: 360px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    padding: 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    padding-top: 0;
    border-top-width: 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-label-wrapper {
    display: none;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline {
    bottom: 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-value-text {
    font-weight: 500;
  }

  &.mat-form-field-appearance-fill {
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    .mat-select-arrow-wrapper {
      transform: translateY(0);
    }
  }
}

input.workgroup-select-dropdown-search {
  padding: 0.75em;
}

.mat-divider.workgroup-select-dropdown-divider {
  margin: 0;
}
