<mat-card appearance="outlined" class="match-item">
  <div class="flex flex-row gap-1">
    @if (!isDisabled) {
      <mat-icon class="text-disabled">drag_indicator</mat-icon>
    }
    <div class="item-content" [innerHTML]="item.value"></div>
    @if (item.studentCreated) {
      <span class="flex-grow"></span>
    }
    @if (item.studentCreated) {
      <delete-choice-button
        [buckets]="buckets"
        [isDisabled]="isDisabled"
        [item]="item"
        (onItemDeleted)="onStudentDataChanged.next()"
      />
    }
  </div>
  @if (item.feedback) {
    <div
      class="feedback mat-small text-secondary-bg flex flex-row justify-start items-center gap-1"
      [ngClass]="{
        'success-bg': item.status === 'correct',
        'info-bg': item.status === 'warn',
        'warn-bg': item.status === 'incorrect'
      }"
    >
      @if (item.status) {
        <match-status-icon [status]="item.status" />
      }
      <div [innerHTML]="item.feedback"></div>
    </div>
  }
</mat-card>
