.match-item {
  &.mat-mdc-card {
    padding: 8px;
  }

  .item-content {
    margin-top: 2px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .feedback {
    color: #ffffff;
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  match-status-icon {
    display: inherit;
  }
}