<mat-radio-group
  [(ngModel)]="exportStepSelectionType"
  (ngModelChange)="exportStepSelectionTypeChange.emit(exportStepSelectionType)"
  class="select-steps-radio-buttons-container flex flex-col gap-2"
>
  <mat-radio-button value="exportAllSteps" color="primary" i18n>
    Export All Steps
  </mat-radio-button>
  <mat-radio-button value="exportSelectSteps" color="primary" i18n>
    Select Steps To Export
  </mat-radio-button>
</mat-radio-group>
@if (exportStepSelectionType === 'exportSelectSteps') {
  <div class="button-div flex gap-5">
    <button
      mat-raised-button
      color="primary"
      (click)="selectAll()"
      aria-label="Select All"
      i18n-aria-label
      i18n
    >
      Select All
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="deselectAll()"
      aria-label="Deselect All"
      i18n-aria-label
      i18n
    >
      Deselect All
    </button>
  </div>
  <div class="flex justify-start items-center">
    <h4>{{ project.metadata.title }}</h4>
    <button
      (click)="previewProject()"
      mat-icon-button
      matTooltip="Preview"
      matTooltipPosition="right"
      i18n-matTooltip
    >
      <mat-icon>preview</mat-icon>
    </button>
  </div>
  @for (node of nodes; track node) {
    <div class="flex flex-col">
      <div class="flex justify-start items-center">
        @if (node.order !== 0) {
          <mat-checkbox
            [(ngModel)]="node.checked"
            (ngModelChange)="nodeItemClicked(node)"
            [ngClass]="{
              step: node.node.type !== 'group',
              'branch-path-step': isNodeInAnyBranchPath(node.node.id) && node.node.type !== 'group'
            }"
            color="primary"
            aria-label="Item"
            i18n-aria-label
          >
            <h6>{{ nodeIdToPositionAndTitle[node.node.id] }}</h6>
          </mat-checkbox>
        }
        @if (node.node.type !== 'group') {
          <button
            (click)="previewNode(node.node)"
            mat-icon-button
            matTooltip="Preview"
            matTooltipPosition="right"
            i18n-matTooltip
          >
            <mat-icon>preview</mat-icon>
          </button>
        }
      </div>
      <div class="flex flex-col gap-2">
        @for (
          componentItem of node.node.components;
          track componentItem;
          let componentIndex = $index
        ) {
          @if (node.order !== 0 && node.node.type !== 'group' && node.node.components.length > 0) {
            <div>
              <mat-checkbox
                [(ngModel)]="componentItem.checked"
                color="primary"
                class="component"
                aria-label="{{ componentItem.type }}"
              >
                {{ componentIndex + 1 }}. {{ componentItem.type }}
              </mat-checkbox>
            </div>
          }
        }
      </div>
    </div>
  }
}
