<h5 i18n>Automated Assessment</h5>
<p i18n>
  Automated Assessments will automatically score student responses and provide feedback for
  reflection.
</p>
<h6 i18n>Choose an assessment item:</h6>
<mat-radio-group [(ngModel)]="node">
  @for (item of projectItems; track item.order) {
    <div
      [ngClass]="{
        groupHeader: item.node.type === 'group',
        stepHeader: item.node.type !== 'group'
      }"
    >
      @if (item.node.type === 'group') {
        <div>{{ item.node.title }}:</div>
      } @else {
        <div class="flex justify-start items-center gap-5">
          <mat-radio-button [value]="item.node" color="primary">
            <span class="bold">{{ item.node.title }}</span>
          </mat-radio-button>
          <button
            mat-raised-button
            color="primary"
            (click)="previewNode(item.node)"
            matTooltip="Preview assessment"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>preview</mat-icon>
          </button>
        </div>
      }
    </div>
  }
</mat-radio-group>
<div class="nav-controls">
  <mat-divider />
  <div class="flex gap-2">
    <button mat-button color="primary" routerLink="../../choose-template" [state]="target" i18n>
      Back
    </button>
    <span class="flex-grow"></span>
    <button mat-button color="primary" routerLink="../../../" aria-label="Cancel">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="node == null"
      (click)="next()"
      aria-label="Next"
    >
      Next
    </button>
  </div>
</div>
