@import 'style/abstracts/variables';

.resource-descriptions {
  padding: 16px;
  border-radius: $card-border-radius;
}

h5 {
  margin-top: 0;
}

ul {
  margin: 16px 0 0 0;
  padding: 0 0 16px;
}

li {
  list-style-type: none;
}

.resource {
  position: relative;
}

.resource-content {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

.resource-input {
  width: 100%;
}

.mat-subtitle-1 {
  margin: 0;
}
