<div class="view-content--with-sidemenu">
  <div class="l-constrained grading node-grading">
    <div class="content-head flex flex-row flex-wrap items-center justify-center lt-md:flex-100">
      <div class="accent-1 flex flex-row items-center justify-center">
        <h2 class="content-head__item">
          {{ nodeCompletionPercent }}% <span class="content-head-label" i18n>Step Completion</span>
        </h2>
        @if (hasWork && nodeAverageScore != null) {
          <h2 class="content-head__item">
            {{ nodeAverageScore }}/{{ nodeMaxScore ?? '0' }}
            <span class="content-head-label" i18n>Mean Step Score</span>
          </h2>
        }
      </div>
      <div class="flex-1"></div>
      <button mat-stroked-button (click)="showRubric()" class="info">
        <div class="flex items-center justify-center space-x-1">
          <mat-icon class="info">info_outline</mat-icon>
          @if (numRubrics == 0) {
            <span i18n>Step Info</span>
          } @else {
            <span i18n>Info + Tips ({{ numRubrics }})</span>
          }
        </div>
      </button>
    </div>
    <div class="mat-elevation-z1 list-item component-select">
      <span i18n>Question: </span>
      <select-component
        [components]="components"
        [selectedComponent]="component"
        (componentChangedEvent)="navigateToComponent($event)"
      />
    </div>
    <component-grading-view [component]="component" [node]="node" />
  </div>
</div>
