.mat-toolbar {
  background: white;
}

.mat-divider {
  margin: 0;
}

.mat-slide-toggle {
  display: block;
}

// .account-menu {
//   .mat-menu-content {
//     width: 320px !important;
//     padding: 0 !important;
//   }
// }