<h5 i18n>Choose a location for the new lesson: {{ title }}</h5>
<div style="margin-top: 20px; margin-left: 20px">
  <div fxLayout="row">
    <h5 i18n>Active Lessons</h5>
    <ng-container *ngTemplateOutlet="insertInsideButton; context: { active: true }"></ng-container>
  </div>
  <div *ngFor="let groupId of groupIds">
    <ng-container *ngTemplateOutlet="group; context: { groupId: groupId }"></ng-container>
  </div>
  <div fxLayout="row">
    <h5 i18n>Unused Lessons</h5>
    <ng-container *ngTemplateOutlet="insertInsideButton; context: { active: false }"></ng-container>
  </div>
  <div *ngFor="let groupId of unusedGroupIds">
    <ng-container *ngTemplateOutlet="group; context: { groupId: groupId }"></ng-container>
  </div>
</div>
<mat-divider></mat-divider>
<button mat-button color="primary" (click)="cancel()" aria-label="Cancel" i18n>Cancel</button>

<ng-template #group let-groupId="groupId">
  <div fxLayout="row" fxLayoutGap="16px" style="margin: 4px 0px">
    <div fxLayout="row" fxLayoutAlign="start center">
      <node-icon [nodeId]="groupId" size="18"></node-icon>&nbsp;
      <p style="display: inline; cursor: pointer">
        {{ getNodePositionAndTitle(groupId) }}
      </p>
    </div>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Insert After"
      i18n-matTooltip
      matTooltipPosition="above"
      (click)="addLessonAfter(groupId); $event.stopPropagation()"
    >
      <mat-icon>subdirectory_arrow_left</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #insertInsideButton let-active="active">
  <button
    mat-raised-button
    color="primary"
    style="margin: 8px 8px"
    matTooltip="Insert at the Beginning"
    i18n-matTooltip
    matTooltipPosition="above"
    (click)="addLessonAtBeginning(active); $event.stopPropagation()"
  >
    <mat-icon>call_received</mat-icon>
  </button>
</ng-template>
