<div class="view-content view-content--with-sidemenu">
  <div class="l-constrained grading">
    <div
      class="content-head flex flex-row flex-wrap justify-center items-center sm:justify-start sm:items-start"
    >
      <div class="flex flex-row flex-wrap justify-center items-center w-full w-full md:w-auto">
        <div class="accent-1 flex flex-row justify-center items-center">
          <h2 class="content-head__item">
            {{ projectCompletion.completionPct }}%
            <span class="content-head-label" i18n>Completion</span>
          </h2>
          <h2 class="content-head__item">
            {{ totalScore }}/{{ maxScore }}
            <span class="content-head-label" i18n>Total Score</span>
          </h2>
        </div>
      </div>
    </div>
    <mat-list class="user-list">
      <mat-list-item class="mat-elevation-z1 list-item list-item--actions">
        <div class="flex justify-center md:justify-end">
          <button
            mat-button
            color="primary"
            aria-label="Expand all"
            i18n-aria-label
            class="button--small md-primary"
            (click)="expandAll()"
            i18n
          >
            + Expand All
          </button>
          <button
            mat-button
            color="primary"
            aria-label="Collapse all"
            i18n-aria-label
            class="button--small md-primary"
            (click)="collapseAll()"
            i18n
          >
            - Collapse All
          </button>
        </div>
      </mat-list-item>
      <mat-list-item class="table--list__thead table--list__thead__th md-whiteframe-1dp">
        <div class="mat-list-item-text table--list__thead__tr dark-theme flex flex-row flex-1">
          <button
            mat-button
            class="table--list__thead__link flex-1 basis-1/2 items-center !justify-start"
            (click)="setSort('step')"
            aria-label="Sort by step"
            i18n-aria-label
          >
            <span i18n>Step</span>
            @if (sort === 'step' || sort === '-step') {
              <mat-icon
                class="text-light table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-step' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
          <button
            mat-button
            class="table--list__thead__link flex-1 basis-[30%] flex flex-row items-center justify-center"
            (click)="setSort('status')"
            aria-label="Sort by completion"
            i18n-aria-label
          >
            <span i18n>Status</span>
            @if (sort === 'status' || sort === '-status') {
              <mat-icon
                class="text-light table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-status' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
          <button
            mat-button
            class="table--list__thead__link flex-1 basis-1/5 flex flex-row items-center justify-center"
            (click)="setSort('score')"
            aria-label="Sort by score"
            i18n-aria-label
          >
            <span i18n>Score</span>
            @if (sort === 'score' || sort === '-score') {
              <mat-icon
                class="text-light table--list__thead__sort"
                [ngClass]="{ 'table--list__thead__sort--reverse': sort === '-score' }"
              >
                arrow_drop_up
              </mat-icon>
            }
          </button>
        </div>
      </mat-list-item>
      <div waIntersectionObserver waIntersectionThreshold="0.5">
        @for (node of sortedNodes; track trackNode($index, node)) {
          @if (node.show) {
            <step-item
              [expand]="nodeVisibilityById[node.id]"
              [maxScore]="node.maxScore"
              [showScore]="node.hasWork"
              [nodeId]="node.id"
              [score]="node.score"
              [stepData]="node"
              [workgroupId]="workgroupId"
              (onUpdateExpand)="onUpdateExpand($event)"
              (waIntersectionObservee)="onIntersection(node.id, $event)"
            />
          }
        }
      </div>
    </mat-list>
  </div>
</div>
