<translatable-textarea
  [content]="componentContent"
  key="starterSentence"
  label="Starter Sentence"
  i18n-label
  (defaultLanguageTextChanged)="componentChanged()"
/>
<div>
  <mat-checkbox
    color="primary"
    class="checkbox"
    [(ngModel)]="componentContent.isStudentAudioRecordingEnabled"
    (ngModelChange)="componentChanged()"
    i18n
  >
    Allow students to record audio response
  </mat-checkbox>
</div>
<div>
  <mat-checkbox
    color="primary"
    class="checkbox"
    [(ngModel)]="componentContent.enableCRater"
    (ngModelChange)="enableCRaterClicked()"
    i18n
  >
    Enable CRater
  </mat-checkbox>
</div>
<div *ngIf="componentContent.enableCRater">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <mat-form-field>
      <mat-label i18n>Item Id</mat-label>
      <input
        matInput
        [(ngModel)]="componentContent.cRater.itemId"
        (ngModelChange)="componentChanged()"
      />
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="verifyCRaterItemId(componentContent.cRater.itemId)"
        i18n
      >
        Verify
      </button>
    </div>
    <span *ngIf="isVerifyingCRaterItemId === true" i18n>Verifying...</span>
    <span *ngIf="cRaterItemIdIsValid === true" class="valid" i18n>Valid</span>
    <span *ngIf="cRaterItemIdIsValid === false" class="invalid" i18n>Invalid</span>
  </div>
  <div>
    <mat-form-field>
      <mat-label i18n>Score On</mat-label>
      <mat-select
        [(ngModel)]="componentContent.cRater.scoreOn"
        (ngModelChange)="componentChanged()"
      >
        <mat-option value="submit" i18n>Submit</mat-option>
        <mat-option value="save" i18n>Save</mat-option>
        <mat-option value="change" i18n>Change</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox
      color="primary"
      class="checkbox"
      [(ngModel)]="componentContent.cRater.showScore"
      (ngModelChange)="componentChanged()"
      i18n
    >
      Show Score
    </mat-checkbox>
  </div>
  <mat-checkbox
    color="primary"
    class="checkbox"
    [(ngModel)]="componentContent.cRater.showFeedback"
    (ngModelChange)="componentChanged()"
    i18n
  >
    Show Feedback
  </mat-checkbox>
  <div class="section-container">
    <mat-checkbox
      color="primary"
      class="checkbox"
      [ngModel]="componentContent.cRater.feedback?.enabled"
      (ngModelChange)="setFeedbackEnabled($event)"
      i18n
    >
      Enable Feedback Rules
    </mat-checkbox>
    <edit-feedback-rules
      *ngIf="componentContent.cRater.feedback?.enabled"
      [feedbackRules]="componentContent.cRater.feedback.rules"
    >
    </edit-feedback-rules>
  </div>
  <div
    class="section-container"
    *ngIf="
      !componentContent.cRater.feedback?.enabled && componentContent.cRater.scoringRules.length > 0
    "
  >
    <div fxLayoutGap="10px" class="section-label">
      <span i18n>Scoring Rule</span>
      <button
        mat-raised-button
        color="primary"
        (click)="addScoringRule()"
        matTooltip="Add Scoring Rule"
        matTooltipPosition="above"
        i18n-matTooltip
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="
        let scoringRule of componentContent.cRater.scoringRules;
        index as scoringRuleIndex;
        first as isFirst;
        last as isLast
      "
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayoutGap="20px"
      class="section-item"
    >
      <mat-form-field class="scoring-rule-score">
        <mat-label i18n>Score</mat-label>
        <input
          matInput
          type="number"
          min="0"
          [(ngModel)]="scoringRule.score"
          (ngModelChange)="componentChanged()"
        />
      </mat-form-field>
      <translatable-textarea
        [content]="scoringRule"
        key="feedbackText"
        label="Feedback Text"
        i18n-label
        (defaultLanguageTextChanged)="componentChanged()"
        class="scoring-rule-feedback-text"
      />
      <div fxLayoutGap="10px">
        <button
          mat-raised-button
          color="primary"
          (click)="moveObjectUp(componentContent.cRater.scoringRules, scoringRuleIndex)"
          [disabled]="isFirst"
          matTooltip="Move Scoring Rule Up"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="moveObjectDown(componentContent.cRater.scoringRules, scoringRuleIndex)"
          [disabled]="isLast"
          matTooltip="Move Scoring Rule Down"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="scoringRuleDeleteClicked(scoringRuleIndex)"
          matTooltip="Delete Scoring Rule"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div>
      <mat-checkbox
        color="primary"
        class="checkbox"
        [(ngModel)]="componentContent.cRater.enableMultipleAttemptScoringRules"
        (click)="enableMultipleAttemptScoringRulesClicked()"
        i18n
      >
        Enable Multiple Attempt Feedback
      </mat-checkbox>
    </div>
    <div *ngIf="componentContent.cRater.enableMultipleAttemptScoringRules">
      <div fxLayoutGap="10px" class="section-label">
        <span i18n>Multiple Attempt Scoring Rules</span>
        <button
          mat-raised-button
          color="primary"
          (click)="addMultipleAttemptScoringRule()"
          matTooltip="Add Multiple Attempt Scoring Rule"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div
        *ngFor="
          let multipleAttemptScoringRule of componentContent.cRater.multipleAttemptScoringRules;
          index as multipleAttemptScoringRuleIndex;
          first as isFirst;
          last as isLast
        "
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutGap="20px"
        class="section-item"
      >
        <mat-form-field class="previous-score">
          <mat-label i18n>Previous Score</mat-label>
          <input
            matInput
            [(ngModel)]="multipleAttemptScoringRule.scoreSequence[0]"
            (ngModelChange)="componentChanged()"
            min="0"
          />
        </mat-form-field>
        <mat-form-field class="current-score">
          <mat-label i18n>Current Score</mat-label>
          <input
            matInput
            [(ngModel)]="multipleAttemptScoringRule.scoreSequence[1]"
            (ngModelChange)="componentChanged()"
            min="0"
          />
        </mat-form-field>
        <translatable-textarea
          [content]="multipleAttemptScoringRule"
          key="feedbackText"
          label="Feedback to Student"
          i18n-label
          (defaultLanguageTextChanged)="componentChanged()"
          class="multiple-attempt-feedback"
        />
        <div fxLayoutGap="10px">
          <button
            mat-raised-button
            color="primary"
            (click)="
              moveObjectUp(
                componentContent.cRater.multipleAttemptScoringRules,
                multipleAttemptScoringRuleIndex
              )
            "
            [disabled]="isFirst"
            matTooltip="Move Multiple Attempt Scoring Rule Up"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="
              moveObjectDown(
                componentContent.cRater.multipleAttemptScoringRules,
                multipleAttemptScoringRuleIndex
              )
            "
            [disabled]="isLast"
            matTooltip="Move Multiple Attempt Scoring Rule Down"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="multipleAttemptScoringRuleDeleteClicked(multipleAttemptScoringRuleIndex)"
            matTooltip="Delet Multiple Attempt Scoring"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div>
      <mat-checkbox
        color="primary"
        class="checkbox"
        [(ngModel)]="componentContent.enableNotifications"
        (ngModelChange)="enableNotificationsClicked()"
        i18n
      >
        Enable Notifications
      </mat-checkbox>
    </div>
    <div *ngIf="componentContent.enableNotifications">
      <div fxLayoutGap="10px" class="section-label">
        <span i18n>Notifications</span>
        <button
          mat-raised-button
          color="primary"
          (click)="addNotification()"
          matTooltip="Add New Notification"
          matTooltipPosition="above"
          i18n
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div
        *ngFor="
          let notification of componentContent.notificationSettings.notifications;
          index as notificationIndex;
          first as isFirst;
          last as isLast
        "
        class="section-item"
      >
        <div fxLayoutGap="20px">
          <mat-form-field class="notification-score">
            <mat-label i18n>Previous Score</mat-label>
            <input
              matInput
              type="number"
              min="0"
              [(ngModel)]="notification.enableCriteria.scoreSequence[0]"
              (ngModelChange)="componentChanged()"
            />
          </mat-form-field>
          <mat-form-field class="notification-score">
            <mat-label i18n>Current Score</mat-label>
            <input
              matInput
              type="number"
              min="0"
              [(ngModel)]="notification.enableCriteria.scoreSequence[1]"
              (ngModelChange)="componentChanged()"
            />
          </mat-form-field>
          <div fxFlex></div>
          <div fxLayoutGap="10px">
            <button
              mat-raised-button
              color="primary"
              (click)="
                moveObjectUp(componentContent.notificationSettings.notifications, notificationIndex)
              "
              [disabled]="isFirst"
              matTooltip="Move Notification Up"
              matTooltipPosition="above"
              i18n-matTooltip
            >
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="
                moveObjectDown(
                  componentContent.notificationSettings.notifications,
                  notificationIndex
                )
              "
              [disabled]="isLast"
              matTooltip="Move Notification Down"
              matTooltipPosition="above"
              i18n-matTooltip
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="notificationDeleteClicked(notificationIndex)"
              matTooltip="Delete Notification"
              matTooltipPosition="above"
              i18n-matTooltip
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div fxLayoutAlign="start start" fxLayoutGap="20px">
          <mat-checkbox color="primary" class="checkbox" [(ngModel)]="notification.isAmbient" i18n>
            Enable Ambient Display Dismiss Mode
          </mat-checkbox>
          <mat-form-field *ngIf="notification.isAmbient">
            <mat-label i18n>Dismiss Code</mat-label>
            <input
              matInput
              [(ngModel)]="notification.dismissCode"
              (ngModelChange)="componentChanged()"
            />
          </mat-form-field>
        </div>
        <div fxLayoutAlign="start start" fxLayoutGap="20px">
          <mat-checkbox
            color="primary"
            class="checkbox"
            [(ngModel)]="notification.isNotifyStudent"
            i18n
          >
            Notify Student
          </mat-checkbox>
          <translatable-textarea
            *ngIf="notification.isNotifyStudent"
            [content]="notification"
            key="notificationMessageToStudent"
            label="Feedback to Student"
            i18n-label
            (defaultLanguageTextChanged)="componentChanged()"
            class="notification-feedback"
          />
        </div>
        <div fxLayoutAlign="start start" fxLayoutGap="20px">
          <mat-checkbox
            color="primary"
            class="checkbox"
            [(ngModel)]="notification.isNotifyTeacher"
            i18n
          >
            Notify Teacher
          </mat-checkbox>
          <translatable-textarea
            *ngIf="notification.isNotifyTeacher"
            [content]="notification"
            key="notificationMessageToTeacher"
            label="Feedback to Teacher"
            i18n-label
            (defaultLanguageTextChanged)="componentChanged()"
            class="notification-feedback"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <mat-checkbox
      color="primary"
      class="checkbox"
      [(ngModel)]="useCustomCompletionCriteria"
      (click)="useCustomCompletionCriteriaClicked($event)"
      i18n
    >
      Use Custom Completion Criteria
    </mat-checkbox>
    <div *ngIf="useCustomCompletionCriteria && componentContent.completionCriteria != null">
      <div fxLayoutGap="10px" class="section-label">
        <span i18n>Custom Completion Criteria</span>
        <button
          mat-raised-button
          color="primary"
          (click)="addCompletionCriteria()"
          matTooltip="Add Completion Criteria"
          matTooltipPosition="above"
          i18n-matTooltip
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div
        *ngFor="
          let criteria of componentContent.completionCriteria.criteria;
          index as criteriaIndex;
          first as isFirst;
          last as isLast
        "
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutGap="20px"
        class="section-item"
      >
        <mat-form-field class="custom-completion-criteria-step">
          <mat-label i18n>Step</mat-label>
          <mat-select [(ngModel)]="criteria.nodeId" (ngModelChange)="componentChanged()">
            <ng-container *ngFor="let nodeId of nodeIds">
              <mat-option *ngIf="isApplicationNode(nodeId)" [value]="nodeId">
                {{ getNodePositionAndTitle(nodeId) }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="custom-completion-criteria-component">
          <mat-label i18n>Component</mat-label>
          <mat-select [(ngModel)]="criteria.componentId" (ngModelChange)="componentChanged()">
            <mat-option
              *ngFor="let component of getComponents(criteria.nodeId); index as componentIndex"
              [value]="component.id"
            >
              {{ componentIndex + 1 }}. {{ component.type }}
              <span *ngIf="component.id === componentId" i18n>(This Component)</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="custom-completion-criteria-action">
          <mat-label>Action</mat-label>
          <mat-select [(ngModel)]="criteria.name" (ngModelChange)="componentChanged()">
            <mat-option value="isSubmitted" i18n>Submit</mat-option>
            <mat-option value="isSaved" i18n>Save</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex></div>
        <div fxLayoutGap="10px">
          <button
            mat-raised-button
            color="primary"
            (click)="moveObjectUp(componentContent.completionCriteria.criteria, criteriaIndex)"
            [disabled]="isFirst"
            matTooltip="Move Completion Criteria Up"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="moveObjectDown(componentContent.completionCriteria.criteria, criteriaIndex)"
            [disabled]="isLast"
            matTooltip="Move Completion Criteria Down"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="deleteCompletionCriteria(criteriaIndex)"
            matTooltip="Delete Completion Criteria"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isNotebookEnabled()">
  <edit-component-add-to-notebook-button [componentContent]="componentContent">
  </edit-component-add-to-notebook-button>
</div>
<edit-common-advanced
  [component]="component"
  [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
>
</edit-common-advanced>
