<wise-authoring-tinymce-editor
  *ngIf="!showTranslationInput()"
  [(model)]="html"
  (modelChange)="saveDefaultLanguageText()"
>
</wise-authoring-tinymce-editor>
<mat-tab-group
  *ngIf="showTranslationInput()"
  mat-stretch-tabs="false"
  (selectedTabChange)="setLanguage()"
>
  <mat-tab label="{{ currentLanguage().language }}"
    ><ng-template matTabContent
      ><wise-authoring-tinymce-editor
        [language]="currentLanguage()"
        [model]="translationText()"
        (modelChange)="translationTextChanged.next($event)"
      >
      </wise-authoring-tinymce-editor></ng-template
  ></mat-tab>
  <mat-tab label="{{ defaultLanguage.language }}">
    <ng-template matTabContent>
      <wise-authoring-tinymce-editor [model]="html"></wise-authoring-tinymce-editor>
    </ng-template>
  </mat-tab>
</mat-tab-group>
