<mat-toolbar class="mat-elevation-z1 toolbar">
  <div class="toolbar__tools flex justify-start items-center">
    <button
      mat-icon-button
      (click)="toggleMenu()"
      matTooltip="Main Menu"
      matTooltipPosition="below"
      i18n-matTooltip
    >
      <mat-icon>menu</mat-icon>
    </button>
    @if (!(showStepTools || showTeamTools)) {
      <span class="toolbar__title">{{ viewName }}</span>
    } @else if (showStepTools) {
      <grading-step-tools />
    } @else if (showTeamTools) {
      <student-grading-tools [workgroupId]="workgroupId" />
    }
    <span class="flex-grow"></span>
    <save-indicator />
    @if (showPeriodSelect) {
      <select-period />
    }
  </div>
</mat-toolbar>
