<div
  id="{{ item.id }}"
  fxLayoutAlign="start center"
  class="pointer stepHeader projectItem"
  [ngClass]="{ branchPathStepHeader: isNodeInAnyBranchPath(item.id) }"
  [ngStyle]="{ 'background-color': getStepBackgroundColor(item.id) }"
>
  <mat-checkbox
    color="primary"
    [(ngModel)]="item.checked"
    (click)="selectNodeEvent.emit()"
    [disabled]="disableSelection"
    aria-label="Select step"
    i18n-aria-label
  >
  </mat-checkbox>
  <div
    class="projectItemTitleDiv"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    (click)="setCurrentNode(item.id)"
  >
    <node-icon-and-title [nodeId]="item.id" [showPosition]="showPosition"></node-icon-and-title>
    <p fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-icon
        *ngIf="isBranchPoint(item.id)"
        class="rotate-180"
        (click)="branchIconClicked(item.id); $event.stopPropagation()"
        matTooltip="Branch point with {{ getNumberOfBranchPaths(item.id) }} paths based on {{
          getBranchCriteriaDescription(item.id)
        }}"
        matTooltipPosition="right"
        i18n-matTooltip
        >call_split</mat-icon
      >
      <mat-icon
        *ngIf="nodeHasConstraint(item.id)"
        (click)="constraintIconClicked(item.id); $event.stopPropagation()"
        matTooltip="{{ getNumberOfConstraintsOnNode(item.id) }} Constraint(s) {{
          getConstraintDescriptions(item.id)
        }}"
        matTooltipPosition="right"
        i18n-matTooltip
        >block</mat-icon
      >
      <mat-icon
        *ngIf="nodeHasRubric(item.id)"
        matTooltip="Has Rubric"
        matTooltipPosition="right"
        i18n-matTooltip
        >message</mat-icon
      >
    </p>
  </div>
</div>
