.stepHeader {
  margin-left: 30px !important;
}

.branchPathStepHeader {
  margin-left: 55px !important;
}

.pointer {
  cursor: pointer;
}

.projectItem:hover {
  background-color: #add8e6;
}

.projectItemTitleDiv:hover {
  background-color: #add8e6;
}

.projectItemTitleDiv {
  width: 100%;
  font-weight: initial;
}

.rotate-180 {
  transform: rotate(180deg);
}
