.step {
  height: 50px;
  padding: 4px;
  border: 2px solid #dddddd;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  background-color: white;
}

.step:hover {
  background-color: #add8e6 !important;
}

.step-action {
  display: none;
}

.step:hover, .step:focus-within {
  .step-action {
    display: block;
  }
}                       

.flip-vertical {
  transform: scaleY(-1);
}

.tooltip-helper {
  height: 100%;
}
