.step {
  height: 50px;
  padding: 4px;
  margin: 4px 10px 4px 30px;
  border: 2px solid #dddddd;
  border-radius: 6px;
  position: relative;
}

.step:hover {
  background-color: #add8e6 !important;
}

.branch-path-step {
  margin-left: 55px !important;
}

.pointer {
  cursor: pointer;
}

.dynamic-step-buttons {
  display: none;
}

.step:hover, .step:focus {
  .dynamic-step-buttons {
    display: block;
  }
}

.step-click-to-enter-div {
  flex-grow: 1;
  align-self: stretch;
}

.rotate-180 {
  transform: rotate(180deg);
}
