<div
  id="{{ step.id }}"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
  class="step"
  [ngClass]="{ 'branch-path-step': isNodeInAnyBranchPath(step.id) }"
  [ngStyle]="{ 'background-color': getStepBackgroundColor(step.id) }"
  (click)="setCurrentNode(step.id)"
  (keyup.enter)="setCurrentNode(step.id)"
  role="button"
  tabindex="0"
  aria-label="Edit step"
  i18n-aria-label
>
  <mat-checkbox
    color="primary"
    (change)="selectNode($event.checked)"
    (click)="$event.stopPropagation()"
    [disabled]="nodeTypeSelected() === 'lesson'"
    aria-label="Select step"
    i18n-aria-label
  >
    <node-icon-and-title [nodeId]="step.id" [showPosition]="showPosition" />
  </mat-checkbox>
  <div fxLayoutAlign="start center" fxLayoutGap="8px">
    @if (isBranchPoint(step.id)) {
      <button
        mat-icon-button
        (click)="goToEditBranch(step.id); $event.stopPropagation()"
        matTooltip="Edit branch point: {{ getNumberOfBranchPaths(step.id) }} paths based on {{
          getBranchCriteriaDescription(step.id)
        }}"
        matTooltipPosition="right"
        i18n-matTooltip
      >
        <mat-icon class="rotate-180">call_split</mat-icon>
      </button>
    }
    <button
      *ngIf="nodeHasConstraint(step.id)"
      mat-icon-button
      (click)="constraintIconClicked(step.id); $event.stopPropagation()"
      matTooltip="{{ getNumberOfConstraintsOnNode(step.id) }} Constraint(s) {{
        getConstraintDescriptions(step.id)
      }}"
      matTooltipPosition="right"
      i18n-matTooltip
    >
      <mat-icon>block</mat-icon>
    </button>
    <mat-icon
      *ngIf="nodeHasRubric(step.id)"
      tabindex="0"
      matTooltip="Has rubric/teaching tips"
      matTooltipPosition="above"
      i18n-matTooltip
      >message</mat-icon
    >
  </div>
  <div
    fxFlex
    class="tooltip-helper"
    matTooltip="Edit step"
    matTooltipPosition="above"
    i18n-matTooltip
  ></div>
  <!-- <div class="dynamic-step-buttons"> -->
  <div fxLayoutAlign="start center">
    <button
      class="step-action"
      mat-icon-button
      (click)="move(); $event.stopPropagation()"
      matTooltip="Move step"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>redo</mat-icon>
    </button>
    <button
      class="step-action"
      mat-icon-button
      (click)="copy(); $event.stopPropagation()"
      matTooltip="Copy step"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>content_copy</mat-icon>
    </button>
    <button
      class="step-action"
      mat-icon-button
      (click)="delete(); $event.stopPropagation()"
      matTooltip="Delete step"
      matTooltipPosition="above"
      i18n-matTooltip
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <!-- </div> -->
</div>
