@import '~style/abstracts/variables',
        '~style/abstracts/mixins',
        '~style/abstracts/functions';

app-blurb, app-call-to-action {
  width: 360px;
  max-width: 100%;
}

.cta, .cta__wrap, .cta .mat-button-wrapper, .blurb {
  height: 100%;
}

discourse-latest-news {
  max-width: 100%;
}