<div class="mat-card-title" fxLayoutAlign="start center">
  <mat-icon class="mat-24 secondary-text avatar" [ngStyle]="{ color: avatarColor }">group</mat-icon>
  <h4 class="mat-subtitle-2" i18n>Group {{ grouping.id }}</h4>
</div>
<mat-card-content class="peer-group-card-content">
  <ul
    class="peer-group-ul"
    cdkDropList
    [cdkDropListData]="grouping"
    (cdkDropListDropped)="dropWorkgroup($event)"
  >
    <li
      *ngFor="let workgroup of grouping.members"
      class="peer-group-li"
      cdkDrag
      [cdkDragData]="workgroup.id"
      (cdkDragEntered)="dragEnter($event)"
      (cdkDragExited)="dragExit($event)"
    >
      <peer-group-workgroup [workgroup]="workgroup"></peer-group-workgroup>
    </li>
  </ul>
</mat-card-content>
