<div>
  <translatable-input
    [content]="componentContent"
    key="parameters"
    label="Model Parameters"
    i18n-label
    (defaultLanguageTextChanged)="componentChanged()"
    class="model-parameters"
  />
</div>
<div *ngIf="isNotebookEnabled()">
  <edit-component-add-to-notebook-button [componentContent]="componentContent">
  </edit-component-add-to-notebook-button>
</div>
<edit-common-advanced
  [component]="component"
  [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
>
</edit-common-advanced>
