<div>
  <mat-form-field class="model-parameters">
    <mat-label i18n>Model Parameters</mat-label>
    <input matInput
        [(ngModel)]="componentContent.parameters"
        (ngModelChange)="componentChanged()"/>
  </mat-form-field>
</div>
<div *ngIf="isNotebookEnabled()">
  <edit-component-add-to-notebook-button [componentContent]="componentContent">
  </edit-component-add-to-notebook-button>
</div>
<edit-common-advanced
    [nodeId]="nodeId"
    [componentId]="componentId"
    [allowedConnectedComponentTypes]="allowedConnectedComponentTypes"
    [componentContent]="componentContent">
</edit-common-advanced>
