<mat-card class="standalone__content standalone__content--sm mat-elevation-z4">
  <mat-card-content>
    <h2 class="standalone__title accent" i18n>Create Student Account</h2>
    <p>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label i18n>First Name</mat-label>
        <input matInput id="firstName" name="firstName" [(ngModel)]="firstName" autofocus />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label i18n>Last Name</mat-label>
        <input matInput id="lastName" name="lastName" [(ngModel)]="lastName" autofocus />
      </mat-form-field>
    </p>
    <p>
      <button fxFlex mat-flat-button color="primary" (click)="signUp()">
        <ng-container i18n>Sign Up</ng-container>
      </button>
    </p>
    <span *ngIf="googleAuthenticationEnabled || microsoftAuthenticationEnabled">
      <p class="center mat-headline-6">- or -</p>
      <p class="center">
        <google-sign-in-button
          *ngIf="googleAuthenticationEnabled"
          (signedIn)="googleSignIn($event)"
          text="signup_with"
        >
        </google-sign-in-button>
        <button
          *ngIf="microsoftAuthenticationEnabled"
          class="button--social-login button--microsoft"
          color="accent"
          mat-flat-button
          (click)="microsoftSignIn()"
        >
          <img src="assets/img/icons/google-logo.svg" alt="Microsoft logo" />
          <ng-container i18n>Sign up with Microsoft</ng-container>
        </button>
      </p>
    </span>
  </mat-card-content>
</mat-card>
