<mat-form-field>
  <mat-label i18n>Component</mat-label>
  <mat-select
    [(ngModel)]="connectedComponent.componentId"
    (ngModelChange)="connectedComponentComponentIdChanged()"
  >
    @for (
      component of getComponents(connectedComponent.nodeId);
      track component.id;
      let componentIndex = $index
    ) {
      <mat-option
        [value]="component.id"
        [disabled]="
          !isConnectedComponentTypeAllowed(component.type) || component.id === componentId
        "
      >
        <span>{{ componentIndex + 1 }}. {{ component.type }} </span>
        @if (component.id === componentId) {
          <span i18n>(This Component)</span>
        }
      </mat-option>
    }
  </mat-select>
</mat-form-field>
