<div>
  <translatable-input
    [content]="componentContent"
    key="url"
    label="URL"
    i18n-label
    (defaultLanguageTextChanged)="urlChange.next($event)"
  />
</div>
<div class="flex flex-row gap-4">
  <mat-form-field>
    <mat-label i18n>Width (px) (optional)</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="componentContent.width"
      (ngModelChange)="widthChange.next($event)"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Height (px)</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="componentContent.height"
      (ngModelChange)="heightChange.next($event)"
    />
  </mat-form-field>
</div>
<mat-slide-toggle [(ngModel)]="isShowOERs" color="primary" class="show-oer-toggle" i18n>
  Show Open Education Resources
</mat-slide-toggle>
@if (isShowOERs) {
  <div class="select-oer-container">
    <p class="mat-caption pb-2" i18n>
      Select from our curated library of OERs or enter your own in the 'URL' field. (Note: Outside
      resources must start with 'https://' to be displayed.)
    </p>
    <div class="flex flex-row flex-wrap">
      <div class="flex flex-row flex-wrap justify-start items-center gap-4">
        <mat-form-field>
          <mat-label i18n>Filter by Topic</mat-label>
          <mat-select
            [(ngModel)]="selectedSubjects"
            (selectionChange)="searchFieldChanged($event)"
            multiple
          >
            @for (subject of subjects; track subject) {
              <mat-option i18n>
                {{ subject.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            class="enable-in-translation"
            [(ngModel)]="searchText"
            (ngModelChange)="searchFieldChanged($event)"
            type="text"
            placeholder="Search"
            i18n-placeholder
          />
        </mat-form-field>
        @if (searchText || selectedSubjects.length) {
          <button
            mat-icon-button
            (click)="clearFilters()"
            matTooltip="Remove Filters"
            matTooltipPosition="above"
            i18n-matTooltip
          >
            <mat-icon>clear</mat-icon>
          </button>
        }
        <span i18n>{{ filteredOpenEducationalResources.length }} Item(s) Found</span>
      </div>
    </div>
    <div class="flex flex-col flex-wrap sm:flex-row oer-cards-container gray-lighter-bg">
      @for (
        openEducationalResource of filteredOpenEducationalResources;
        track openEducationalResource
      ) {
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
          <mat-card
            appearance="outlined"
            class="oer-card"
            [ngStyle]="
              isResourceSelected(openEducationalResource.url) && { border: '4px solid #00C853' }
            "
          >
            <mat-card-title class="oer-card-title">
              {{ openEducationalResource.metadata.title }}
            </mat-card-title>
            <div
              class="oer-card-image"
              style="background-image: url('{{ openEducationalResource.thumbnail }}');"
            ></div>
            <mat-card-actions class="oer-card-actions flex flex-row justify-start items-center">
              @if (isResourceSelected(openEducationalResource.url)) {
                <mat-icon class="success" aria-label="Selected" i18n-aria-label>
                  check_circle
                </mat-icon>
              }
              <span class="oer-card-actions-spacer"></span>
              <a
                class="oer-info-link"
                href="{{ openEducationalResource.info }}"
                target="_blank"
                i18n
              >
                Info
              </a>
              <button
                mat-raised-button
                color="primary"
                (click)="chooseOpenEducationalResource(openEducationalResource)"
                target="_blank"
                [disabled]="isResourceSelected(openEducationalResource.url)"
                i18n
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      }
      @if (filteredOpenEducationalResources.length < 1) {
        <div class="flex flex-row justify-center w-full my-4">
          <span i18n>No results found</span>
        </div>
      }
    </div>
  </div>
}
