<ng-container [formGroup]="formGroup">
  <p>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>{{ passwordLabel }}</mat-label>
      <input matInput
          type="password"
          [name]="newPasswordFormControlName"
          [formControlName]="newPasswordFormControlName"
          required />
      <mat-error *ngIf="newPasswordFormControl.hasError('required')" i18n>
        Password required
      </mat-error>
      <mat-error *ngIf="newPasswordFormControl.hasError('minlength')" i18n>
        Password must be at least 8 characters
      </mat-error>
      <mat-error *ngIf="newPasswordFormControl.hasError('pattern')" i18n>
        Password must have at least one lowercase, one uppercase, and one number character
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>{{ confirmPasswordLabel }}</mat-label>
      <input matInput
          type="password"
          [name]="confirmNewPasswordFormControlName"
          [formControlName]="confirmNewPasswordFormControlName"
          required />
      <mat-error *ngIf="confirmNewPasswordFormControl.hasError('required')" i18n>
        Confirm Password required
      </mat-error>
      <mat-error *ngIf="confirmNewPasswordFormControl.hasError('passwordDoesNotMatch')" i18n>
        Password does not match
      </mat-error>
    </mat-form-field>
  </p>
</ng-container>