<ng-container [formGroup]="formGroup">
  <div>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>{{ passwordLabel }}</mat-label>
      <input
        matInput
        type="password"
        [name]="newPasswordFormControlName"
        [formControlName]="newPasswordFormControlName"
        required
      />
      <mat-error
        *ngIf="newPasswordFormControl.hasError('required')"
        class="new-password-required-error"
        i18n
      >
        Password required
      </mat-error>
    </mat-form-field>
  </div>
  <password-strength-meter
    [password]="newPasswordFormControl.value"
    (strengthChange)="passwordStrengthChange($event)"
  ></password-strength-meter>
  <div [ngSwitch]="passwordStrength" fxLayout="row">
    <div class="password-strength-label" i18n>Password Strength:</div>
    <div *ngSwitchCase="0" class="very-weak" i18n>Very Weak</div>
    <div *ngSwitchCase="1" class="weak" i18n>Weak</div>
    <div *ngSwitchCase="2" class="good" i18n>Good</div>
    <div *ngSwitchCase="3" class="strong" i18n>Strong</div>
    <div *ngSwitchCase="4" class="very-strong" i18n>Very Strong</div>
  </div>
  <div class="password-requirements-list">
    <div i18n class="password-requirements-label">Your password needs to:</div>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      [ngClass]="newPasswordFormControl.errors?.missingLetter ? 'fail' : 'pass'"
      class="letter-requirement"
    >
      <mat-icon *ngIf="newPasswordFormControl.errors?.missingLetter; else containsLetter"
        >close</mat-icon
      >
      <ng-template #containsLetter>
        <mat-icon>done</mat-icon>
      </ng-template>
      <div i18n>include a letter</div>
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      [ngClass]="newPasswordFormControl.errors?.missingNumber ? 'fail' : 'pass'"
      class="number-requirement"
    >
      <mat-icon *ngIf="newPasswordFormControl.errors?.missingNumber; else containsNumber"
        >close</mat-icon
      ><ng-template #containsNumber><mat-icon>done</mat-icon></ng-template>
      <div i18n>include a number</div>
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      [ngClass]="newPasswordFormControl.errors?.missingSymbol ? 'fail' : 'pass'"
      class="symbol-requirement"
    >
      <mat-icon *ngIf="newPasswordFormControl.errors?.missingSymbol; else containsSymbol"
        >close</mat-icon
      ><ng-template #containsSymbol><mat-icon>done</mat-icon></ng-template>
      <div i18n>include one of these symbols ! @ # $ % ^ & *</div>
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      [ngClass]="newPasswordFormControl.errors?.tooShort ? 'fail' : 'pass'"
      class="length-requirement"
    >
      <mat-icon *ngIf="newPasswordFormControl.errors?.tooShort; else appropriateLength"
        >close</mat-icon
      ><ng-template #appropriateLength><mat-icon>done</mat-icon></ng-template>
      <div i18n>be at least 8 characters long</div>
    </div>
  </div>
  <p>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>{{ confirmPasswordLabel }}</mat-label>
      <input
        matInput
        type="password"
        [name]="confirmNewPasswordFormControlName"
        [formControlName]="confirmNewPasswordFormControlName"
        required
      />
      <mat-error
        *ngIf="confirmNewPasswordFormControl.hasError('passwordDoesNotMatch')"
        class="confirm-new-password-does-not-match-error"
        i18n
      >
        Password does not match
      </mat-error>
    </mat-form-field>
  </p>
</ng-container>
