.password-requirements-menu {
  width: 300px;
  margin: 20px;
}

::ng-deep .mat-mdc-menu-panel {
  max-width: none !important;
}

.password-strength-label {
  margin-right: 8px;
}

.very-weak {
  color: darkred;
}

.weak {
  color: orangered
}

.good {
  color: orange;
}

.strong {
  color: yellowgreen;
}

.very-strong {
  color: green;
}

.password-requirements-list {
  margin: 10px 20px;
}

.password-requirements-label {
  text-align: left;
}
