<ng-container [formGroup]="formGroup">
  <div>
    <mat-form-field
      [matMenuTriggerFor]="passwordRequirementsMenu"
      #passwordRequirementsMenuTrigger="matMenuTrigger"
      appearance="fill"
      fxFlex
    >
      <mat-label>{{ passwordLabel }}</mat-label>
      <input
        matInput
        type="password"
        [name]="newPasswordFormControlName"
        [formControlName]="newPasswordFormControlName"
        (focus)="onNewPasswordFocus(passwordRequirementsMenuTrigger)"
        (blur)="onNewPasswordBlur(passwordRequirementsMenuTrigger)"
        required
      />
      <mat-error
        *ngIf="newPasswordFormControl.hasError('required')"
        class="new-password-required-error"
        i18n
      >
        Password required
      </mat-error>
    </mat-form-field>
    <mat-menu #passwordRequirementsMenu="matMenu">
      <div class="password-requirements-menu">
        <password-strength-meter
          [password]="newPasswordFormControl.value"
          (strengthChange)="passwordStrengthChange($event)"
        ></password-strength-meter>
        <div [ngSwitch]="passwordStrength" fxLayout="row">
          <div class="password-strength-label" i18n>Password Strength:</div>
          <ng-container *ngIf="!newPasswordFormControl.pristine">
            <div *ngSwitchCase="0" class="very-weak" i18n>Very Weak</div>
            <div *ngSwitchCase="1" class="weak" i18n>Weak</div>
            <div *ngSwitchCase="2" class="good" i18n>Good</div>
            <div *ngSwitchCase="3" class="strong" i18n>Strong</div>
            <div *ngSwitchCase="4" class="very-strong" i18n>Very Strong</div>
          </ng-container>
        </div>
        <div class="password-requirements-list">
          <div class="password-requirements-label" i18n>Your password needs to:</div>
          <password-requirement
            *ngFor="let passwordRequirement of passwordRequirements"
            [errorFieldName]="passwordRequirement.errorFieldName"
            [passwordFormControl]="newPasswordFormControl"
            [requirementText]="passwordRequirement.text"
          ></password-requirement>
        </div>
      </div>
    </mat-menu>
  </div>
  <p>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>{{ confirmPasswordLabel }}</mat-label>
      <input
        matInput
        type="password"
        [name]="confirmNewPasswordFormControlName"
        [formControlName]="confirmNewPasswordFormControlName"
        required
      />
      <mat-error
        *ngIf="confirmNewPasswordFormControl.hasError('passwordDoesNotMatch')"
        class="confirm-new-password-does-not-match-error"
        i18n
      >
        Password does not match
      </mat-error>
    </mat-form-field>
  </p>
</ng-container>
