.password-requirements-menu {
  &.mat-mdc-menu-panel {
    width: 300px;
    padding: 0 16px;
    max-width: none;
  }
}

.password-requirements-list {
  margin: 16px 0;
}

.password-requirements-label {
  text-align: start;
}
