dialog-response {
  display: block;
  margin-bottom: 8px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

detected-ideas {
  display: flex;
  justify-content: end;
  margin-bottom: 12px;
}

.ai-logo {
  font-size: 15px;
  width: 15px;
  height: 15px;
  min-width: 0;
}

#detectable-ideas {
  text-align: right;
}