@if (showDetectedIdeas) {
  <div class="flex justify-end">
    <show-crater-rubric [cRaterRubric]="cRaterRubric" />
  </div>
}
@for (response of responses; track response.timestamp) {
  @if (response.user === 'Computer' && showDetectedIdeas && cRaterRubric.ideas.length) {
    <detected-ideas [cRaterRubric]="cRaterRubric" [responses]="[response]" [alignEnd]="true" />
  }
  <dialog-response [response]="response" [computerAvatar]="computerAvatar" />
}
@if (isWaitingForComputerResponse) {
  <dialog-response [response]="{ text: '...' }" [computerAvatar]="computerAvatar" />
}
