<div
  class="list-item mat-elevation-z1"
  [ngClass]="{
    'list-item--warn': statusClass === 'warn',
    'list-item--info': statusClass === 'info'
  }"
>
  <button
    mat-button
    class="list-item__subheader-button team-button"
    i18n-aria-label
    aria-label="Show/hide team's work for this step"
    [ngClass]="{ 'list-item--noclick': !showScore || disabled }"
    (click)="toggleExpand()"
    [disabled]="disabled"
    fxLayoutWrap
  >
    <div fxLayout="row" fxFlex>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <workgroup-info
          [hasAlert]="hasAlert"
          [hasNewAlert]="hasNewAlert"
          [usernames]="workgroupData.displayNames"
          [workgroupId]="workgroupId"
        ></workgroup-info>
      </div>
      <div fxFlex="{{ showScore ? 30 : 20 }}" fxLayout="row" fxLayoutAlign="center center">
        <workgroup-node-status [statusText]="statusText" [statusClass]="statusClass">
        </workgroup-node-status>
      </div>
      <div *ngIf="showScore" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
        <workgroup-node-score [score]="score" [maxScore]="maxScore"></workgroup-node-score>
      </div>
    </div>
  </button>
  <mat-list-item *ngIf="expanded && !disabled" class="grading__item-container">
    <div class="grading__item" style="width: 100%">
      <ng-container *ngFor="let component of components; let i = index">
        <div
          *ngIf="componentIdToIsVisible[component.id]"
          id="component_{{ component.id }}_{{ workgroupId }}"
          class="component component--grading"
        >
          <div [hidden]="!isComponentVisible(component.id)">
            <h3 class="accent-1 gray-lightest-bg component__header">
              {{ i + 1 + '. ' + getComponentTypeLabel(component.type) }}&nbsp;
              <component-new-work-badge
                [componentId]="component.id"
                [workgroupId]="workgroupId"
                [nodeId]="nodeId"
              />
            </h3>
            <workgroup-component-grading
              class="component--grading__response__content"
              [componentId]="component.id"
              [workgroupId]="workgroupId"
              [nodeId]="nodeId"
            ></workgroup-component-grading>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-list-item>
</div>
