<mat-toolbar class="mat-elevation-z1 toolbar">
  <div class="toolbar__tools flex flex-row flex-wrap justify-start items-center">
    <button mat-icon-button aria-label="Authoring Tool Menu" i18n-aria-label (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    @if (showStepTools) {
      <step-tools />
    } @else {
      <span class="toolbar__title">{{ viewName }}</span>
    }
    <div class="grow"></div>
    @if (isJSONValid == null) {
    } @else if (isJSONValid) {
      <span class="success flex justify-start items-center">
        <mat-icon>done</mat-icon>
        <span>JSON Valid</span>
      </span>
    } @else {
      <span class="warn flex justify-start items-center">
        <mat-icon>clear</mat-icon>
        <span>JSON Invalid</span>
      </span>
    }
    <save-indicator />
  </div>
</mat-toolbar>
