<edit-component-prompt
  [componentContent]="componentContent"
  (promptChangedEvent)="promptChanged($event)"
/>
<div class="flex flex-wrap gap-4 items-center">
  <mat-form-field>
    <mat-label i18n>Show Work Step</mat-label>
    <mat-select
      [(ngModel)]="componentContent.showWorkNodeId"
      (ngModelChange)="showWorkNodeIdChanged()"
    >
      <mat-option [value]="''" i18n>(None)</mat-option>
      @for (nodeId of nodeIds; track nodeId) {
        @if (isApplicationNode(nodeId)) {
          <mat-option [value]="nodeId">
            {{ getNodePositionAndTitle(nodeId) }}
          </mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Show Work Component</mat-label>
    <mat-select
      [(ngModel)]="componentContent.showWorkComponentId"
      (ngModelChange)="componentChanged()"
    >
      <mat-option [value]="''" i18n>(None)</mat-option>
      @for (
        component of getComponents(componentContent.showWorkNodeId);
        track component;
        let componentIndex = $index
      ) {
        <mat-option
          [value]="component.id"
          [disabled]="
            !isShowWorkComponentTypeAllowed(component.type) || component.id === componentId
          "
        >
          <span>{{ componentIndex + 1 }}. {{ component.type }} </span>
          @if (component.id === componentId) {
            <span i18n>(This Component)</span>
          }
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <edit-component-peer-grouping-tag [componentContent]="componentContent" />
  <mat-checkbox
    [(ngModel)]="componentContent.isShowMyWork"
    (ngModelChange)="componentChanged()"
    color="primary"
    class="bottom-spacing"
    i18n
  >
    Show My Work
  </mat-checkbox>
</div>
<div class="layout-select flex flex-col sm:flex-row flex-wrap items-start sm:items-center">
  <label id="layout-select-label" i18n>Layout:</label>
  <mat-radio-group
    [(ngModel)]="componentContent.layout"
    (ngModelChange)="componentChanged()"
    ngDefaultControl
    color="primary"
    aria-label-i18n
    aria-label="Select a layout option"
    aria-labelledby="layout-select-label"
    class="flex flex-col gap-3 sm:flex-row"
  >
    <mat-radio-button value="column">
      <span class="flex items-center">
        <mat-icon>table_rows</mat-icon>&nbsp;<span i18n>Stacked Vertically</span>
      </span>
    </mat-radio-button>
    <mat-radio-button value="row">
      <span class="flex items-center">
        <mat-icon>view_columns</mat-icon>&nbsp;<span i18n>Side-by-Side</span>
      </span>
    </mat-radio-button>
  </mat-radio-group>
</div>
