<div id="top" class="view-content view-content--with-sidemenu">
  <div class="l-constrained" class="flex flex-col">
    <div class="node-content md-whiteframe-1dp flex flex-wrap" style="position: relative">
      <div class="main-box">
        <div class="flex justify-end gap-1">
          <a mat-raised-button color="primary" (click)="addNewProject()" class="flex gap-1">
            <mat-icon>add</mat-icon> <span i18n>Create new unit</span>
          </a>
          <a mat-raised-button color="primary" (click)="goHome()" class="flex gap-1">
            <mat-icon>calendar_month</mat-icon> <span i18n>Class schedule</span>
          </a>
        </div>
        <ng-template #projectTemplate let-project="project">
          <span
            (click)="openProject(project.id)"
            class="projectButton flex grow"
            matTooltip="Edit unit"
            i18n-matTooltip
          >
            <span>{{ project.id }} - {{ project.name }}</span
            >&nbsp;
            @if (project.runId != null) {
              <span i18n>(Run ID: {{ project.runId }})</span>
            }
          </span>
          <span
            (click)="copyProject(project.id)"
            class="projectButton"
            matTooltip="Copy"
            matTooltipPosition="left"
            i18n-matTooltip
          >
            <mat-icon>content_copy</mat-icon>
          </span>
          <span
            (click)="previewProject(project.id)"
            class="projectButton"
            matTooltip="Preview"
            matTooltipPosition="left"
            i18n-matTooltip
          >
            <mat-icon>preview</mat-icon>
          </span>
        </ng-template>
        <mat-tab-group mat-stretch-tabs="false">
          <mat-tab label="My Units" i18n-label>
            @if (projects.length == 0) {
              <div i18n>You have no units</div>
            } @else {
              @for (project of projects; track project.id) {
                <div id="{{ project.id }}" class="projectItem flex">
                  <ng-container
                    [ngTemplateOutlet]="projectTemplate"
                    [ngTemplateOutletContext]="{ project: project }"
                  />
                </div>
              }
            }
          </mat-tab>
          <mat-tab label="Shared Units" i18n-label>
            @if (sharedProjects.length == 0) {
              <div i18n>You have no shared units</div>
            } @else {
              @for (project of sharedProjects; track project.id) {
                <div id="{{ project.id }}" class="projectItem flex">
                  <ng-container
                    [ngTemplateOutlet]="projectTemplate"
                    [ngTemplateOutletContext]="{ project: project }"
                  />
                </div>
              }
            }
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
