<div id="top" class="view-content">
  <div class="l-constrained flex flex-col">
    <div class="node-content md-whiteframe-1dp flex flex-wrap" style="position: relative">
      <div class="p-8 w-full">
        <div class="flex flex-wrap justify-end gap-1">
          <button mat-raised-button color="primary" (click)="addNewProject()" class="flex gap-1">
            <mat-icon>add</mat-icon> <span i18n>Create new unit</span>
          </button>
          <button mat-raised-button color="primary" (click)="goHome()" class="flex gap-1">
            <mat-icon>calendar_month</mat-icon> <span i18n>Class schedule</span>
          </button>
        </div>
        <ng-template #projectTemplate let-project="project">
          <button
            class="projectItem"
            mat-list-item
            (click)="openProject(project.id, project.runId)"
          >
            <span class="flex items-center justify-between gap-2">
              <span class="whitespace-normal">
                <span>{{ project.id }} - {{ project.name }}</span>
                @if (project.runId != null) {
                  &nbsp;<span i18n>(Run ID: {{ project.runId }})</span>
                }
              </span>
              <span>
                <button
                  matIconButton
                  (click)="copyProject(project.id); $event.stopPropagation()"
                  matTooltip="Copy"
                  matTooltipPosition="above"
                  i18n-matTooltip
                >
                  <mat-icon>content_copy</mat-icon>
                </button>
                <button
                  matIconButton
                  (click)="previewProject(project.id); $event.stopPropagation()"
                  matTooltip="Preview"
                  matTooltipPosition="above"
                  i18n-matTooltip
                >
                  <mat-icon>preview</mat-icon>
                </button>
              </span>
            </span>
          </button>
        </ng-template>
        <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
          <mat-tab label="My Units" i18n-label>
            @if (projects.length == 0) {
              <p i18n>You have no units</p>
            } @else {
              <mat-action-list>
                @for (project of projects; track project.id) {
                  <ng-container
                    [ngTemplateOutlet]="projectTemplate"
                    [ngTemplateOutletContext]="{ project: project }"
                  />
                }
              </mat-action-list>
            }
          </mat-tab>
          <mat-tab label="Shared Units" i18n-label>
            @if (sharedProjects.length == 0) {
              <div i18n>You have no shared units</div>
            } @else {
              <mat-action-list>
                @for (project of sharedProjects; track project.id) {
                  <ng-container
                    [ngTemplateOutlet]="projectTemplate"
                    [ngTemplateOutletContext]="{ project: project }"
                  />
                }
              </mat-action-list>
            }
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
