@if (isGroupNode(nodeId)) {
  <div class="view-content--with-sidemenu">
    <div class="l-constrained l-constrained-md nav">
      @if (showRubricButton) {
        <div class="rubric">
          <button mat-stroked-button (click)="showRubric()" class="info">
            <mat-icon class="info">info_outline</mat-icon>&nbsp;
            <span i18n>Unit Info</span>
          </button>
        </div>
      }
      <div class="nav-contents nav-contents--root">
        <div class="flex flex-wrap justify-center items-start">
          @for (id of rootNode.ids; track id) {
            <nav-item
              class="nav-item nav-item--root w-full sm:w-1/2"
              [ngClass]="{ expanded: nodeIdToExpanded[id] === true }"
              [nodeId]="id"
              [type]="'card'"
              (onExpandedEvent)="childExpandedEvent($event)"
            />
          }
        </div>
      </div>
    </div>
  </div>
}
