.minmax, .data-point {
  width: 100px;
}

.graph-title {
  min-width: 240px;
}

.dimension {
  width: 140px;
}

.background {
  width: 80%;
  margin-right: 10px;
}

.add-button {
  margin-bottom: 16px;
}

.series {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
}

.no-series-message {
  margin-top: 10px;
  margin-bottom: 20px;
}

.mat-icon {
  margin: 0px;
}
