<h4 class="mat-body-2" i18n>Student Groupings for {{ componentLabel }} activity in Step {{ stepTitle }}</h4>
<div>
  <select-period></select-period>
  <div fxFlex></div>
  <button mat-stroked-button
      color="primary"
      aria-label="Create a new group"
      i18n-aria-label
      (click)="createNewGroup()">
    <mat-icon class="text-secondary" color="primary">group_add</mat-icon>
    &nbsp;
    <span i18n>New Group</span>
  </button>
</div>
<div cdkDropListGroup>
  <peer-group-unassigned-workgroups
      [unassignedWorkgroups]="unassignedWorkgroups"
      (moveWorkgroup)="moveWorkgroup($event)">
  </peer-group-unassigned-workgroups>
  <peer-group-assigned-workgroups
      [groupings]="groupings"
      (moveWorkgroup)="moveWorkgroup($event)">
  </peer-group-assigned-workgroups>
</div>
<div mat-dialog-actions class="close-div" fxLayoutAlign="end center">
  <button mat-button mat-dialog-close i18n>Close</button>
</div>