<edit-component-save-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-save-button>
<br/>
<edit-component-submit-button [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-submit-button>
<div>
  <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                      ng-if='$ctrl.authoringComponentContent.showSubmitButton'>
    <label>{{ ::'MAX_SUBMIT' | translate }}</label>
    <input type='number'
           ng-model='$ctrl.authoringComponentContent.maxSubmitCount'
           ng-model-options='{ debounce: 1000 }'
           ng-change='$ctrl.componentChanged()'/>
  </md-input-container>
</div>
<edit-component-default-feedback
    ng-if="$ctrl.authoringComponentContent.showSubmitButton"
    [authoring-component-content]="$ctrl.authoringComponentContent">
</edit-component-default-feedback>
<div layout="column" layout-align="start start">
  <edit-component-max-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-max-score>
  <edit-component-exclude-from-total-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-exclude-from-total-score>
  <edit-component-width [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-width>
  <edit-component-rubric [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-rubric>
  <edit-component-tags [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-tags>
</div>
<edit-connected-components
    [node-id]="$ctrl.nodeId"
    [component-id]="$ctrl.componentId"
    [allowed-connected-component-types]="$ctrl.allowedConnectedComponentTypes"
    [connected-components]="$ctrl.authoringComponentContent.connectedComponents"
    (connected-Components-Changed)="$ctrl.connectedComponentsChanged($event)">
</edit-connected-components>
<edit-component-json [node-id]="$ctrl.nodeId" [component-id]="$ctrl.componentId"></edit-component-json>
