<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <h3 class="title" i18n>Edit Branch</h3>
  <button mat-raised-button color="warn" (click)="removeBranch()" [disabled]="submitting" i18n>
    Remove Branch
  </button>
</div>
<h5 i18n>Branch Step: {{ targetTitle }}</h5>
<form fxLayout="column" [formGroup]="formGroup">
  <select-branch-criteria
    [criteria]="formGroup.controls['criteria'].value"
    (criteriaChangedEvent)="setCriteria($event)"
  />
  @if (
    formGroup.controls['criteria'].value === SCORE_VALUE ||
    formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE
  ) {
    <select-step
      [nodeId]="formGroup.controls['nodeId'].value"
      (stepChangedEvent)="setNodeId($event)"
    />
  }
  @if (
    formGroup.controls['nodeId']?.value !== '' &&
    (formGroup.controls['criteria'].value === SCORE_VALUE ||
      formGroup.controls['criteria'].value === CHOICE_CHOSEN_VALUE)
  ) {
    <select-component
      [nodeId]="formGroup.controls['nodeId'].value"
      [componentId]="formGroup.controls['componentId'].value"
      [allowedComponentTypes]="allowedComponentTypes"
      (componentChangedEvent)="setComponentId($event)"
    />
  }
  <branch-path-authoring
    [pathCount]="formGroup.controls['pathCount'].value"
    [criteria]="formGroup.controls['criteria'].value"
    [nodeId]="formGroup.controls['nodeId']?.value"
    [componentId]="formGroup.controls['componentId']?.value"
    [pathFormGroup]="formGroup.controls['pathFormGroup']"
  />
  <h5 i18n>Merge Step: {{ mergeStepTitle }}</h5>
  <div fxLayoutAlign="end center" fxLayoutGap="12px">
    <button mat-button routerLink=".." i18n>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!formGroup.valid || submitting"
      (click)="submit()"
      class="button--progress"
    >
      <mat-progress-bar *ngIf="submitting" mode="indeterminate"></mat-progress-bar>
      <span i18n>Submit</span>
    </button>
  </div>
</form>
